@charset "UTF-8";

@import
"~base/styles/imports";

@mixin linear-bg{
  background: linear-gradient(to bottom,#fafafa,#e3e3e3);
}
.num-range {
  display: inline-block;
  border: 1px solid $def-gray-color;
  border-radius: 5px;
  &.num-range-lg{
    .num-range-left,.num-range-right{
      width: 28px;
      height: 28px;
      line-height: 28px;
    }
    .num-range-center{
      width: 60px;
      height: 28px;
    }
  }
  &.num-range-md{
    .num-range-left,.num-range-right{
      width: 20px;
      height: 20px;
      line-height: 20px;
    }
    .num-range-center{
      width: 45px;
      height: 20px;
    }
  }
  > {
    .num-range-left {
      font-size: 14px;
      float: left;
      text-align: center;
      //padding: 1px 6px;
      border-right: 1px solid $def-gray-color;
      cursor: pointer;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      @include linear-bg;

      &.disabled {
        cursor: default;
        color: #c1c1c1;
      }
    }
    .num-range-center {
      float: left;
      color: $def-black-color;
      //height: 20px;
      //width: 48px;
      border: none;
      //padding: 1px;
      padding: 0;
      text-align: center;
      background-color: transparent;
      outline: 0;
      &:hover, &:active {
        outline: 0;
      }
    }
    .num-range-right {
      font-size: 14px;
      float: left;
      //padding: 1px 6px;
      text-align: center;
      border-left: 1px solid $def-gray-color;
      cursor: pointer;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      @include linear-bg;
      &.disabled {
        cursor: default;
        color: #c1c1c1;
      }
    }
  }
}
