@charset "UTF-8";
/* .vip-home-info-bg {
  width: 700px;
  height: 20px;
  line-height: 20px;
  background:-moz-linear-gradient(left,#faff00,#ff0000);Mozilla
  background:-webkit-gradient(linear,0 50%,100% 50%,from(#faff00),to(#ff0000));Old gradient for webkit
  background:-webkit-linear-gradient(left,#faff00,#ff0000);new gradient for Webkit
  background:-o-linear-gradient(left,#faff00,#ff0000); Opera11
  border: 1px solid #e5e5e5;
} */
.vip-home-info{
  border: 2px solid #057f84;
  
}
.vip-home-info-width{
	width: 94%;
  	margin: 30px auto 60px auto;
}

