<div class="js-lotteryTest lotteryTest">

	<div class="lotteryTest-content">
		<h2>轻松三步，测测我的幸运彩种 <i class="js-lottery-off lottery-off"></i></h2>

		<div class="lotteryTest01 js-lotteryTest-Step">
			<p>1.在和朋友一起用餐时，<br/>你觉得自己的用餐速度是？</p>
			<img src='./img/pic01.png'>
			<ul>
				<li user-option='A' class="js-lottery-choice">A、我总是第一个完成用餐，然后等别人吃完</li>
				<li user-option='B' class="js-lottery-choice">B、我是用餐最慢的那一个</li>
				<li user-option='C' class="js-lottery-choice">C、和别人的用餐时间一致</li>
			</ul>
		</div>

		<div class="lotteryTest02 js-lotteryTest-Step hidden">
			<p>2、在处理各种事情时，我经常会？</p>
			<img src='./img/pic02.png'>
			<ul>
				<li user-option='A' class="js-lottery-choice">A、不喜欢长期做相同无变化的事情。</li>
				<li user-option='B' class="js-lottery-choice">B、期待最好的结果但总能先看到事情的不利面。</li>
				<li user-option='C' class="js-lottery-choice">C、对任何事情都比较纠结。</li>
			</ul>
		</div>

		<div class="lotteryTest03 js-lotteryTest-Step hidden">
			<p>3、在选择游戏时，我更倾向于？</p>
			<img src='./img/pic03.png'>
			<ul>
				<li user-option='' class="js-lottery-choice">A、好玩刺激才是重点。</li>
				<li user-option='' class="js-lottery-choice">B、稳定，循序渐进，稳扎稳打。</li>
				<li user-option='' class="js-lottery-choice">C、挑战不可能，一切都有可能。</li>
			</ul>
		</div>

		<div class="js-lottery-answer hidden">
			<p>根据您个人的心理特征，我们推荐以下与您习惯相符合的彩种，欢迎您来体验！</p>
			<ol class="js-lottery-icon lottery-icon"></ol>
		</div>
		<button class="js-lotteryTest-next">下一题</button>
	</div>

</div>