@charset "UTF-8";

@import
"~base/styles/imports";

html {
  min-height: 800px;
}
body {
  background: #23273c;
  background: radial-gradient(900px, #593278, #3c2c57, #23273c);

}

.update-15-main{
  background: url(./update-15-bg.png) no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
  top:0;
  //width: 1920px;
  //height: 932px;
  margin: 0 auto;


  .update-15-date{

    position: relative;
    padding-top: 251px;
    padding-bottom: 33px;
    margin: 0 auto;
    text-align: center;
    width: 347px;
    height: 50px;
    font-size: 40px;
    color: #fff;
  }
  .update-btn{
    position: relative;
    padding-top: 506px;
    width: 200px;
    margin: 0 auto;
    .update-15-service{
      display: block;
      width: 179px;
      height: 52px;
      margin:39px 0 0 19px;
      background: url(./update-15-btn.png) no-repeat;
    }
  }

}