<li>
  <a class="db-dynamic-item router color-<%=_.random(0, 5) %> clearfix " href="#nb/detail/<%=bulletionId %>">
    <div class="text-circle text-circle-lg text-circle-cool text-center pull-left m-right-smd">
      <% if (isTop==1) { %>
      <div class="dynamic-top">
        置顶
      </div>
      <% } else { %>
      <div class="dynamic-day"><%=day %></div>
      <div><%=month %>月</div>
      <% } %>
    </div>
    <div class="overflow-hidden dynamic-main">
      <div class="dynamic-title ellipsis" ><%=title %></div>
      <div class="ellipsis"><%=desc %></div>
    </div>
  </a>
</li>
