<!--  banner区 -->
<div class="dashboard-banner">
  <!-- 游戏入口 -->
  <!--<div class="banner-container js-dashboard-entry"></div>-->
  <!-- 您最近玩过的游戏 -->
  <!--<div class="dashboard-recentgame"></div>-->
  <!-- 广告轮播 -->
  <div id="jsDbCarousel" class="carousel slide">
    <!--<ol class="js-db-mb-na carousel-indicators carousel-outside"></ol>-->
    <div class="js-db-mb-item db-mb-item carousel-inner">
      <%=loading %>
    </div>
    <a class="left carousel-control" href="#jsDbCarousel" data-slide="prev">
          <i class="fa fa-caret-left"></i>
        </a>
    <a class="right carousel-control" href="#jsDbCarousel" data-slide="next">
          <i class="fa fa-caret-right"></i>
        </a>
  </div>
</div>
<!-- 快报 news -->
<div class="db-bulletin-container">
  <div class="dashboard-bulletin">
    <div class="bulletin-logo">快报NEWS</div>
    <div class="bulletin-content js-bulletin-marquee">
      <marquee behavior="scroll" scrollamount="6" direction="left" width="1000">
      </marquee>
    </div>
    <div class="bulletin-pager">
      <1 / 3>
    </div>
  </div>
</div>
<!-- 主内容区 -->
<div class="dashboard-container">
  <div class="dashboard-row">
    <!-- 讯息轮播区块 -->
    <div class="col-md-9">
      <div class="dashboard-carousel-table db-shadow">
        <!-- 优惠讯息 体育-->
        <!-- <div class="dashboard-row-inner">
          <div class="col-md-4">
            <div class="carousel-table-ad"></div>
          </div>
          <div class="col-md-8">
            <div class="carousel-table-content">
            </div>
          </div>
          <div class="clearfix"></div>
        </div> -->
        <!-- 优惠讯息 真人-->
        <div class="dashboard-row-inner ">
          <div class="col-md-4">
            <div class="js-db-ah-carousel carousel-table-ad carousel slide">
              <ol class="js-db-carousel-indicators carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              </ol>
              <div class="js-db-carousel-inner carousel-inner">

              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="carousel-table-content">
              <div class="dashboard-row-inner">
                <div class="col-md-12">
                  <div class="content-item-2x">
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="dashboard-row-inner">
                <div class="col-md-6">
                  <div class="content-item-1x"></div>
                </div>
                <div class="col-md-6">
                  <div class="content-item-1x"></div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <!-- 优惠讯息 老虎机-->
        <!--<div class="dashboard-row-inner">-->
          <!--<div class="col-md-4">-->
            <!--<div class="js-carousel-table-ad carousel-table-ad carousel slide">-->
              <!--<ol class="js-db-carousel-indicators carousel-indicators">-->
                <!--<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>-->
                <!--<li data-target="#carousel-example-generic" data-slide-to="1"></li>-->
                <!--<li data-target="#carousel-example-generic" data-slide-to="2"></li>-->
              <!--</ol>-->
              <!--<div class="js-db-carousel-inner carousel-inner">-->

              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-md-8">-->
            <!--<div class="carousel-table-content">-->
              <!--<div class="dashboard-row-inner">-->
                <!--<div class="col-md-6">-->
                  <!--<div class="content-item-1x"></div>-->
                <!--</div>-->
                <!--<div class="col-md-6">-->
                  <!--<div class="content-item-1x"></div>-->
                <!--</div>-->
                <!--<div class="clearfix"></div>-->
              <!--</div>-->
              <!--<div class="dashboard-row-inner">-->
                <!--<div class="col-md-6">-->
                  <!--<div class="content-item-1x"></div>-->
                <!--</div>-->
                <!--<div class="col-md-6">-->
                  <!--<div class="content-item-1x"></div>-->
                <!--</div>-->
                <!--<div class="clearfix"></div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="clearfix"></div>-->
        <!--</div>-->
      </div>
    </div>
    <!-- 积分商城 -->
    <div class="col-md-3">
      <div class="dashboard-mall db-shadow">
        <div class="db-block-border"></div>
        <div class="dashboard-mall-header">
          <div class="db-mall-title"></div>
        </div>
        <div class="dashboard-mall-content">
          <div class="title">IPhone 6s plus 128GB</div>
          <div class="desc">苹果粉最爱，您值得拥有！</div>
          <a src="/" class="btn btn-mall-exchange">立即兑换</a>
          <div class="image"></div>
        </div>
        <div class="dashboard-mall-content">
          <div class="title">充值券 <span class="badge">新用户专享</span></div>
          <div class="desc">充值满1000即返20元</div>
          <a src="/" class="btn btn-mall-exchange">立即兑换</a>
          <div class="image"></div>
        </div>
        <div class="dashboard-mall-content">
          <div class="title">无限纷纷采 <span>返水券</span></div>
          <div class="desc">按投注额2%比例返水</div>
          <a src="/" class="btn btn-mall-exchange">立即兑换</a>
          <div class="image"></div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="dashboard-row">
    <!-- 动态区块 -->
    <div class="col-md-9">
      <div class="db-ticket db-shadow">
        <div class="db-block-border"></div>
        <div class="db-ticket-ad"></div>
        <div class="db-ticket-game">
          <ul class="db-ticket-game-type">
            <li class="db-ticket-game-type-item active" data-type="1">盘口玩法</li>
            <li class="db-ticket-game-type-item" data-type="2">经典玩法</li>
          </ul>
          <a class="db-ticket-more">更多彩种 >></a>
          <div class="db-ticket-game-type-container" data-type="1">
            <div class="db-ticket-item">
              <div  class="db-ticket-logo"></div>
              <div class="db-ticket-name">重庆时时彩</div>
              <div class="db-ticket-num">1234人参与投注</div>
              <div class="db-ticket-progress-bg">
                <div class="db-ticket-progress" style="width:80%;"></div>
              </div>
            </div>
            <div class="db-ticket-item">
              <div  class="db-ticket-logo"></div>
              <div class="db-ticket-name">北京赛车PK10</div>
              <div class="db-ticket-num">1234人参与投注</div>
              <div class="db-ticket-progress-bg">
                <div class="db-ticket-progress" style="width:80%;"></div>
              </div>
            </div>
            <div class="db-ticket-item">
              <div  class="db-ticket-logo"></div>
              <div class="db-ticket-name">香港六合彩</div>
              <div class="db-ticket-num">1234人参与投注</div>
              <div class="db-ticket-progress-bg">
                <div class="db-ticket-progress" style="width:80%;"></div>
              </div>
            </div>
          </div>
          <div class="db-ticket-game-type-container hidden" data-type="2">
            <div class="db-ticket-item">
              <div  class="db-ticket-logo"></div>
              <div class="db-ticket-name">重庆时时彩</div>
              <div class="db-ticket-num">1234人参与投注</div>
              <div class="db-ticket-progress-bg">
                <div class="db-ticket-progress" style="width:80%;"></div>
              </div>
            </div>
            <div class="db-ticket-item">
              <div  class="db-ticket-logo"></div>
              <div class="db-ticket-name">北京赛车PK10</div>
              <div class="db-ticket-num">1234人参与投注</div>
              <div class="db-ticket-progress-bg">
                <div class="db-ticket-progress" style="width:80%;"></div>
              </div>
            </div>
            <div class="db-ticket-item">
              <div  class="db-ticket-logo"></div>
              <div class="db-ticket-name">香港六合彩</div>
              <div class="db-ticket-num">1234人参与投注</div>
              <div class="db-ticket-progress-bg">
                <div class="db-ticket-progress" style="width:80%;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 新人大礼包 -->
    <div class="col-md-3">
      <div class="db-activity db-shadow">
        <div class="db-block-border"></div>
        <div class="db-activity-content"></div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
