@font-face {
    font-family: "dinra";
    src: url("~base/fonts/dinra.eot"); /* IE9 */
    src: local("dinra"), url("~base/fonts/dinra.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("~base/fonts/dinra.woff") format("woff"), /* chrome, firefox */
    url("~base/fonts/dinra.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("~base/fonts/dinra.svg#dinra") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


