@font-face {
    font-family: "dokchamp_0";
    src: url("~base/fonts/dokchamp_0.eot"); /* IE9 */
    src: local("dokchamp_0"), url("~base/fonts/dokchamp_0.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("~base/fonts/dokchamp_0.woff") format("woff"), /* chrome, firefox */
    url("~base/fonts/dokchamp_0.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("~base/fonts/dokchamp_0.svg#dokchamp_0") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


