@mixin popover($props) {

  $titleColor: map_get($props, title-color);
  $titleBgColor: map_get($props, title-bg-color);
  $contentColor: map_get($props, content-color);
  $contentBgColor: map_get($props, content-bg-color);

  &.top .arrow {
    border-top-color: $def-gray-color;
    &:after {
      border-top-color: $contentBgColor;
    }
  }
  &.right .arrow {
    border-right-color: $def-gray-color;
    &:after {
      border-right-color: $contentBgColor;
    }
  }
  &.bottom .arrow {
    border-bottom-color: $def-gray-color;
    &:after {
      border-bottom-color: $contentBgColor;
    }
  }
  &.left .arrow {
    border-left-color: $def-gray-color;
    &:after {
      border-left-color: $contentBgColor;
    }
  }

  .popover-title {
    color: $titleColor;
    background-color: $titleBgColor;
  }

  .popover-content {
    color: $contentColor;
    background-color: $contentBgColor;
  }
}

@mixin popovers($styles) {
  @each $class, $props in $styles {
    @if ($class == default) {
      @include popover($props);
    } @else {
      &.popover-#{$class} {
        @include popover($props);
      }
    }
  }
}
