.mask {
  background: rgba(0, 0, 0, .7);
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 3;
}

.fastIndexAd{
	background: url('images/indexAlert.png') no-repeat;
	width: 869px;
	height: 446px;
  margin: 100px auto 0px auto;
  position: relative;

  b{
    cursor: pointer;
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    right: 50px;
    top: 30px;
  }

  a{
    cursor: pointer;
    display: block;
    position: absolute;
    width: 180px;
    height: 50px;
    right: 320px;
    top: 382px;
  }
}

.float-activitys-miaomaiocai {
  position: fixed;
  right: 10px;
  top: 105px;
  width:81px;
  height:243px;
  background-image: url('~base/images/act-miaomiaocai/r-ad.png');

  b{
    display: block;
    position: absolute;
    width: 17px;
    height: 17px;
    right: 0px;
    cursor: pointer;
    z-index: 6;
  }

  a{
    display: block;
    position: absolute;
    height: 243px;
    width: 100%;
  }
}

.hide{
  display:none;
}