@charset "UTF-8";
@import "~base/styles/imports";

$black: #333;
$gray: #dcdcdc;
$green: #0ea8b5;
$light: #f8f8f8;

.mall-pagination {
  margin: 50px auto;
  text-align: center;
  * {
    box-sizing: border-box;
  }
  li {
    display: inline-block;
    min-width: 38px;
    padding: 0 15px;
    height: 38px;
    border: 1px solid $gray;
    line-height: 38px;
    text-align: center;
    color: $black;
    font-size: 12px;
    background: $light;
    margin-right: 8px;
    border-radius: 3px;
    cursor: pointer;

    &:hover {
      background: $gray;
    }
    &.active {
      background: $green;
      color: white;
    }
    &.disabled {
      background: $gray;
      color: white;
    }
  }
  .abridged {
    color: #959595;
    margin-right: 9px;
    letter-spacing: 0.7px;
    font-size: 20px;
    transform: translateY(-2px);
    display: inline-block;
  }
}
