@charset "UTF-8";

@import "~base/styles/imports";

.bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  background: #cce9fb;
  overflow: hidden;
}
.sky-cloud {
  background: url('./images/sky-cloud.png');
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
}

@keyframes swing-blue {
  20% {
    transform: rotate3d(0, 0, 1, 5deg) translate(0px, 40px);
  }

  40% {
    transform: rotate3d(0, 0, 1, -5deg) translate(0px, 0px);
  }

  60% {
    transform: rotate3d(0, 0, 1, 5deg) translate(0px, -40px);
  }

  80% {
    transform: rotate3d(0, 0, 1, 5deg) translate(0px, 0px);
  }

  to {
    transform: rotate3d(0, 0, 1, 0deg) translate(0px, 0px);
  }
}

.blue-balloon {
  background: url('./images/blue-balloon.png');
  position: absolute;
  z-index: 2;
  width: 98px;
  height: 131px;
  right: 4%;
  top: 130px;
  transform-origin: top center;
  animation: swing-blue 10s linear 1.5s infinite;
}

.forest {
  background: url('./images/forest.png');
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-size: cover;
}

@keyframes pulse-red {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05) translateY(20px);
  }

  to {
    transform: scale3d(1, 1, 1) translateY(0px);
  }
}

.red-balloon {
  background: url('./images/red-balloon.png');
  position: absolute;
  z-index: 3;
  width: 151px;
  height: 208px;
  left: 4%;
  top: 140px;
  animation: pulse-red 10s linear 1.5s infinite;
}

.cloud {
  background: url('./images/cloud.png');
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 47%;
  background-size: cover;
  top: 75px;
}

@keyframes blue-ball-in {
  0% {
    left: -10%;
    bottom: 22%;
    transform: rotate(0deg);
  }

  50% {
    left: 8%;
    bottom: 23%;
    transform: rotate(240deg);
  }

  75% {
    left: 15%;
    bottom: 22%;
    transform: rotate(320deg);
  }

  100% {
    left: 18%;
    bottom: 22%;
    transform: rotate(360deg);
  }
}

.blue-ball {
  background: url('./images/blue-ball.png');
  position: absolute;
  z-index: 5;
  width: 151px;
  height: 150px;
  left: -10%;
  bottom: 22%;
  animation: blue-ball-in 1.5s linear 1.5s forwards;
}

.hill2 {
  background: url('./images/hill2.png');
  height: 23%;
  width: 100%;
  position: absolute;
  z-index: 6;
  bottom: 0;
  background-size: cover;
}

.green-ball, .teeth {
  position: absolute;
  z-index: 7;
  width: 230px;
  height: 260px;
  bottom: 10%;
  right: 10%;
  transform: translate3d(0, 100%, 0);
  animation: slideInUp 1.5s ease 1.5s forwards;
}

.green-ball {
  background: url('./images/green-ball.png');
}

.teeth {
  z-index: 8;
  background: url('./images/teeth.gif');
}

.hill1 {
  background: url('./images/hill1.png');
  position: absolute;
  z-index: 8;
  bottom: 0;
  width: 100%;
  height: 21%;
  background-size: cover;
}

.leaf-fall {
  width: 90vw;
  height: 206vh;
  transform: rotate(50deg);
  overflow: hidden;
  position: absolute;
  z-index: 9;
  top: -50vh;

  .leaf1, .leaf2, .leaf3, .leaf4 {
    position: absolute;
  }

  .leaf1 {
    background: url('./images/leaf1.png') ;
    width: 26px;
    height: 41px;
    background-size: cover
  }

  .leaf2 {
    background: url('./images/leaf2.png');
    width: 28px;
    height: 19px;
    background-size: cover
  }

  .leaf3 {
    background: url('./images/leaf3.png');
    width: 45px;
    height: 20px;
    background-size: cover
  }

  .leaf4 {
    background: url('./images/leaf4.png');
    width: 40px;
    height: 42px;
    background-size: cover
  }
}

.smoke {
  position: absolute;
  bottom: 15%;
  right: 1%;
  z-index: 7;
  width: 196px;
  height: 258px;
  background: url('./images/smoke.png');
  transform: translate3d(0, 100%, 0);
  animation: slideInUp 1.5s ease 1.5s forwards;
}

// .smoke {
//   ul {
//   }
//   li {
//     position: absolute;
//     list-style: none;
//     width: 80px;
//     height: 80px;
//     border-radius: 999px;
//     background: white;
//     opacity: 0;

//     &:nth-child(even) {
//       animation: animateEven 8s linear infinite;
//     }

//     &:nth-child(odd) {
//       animation: animateOdd 8s linear infinite;
//     }

//     &:nth-child(1) {
//       animation-delay: 3s;
//     }

//     &:nth-child(2) {
//       animation-delay: 4s;
//     }

//     &:nth-child(3) {
//       animation-delay: 5s;
//     }

//     &:nth-child(4) {
//       animation-delay: 6s;
//     }

//     &:nth-child(5) {
//       animation-delay: 7s;
//     }

//     &:nth-child(6) {
//       animation-delay: 8s;
//     }

//     &:nth-child(7) {
//       animation-delay: 9s;
//     }

//     &:nth-child(8) {
//       animation-delay: 10s;
//     }
//   }
// }

// @keyframes animateEven {
//   0% {
//     transform: translate(0, 0) scale(1);
//     opacity: 1;
//     filter: blur(5px);
//   }

//   100% {
//     transform: translate(100px, -500px) scale(3);
//     opacity: 0;
//     filter: blur(10px);
//   }
// }

// @keyframes animateOdd {
//   0% {
//     transform: translate(0, 0) scale(1);
//     opacity: 1;
//     filter: blur(5px);
//   }

//   100% {
//     transform: translate(-100px, -500px) scale(3);
//     opacity: 0;
//     filter: blur(10px);
//   }
// }
