<div class="bg">
  <!-- level 1 -->
  <div class="sky-cloud"></div>
  <!-- level 2 -->
  <div class="blue-balloon"></div>
  <!-- level 3 -->
  <div class="forest"></div>
  <div class="red-balloon"></div>
  <!-- level 4 -->
  <div class="cloud"></div>
  <!-- level 5 -->
  <div class="blue-ball"></div>
  <!-- level 6 -->
  <div class="hill2"></div>
  <!-- level 7 -->
  <div class="teeth"></div>
  <div class="green-ball"></div>
  <div class="smoke"></div>
  <!-- <div class="smoke">
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div> -->
  <!-- level 8  -->
  <div class="hill1"></div>
  <!-- level 9 -->
  <div class="js-leaf-fall leaf-fall">
  </div>
</div>
