<div class="js-qe-eyhg-main qe-eyhg-main hidden">
    <div class="mask">
        <div class="main_pic">
            <div class="js-qe-eyhg-close close_btn"></div>
            <div class="js-qe-eyhg-gift-go btn_go"></div>
        </div>
        <div class="bonus_lump">
            <div class="js-qe-eyhg-close close_btn"></div>
            <div class="bonus_bg">
                <h4>尊敬的无限娱乐用户</h4>
                <h5>您在无限娱乐注册的时间是：<span class="js-qe-eyhg-regTime"></span>，可以获得<span class="js-qe-eyhg-gift-bag-type"></span>礼包</h5>
            </div>
            <div class="bonus_stage">
                <ul>
                    <li>
                        <div class="js-qe-eyhg-gift-luster luster"></div>
                        <div class="gift_01"><span class="js-qe-eyhg-register-time-limit">注册时间≤30天</span></div>
                    </li>
                    <li>
                        <div class="js-qe-eyhg-gift-luster luster"></div>
                        <div class="gift_02"><span class="js-qe-eyhg-register-time-limit">注册时间＞30天≤90天</span></div>
                    </li>
                    <li>
                        <div class="js-qe-eyhg-gift-luster luster"></div>
                        <div class="gift_03"><span class="js-qe-eyhg-register-time-limit">注册时间＞90天≤180天</span></div>
                    </li>
                    <li>
                        <div class="js-qe-eyhg-gift-luster luster"></div>
                        <div class="gift_04"><span class="js-qe-eyhg-register-time-limit">注册时间＞180天</span></div>
                    </li>
                </ul>
                <div class="bonus_stage_info">注：注册时长＝活动开始时间－注册时间，活动开始后注册的用户均以小于一个月进行计算。</div>
            </div>
            <div class="bonus_btn_lump">
                <ul>
                    <li>
                        <div class="js-qe-eyhg-gift-get btn">确认领取</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="notice_lump">
            <div class="notice_title"></div>
            <h5>回归礼包开放时间：<span class="js-qe-eyhg-start"></span>-<span class="js-qe-eyhg-end"></span></h5>
            <h6>活动结束后，不影响已领取的礼包使用，充值鼓励卡、投注奖励卡、中奖加奖卡每天限领一次，敬请合理使用。</h6>
            <div class="notice_con">
                <div class="notice_ele">
                    <img src="images/eyhg/level_01.png" alt="">
                    <div class="notice_ele_info">
                        白银：<span class="js-qe-eyhg-bonux-amount"></span><br>
                        黄金：<span class="js-qe-eyhg-bonux-amount"></span><br>
                        钻石：<span class="js-qe-eyhg-bonux-amount"></span><br>
                        至尊：<span class="js-qe-eyhg-bonux-amount"></span>
                    </div>
                </div>
                <div class="notice_ele">
                    <img src="images/eyhg/level_04.png" alt="">
                    <div class="notice_ele_info">
                        白银：每天首充<span class="js-qe-eyhg-recharge-limit"></span>元返<span class="js-qe-eyhg-recharge-amount"></span>元鼓励金<br>
                        黄金：每天首充<span class="js-qe-eyhg-recharge-limit"></span>元返<span class="js-qe-eyhg-recharge-amount"></span>元鼓励金<br>
                        钻石：每天首充<span class="js-qe-eyhg-recharge-limit"></span>元返<span class="js-qe-eyhg-recharge-amount"></span>元鼓励金<br>
                        至尊：每天首充<span class="js-qe-eyhg-recharge-limit"></span>元返<span class="js-qe-eyhg-recharge-amount"></span>元鼓励金
                    </div>
                </div>
                <div class="notice_ele">
                    <img src="images/eyhg/level_03.png" alt="">
                    <div class="notice_ele_info">
                        白银：每日返中奖额的<span class="js-qe-eyhg-addBonus-amount"></span>%<br>
                        黄金：每日返中奖额的<span class="js-qe-eyhg-addBonus-amount"></span>%<br>
                        钻石：每日返中奖额的<span class="js-qe-eyhg-addBonus-amount"></span>%<br>
                        至尊：每日返中奖额的<span class="js-qe-eyhg-addBonus-amount"></span>%
                    </div>
                </div>
                <div class="notice_ele">
                    <img src="images/eyhg/level_02.png" alt="">
                    <div class="notice_ele_info">
                        白银：<span class="js-qe-eyhg-active-amount"></span><br>
                        黄金：<span class="js-qe-eyhg-active-amount"></span><br>
                        钻石：<span class="js-qe-eyhg-active-amount"></span><br>
                        至尊：<span class="js-qe-eyhg-active-amount"></span>
                    </div>
                </div>
                <div class="notice_ele">
                    <img src="images/eyhg/level_05.png" alt="">
                    <div class="notice_ele_info">
                        白银：返每日投注额的<span class="js-qe-eyhg-bet-amount"></span>%<br>
                        黄金：返每日投注额的<span class="js-qe-eyhg-bet-amount"></span>%<br>
                        钻石：返每日投注额的<span class="js-qe-eyhg-bet-amount"></span>%<br>
                        至尊：返每日投注额的<span class="js-qe-eyhg-bet-amount"></span>%
                    </div>
                </div>
                <div class="clear_div"></div>
            </div>
            <div class="notice_btn_lump">
                <ul>
                    <li>
                        <div class="js-qe-eyhg-close btn">返回平台</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="get_bonus_lump">
            <ul>
                <li>
                    <h6>恭喜您获得白银礼包，礼包内容包括</h6>
                    <div class="get_bonus_pic"><img src="images/eyhg/get_bonus_01.png" alt=""><span class="js-qe-eyhg-register-time-limit-silver">注册时间≤30天</span></div>
                    <div class="get_bonus_info">
                        <ul>
                            <li>
                                <img src="images/eyhg/level_01.png" alt="">
                                <div class="js-qe-eyhg-gift-status btn_status_01">已发放</div>
                                <div class="js-qe-eyhg-gift-detail btn_status_money"></div>
                            </li>
                            <li>
                                <img src="images/eyhg/level_02.png" alt="">
                                <div class="js-qe-eyhg-gift-status btn_status_01">已发放</div>
                                <div class="js-qe-eyhg-gift-detail btn_status_money"></div>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <img src="images/eyhg/level_04.png" alt="">
                                <div class="js-qe-eyhg-card-get btn_status_02" data-type="3">领取</div>
                                <div class="js-qe-eyhg-gift-detail btn_status_money">首充300返2元</div>
                            </li>
                            <li>
                                <img src="images/eyhg/level_05.png" alt="">
                                <div class="js-qe-eyhg-card-get btn_status_02"  data-type="4" >领取</div>
                                <div class="js-qe-eyhg-gift-detail btn_status_money">每天投注额的0.3%</div>
                            </li>
                            <li>
                                <img src="images/eyhg/level_03.png" alt="">
                                <div class="js-qe-eyhg-card-get btn_status_02"  data-type="5">领取</div>
                                <div class="js-qe-eyhg-gift-detail btn_status_money">每天中奖额的0.03%</div>
                            </li>
                        </ul>
                        <div class="get_bonus_btn_lump">
                            <ul>
                                <li>
                                    <div class="js-qe-eyhg-close btn">返回平台</div>
                                </li>
                                <li>
                                    <div class="btn">奖励说明</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <h6>恭喜您获得黄金礼包，礼包内容包括</h6>
                    <div class="get_bonus_pic"><img src="images/eyhg/get_bonus_02.png" alt=""><span class="js-qe-eyhg-register-time-limit-gold">注册时间≤30天</span></div>
                    <div class="get_bonus_info">
                        <ul>
                            <li>
                                <img src="images/eyhg/level_01.png" alt="">
                                <div class="js-qe-eyhg-gift-status btn_status_01">已发放</div>
                                <div class="js-qe-eyhg-gift-detail btn_status_money">3元</div>
                            </li>
                            <li>
                                <img src="images/eyhg/level_02.png" alt="">
                                <div class="js-qe-eyhg-gift-status btn_status_01">已发放</div>
                                <div class="js-qe-eyhg-gift-detail btn_status_money">3元</div>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <img src="images/eyhg/level_04.png" alt="">
                                <div class="js-qe-eyhg-card-get btn_status_02"  data-type="3">领取</div>
                                <div class="js-qe-eyhg-gift-detail btn_status_money">首充500返4元</div>
                            </li>
                            <li>
                                <img src="images/eyhg/level_05.png" alt="">
                                <div class="js-qe-eyhg-card-get btn_status_02"  data-type="4">领取</div>
                                <div class="js-qe-eyhg-gift-detail btn_status_money">每天投注额的0.4%</div>
                            </li>
                            <li>
                                <img src="images/eyhg/level_03.png" alt="">
                                <div class="js-qe-eyhg-card-get btn_status_02"  data-type="5">领取</div>
                                <div class="js-qe-eyhg-gift-detail btn_status_money">每天中奖额的0.04%</div>
                            </li>
                        </ul>
                        <div class="get_bonus_btn_lump">
                            <ul>
                                <li>
                                    <div class="js-qe-eyhg-close btn">返回平台</div>
                                </li>
                                <li>
                                    <div class="btn">奖励说明</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <h6>恭喜您获得钻石礼包，礼包内容包括</h6>
                    <div class="get_bonus_pic"><img src="images/eyhg/get_bonus_03.png" alt=""><span class="js-qe-eyhg-register-time-limit-diamond">注册时间≤30天</span></div>
                    <div class="get_bonus_info">
                        <ul>
                            <li>
                                <img src="images/eyhg/level_01.png" alt="">
                                <div class="js-qe-eyhg-gift-status btn_status_01">已发放</div>
                                <div class="js-qe-eyhg-gift-detail btn_status_money">5元</div>
                            </li>
                            <li>
                                <img src="images/eyhg/level_02.png" alt="">
                                <div class="js-qe-eyhg-gift-status btn_status_01">已发放</div>
                                <div class="js-qe-eyhg-gift-detail btn_status_money">5元</div>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <img src="images/eyhg/level_04.png" alt="">
                                <div class="js-qe-eyhg-card-get btn_status_02"  data-type="3">领取</div>
                                <div class="js-qe-eyhg-gift-detail btn_status_money">首充800返6元</div>
                            </li>
                            <li>
                                <img src="images/eyhg/level_05.png" alt="">
                                <div class="js-qe-eyhg-card-get btn_status_02"  data-type="4">领取</div>
                                <div class="js-qe-eyhg-gift-detail btn_status_money">每天投注额的0.5%</div>
                            </li>
                            <li>
                                <img src="images/eyhg/level_03.png" alt="">
                                <div class="js-qe-eyhg-card-get btn_status_02"  data-type="5">领取</div>
                                <div class="js-qe-eyhg-gift-detail btn_status_money">每天中奖额的0.04%</div>
                            </li>
                        </ul>
                        <div class="get_bonus_btn_lump">
                            <ul>
                                <li>
                                    <div class="js-qe-eyhg-close btn">返回平台</div>
                                </li>
                                <li>
                                    <div class="btn">奖励说明</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <h6>恭喜您获得至尊礼包，礼包内容包括</h6>
                    <div class="get_bonus_pic"><img src="images/eyhg/get_bonus_04.png" alt=""><span class="js-qe-eyhg-register-time-limit-supremacy">注册时间≤30天</span></div>
                    <div class="get_bonus_info">
                        <ul>
                            <li>
                                <img src="images/eyhg/level_01.png" alt="">
                                <div class="js-qe-eyhg-gift-status btn_status_01">已发放</div>
                                <div class="js-qe-eyhg-gift-detail btn_status_money">10元</div>
                            </li>
                            <li>
                                <img src="images/eyhg/level_02.png" alt="">
                                <div class="js-qe-eyhg-gift-status btn_status_01">已发放</div>
                                <div class="js-qe-eyhg-gift-detail btn_status_money">10元</div>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <img src="images/eyhg/level_04.png" alt="">
                                <div class="js-qe-eyhg-card-get btn_status_02" data-type="3">领取</div>
                                <div class="js-qe-eyhg-gift-detail btn_status_money">首充1000返8元</div>
                            </li>
                            <li>
                                <img src="images/eyhg/level_05.png" alt="">
                                <div class="js-qe-eyhg-card-get btn_status_02"  data-type="4">领取</div>
                                <div class="js-qe-eyhg-gift-detail btn_status_money">每天投注额的0.5%</div>
                            </li>
                            <li>
                                <img src="images/eyhg/level_03.png" alt="">
                                <div class="js-qe-eyhg-card-get btn_status_02" data-type="5">领取</div>
                                <div class="js-qe-eyhg-gift-detail btn_status_money">每天中奖额的0.05%</div>
                            </li>
                        </ul>
                        <div class="get_bonus_btn_lump">
                            <ul>
                                <li>
                                    <div class="js-qe-eyhg-close btn">返回平台</div>
                                </li>
                                <li>
                                    <div class="btn">奖励说明</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!--以下7个弹窗状态只做例子，请程序员删除并保留1个即可，里面具体内容请程序员控制-->
        <!--充值奖励卡领取－领取失败-->
        <div class="js-qe-eyhg-dialog-mask mask hidden">
            <div class="js-qe-eyhg-dialog pop_lump hidden">
                <div class=" js-qe-eyhg-close-return pop_close_btn"></div>
                <p class="js-qe-eyhg-msg">
                    暂无法领取奖励！</p>
                <div class="pop_btn_lump">
                    <ul>
                        <li>
                            <div class="js-qe-eyhg-close-return btn">返 回</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>