@charset "UTF-8";

@import '../../../gameCenter/misc/mixin';

$space: 20px;
$sidebar-width: 320px;
$toolbar-option-width: 36px;

.home-toolbar-container {
  position: fixed;
  z-index: 1041;
  top: 0;
  right: -10px;
  width: 0;
  height: 100%;
  background: white;
  overflow: visible;
  transition: all .4s ease-in;
  transform: translateZ(0);
  //box-shadow: -1px 0px 10px -2px #14b1bb, 0 0 3px 0 #ffffff;
  &.open {
    width: 280px;
  }

  * {
    box-sizing: border-box;
  }
}

.toolbar-option-container {
  position: absolute;
  //margin-left: -($space + $toolbar-option-width);
  margin-left: -48px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 13;

  .toolbar-option {
    width: $toolbar-option-width;
    height: $toolbar-option-width;
    background: #aeb1ba;
    //color: white;
    //border-top-left-radius: 3px;
    //border-bottom-left-radius: 3px;
    border-radius: 3px;
    margin-bottom: 2px;
    //text-align: center;
    color: transparent;
    cursor: pointer;
    font-size: 12px;
    line-height: 36px;
    text-align: left;
    padding-left: 10px;
    transition: all .3s;
    white-space: nowrap;

    > div {
      position: absolute;
      transition: all .3s, color 0s;
    }

    .money {
      background: url('./images/money-icon.png');
      width: 36px;
      height: 36px;
      //transform: translate(8px, 5px);
      right: 0px;
    }

    .record {
      background: url('./images/record-icon.png');
      width: 36px;
      height: 36px;
      //transform: translate(8px, 5px);
      right: 0px;
    }

    .ticket {
      background: url('./images/ticket-icon.png');
      width: 36px;
      height: 36px;
      //transform: translate(8px, 5px);
      right: 0px;
    }

    .chat {
      background: url('./images/chat-icon.png');
      width: 36px;
      height: 36px;
      //transform: translate(8px, 5px);
      right: 0px;
    }

    .feedback {
      background: url('./images/feedback-icon.png');
      width: 36px;
      height: 36px;
      //transform: translate(8px, 5px);
      right: 0px;
    }

    .up {
      background: url('./images/up-icon.png');
      width: 17px;
      height: 9px;
      transform: translate(9px, 12px);
      right: 18px;
    }

    &:hover, &:active, &.active {
      width: 105px;
      margin-left: -69px;
      background: $new-main-deep-color;
      color: white;
    }
  }
}

//.mask-for-close {
//  position: fixed;
//  //z-index: 12;
//  width: 103vw;
//  height: 100vh;
//  left: -10px;
//  margin-left: -2000px;
//  padding-left: 2000px;
//
//  z-index: 1;
//}

.toolbar-sidebar-container {
  position: absolute;
  //background: #f5f5f5;
  background: #ffffff;
  width: 280px;
  height: 100%;
  overflow-x: hidden;
  //overflow-y: scroll;
  overflow-y: auto;
  border-left: 5px solid #14b1bb;
  z-index: 2;
  .sidebar-title {
    width: 100%;
    height: 60px;
    line-height: 60px;
    box-sizing: border-box;
    border-bottom: 1px solid #e6e6e6;
    font-size: 16px;
    color: $new-inverse-color;
    //margin-bottom: 2px;
    .sidebar-title-container {
      background-color: #ffffff;
      text-align: left;
      padding: 12px 15px;
      height: 60px;
      width: 275px;
      border-bottom: 1px solid #e6e6e6;
      .img-gameRecord {
        width: 36px;
        height: 36px;
        display: inline-block;
        //margin-right: 10px;
        float: left;
        background: url("~base/images/v2/icon-leftBar-gr.png");
      }
      .img-coupon {
        width: 36px;
        height: 36px;
        float: left;
        display: inline-block;
        //margin-right: 10px;
        background: url("~base/images/v2/icon-leftBar-coupon.png");
      }
      .img-fund {
        width: 36px;
        height: 36px;
        display: inline-block;
        //margin-right: 10px;
        float: left;
        background: url("~base/images/v2/icon-leftBar-fund.png");
      }
      .sidebar-title-container-text {
        vertical-align: top;
        line-height: 35px;
        display: inline-block;
        font-size: 16px;
        color: #14b1bb;
      }

    }
  }
}

.recent-logout-container {
  .logout-img-empty {
    height: 40px;
    background-color: white;
  }
  .record-recent-logout {
    cursor: pointer;
    height: 40px;
    width: 100%;
    background-color: $new-main-deep-color;
    padding: 9px 103px;
    .logout-img {
      width: 23px;
      height: 23px;
      float: left;
      margin-right: 10px;
      background: url("~base/images/v2/icon-leftBar-logout.png");
    }
    .logout-text {
      font-size: 14px;
      color: $def-white-color;
    }
  }
}

.activity-panel {
  .novice-package {
    background: url('misc/acbar-novice-package.gif') no-repeat;
    width: 70px;
    height: 110px;
    display: block;
    position: absolute;
    //right: -2px;
    right: 0px;
    top: -118px;
    cursor: pointer;
  }
}

.btn-toolbar-close {
  background: #ffffff;
  top: 20px!important;
}
