{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["> 2%", "ie 11", "safari >= 7"]
      },
      "useBuiltIns": "usage"
    }]
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "env": {
    "production": {
      "presets": ["@babel/preset-es2015"],
      "plugins": [
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-proposal-object-rest-spread"
      ],
    }
  },
  "ignore": [
    "createjs-2015.11.26.min.js",
    "**/*.min.js",
    "**/jQuery*.js",
    "**/jquery*.js"
  ]
}
