/www
/node_module
/mockup
/local_modules
/dist
/bower_components
/src/vendor

mockup.config.js
**/jqmeter.min.js
**/rotate.js
**/flipclock.min.js
**/lottery.js
**/easing.js
**/bettingMiss.js
**/jquery*.js
**/jQuery*.js
**/carousel.js
**/validator.js
**/wow.min.js
**/js/effect.js
**/*.min.js
**/gulpfile.js

**/webpack*.js

**/trend/index.js
