<div class="mask activity_siginIn js-activity_siginIn">
    <div class="js-main main_contain">
        <div class="bg_lump_01">
            <div class="info_label"></div>
            <div class="sunshine"></div>
            <div class="title_pic">
            </div>
            <div class="js-rank title_pic_info">欢迎来到无限娱乐平台，您已经成为无限娱乐第xx位用户了！</div>
            <div class="con_li">
                <ul>
                    <li>
                        <div class="js-divbet-01 li_bg_01">
                            <div class=" li_text"><span>第一天</span><br>
                                充值100元<br>
                                投注500元<br>
                                奖5元
                            </div>
                        </div>
                        <div class="li_btn">
                            <img class="js-img1-01" src="images/bd/btn_01.png" width="106" height="37">
                            <img class="js-check-agent js-img1-02" style="display: none" src="images/bd/btn_02.png" width="106" height="37">
                        </div>
                    </li>
                    <li>
                        <div class="js-divbet-02 li_bg_02">
                            <div class="li_text"><span>第二天</span><br>
                                充值100元<br>
                                投注1000元<br>
                                奖8元
                            </div>
                        </div>
                        <div class="li_btn">
                            <img class="js-img2-01" src="images/bd/btn_01.png" width="106" height="37">
                            <img class="js-check-agent js-img2-02" style="display: none" src="images/bd/btn_02.png" width="106" height="37">
                        </div>
                    </li>
                    <li>
                        <div class="js-divbet-03 li_bg_03">
                            <div class="li_text"><span>第三天</span><br>
                                充值300元<br>
                                投注3000元<br>
                                奖18 元
                            </div>
                        </div>
                        <div class="li_btn">
                            <img class="js-img3-01" src="images/bd/btn_01.png" width="106" height="37">
                            <img class="js-check-agent js-img3-02" style="display: none" src="images/bd/btn_02.png" width="106" height="37">
                        </div>
                    </li>
                    <li>
                        <div class="js-divbet-04 li_bg_04">

                            <div class="li_text"><span>第四天</span><br>
                                充值500元<br>
                                投注6000元<br>
                                奖38元
                            </div>
                        </div>
                        <div class="li_btn">
                            <img class="js-img4-01" src="images/bd/btn_01.png" width="106" height="37">
                            <img class="js-check-agent js-img4-02" style="display: none" src="images/bd/btn_02.png" width="106" height="37">
                        </div>
                    </li>
                    <li>
                        <div class="js-divbet-05 li_bg_05">
                            <div class="li_text"><span>第五天</span><br>
                                充值500元<br>
                                投注9000元<br>
                                奖68元
                            </div>
                        </div>
                        <div class="li_btn">
                            <img class="js-img5-01" src="images/bd/btn_01.png" width="106" height="37">
                            <img class="js-check-agent js-img5-02" style="display: none" src="images/bd/btn_02.png" width="106" height="37">
                        </div>
                    </li>
                    <li>
                        <div class="js-divbet-06  li_bg_06">
                            <div class="li_text"><span>第六天</span><br>
                                充值1000元<br>
                                投注16888元<br>
                                奖128元
                            </div>
                        </div>
                        <div class="li_btn">
                            <img class="js-img6-01" src="images/bd/btn_01.png" width="106" height="37">
                            <img class="js-check-agent js-img6-02" style="display: none" src="images/bd/btn_02.png" width="106" height="37">
                        </div>
                    </li>
                    <li>
                        <div class="js-divbet-07 li_bg_07">
                            <div class="li_text"><span>第七天</span><br>
                                充值1000元<br>
                                投注28888元<br>
                                奖218元
                            </div>
                        </div>
                        <div class="li_btn">
                            <img class="js-img7-01" src="images/bd/btn_01.png" width="106" height="37">
                            <img class="js-check-agent js-img7-02" style="display: none" src="images/bd/btn_02.png" width="106" height="37">
                        </div>
                    </li>
                </ul>
                <div class="clear_div"></div>
                <div class="notice">活动说明：七天时间内，根据个人能力完成每天的投注量及充值量，即可领取当天的奖励，中途中断则跳至隔天的任务，全程共七天。</div>
                <div class="submit_btn js-close"><img src="images/bd/btn_03.png" width="131"
                                                      height="37">
                </div>
            </div>
            <div class="close_btn js-close"><img src="images/bd/close_btn.png" width="47" height="47"></div>
        </div>
    </div>

    <div class="js-info1 main_contain" style="display: none">
        <div class="bg_lump_02">
            <div class="person_icon_01"></div>
            <div class="pop_text_01">恭喜，今天的奖励领取成功！明天还要加油哦！</div>
            <div class="js-close btn_sure"><img src="images/bd/btn_04.png" width="107"
                                                height="38"></div>
            <div class="js-close close_btn"><img src="images/bd/close_btn.png" width="47" height="47" style="top: -22px; left: -18px;"></div>
        </div>
    </div>
    <div class="js-info2 main_contain" style="display: none">
        <div class="bg_lump_02">
            <div class="person_icon_02"></div>
            <div class="pop_text_01">今天的任务还没完成啦！加油哦！</div>
            <div class="js-close btn_sure"><img src="images/bd/btn_04.png" width="107"
                                                height="38"></div>
            <div class="js-close close_btn"><img src="images/bd/close_btn.png" width="47" height="47" style="top: -22px; left: -18px;"></div>
        </div>
    </div>
    <div class="js-info3 main_contain" style="display: none">
        <div class="bg_lump_03">
            <div class="person_icon_02"></div>
            <div class="pop_text_02">领取失败了，有可能是：<br>
                1、同一IP下仅限一个账号参与<br>
                2、奖金已经领取了<br>
                3、其他疑问请咨询在线客服</div>
            <div class="js-close btn_sure"><img src="images/bd/btn_04.png" width="107"
                                                height="38"></div>
            <div class="js-close close_btn"><img src="images/bd/close_btn.png" width="47" height="47" style="top: -22px; left: -18px;"></div>
        </div>
    </div>
</div>
 
 