@charset "UTF-8";

@import
"~base/styles/imports";

$main-light-color: #1ba1b5 !default;
$main-border-color: #007e90 !default;
$input-placeholder: #0297ad !default;

.reg-ad{
  display:inline-block;
  width: 332px;
  float: none;
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
}

.ac-reg-pic{
  width: 322px;
  // height: 390px;
  // margin: 3px 25px 0 25px;
  border: 5px solid #00b4b9;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
  }
}

.panel {
  margin: 0 auto;
  width: 960px;
  height: 470px;
  box-shadow: 0px 6px 10px 0px #d3d3d3;
  border-radius: 5px;
  top: 54%;
  transform: translateY(-50%);
  margin-top: -120px;

  .download-link {
    background: url('images/download-link.png');
    width: 178px;
    height: 45px;
    position: absolute;
    top: -52px;
    right: 0px;
    display: inline-block;
  }

  .panel-reg {
    background: url('images/reg.png');
    position: absolute;
    width: 162px;
    height: 89px;
    top: -8px;
    left: -7px;
  }
  .ac-reg-body{

    .reg-info{
      display: inline-block;
      width: 560px;
      position: absolute;
      top: 53%;
      left: 0px;
      transform: translateY(-50%);
      .control-label {
        font-size: 16px;
      }
    }

    .highlight-link {
      color: #fa5c56;
      text-decoration: underline;
      font-size: 14px;
      transform: translate(4px,18px);
      display: inline-block;
    }

    .control-group {
      margin-bottom: 30px;
      height: 50px;
      position: relative;
      .input-prefix {
        position: absolute;
        top: 0;
        left: 71px;
        border: 1px solid #d8d9d9;
        border-right: none;
        border-radius: 0;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        background: #fbfbfb;
        width: 48px;
        height: 48px;

        .name-icon {
          background: url('images/name-icon.png');
          width: 21px;
          height: 22px;
          margin: 13px auto 0;
        }

        .password-icon {
          background: url('images/password-icon.png');
          width: 19px;
          height: 22px;
          margin: 13px auto 0;
        }

        .validation-icon {
          background: url('images/validation-icon.png');
          width: 19px;
          height: 20px;
          margin: 14px auto 0;
        }
      }
      .val-img-times {
        line-height: 17px;
        margin-top: 4px;
      }
      .val-img-check{
        line-height: 17px;
        margin-top: 4px;
      }
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #d8d9d9;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: #d8d9d9;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: #d8d9d9;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: #d8d9d9;
    }

    input {
      width: 325px;
      height: 50px;
      border: 1px solid #dfdfdf;
      line-height: 50px;
      border-radius: 5px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      font-size: 14px;
      box-sizing: border-box;
      box-shadow: inset -4px 11px 4px -10px #d8d9d9;
      transition: all .3s;
      padding: 4px 12px;
      &:focus, &:active {
        box-shadow: inset -4px 9px 4px -10px #d8d9d9;
      }
    }

    .checkbox-container {
      width: 25px;
      height: 25px;
    }

    input[type='checkbox'] {
      width: 20px;
      height: 20px;
      outline: none;
      box-shadow: none;
      opacity: 0;
      position: absolute;
      z-index: 2;

      & + label {
        background: url('images/check-off.png');
        width: 16px;
        height: 16px;
        transform: translate(0px, 12px);
      }

      &:checked + label {
        background: url('images/checked.png');
        width: 19px;
        height: 17px;
        transform: translate(-1px, 10px);
      }
    }


    // input[type=checkbox]:after {
    //   content: " ";
    //   background-color: white;
    //   display: inline-block;
    //   visibility: visible;
    // }

    // input[type=checkbox]:checked:after {
    //   content: "\2714";
    // }

    .promise-hint {
      color: #666;
      letter-spacing: -1px;
    }

    .promise-link {
      color: #00ced4;
      margin-left: -3px;
      letter-spacing: -1px;
      text-decoration: underline;
      cursor: pointer;
    }

    .promise-check-valRegion {
      margin-left: 72px;
      margin-top: 48px;
    }

    .help-inline {
      font-size: 12px;
      color: #666;
    }
    .input-varCode {
      // border: 1px solid darkgray;
      // border-radius: 4px;
      // height: 32px;
      // width: 161px;
      // padding-top: 4px;
      // padding-bottom: 4px;
    }
    .var-code {
      background-color: #eceff4;
      height: 35px;
      width: 70px;
      border: 1px solid #888;
      transform: translateX(-85px);
    }
    .ac-reg-button{
      width: 260px;
      height: 50px;
      border-radius: 4px;
      background: linear-gradient(to bottom, #00d3d8, #00bbc0);
      font-size: 16px;
      color: white;
    }

  }
}



.ac-reg-code-lan-width{
  width: 170px;
}
.ac-reg-code-left-width{
  width: 75px;
}


.header-login {
  font-size: 16px;
  float: right;
  margin-top: 14px;
  margin-right: 20px;
}

#fullpage {
  transition: opacity 1s;

  .panel-main {
    margin-top: 0;
    height: 100%;
  }
}

#section1, #section2, #section3, #section4, #section5 {
  background: url(images/section-bg.png) no-repeat;
	background-size: 100% 100%;
  position: relative;

  & .vertical-center {
    position: relative;
    top: 47%;
    transform: translateY(-50%);
  }
  & .section-header {
    position: relative;
    margin: 0 auto;
    transform: translateY(90px);
    opacity: 0;
    transition: opacity .5s;
    &.active {
      animation: show .8s ease forwards;
    }
  }
  & .section-content {
    position: relative;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
}

#section1 {

  .tutorial {
    background: url('images/tutorial.png');
    width: 896px;
    height: 83px;
    margin: 0px auto;
    position: absolute;
    bottom: -125px;
    left: 0;
    right: 0;
  }
}


@keyframes show {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

@keyframes fadeRightIn {
	0%{
		transform: translateX(50px);
		opacity: 0;
	}
	100%{
		transform: translateX(0px);
		opacity: 1;
	}
}

#section2 {
  .section-header {
    background: url('images/section-2-header.png');
    width: 1099px;
    height: 180px;

  }
  .section-content {
    background: url('images/section-2-content.png');
    width: 1095px;
    height: 457px;
    margin-top: 60px;
    opacity: 0;
    transform: translateX(50px);

    &.active {
      animation: fadeRightIn .8s ease .3s forwards;
    }
  }
}

@keyframes fadeTopIn {
	0%{
		transform: translateY(-50px);
		opacity: 0;
	}
	100%{
		transform: translateY(0px);
		opacity: 1;
	}
}

#section3 {
  .section-header {
    background: url('images/section-3-header.png');
    width: 1099px;
    height: 182px;
  }
  .section-content {
    background: url('images/section-3-content.png');
    width: 1202px;
    height: 504px;
    margin-top: 70px;
    transform: translateY(-50px);
    opacity: 0;

    &.active {
      animation: fadeTopIn .8s ease .3s forwards;
    }
  }
}

@keyframes fadeBottomIn {
	0%{
		transform: translateY(50px);
		opacity: 0;
	}
	100%{
		transform: translateY(0px);
		opacity: 1;
	}
}
#section4 {
  .section-header {
    background: url('images/section-4-header.png');
    width: 1265px;
    height: 180px;
  }
  .section-content {
    background: url('images/section-4-content.png');
    width: 1347px;
    height: 495px;
    margin-top: 150px;
    transform: translateY(50px);
    opacity: 0;

    &.active {
      animation: fadeBottomIn .8s ease .3s forwards;
    }
  }
}

#section5 {
  .section-header {
    background: url('images/section-5-header.png');
    width: 1099px;
    height: 180px;
    transform: translateY(60px);
  }
  .section-content {
    background: url('images/section-5-content.png');
    width: 807px;
    height: 294px;
    margin-top: 110px;
    opacity: 0;

    &.active {
      animation: show .8s ease .3s forwards;
    }
  }
}

.register-header {
  background: url('images/header-bg.png');
  position: relative;
  width: 100%;
  height: 85px;
  background-size: cover;

  & .header-container {
    padding-top: 10px;
    width: 1100px;
    margin: 0 auto;
  }

  & .register-logo {
    background: url('images/register-logo.png');
    width: 223px;
    height: 58px;
  }
}

.register-footer {
  background: #5e5f66;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 138px;
  padding-top: 20px;

  & .footer-content {
    background: url('images/footer-content.png');
    width: 854px;
    height: 98px;
    margin: 0 auto;
  }
}

.opacity-0 {
  opacity: 0;
}

#fp-nav ul,
.fp-slidesNav ul {
  margin: 28px 0px 68px;;
  padding: 0;

  li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 24px 16px;
    position: relative;

    a {
      display: block;
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;
      cursor: pointer;
      text-decoration: none;

      &.active span {
        height: 10px;
        width: 10px;
        margin: -5px 0 0 -5px;
        border-radius: 100%;
        background: #00b4b9;

        #fp-nav ul li:hover &,
        #fp-slidesNav ul li:hover & {
          height: 10px;
          width: 10px;
          margin: -5px 0 0 -5px;
          border-radius: 100%;
        }
      }

      span {
        border-radius: 50%;
        position: absolute;
        z-index: 1;
        height: 10px;
        width: 10px;
        border: 0;
        background: #bdbdbd;
        left: 50%;
        top: 50%;
        margin: -5px 0 0 -5px;
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        -o-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
      }
    }

    &:hover {

      a, a.active {
        span {
          width: 10px;
          height: 10px;
          margin: -5px 0px 0px -5px;
        }
      }
    }

    &:nth-last-child(1) {
      width: 15px;
      &::after {
        content: '';
        width: 22px;
        height: 38px;
        background: url('images/mouse.png');
        position: absolute;
        transform: translate(-3px, 13px);
      }
    }

  }
}

#fp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  &.right {
    right: 35px;
    background: #f1f1f1;
    border: 1px solid #d2d2d2;
    border-radius: 35px;
  }
  &.left {
    left: 17px
  }
  .mouse {
    // background: url('./mouse.png');
    width: 28px;
    height: 39px;
    display: block;
    background-size: contain;
  }
  .fa {
    margin-left: 6px;
    color: #333;
    font-size: 24px;
  }
  ul {
    li {
      .fp-tooltip {
        position: absolute;
        top: -2px;
        color: #fff;
        font-size: 14px;
        font-family: arial, helvetica, sans-serif;
        white-space: nowrap;
        max-width: 220px;
        overflow: hidden;
        display: block;
        opacity: 0;
        width: 0;

        &.right {
          right: 20px;
        }

        &.left {

        }
      }
      &:hover {
        .fp-tooltip {
          -webkit-transition: opacity 0.2s ease-in;
          transition: opacity 0.2s ease-in;
          width: auto;
          opacity: 1;
        }
      }
    }
  }
  &.fp-show-active a.active + .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1;
  }
}


.loading img {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  transform: translateY(-50%);
  margin: 0 auto;
}


.promise-mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .4);
  z-index: 101;

  .promise-container {
    position: relative;
    top: 20%;
    width: 800px;
    height: 530px;
    max-height: 530px;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    padding: 0 20px 20px;
    margin: 0 auto;
    background: white;

    .promise-reg {
      background: url('images/promise-reg.png');
      width: 289px;
      height: 47px;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      top: -9px;
    }
    .promise-hr {
      border-bottom: 1px solid;
      width: 425px;
      color: #d8d8d8;
      height: 1px;
      margin: 70px auto 32px;
    }

    .promise-content {
      color: #666;
      height: 370px;
      overflow-y: scroll;
      letter-spacing: 1px;
      line-height: 38px;
      font-size: 14px;
    }

    .ac-reg-button{
      width: 210px;
      height: 50px;
      border-radius: 4px;
      background: linear-gradient(to bottom, #00d3d8, #00bbc0);
      font-size: 16px;
      color: white;
      margin: 10px auto;
      display: block;
    }
  }
}

.next-btn {
  background: url('images/next-btn.png');
  width: 46px;
  height: 41px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 25px;
  cursor: pointer;
  animation: infinite-move 1.5s infinite linear forwards;
}

@keyframes infinite-move{
		0% {
      transform:translateY(0);
    }

    50% {
      transform:translateY(20%);
    }
    100% {
      transform:translateY(0);
    }
}
