<div class="fc-tr-confirmView">
  <div class="fc-tr-confirmView-img sfa sfa-icon-comfirm-bg"></div>
  <div class="fc-tr-confirmView-Tips">转账成功!</div>
  <div class="fc-tr-confirmView-goTo">
    您可以进入<a class="js-rc-recharge-to-record fc-tr-confirmView-goTo-text text-account-fund">个人中心>充提记录</a>查看历史转账记录
  </div>
  <div class="fc-tr-confirmView-title">
    <span class="text-back-title1">页面将在</span>
    <span class="js-tr-leftSecond text-back-num">3</span>
    <span class="text-back-title2">秒后自动返回......您可以</span>
    <span class="js-fc-tr-pre title-back">立即返回</span>
  </div>
</div>
