@charset "UTF-8";

@import "~base/styles/imports";

.lowLevelManage-view {

  .ac-user-name-div {
    width: 230px;
    display: inline-block;
  }

  .ac-balance-label {
    display: inline-block;
    width: 395px;
  }

  .ac-register-ime-label {
    width: 384px;
    display: inline-block;
  }

  .ac-unActive-day-label {
    width: 235px;
    display: inline-block;
  }

  .ac-llm-btn {
    margin-right: 4px;
  }
  .table {
    th {
      font-size: $font-xs;
    }
  }
  .table tbody tr td:last-child {
    text-align: left;
  }
}

.ac-register {
  &.btn[disabled] {
    opacity: 1;
  }
}

.ac-comment-des {
  width: 55px;
  background-color: #16a4aa;
}

.ac-query-name-label {
  width: 55px;
  display: inline-block;
}

.ac-range-label {
  width: 249px;
  display: inline-block;
}

.ac-page-size-label {
  display: inline-block;
}

.ac-query-btn {
  width: 70px;
}

.ac-report-username-div {
  width: 157px;
  display: inline-block;
}

.ac-report-data-div {
  width: 360px;
  display: inline-block;
}

.ac-report-ticket-div {
  width: 135px;
  display: inline-block;
}

.ac-report-range-div {
  display: inline-block;
}

//teamDynamic
.ac-chart {
  height: 260px;
}

.table {
  tbody tr {
    &:hover {
      .ac-expend-btn {
        opacity: 1;
      }
    }
  }
}

.ac-expend-btn {
  float: right;
  position: absolute;
  top: 3px;
  right: 11px;
  vertical-align: bottom;
  cursor: pointer;
  opacity: 1;
  transition: transform 0.5s ease;
}

.ac-expend {
  //transition: height 0.5s ease;
  position: absolute;
  width: 83px;
  height: 69px;
  border: 1px solid $def-gray-color;
  border-radius: 5px;
  background-color: $def-white-color;
  z-index: 2;
  right: 0px;
  &:before {
    content: '';
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom-color: $def-gray-color;
    position: relative;
    display: block;
    top: -10px;
    right: -59px;
  }
  &:after {
    content: '';
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-bottom-color: $def-white-color;
    position: relative;
    display: block;
    top: -90px;
    right: -60px;
  }
  a {
    display: block;
    width: 90%;
    height: 34px;
    text-align: center;
    line-height: 34px;
    padding: 0px !important;
    margin: 0 auto;
    position: relative;
    top:-11px;
    &:first-child {
      border-bottom: 1px solid $def-gray-color;
      border-radius: 0px;
    }
  }
}

.ac-lowLevel-detail-view {
  .ac-lowLevel-detail {
    padding: 13px 0 0 15px;
  }
}

.ac-lowLevel-rebate-view {
  .ac-lowLevel-title{
    width: 100%;
    height: 49px;
    background-color: $sec-line-color;
    line-height: 49px;
    text-align: center;
    font-size: $font-md;
    color: $def-black-color;
  }
  .lowLevel-input{
    width: 246px;
    height: 30px;
    text-align: center;
    color: $def-black-color;
  }
  .lowLevel-percent-sign{
    position: relative;
    top: 1px;
    right: 25px;
  }
  .ac-lowLevel-rebate-btn {
    width: 108px;
    height: 36px;
  }
  .lowLevel-error{
    padding-left: 100px;
    padding-top: 5px;
  }
  .close{
    font-size:30px;
  }

}

.ac-openAccount-view {
  ul {
    margin: 13px 15px 5px 15px;
    li {
      a {
        span {
          padding-left: 30px !important;
          padding-right: 30px !important;
        }
      }
    }
  }
  .control-group{
    margin-bottom: 10px;
  }
  .filled{
    margin: 0px;
  }
  .ac-openAccount-rebate-notice {
    padding: 5px 14px;
    margin: 0 14px 20px 7px;

    .control-group.input-div {
      margin-bottom: 32px;
    }
    .tooltip.bottom {
      margin-top: 1px;
    }
    .tooltip-inner {
      max-width: none;
    }
    .manual-rebate-sign{
      color: #aaaaaa;
      position: relative;
      right: 25px;
    }
  }
  .ac-openAccountManual-form {
    width: 550px;
    margin: 0 auto;
    padding-top: 75px;
    .look-bonus {
      text-decoration: underline;
      cursor: pointer;
      padding-left: 5px;
    }
    .ac-manual-rebate-info {
      display: inline-block;
    }
  }
  .input1{
    width: 258px;
    height: 25px;
    background-color: #f9f9f9;
    font-size:$font-sm;
  }
  .btn-group {
    button {
      background-color: $prominent-dialog-body;
      color: $new-inverse-color;
      font-size: 14px;
      width: 130px;
      height: 33px;
      margin-right: 12px;
      border-color: $prominent-dialog-body;
    }
    button.active {
      box-shadow: none;
      border-color: $new-main-deep-color;
      color: $new-main-deep-color;
      position: relative;
      background-color: $prominent-dialog-body;
      &:after{
        content: '';
        width: 21px;
        height: 19px;
        background: url("./icon-check.png") no-repeat;
        position: absolute;
        right: 0px;
        bottom: 0px;
      }
    }
  }
  .ac-openAccountAuto-form {
    width: 550px;
    margin: 0 auto;
    padding-top: 75px;
    .look-bonus {
      text-decoration: underline;
      cursor: pointer;
      padding-left: 5px;
    }
    .ac-red-pack-text{
      width: 243px;
      background-color: #fdf6e9;
      border-radius: 5px;
      padding: 15px;
      color: $def-gray-color;
      margin-left: 120px;
      margin-bottom: 10px;
    }
    .ac-red-type{
      border: 1px solid $def-gray-color;
      border-radius: $globalBtnRadius;
      margin-left: 72px;
      button{
        width: 52px;
        height: 23px;
        background-color: $def-white-color;
        color: $def-black-color;
        border: none;
        border-radius: 0;
        margin: 0;
        &:after{
          display: none;
        }
        &:first-child{
          border-right: 1px solid $def-gray-color;
          border-bottom-left-radius: $globalBtnRadius;
          border-top-left-radius: $globalBtnRadius;
        }
        &:last-child{
          border-bottom-right-radius: $globalBtnRadius;
          border-top-right-radius: $globalBtnRadius;
        }
        &.active{
          background-color: $new-main-deep-color;
          color: $def-white-color;
        }
      }
    }
  }

  .ac-openAccount-manual-div {
    margin: 0 28px 0 20px;
    .control-label {
      width: 80px !important;
    }
    .controls {
      margin-left: 80px;
    }

  }
  .ac-op-manual-rebate-set-container {
    margin-right: 110px;
    margin-top: 10px;
  }
  .ac-op-auto-rebate-set-container {
    width: 780px;
    margin-top: 24px;
    margin-right: 60px;
  }
  .ac-submit-btn-div {
    padding: 20px 0 25px 0px;
    .btn {
      width: 270px;
      height: 40px;
      border-radius: 20px;
    }
  }
  .ac-register {
    background-color: #16a4aa;
    border: 1px solid #16a4aa;
    display: inline-block;
    padding: 4px 10px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    color: #fefbfa;
  }

  .ac-auto-container {
    position: relative;
    width: 946px;
    margin: 0 auto;
    padding-top: 25px;
    .tooltip{
      position: absolute;
      .tooltip-inner{
        background: rgba(0,0,0,0.8);
        color: $def-white-color;
      }
    }
    .btn{
      width: 60px;
      height: 27px;
      border-radius: $globalInputRadius;
      background: linear-gradient(to bottom,$def-white-color,$sec-line-color);
      color: $new-inverse-color;
      font-size: $font-xs;
      border-color: $def-gray-color;
    }
    .input-link{
      width: 200px;
      margin-right: 10px;
      font-size: 12px;
      height: 18px;
      box-shadow: inset 0px 1px 1px rgba(0,0,0,.3);
    }
    .ac-span-link {
      width: 170px;
      text-overflow: ellipsis;
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      vertical-align: middle;
    }
    .ac-auto-remark {
      width: 135px;
      height: 18px;
      font-size: 12px;
      box-shadow: inset 0px 1px 1px rgba(0,0,0,.3);
    }
    .ac-span-remark {
      width: 104px;
      display: inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      vertical-align: middle;
    }
    .ac-btn-red-detail{
      width: 32px;
      height: 32px;
      display: inline-block;
      background: url('./red-btn-bg.png') no-repeat;
      vertical-align: middle;
      margin-left: 10px;
      cursor: pointer;
    }
    .qr-code-div {
      position: relative;
    }
    .qr-code-div-all {
      position: absolute;
      top: 50px;
      left: 380px;
      width: 150px;
      height: 150px;
      border: 16px solid $def-white-color;
      box-shadow: 0px 0px 3px rgba(0,0,0,.5);
      background-color: $def-white-color;
      display: none;
      z-index: 2;
    }
    .qr-code-div-all-closeBtn {
      background: url("downloadClose.png") no-repeat;
      width: 23px;
      height: 23px;
      position: absolute;
      top: -26px;
      right: -26px;
      cursor: pointer;
    }

    .ac-btn-qr-code {
      &.selected {
        border: 1px solid $new-main-deep-color;
      }
    }

    .ac-auto-remark-updateBtn,
    .ac-auto-remark-saveBtn,
    .ac-link-del {
      background: url("updateBtn.png") no-repeat;
      width: 20px;
      height: 20px;
      margin-left: 5px;
      display: inline-block;
      cursor: pointer;
      vertical-align: middle;
    }

    .ac-auto-remark-saveBtn {
      background: url("saveBtn.png") no-repeat;
      position: relative;
      right: 40px;
      top: 2px;
    }

    .ac-link-del {
      background: url("delBtn.png") no-repeat;
      margin-left: 0;
    }

  }

  .ac-openAccount-link-main-div {
    margin: 16px 0 0 19px;
  }

  .ac-open-account-link {
    width: 299px;
  }

  .ac-open-account-button {
    width: 75px;
  }

  .ac-open-account-view {
    width: 50px;
  }

  .ac-open-account-remark {
    width: 126px;
    height: 60px;
    resize: none;
  }

  .ac-auto-confirm-div {
    padding-top: 1px;
    .btn {
      padding: 4px 10px;
      height: 32px;
      width: 116px;
    }
  }
  .ac-auto-link-remark-div {
    display: inline-block;
  }
  .ac-link-bar {
    position: relative;
  }
  .qr-code {
    position: absolute;
    top: 0px;
    right: -55px;
    display: none;
    border: 10px solid #fff;
    background: #fff;
    z-index: 99;
  }
}

.ac-teamDynamic-view {
  form {
    margin: 12px 0 0 12px;
  }
  ul {
    margin: 12px 12px 0 12px;
  }

  .ac-td-tab-lab {
    padding: 0 2px;
  }
  .ac-td-oa-title {
    background-image: url(openAccountOrder.png);
    background-repeat: no-repeat;
    margin-left: 5px;
    padding-left: 25px;
    height: 21px;

  }
  .ac-td-uu-title {
    background-image: url(unActiveUserOrder.png);
    background-repeat: no-repeat;
    margin-top: -5px;
    padding-left: 31px;
    height: 26px;
  }

  .ac-tm-oa-order1 {
    background-image: url(no1.png);
    margin-left: 30px;
    width: 18px;
    height: 21px;
    position: absolute;
    left: 0;
  }
  .ac-tm-oa-order2 {
    background-image: url(no2.png);
    margin-left: 30px;
    width: 18px;
    height: 21px;
    position: absolute;
    left: 0;
  }
  .ac-tm-oa-order3 {
    background-image: url(no3.png);
    margin-left: 30px;
    width: 18px;
    height: 21px;
    position: absolute;
    left: 0;
  }
  //teamDynamic
  .ac-chart {
    height: 230px;
    margin: 5px 20px 0 20px;
  }
  .ac-grid-title-div {
    margin: 0 12px 0 12px;
  }
}

.ac-loginDate {
  border: 1px solid;
  padding: 2px 5px;
  margin: 0 3px;
}

.ac-registerEara {
  border: 1px solid #606060;
  padding: 5px;
  cursor: text;
  width: 400px;
  height: 200px;
}

.ac-btn-scale {
  width: 100px;
  height: 30px;

}

.router.btn-link {
  padding: 4px 8px;
}

.ac-team-main {
  .checkbox-label {
    margin-top: 2px;
  }
  table {
    th {
      font-size: $font-xs;
    }
  }
}

.open-confirm-main{
  border-radius: 5px;
  .confim-title{
    width: 480px;
    height: 50px;
    color: $def-black-color;
    text-align: center;
    line-height: 50px;
    position: relative;
    background-color: $sec-line-color;
    font-size: $font-md;
    .close{
      color: #d8d8d8;
      font-size:30px;
    }
  }
  .contant-info{
    width: 275px;
    height: 70px;
    margin: 0 auto;
    margin-top: 22px;
    background-color: #f8f8f8;
    border-radius: 10px;
    padding-top: 15px;
  }
  .open-confirm-btn{
    width: 108px;
    height: 36px;
  }
}
.copy-contant{
  width: 300px;
  margin: 0 auto;
}
.red-pack-container{
  width: 378px;
  height: 413px;
  background: url("./red-pack-detail-bg.png") no-repeat;
  position: relative;
  font-size: $font-sm;
  color: $def-black-color;
  .red-close{
    width: 17px;
    height: 16px;
    background: url("./red-pack-detail-close.png") no-repeat;
    position: absolute;
    top: 42px;
    right: 30px;
    cursor: pointer;
  }
  .red-btn{
    display: block;
    width: 245px;
    height: 45px;
    background-color: #f0c862;
    color: #92411f;
    font-size:$font-sm;
    text-align: center;
    line-height: 45px;
    border-radius: 50px;
    margin: 105px 0 0 80px;
    cursor: pointer;
  }
  .num-text{
    color: #e54d4b;
  }
  .red-detail-main{
    width: 294px;
    margin: 0 auto;
    transform: translateX(11px);
    padding-top: 40px;
  }
  .red-pack-title{
    margin-top: 120px;
    text-align: center;
  }
}
.ac-moneyTransfer-view{
  border-top: 1px solid $third-line-color;
  padding-top: 67px;
  color: $new-inverse-color;
  padding-left: 100px;
  .ac-user-select{
    width: 290px;
  }
  .user-select-btn{
    .btn{
      width: 58px;
      background-color: $def-white-color;
      border-color: $def-gray-color;
      color: $new-inverse-color;
      transition: background-color,color,border-color 1s;
      &:hover,&:focus{
        color: $def-white-color;
        background-color: $new-main-deep-color;
        border-color: $new-main-deep-color;
      }
    }
  }
  .user-title{
    font-size:$font-md;
    padding-left: 12px;
    position: relative;
    &:after{
      content: '';
      width: 4px;
      height: 17px;
      background-color: $new-main-deep-color;
      display: block;
      position: absolute;
      top: 2px;
      left: 0;
    }
  }
  .ac-lowLevelSelect{
    width: 288px;
    height: 577px;
    border: 1px solid $def-gray-color;
    margin-top: 25px;
    .ac-lowLevelSelect-header{
      width: 100%;
      height: 50px;
      background-color: #f8f8f8;
    }
    .ac-low-multi-search{
      width: 264px;
      height: 30px;
      border-radius: 20px;
      background-color: $def-white-color;
      margin: 10px 12px 0 12px;
      i{
        color: #d8d8d8;
        margin-top: 7px;
        margin-left: 20px;
      }
      .input-search-user{
        width: 200px;
        height: 22px;
        border: none;
      }
    }
  }
  .user-tree{
    width: 100%;
    overflow: hidden;
    .user-tree-title{
      width: 100%;
      height: 29px;
      border-bottom: 2px solid $def-gray-color;
      line-height: 29px;
      font-size: $font-sm;
      padding-left: 25px;
      color: $font-auxiliary-color;
    }
    .user-tree-list{
      width: 90%;
      margin: 0 auto;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
  .ac-tf-line{
    width: 0px;
    height: 577px;
    border: 1px dashed $def-gray-color;
    float: left;
    margin-left: 100px;
    margin-top: 50px;
  }
  .ac-transfer-contant{
    width: 400px;
    margin-left: 100px;
    .user-choose-list{
      width: 400px;
      margin-top: 29px;
      .list-empty{
        width: 241px;
        height: 64px;
        background-color: #f9f9f9;
        color: $font-auxiliary-color;
        font-size: $font-sm;
        line-height: 64px;
        padding-left: 20px;
      }
      .choose-list-container{
        width: 400px;
        li{
          list-style: none;
          //width: 68px;
          //height: 24px;
          padding: 3px 8px;
          border: 1px solid $def-gray-color;
          border-radius: $globalBtnRadius;
          font-size: $font-sm;
          display: inline-block;
          color: $new-inverse-color;
          margin-top: 10px;
        }
      }
    }
  }
  .ac-group{
    margin-top: 50px;
    .transfer-type{
      width: 258px;
      height: 38px;
      background: url(~base/images/v2/icon-select-down.png) no-repeat scroll 95% center transparent;
      background-color: #f9f9f9;
    }
    .input1{
      width: 246px;
      height: 28px;
      background-color: #f9f9f9;
    }
    .control-confirm{
      .btn{
        width: 190px;
        height: 40px;
        border-radius: 20px;
        margin-left: 20px;
      }
    }
  }
}
.ac-dm-um-log{
  width: 15px;
  height: 17px;
  background: url('log-btn.png') no-repeat;
  display: inline-block;
  cursor: pointer;
  vertical-align: text-bottom;
  position: relative;
  &:hover,&:focus{
    background: url("log-btn-hover.png") no-repeat;
  }
}
.ac-log-main{
  .ac-log-header{
    font-size: $font-sm;
    color: $def-black-color;
    position: relative;
    padding-left: 25px;
    padding-top: 10px;
    font-weight: bold;
    margin-bottom: 20px;
    &:before{
      content: '';
      width: 15px;
      height: 17px;
      background: url("log-btn.png") no-repeat;
      display: block;
      position: absolute;
      top: 10px;
      left: 0px;
    }
    .close{
      font-size: 30px;
      position: absolute;
      top: 10px;
      right: 0px;
    }
  }
  .ac-log-container{
    width: 338px;
    height: 128px;
    margin: 0 auto;
    table{
      border: 1px solid $def-gray-color;
      overflow: auto;
      td{
        border: 1px solid $def-gray-color;
        background-color: #f8f8f8;
        padding: 5px 3px;
        font-size: $font-xs;
      }
    }
  }
}
.ac-dm-page{
  .popover{
    box-shadow: none;
    border: 1px solid $def-gray-color;
    border-radius: 5px;
    max-width: 380px;
    width: 380px;
    .arrow{
      right: -11px;
      &:after{
        border-left-color: $def-white-color;
      }
    }
  }
  .popover-content{
    background-color: $def-white-color;
  }
}
