@charset "UTF-8";

@import '../../../../game-center/misc/mixin';

@mixin float-item($font-size, $color, $width, $height, $margin) {
  font-size: $font-size;
  color: $color;
  height: $height;
  line-height: $height;
  margin-bottom: $margin;
  float: left;
  width: $width;
}

.sidebar-fund-container {
  @include border-box();
  border-top: 2px solid #f5f5f5;
}

.fund-amount {
  position: relative;
  padding: 20px 10px 0 10px;
  height: 76px;
  background-color: white;
  .amount-title {
    color: $def-black-color;
    font-size: 14px;
  }

  .amount-rest {
    @include inline-block();
    font-size: 14px;
    color: $prominent-color;
    height: 35px;
    line-height: 35px;

  }

  .fund-recharge-btn {
    margin-top: -2px;
    @include button(65px, 27px, $new-main-deep-color, white, 14px);
    border-radius: 3px;
    float: right;
  }

  .fund-withdraw-btn {
    margin-top: -2px;
    @include button(65px, 27px, $new-main-deep-color, white, 14px);
    border-radius: 3px;
    float: right;
  }
}

.fund-amount-recharge {
  padding: 0 10px;
  border-bottom: 1px dashed #d7d7d7;
}

.fund-amount-withdraw {
  padding: 0 10px;
}

.fund-pocket {
  padding: 10px 10px 25px 10px;
  background-color: white;
  //margin: 10px 0;
  margin: 0;
  border-top: 10px solid #f5f5f5;
  .pocket-title-container {
    height: 48px;
    line-height: 48px;
    padding: 0 10px;
    border-bottom: 1px dashed #d7d7d7;
    .pocket-title, .pocket-rest {
      @include float-item(12px, $prominent-color, 50%, 35px, 10px);
    }

    .pocket-title {
      width: 70px;
      display: inline-block;
      margin-bottom: 0 !important;
      height: 48px !important;
      line-height: 48px !important;
      color: $new-inverse-color !important;
      text-align: left;
      font-size: 12px!important;
    }
    .pocket-goTo{
      font-size: 12px;
      color: #666666;
      text-align: right;
      cursor: pointer;
    }
  }
  .pocket-title-container:last-child {
    border-bottom: 0px;
  }

  .pocket-rest {
    display: inline-block;
    margin-bottom: 0 !important;
    height: 48px !important;
    line-height: 48px !important;
    text-align: center;
  }

  .fund-transfer-select, .fund-transfer-amount {
    width: 250px;
    height: 42px;
    margin: 10px auto;
    border-radius: 5px;
    text-align: center;
    display: block
  }

  .fund-transfer-select {
    font-size: 14px;
    color: $font-dark;
  }

  .fund-transfer-amount {
    font-size: 14px;
    color: $new-inverse-color;
  }
}

.fund-operation-record-container {
  padding: 0 10px;
  background-color: white;
  border-top: 10px solid #f5f5f5;
  .fund-operation-record {
    padding: 0 10px;
    border-bottom: 1px solid $def-line-color;
    height: 50px;
    line-height: 50px;
    .record-title, .operation-record-link {
      cursor: pointer;
      @include float-item(14px, $new-inverse-color, 50%, 35px, 20px);
    }
    .operation-title{
      font-size: 12px;
      color: $def-black-color;
      display: inline-block;
      float: left;
    }
    .record-title {
      margin-bottom: 0 !important;
      height: 48px !important;
      line-height: 48px !important;
      text-align: left;
    }

    .operation-record-link {
      margin-left: -10px;
      margin-bottom: 0 !important;
      height: 48px !important;
      line-height: 48px !important;
      //text-decoration: underline;
      font-size: 12px;
      text-align: right;
      float: right;
      color: $font-auxiliary-color;
    }
  }
}

.operation-record-items {
  min-height: 340px;

  .operation-record-item {
    background-color: white;
    border-bottom: 1px dashed $def-line-color;
    padding: 10px 0 10px 10px;

    //.record-action, .record-date {
    //  @include float-item(12px, $font-auxiliary-color, 50%, 35px, 0px);
    //}

    .record-action {
      text-align: left;
      @include float-item(12px, $new-inverse-color, 45%, 35px, 0px);
      overflow: hidden;
    }

    .record-date {
      margin-left: -5px;
      text-align: right;
      @include float-item(12px, $font-auxiliary-color, 55%, 35px, 0px);
      overflow: hidden;
    }

    .record-date {
      font-size: 12px;
    }

    .record-amount, .record-progress {
      @include float-item(12px, $new-inverse-color, 31%, 35px, 0px);
      overflow: hidden;
    }

    .record-amount {
      text-align: left;
    }

    .record-remark {
      @include float-item(12px, $font-auxiliary-color, 100%, 35px, 0px);
      overflow: hidden;
    }

    .record-progress {
      float: right;
      width: 68%;
      //margin-left: 5px;
      .progress {
        float: left;
        margin: 5px;
        background: white;
        height: 20px;
        line-height: 20px;
        font-size: 12px;
        text-align: center;
        margin-top: 7px;
        color: $new-inverse-color;
        border: 1px solid $new-inverse-color;
        padding: 0 3px;
        border-radius: 3px;

        &.active {
          color: $font-dark;
          border: 1px solid $font-dark;
        }
      }
      .success-img {
        width: 20px;
        height: 20px;
        display: inline-block;
        margin: 6px;
        background: url("~base/images/v2/icon-leftBar-success.png") no-repeat;
        float: right;
      }
      .fault-img {
        width: 20px;
        height: 20px;
        display: inline-block;
        margin: 6px;
        background: url("~base/images/v2/icon-leftBar-fault.png") no-repeat;
        float: right;
      }
      .process-img {
        width: 20px;
        height: 20px;
        margin: 6px;
        display: inline-block;
        background: url("~base/images/v2/icon-leftBar-process.png") no-repeat;
        float: right;
      }
      .success-text {
        display: inline-block;
        float: right;
        color: $new-main-deep-color;
        margin-left: 3px;
      }
      .fault-text {
        float: right;
        color: $new-inverse-color;
        margin-left: 3px;
      }
      .process-text {
        float: right;
        color: $new-inverse-color;
        margin-left: 3px;
        margin-right: 15px;
      }
    }
    .fc-rc-status-container {
      float: right;
      padding-top: 1px;
      font-size: 0;
      .fc-rc-status {
        font-size: 12px;
        color: #666666;
        .fc-rc-status-button {
          width: 43px;
          height: 18px;
          //padding: 0px 2px;
          padding: 1px 3px;
          border: 1px solid #666666;
          border-radius: 3px;
        }
        .fc-rc-status-button-unPass {
          width: 50px;
          height: 20px;
          //padding: 0px 2px;
          padding: 1px 3px;
          background: #14b1bb;
          color: #ffffff;
          border: 1px solid #14b1bb;
          border-radius: 3px;
        }
        .fc-rc-status-line-unPass {
          color: #14b1bb;
        }
        .fc-rc-status-line {
          width: 5px;
        }
        &.active {
          color: #14b1bb;
          .fc-rc-status-button {
            border: 1px solid #14b1bb;
          }
        }
      }
    }
  }
  .operation-record-empty {
    text-align: center;
    .items-empty-img {
      width: 99px;
      margin-top: 130px;
      height: 99px;
      display: inline-block;
      background: url("~base/images/v2/icon-record-empty.png");
    }
    .items-empty-text {
      font-size: 14px;
      color: #999999;
      margin-left: 5px;
      margin-top: 5px;
    }
  }
}

