@charset "UTF-8";

@import '../../../../gameCenter/misc/mixin';

@mixin float-item($font-size, $color, $width, $height, $margin) {
  font-size: $font-size;
  color: $color;
  height: $height;
  line-height: $height;
  margin-bottom: $margin;
  float: left;
  width: $width;
}

.sidebar-record-container {
  @include border-box();

  .record-total {
    padding: 20px 0 0 0;
    height: 125px;
    background-color: white;
  }

  .record-total-item {
    float: left;
    width: 50%;
    height: 105px;
    text-align: center;
    border-right: 1px dashed #e6e6e6;;

    &:nth-child(2) {
      border-right: none;
    }

    .total-title {
      color: $def-black-color;
      font-size: 14px;
      margin-top: 12px
    }
    .total-img-bet {
      margin-left: 57px;
      margin-top: 4px;
      width: 38px;
      height: 38px;
      display: block;
      background: url("~base/images/v2/icon-leftBar-bet.png");
    }
    .total-img-profit {
      margin-left: 57px;
      margin-top: 4px;
      width: 38px;
      height: 38px;
      display: block;
      background: url("~base/images/v2/icon-leftBar-profit.png");
    }
    .total-amount {
      color: $font-dark;
      font-size: 14px;
    }
    .total-amount-bet {
      color: $new-main-deep-color;
    }
    .total-amount-profit {
      color: $prominent-color;
    }
  }

}

.record-recent-container {
  padding: 0 10px;
  font-size: 14px;
  background-color: white !important;
  .recent-title {
    font-size: 12px;
    padding: 0 10px 0 14px;
    color: $font-dark;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #e6e6e6;
    .recent-title-text {
      color: $def-black-color;
      font-size: 14px;
      float: left;
    }
  }
  .recent-game-items {
    min-height: 340px;
    .recent-game-item {
      cursor: pointer;
      border-bottom: 1px dashed #e6e6e6;
      padding: 23px 10px 18px 15px;
      height: 76px;

      .game-date, .game-title {
        @include float-item(14px, $new-inverse-color, 50%, 30px, 0);
        font-size: 12px;
      }

      .game-title {
        text-align: left;
        color: #666;
        height: 30px;
        line-height: 1;
        margin-bottom: 0;
        float: left;
        width: 50%;
        font-size: 14px;
      }

      .game-date {
        text-align: right;
        line-height: 1;
      }

      .game-type, .game-amount, .game-state {
        @include float-item(12px, $font-dark, 33%, 30px, 0);
      }

      .game-type {
        color: $def-black-color;
        text-align: left;
        line-height: 0;
        width: 100px;
      }

      .game-amount {
        color: $def-black-color;
        text-align: center;
        line-height: 0;
        width: 100px;
      }

      .game-state {
        color: $def-black-color;
        text-align: right;
        line-height: 0;
        width: 53px;
      }
    }
    .recent-game-items-empty {
      text-align: center;
      .recent-game-items-empty-img {
        margin-top: 130px;
        width: 99px;
        height: 99px;
        display: inline-block;
        background: url("~base/images/v2/icon-record-empty.png");
      }
      .recent-game-items-empty-text {
        color: #999999;
        margin-left: 5px;
        margin-top: 5px;
      }
    }
  }
  .recent-more {
    display: block;
    cursor: pointer;
    font-size: 14px;
    color: $new-inverse-color;
    margin: 17px auto;
    text-align: right;
    text-decoration: underline;
  }

}





