.tread {
  &.tread-mask {
    background: rgba(0, 0, 0, .7);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 100;
  }
  //踩彩财主页
  .pop_choice {
    background: url("./images/xyccc/pop_bg.png") no-repeat;
    width: 715px;
    height: 721px;
    position: relative;
    margin: 5% auto;

    .btn_spec {
      background: url("./images/xyccc/btn_01.png") no-repeat;
      width: 92px;
      height: 43px;
      position: absolute;
      right: -17px;
      bottom: 230px;
      cursor: pointer;
    }

    .prize {
      background: url("./images/xyccc/btn_02.png") no-repeat;
      width: 87px;
      height: 43px;
      position: absolute;
      right: -28px;
      bottom: 180px;
      cursor: pointer;
    }

    .close_btn {
      background: url("./images/xyccc/close_btn.png") no-repeat;
      width: 47px;
      height: 47px;
      position: absolute;
      right: 90px;
      top: 30px;
      cursor: pointer;
    }

    .bonus_lump {
      background: url(./images/xyccc/bonus_board.png) no-repeat;
      width: 339px;
      height: 320px;
      position: relative;
      left: 183px;
      top: 225px;

      .bonus_btn {
        background: url(./images/xyccc/btn.png) no-repeat;
        width: 176px;
        height: 58px;
        position: absolute;
        top: 380px;
        left: 80px;
        cursor: pointer;
      }

      .bonus_btn_over {
        background: url(./images/xyccc/btn_over.png) no-repeat;
        width: 176px;
        height: 58px;
        position: absolute;
        top: 380px;
        left: 80px;
        cursor: pointer;
      }

      .bonus_board_ele li.board_01 {
        display: none;
        background: url(./images/xyccc/bonus_board_ele.png) no-repeat;
        width: 119px;
        height: 75px;
        position: absolute;
        top: 30px;
        left: -4px;
      }

      .bonus_board_ele li.board_02 {
        display: none;
        background: url(./images/xyccc/bonus_board_ele.png) no-repeat;
        width: 119px;
        height: 75px;
        position: absolute;
        top: 30px;
        left: 110px;
      }

      .bonus_board_ele li.board_03 {
        display: none;
        background: url(./images/xyccc/bonus_board_ele.png) no-repeat;
        width: 119px;
        height: 75px;
        position: absolute;
        top: 30px;
        left: 224px;
      }

      .bonus_board_ele li.board_04 {
        display: none;
        background: url(./images/xyccc/bonus_board_ele.png) no-repeat;
        width: 119px;
        height: 75px;
        position: absolute;
        top: 105px;
        left: 110px;
      }

      .bonus_board_ele li.board_05 {
        display: none;
        background: url(./images/xyccc/bonus_board_ele.png) no-repeat;
        width: 119px;
        height: 75px;
        position: absolute;
        top: 181px;
        left: -4px;
      }

      .bonus_board_ele li.board_06 {
        display: none;
        background: url(./images/xyccc/bonus_board_ele.png) no-repeat;
        width: 119px;
        height: 75px;
        position: absolute;
        top: 181px;
        left: 110px;
      }

      .bonus_board_ele li.board_07 {
        display: none;
        background: url(./images/xyccc/bonus_board_ele.png) no-repeat;
        width: 119px;
        height: 75px;
        position: absolute;
        top: 181px;
        left: 224px;
      }

      .bonus_board_ele li.board_08 {
        display: none;
        background: url(./images/xyccc/bonus_board_ele.png) no-repeat;
        width: 119px;
        height: 75px;
        position: absolute;
        top: 247px;
        left: 57px;
      }

      .bonus_board_ele li.board_09 {
        display: none;
        background: url(./images/xyccc/bonus_board_ele.png) no-repeat;
        width: 119px;
        height: 75px;
        position: absolute;
        top: 247px;
        left: 172px;
      }

      .bonus_info {
        width: 339px;
        height: 320px;
        color: #000000;
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 99;
        text-align: center;
        font-size: 14px;
      }

      .bonus_info{
        >ul{
          >li{
            h5{
              margin-bottom: 3px;
            }
            h4{
              margin-bottom: 3px;
            }
          }
        }
      }

      .bonus_info li.info_01 {
        display: none;
        background: url(./images/xyccc/info_lump.png) no-repeat;
        width: 106px;
        height: 70px;
        position: absolute;
        top: -45px;
        left: 5px;
      }

      .bonus_info li.info_02 {
        display: block;
        background: url(./images/xyccc/info_lump.png) no-repeat;
        width: 106px;
        height: 70px;
        position: absolute;
        top: -45px;
        left: 120px;
      }

      .bonus_info li.info_03 {
        display: none;
        background: url(./images/xyccc/info_lump.png) no-repeat;
        width: 106px;
        height: 70px;
        position: absolute;
        top: -45px;
        left: 235px;
      }

      .bonus_info li.info_04 {
        display: none;
        background: url(./images/xyccc/info_lump.png) no-repeat;
        width: 106px;
        height: 70px;
        position: absolute;
        top: 30px;
        left: 120px;
      }

      .bonus_info li.info_05 {
        display: none;
        background: url(./images/xyccc/info_lump.png) no-repeat;
        width: 106px;
        height: 70px;
        position: absolute;
        top: 115px;
        left: 5px;
      }

      .bonus_info li.info_06 {
        display: none;
        background: url(./images/xyccc/info_lump.png) no-repeat;
        width: 106px;
        height: 70px;
        position: absolute;
        top: 115px;
        left: 120px;
      }

      .bonus_info li.info_07 {

        background: url(./images/xyccc/info_lump.png) no-repeat;
        width: 107px;
        height: 70px;
        position: absolute;
        top: 115px;
        left: 235px;
      }

      .bonus_info li.info_08 {
        display: none;
        background: url(./images/xyccc/info_lump.png) no-repeat;
        width: 106px;
        height: 70px;
        position: absolute;
        top: 175px;
        left: 60px;
      }

      .bonus_info li.info_09 {
        display: none;
        background: url(./images/xyccc/info_lump.png) no-repeat;
        width: 106px;
        height: 70px;
        position: absolute;
        top: 175px;
        left: 180px;
      }

      .bonus_info li h5 {
        font-size: 16px;
        font-weight: normal;
        margin-top: 10px;
      }

      .bonus_info li h4 {
        color: #ff1401;
        font-size: 18px;
        font-weight: bold;
        margin-top: 16px;
      }

      .bonus_info li.info_lump h5 {
        width: 106px;
        font-weight: normal;
      }

      .bonus_info_alpha_mask {
        width: 339px;
        height: 320px;
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 100;
      }

      .bonus_info_alpha_mask li.alpha_mask_01 {
        display: block;
        width: 106px;
        height: 70px;
        position: absolute;
        top: 30px;
        left: -4px;
        cursor: pointer;
      }

      .bonus_info_alpha_mask li.alpha_mask_02 {
        display: block;
        width: 106px;
        height: 70px;
        position: absolute;
        top: 30px;
        left: 110px;
        cursor: pointer;
      }

      .bonus_info_alpha_mask li.alpha_mask_03 {
        display: block;
        width: 106px;
        height: 70px;
        position: absolute;
        top: 30px;
        left: 224px;
        cursor: pointer;
      }

      .bonus_info_alpha_mask li.alpha_mask_04 {
        display: block;
        width: 106px;
        height: 70px;
        position: absolute;
        top: 105px;
        left: 110px;
        cursor: pointer;
      }

      .bonus_info_alpha_mask li.alpha_mask_05 {
        display: block;
        width: 106px;
        height: 70px;
        position: absolute;
        top: 181px;
        left: -4px;
        cursor: pointer;
      }

      .bonus_info_alpha_mask li.alpha_mask_06 {
        display: block;
        width: 106px;
        height: 70px;
        position: absolute;
        top: 181px;
        left: 110px;
        cursor: pointer;
      }

      .bonus_info_alpha_mask li.alpha_mask_07 {
        display: block;
        width: 106px;
        height: 70px;
        position: absolute;
        top: 181px;
        left: 224px;
        cursor: pointer;
      }

      .bonus_info_alpha_mask li.alpha_mask_08 {
        display: block;
        width: 106px;
        height: 70px;
        position: absolute;
        top: 247px;
        left: 57px;
        cursor: pointer;
      }

      .bonus_info_alpha_mask li.alpha_mask_09 {
        display: block;
        width: 106px;
        height: 70px;
        position: absolute;
        top: 247px;
        left: 172px;
        cursor: pointer;
      }

      .bonus_board_item {
        background: url(./images/xyccc/bonus_board_item.png) no-repeat;
        width: 339px;
        height: 320px;
        position: absolute;
        left: 0px;
        top: 0px;
      }
    }

    //活动规则
    .pop_get {
      background: url("./images/xyccc/pop_lump_02.png") no-repeat;
      width: 398px;
      height: 434px;
      margin: 15% auto;
      position: absolute;

      .return_btn {
        background: url("./images/xyccc/btn_03.png") no-repeat;
        width: 114px;
        height: 43px;
        position: absolute;
        right: -113px;
        top: 40px;
        cursor: pointer;
      }

      .title_get {
        background: url("./images/xyccc/get_title.png") no-repeat;
        width: 175px;
        height: 39px;
        line-height: 34px;
        color: white;
        text-align: center;
        margin: 0px auto;
        position: relative;
        font-size: 20px;
        font-weight: bold;
        top: -16px;
      }

      .pop_get_lump {
        background: url("./images/xyccc/pop_get_bg.png") no-repeat center bottom;
        width: 420px;
        height: auto;
        margin: 0px auto;
        padding-top: 50px;
        padding-bottom: 50px;

        .pop_float_left {
          //float: left;
        }


        .pop_normal {
          position: relative;
          background: url("./images/xyccc/pop_normal.png") no-repeat;
          width: 171px;
          height: 72px;
          padding-top: 30px;
          text-align: center;
          margin: 0px auto;
          float: left;
        }

        .ele_pop_icon {
          position: absolute;
          width: 103px;
          height: 77px;
          top: -43px;
          left: 34px;
        }

        .pop_normal h4 {
          color: #000000;
          font-weight: normal;
          font-size: 20px;
        }

        .pop_normal span {
          color: #000000;
          font-size: 18px;
        }

        .pop_info {
          color: #000000;
          float: right;
          font-size: 18px;
          width: 220px;
          line-height: 30px;
          height: auto;
        }

        .clear_div {
          clear: both;
        }
      }

    }
  }

  //说明
  .pop_get {
    background: url("./images/xyccc/pop_lump_02.png") no-repeat;
    width: 398px;
    height: 434px;
    position: relative;
    margin: 15% auto;

    .return_btn {
      background: url("./images/xyccc/btn_03.png") no-repeat;
      width: 114px;
      height: 43px;
      position: absolute;
      right: -113px;
      top: 40px;
      cursor: pointer;
    }

    .title_get {
      background: url("./images/xyccc/get_title.png") no-repeat;
      width: 175px;
      height: 39px;
      line-height: 34px;
      color: white;
      text-align: center;
      margin: 0px auto;
      position: relative;
      font-size: 20px;
      font-weight: bold;
      top: -16px;
    }

    .des_text {
      color: #000000;
      width: 330px;
      height: 300px;
      margin: 10px auto;
    }

    .close_btn_01_info {
      background: url("./images/xyccc/get_btn.png") no-repeat;
      width: 116px;
      height: 34px;
      color: white;
      cursor: pointer;
      line-height: 31px;
      text-align: center;
      margin: 0px auto;
      margin-top: 10px;
    }

  }
  //领奖
  .pop_get_02 {
    background: url("./images/xyccc/pop_lump_01.png") no-repeat;
    width: 480px;
    height: 559px;
    margin: 10% auto;
    position: relative;

    .return_btn {
      background: url("./images/xyccc/btn_03.png") no-repeat;
      width: 114px;
      height: 43px;
      position: absolute;
      right: -113px;
      top: 40px;
      cursor: pointer;
    }

    .title_get {
      background: url("./images/xyccc/get_title.png") no-repeat;
      width: 175px;
      height: 39px;
      line-height: 34px;
      color: white;
      text-align: center;
      margin: 0px auto;
      position: relative;
      font-size: 20px;
      font-weight: bold;
      top: -16px;
    }

    .pop_get_lump {
      background: url("./images/xyccc/pop_get_bg.png") no-repeat center bottom;
      width: 420px;
      height: auto;
      margin: 0px auto;
      padding-top: 50px;
      padding-bottom: 50px;

      .pop_float_left.pop_float_mid {
        width: 100%;
        margin: 0 auto;
        float: none !important;
        .pop_normal{
          float: none !important;
        }
      }

      .pop_float_left {
        //float: left;

        .pop_normal {
          position: relative;
          background: url("./images/xyccc/pop_normal.png") no-repeat;
          width: 171px;
          height: 72px;
          padding-top: 30px;
          text-align: center;
          margin: 0px auto;
          float: left;
        }

        .ele_pop_icon {
          position: absolute;
          width: 103px;
          height: 77px;
          top: -43px;
          left: 34px;
        }

        .pop_normal h4 {
          color: #000000;
          font-weight: normal;
          font-size: 20px;
        }

        .pop_normal span {
          color: #000000;
          font-size: 18px;
        }

      }

      .pop_info {
        float: right;
        color: #000000;
        font-size: 18px;
        width: 220px;
        line-height: 30px;
        height: auto;
      }

      .clear_div {
        clear: both;
      }
    }

    .get_btn {
      background: url("./images/xyccc/get_btn.png") no-repeat;
      width: 116px;
      height: 34px;
      color: white;
      cursor: pointer;
      line-height: 31px;
      text-align: center;
      margin: 0px auto;
      margin-top: 10px;
    }

    .prompt_lump {
      position: relative;
      top: 20px;
      font-size: 16px;
      background: white;
      width: 330px;
      height: 220px;
      border-radius: 10px;
      margin: 5px auto;

      .prompt_content {
        width: 330px;
        height: 220px;
        overflow: hidden;
        text-align: center;
        position: relative;

        ul, li {
          color: #000000;
          font-size: 14px;
          line-height: 37px;
          list-style: none;

          span {
            color: red;
          }
        }
      }
    }

    .prompt_content ul {
      display: block;
      width: 330px;
      height: 37px;
      position: absolute;
      top: 0px;
      left: 0px;
    }

    .prompt_content li {
      font-size: 14px;
      width: 330px;
      line-height: 37px;
      color: #333;
    }

    .prompt_content li span {
      color: red;
    }


  }

  .pop_get_notice {
    position: relative;
    background: rgba(0, 0, 0, .8);
    color: white;
    border: 1px solid gray;
    border-radius: 10px;
    width: 398px;
    height: 160px;
    margin: 15% auto;
    position: relative;

    p {
      text-align: center;
      width: 300px;
      height: 40px;
      margin: 20px auto;
    }

    .pop_get_notice_btn {
      position: absolute;
      background: url("./images/xyccc/sure_btn.png") no-repeat;
      width: 110px;
      height: 32px;
      line-height: 30px;
      text-align: center;
      color: white;
      left: 144px;
      bottom: 15px;
      cursor: pointer;
    }
  }
  //中奖
  .get_gift_pop_notice {
    background: url("./images/xyccc/pop_lump_02.png") no-repeat;
    width: 398px;
    height: 434px;
    margin: 15% 40%;
    position: absolute;

    .get_gift_icon_lump {
      width: 300px;
      height: auto;
      margin: 10px auto;
      margin-top: 60px;

      .pop_normal {
        position: relative;
        background: url("./images/xyccc/pop_normal.png") no-repeat;
        width: 171px;
        height: 72px;
        padding-top: 30px;
        text-align: center;
        margin: 0px auto;

        .ele_pop_icon {
          position: absolute;
          width: 103px;
          height: 77px;
          top: -43px;
          left: 34px;
        }

        h4 {
          color: #000000;
          font-weight: normal;
          font-size: 20px;
        }

        span {
          color: #000000;
          font-size: 18px;
        }
      }

      .pop_special_02 {
        position: relative;
        background: url("./images/xyccc/pop_special_500.png") no-repeat;
        width: 171px;
        height: 72px;
        padding-top: 30px;
        text-align: center;
        margin: 0px auto;
      }

      .get_gift_info {
        color: #000000;
        font-size: 16px;
        width: 300px;
        height: auto;
        line-height: 26px;
        margin: 0px auto;
        margin-top: 30px;
      }

      .get_gift_sure_btn {
        background: url("./images/xyccc/sure_btn.png") no-repeat;
        width: 110px;
        height: 32px;
        line-height: 30px;
        text-align: center;
        color: white;
        margin: 0px auto;
        margin-top: 30px;
        cursor: pointer;
      }

      .pop_special_01 {
        position: relative;
        background: url("./images/xyccc/pop_special_1000.png") no-repeat;
        width: 171px;
        height: 72px;
        padding-top: 30px;
        text-align: center;
        margin: 0px auto;
      }

      .pop_special_02 {
        position: relative;
        background: url("./images/xyccc/pop_special_500.png") no-repeat;
        width: 171px;
        height: 72px;
        padding-top: 30px;
        text-align: center;
        margin: 0px auto;
      }

      .pop_special_03 {
        position: relative;
        background: url("./images/xyccc/pop_special_200.png") no-repeat;
        width: 171px;
        height: 72px;
        padding-top: 30px;
        text-align: center;
        margin: 0px auto;
      }

    }
  }

  //奖金
  .get_bonus {
    position: relative;
    background: rgba(0, 0, 0, .8);
    color: white;
    border: 1px solid gray;
    border-radius: 10px;
    width: 398px;
    height: 160px;
    margin: 15% auto;
    position: relative;

    p {
      text-align: center;
      width: 300px;
      height: 40px;
      margin: 20px auto;
    }

    .get_bonus_cancel_btn {
      position: absolute;
      background: url("./images/xyccc/sure_btn.png") no-repeat;
      width: 110px;
      height: 32px;
      line-height: 30px;
      text-align: center;
      color: white;
      left: 70px;
      bottom: 15px;
      cursor: pointer;
    }

    .get_bonus_sure_btn {
      position: absolute;
      background: url("./images/xyccc/sure_btn.png") no-repeat;
      width: 110px;
      height: 32px;
      line-height: 30px;
      text-align: center;
      color: white;
      right: 70px;
      bottom: 15px;
      cursor: pointer;
    }

  }

  .get_bonus_result {
    position: relative;
    background: rgba(0, 0, 0, .8);
    color: white;
    border: 1px solid gray;
    border-radius: 10px;
    width: 398px;
    height: 160px;
    margin: 15% auto;
    position: relative;

    p {
        text-align: center;
        width: 300px;
        height: 40px;
        margin: 20px auto;
    }

    .get_bonus_result_btn {
      position: absolute;
      background: url("./images/xyccc/sure_btn.png") no-repeat;
      width: 110px;
      height: 32px;
      line-height: 30px;
      text-align: center;
      color: white;
      left: 144px;
      bottom: 15px;
      cursor: pointer;
    }

  }
}
.notice_circle {
  display: none;
  background: white;
  width: 796px;
  height: 470px;
  position: fixed;
  left: 0px;
  top: 0px;

  .close_btn {
    background: url("./images/xyccc/close_btn.png") no-repeat;
    width: 47px;
    height: 47px;
    position: absolute;
    right: 90px;
    top: 30px;
    cursor: pointer;
  }

  .notice_infor_text {
    font-family: "微软雅黑", "黑体";
    font-size: 24px;
    position: absolute;
    width: 100%;
    height: 80px;
    text-align: center;
    line-height: 36px;
    margin-top: 30px;
  }

  .return_btn {
    background: url("./images/xyccc/btn_03.png") no-repeat;
    width: 114px;
    height: 43px;
    position: absolute;
    right: -113px;
    top: 40px;
    cursor: pointer;
  }
  //.bonus_info_item{
  //  &:hover{
  //    h5{
  //      display: inline-block;
  //    }
  //    h4{display: inline-block}
  //  }
  //}
}
///////////////////////////////////////////////////////////////////////////////////////////////

//img {
//  border: none;
//  overflow: hidden;
//}
//
//a {
//  text-decoration: none;
//}
//
//a:hover {
//  text-decoration: none;
//}

//.ele_bg {
//  background: url("./images/xyccc/ele_bg.png") no-repeat;
//  width: 744px;
//  height: 626px;
//  margin: 0px auto;
//  position: relative;
//  top: -30px;
//}

//.get_bonus {
//  position: relative;
//  background: rgba(0, 0, 0, .8);
//  color: white;
//  border: 1px solid gray;
//  border-radius: 10px;
//  width: 398px;
//  height: 160px;
//  margin: 0px auto;
//  position: absolute;
//}

//.get_bonus_result

//.ele_info {
//  color: white;
//  font-size: 14px;
//  position: absolute;
//  background: rgba(0, 0, 0, .6);
//  width: 290px;
//  height: auto;
//  line-height: 24px;
//  padding: 20px;
//  border-radius: 10px;
//  top: 50px;
//  right: -400px;
//}
//
//.ele_icon {
//  position: absolute;
//  width: 103px;
//  height: 77px;
//  top: -43px;
//  left: 52px;
//}

//.ele_row_01 {
//  width: 208px;
//  height: auto;
//  padding-top: 45px;
//  margin: 0px 15px;
//  float: left;
//}
//
//.ele_row_02 {
//  width: 208px;
//  height: auto;
//  padding-top: 10px;
//  margin: 0px auto;
//}
//
//.ele_row_03 {
//  width: 208px;
//  height: auto;
//  padding-top: 15px;
//  margin: 0px 15px;
//  float: left;
//}
//
//.ele_row_04 {
//  width: 208px;
//  height: auto;
//  padding-top: 45px;
//  margin: 0px 15px;
//  float: left;
//}
//
//.pop_row_01 {
//  width: 171px;
//  height: auto;
//  padding-top: 45px;
//  margin: 0px 5px;
//  float: left;
//}
//
//.pop_row_02 {
//  width: 171px;
//  height: auto;
//  padding-top: 10px;
//  margin: 0px auto;
//}
//
//.pop_row_03 {
//  width: 171px;
//  height: auto;
//  padding-top: 15px;
//  margin: 0px 5px;
//  float: left;
//}
//
//.pop_row_04 {
//  width: 171px;
//  height: auto;
//  padding-top: 45px;
//  margin: 0px 5px;
//  float: left;
//}
//
//.ele_normal {
//  position: relative;
//  background: url("./images/xyccc/ele_normal.png") no-repeat;
//  width: 208px;
//  height: 88px;
//  padding-top: 30px;
//  text-align: center;
//}
//
//.ele_normal h4 {
//  font-weight: normal;
//  font-size: 30px;
//}
//
//.ele_normal span {
//  font-size: 22px;
//}
//

//.no_bonus {
//  text-align: center;
//  font-size: 22px;
//  width: 320px;
//  line-height: 30px;
//  height: auto;
//  margin: 10px auto;
//}
