<div class="js-tread-mask-content">
  <div class="tread tread-mask js-tread-mask hidden ">
      <div class="pop_choice js-pop-choice">
          <div class="btn_spec js-AlertSpec"></div>
          <div class="prize js-AlterPrize"></div>
          <div class="close_btn js-close"></div>
          <div class="bonus_lump">
              <div class="bonus_btn js-start"></div>
              <div class="bonus_board_ele">
                  <ul>
                      <li class="board_01"></li>
                      <li class="board_02"></li>
                      <li class="board_03"></li>
                      <li class="board_04"></li>
                      <li class="board_05"></li>
                      <li class="board_06"></li>
                      <li class="board_07"></li>
                      <li class="board_08"></li>
                      <li class="board_09"></li>
                  </ul>
              </div>
              <div class="bonus_info">
                  <ul>
                      <li class="js-ta-bonus_info_item info_01 js-ticketName01 js-ticketId">
                        <h5></h5>
                        <span class="js-ta-rate"></span>
                      </li>
                      <li class="js-ta-bonus_info_item info_02 js-lucky-bonus01">
                        <h4></h4>
                      </li>
                      <li class="js-ta-bonus_info_item info_03 js-ticketName02 js-ticketId">
                        <h5></h5>
                        <span class="js-ta-rate"></span>
                      </li>
                      <li class="js-ta-bonus_info_item info_04 js-lucky-bonus02">
                        <h4></h4>
                      </li>
                      <li class="js-ta-bonus_info_item info_05 js-ticketName03 js-ticketId">
                        <h5></h5>
                        <span class="js-ta-rate"></span>
                      </li>
                      <li class="js-ta-bonus_info_item info_06 js-lucky-bonus03">
                        <h4></h4>
                      </li>
                      <li class="js-ta-bonus_info_item info_07 js-ticketName04 js-ticketId">
                        <h5></h5>
                        <span class="js-ta-rate"></span>
                      </li>
                      <li class="js-ta-bonus_info_item info_08 js-ticketName05 js-ticketId">
                        <h5></h5>
                        <span class="js-ta-rate"></span>
                      </li>
                      <li class="js-ta-bonus_info_item info_09 js-ticketName06 js-ticketId">
                        <h5></h5>
                        <span class="js-ta-rate"></span>
                      </li>
                  </ul>
              </div>
              <div class="bonus_info_alpha_mask">
                  <ul>
                      <li class="alpha_mask_01"></li>
                      <li class="alpha_mask_02"></li>
                      <li class="alpha_mask_03"></li>
                      <li class="alpha_mask_04"></li>
                      <li class="alpha_mask_05"></li>
                      <li class="alpha_mask_06"></li>
                      <li class="alpha_mask_07"></li>
                      <li class="alpha_mask_08"></li>
                      <li class="alpha_mask_09"></li>
                  </ul>
              </div>
              <div class="bonus_board_item"></div>
          </div>
      </div>
      <div class="pop_get js-Spec ">
          <div class="return_btn js-return"></div>
          <div class="title_get">活动规则</div>
          <div class="des_text"><span>活动说明：</span><br><br>
              1、活动时间：<span class="js-ta-active-time"></span><br><br>
              2、每天登录平台都可以玩一次幸运踩彩财，每天仅限且只有一次机会。当天有投注更容易抽中彩金哦！<br><br>
              3、点击开始进行游戏，系统会随机为您选择一种彩种或彩金，并获得相应的奖励。<br><br>
              4、彩种奖励限当天有效，每天24点奖励重置，开启第二天的踩彩财活动。<br><br>
              5、无限娱乐拥有该活动的最终解释权。<br><br>
          </div>
          <div class="close_btn_01_info js-return">确定</div>
      </div>
      <div class="pop_get_02 js-Prize" >
          <div class="return_btn js-return"></div>
          <div class="title_get">当前可领奖励</div>
          <div class="pop_get_lump">
              <div class="pop_float_left js-ta-special-pop">
                  <div class="js-ta-got pop_normal">
                      <div class="ele_pop_icon"><img class='js-ta-got-img hidden' src="./images/xyccc/icon_pop_01.png" width="85" height="67" alt="">
                      </div>
                      <div class="ele_pop_icon js-ta-special-notice"></div>
                      <h4 class="js-ta-got-h4"></h4>
                      <span class="js-ta-got-span"></span>
                  </div>

              </div>
              <div class="pop_info js-ta-special-notice">每天限领一次，领取后该奖券作废，请于隔天重新抽取新的奖券。</div>
              <div class="clear_div"></div>
          </div>
          <div class="get_btn js-get hidden">立即领取</div>
          <div class="prompt_lump">
              <div class="prompt_content js-prompt_content">
                  <ul>
                      <!--<li><span>2016.12.1</span>获得加州分分彩<span>返水1% 奖券</span></li>-->
                      <!--<li><span>2016.12.1</span>获得加州分分彩<span>返水12% 奖券</span></li>-->
                      <!--<li><span>2016.12.1</span>获得加州分分彩<span>返水13% 奖券</span></li>-->
                      <!--<li><span>2016.12.1</span>获得加州分分彩<span>返水14% 奖券</span></li>-->
                      <!--<li><span>2016.12.1</span>获得加州分分彩<span>返水1% 奖券</span></li>-->
                      <!--<li><span>2016.12.1</span>获得加州分分彩<span>返水15% 奖券</span></li>-->
                      <!--<li><span>2016.12.1</span>获得加州分分彩<span>返水1% 奖券</span></li>-->
                      <!--<li><span>2016.12.1</span>获得加州分分彩<span>返水17% 奖券</span></li>-->
                      <!--<li><span>2016.12.1</span>获得加州分分彩<span>返水1% 奖券</span></li>-->
                  </ul>
              </div>
          </div>
      </div>
      <div class="pop_get_notice" style="display: none">
          <p class="js-authority-err"></p>
          <div class="pop_get_notice_btn js-close">确认</div>

      </div>
      <!--<div class="pop_get_02 btn_nothing js-prize" style="display: none">-->
          <!--<div class="return_btn js-return"></div>-->
          <!--<div class="title_get">当前可领奖励</div>-->
          <!--<div class="pop_get_lump">-->
              <!--<div class="no_bonus">您当前还没有任何奖励哦！</div>-->
          <!--</div>-->
          <!--<div class="prompt_lump">-->
              <!--<div class="prompt_content">-->
                  <!--<ul>-->
                      <!--<li><span>2016.12.1</span>获得加州分分彩<span>返水1% 奖券</span></li>-->
                      <!--<li><span>2016.12.1</span>获得加州分分彩<span>返水1% 奖券</span></li>-->
                      <!--<li><span>2016.12.1</span>获得加州分分彩<span>返水1% 奖券</span></li>-->
                      <!--<li><span>2016.12.1</span>获得加州分分彩<span>返水1% 奖券</span></li>-->
                      <!--<li><span>2016.12.1</span>获得加州分分彩<span>返水1% 奖券</span></li>-->
                      <!--<li><span>2016.12.1</span>获得加州分分彩<span>返水1% 奖券</span></li>-->
                      <!--<li><span>2016.12.1</span>获得加州分分彩<span>返水1% 奖券</span></li>-->
                      <!--<li><span>2016.12.1</span>获得加州分分彩<span>返水1% 奖券</span></li>-->
                      <!--<li><span>2016.12.1</span>获得加州分分彩<span>返水1% 奖券</span></li>-->
                  <!--</ul>-->
              <!--</div>-->
          <!--</div>-->
      <!--</div>-->
      <div class="get_gift_pop_notice" style="display: none">
          <div class="get_gift_icon_lump">
              <div class="js-ta-get pop_normal">
                  <div class="ele_pop_icon"></div>
                  <div class="ele_pop_icon"><img class="js-ta-get-img hidden" src="./images/xyccc/icon_pop_01.png" width="85" height="67" ></div>
                  <h4 class="js-ta-get-h4"></h4>
                  <span class="js-ta-get-span"></span>
                  <!--<div class="ele_pop_icon"><img src="images/xyccc/icon_pop_01.png" width="85" height="67" alt=""></div>-->
                  <!--<h4>北京PK拾</h4>-->
                  <!--<span>返奖0.8%</span>-->
              </div>
              <!--<div class="get_gift_info">-->
                  <!--今日幸运彩种：北京PK拾！在北京PK拾下所有的投注都将获得0.8%的返水，请在今日内完成消费并领取奖励。-->
              <!--</div>-->
              <div class="get_gift_sure_btn js-return">确定</div>
          </div>
      </div>
      <div class="get_bonus"  style="display: none">
          <p class="js-ta-congra-msg"></p>
          <div class="get_bonus_cancel_btn js-return">稍后领取</div>
          <div class="get_bonus_sure_btn js-sure">确认领取</div>
      </div>
      <!--<div class="get_bonus" style="display: none">-->
          <!--<p>-->
              <!--恭喜，获得加州分分彩返水奖励，您在加州分分彩中投注XX 元，可领取奖励XX元。-->
          <!--</p>-->
          <!--<div class="get_bonus_cancel_btn js-return">稍后领取</div>-->
          <!--<div class="get_bonus_sure_btn js-sure">确认领取</div>-->
      <!--</div>-->
      <div class="get_bonus_result js-result" style="display: none">
          <p class="js-ta-get-result">
              领取成功！
          </p>
          <div class="get_bonus_result_btn js-close">确认</div>
      </div>
      <!--<div class="get_gift_pop_notice" style="display: none">-->
          <!--<div class="get_gift_icon_lump">-->
              <!--<div class="pop_special_01"></div>-->
              <!--<div class="get_gift_info">-->
                  <!--恭喜您，获得彩金<span class="money">1000</span>元奖励，已加币至您的平台账号，请留意查看账户明细。明天再接再厉哦！-->
              <!--</div>-->
              <!--<div class="get_gift_sure_btn js-return">确定</div>-->
          <!--</div>-->
      <!--</div>-->
      <!---->
      <!--<div class="get_gift_pop_notice" style="display: none">-->
          <!--<div class="get_gift_icon_lump">-->
              <!--<div class="pop_normal">-->
                  <!--<div class="ele_pop_icon"><img src="images/xyccc/icon_pop_02.png" width="85" height="67" alt=""></div>-->
                  <!--<h4>无限秒秒彩</h4>-->
                  <!--<span>返奖2%</span>-->
              <!--</div>-->
              <!--<div class="get_gift_info">-->
                  <!--今日幸运彩种：无限秒秒彩！在秒秒彩下所有的投注都将获得2%的返水，请在今日内完成消费并领取奖励。-->
              <!--</div>-->
              <!--<div class="get_gift_sure_btn js-return js-return">确定</div>-->
          <!--</div>-->
      <!--</div>-->
      <!--<div class="get_gift_pop_notice" style="display: none">-->
          <!--<div class="get_gift_icon_lump">-->
              <!--<div class="pop_special_02"></div>-->
              <!--<div class="get_gift_info">-->
                  <!--恭喜您，获得彩金500元奖励，已加币至您的平台账号，请留意查看账户明细。明天再接再厉哦！-->
              <!--</div>-->
              <!--<div class="get_gift_sure_btn js-return">确定</div>-->
          <!--</div>-->
      <!--</div>-->
      <!--<div class="get_gift_pop_notice" style="display: none">-->
          <!--<div class="get_gift_icon_lump">-->
              <!--<div class="pop_normal">-->
                  <!--<div class="ele_pop_icon"><img src="images/xyccc/icon_pop_03.png" width="85" height="67" alt=""></div>-->
                  <!--<h4>重庆时时彩</h4>-->
                  <!--<span>返奖0.5%</span>-->
              <!--</div>-->
              <!--<div class="get_gift_info">-->
                  <!--今日幸运彩种：重庆时时彩！在时时彩下所有的投注都将获得0.5%的返水，请在今日内完成消费并领取奖励。-->
              <!--</div>-->
              <!--<div class="get_gift_sure_btn js-return">确定</div>-->
          <!--</div>-->
      <!--</div>-->
      <!--<div class="get_gift_pop_notice" style="display: none">-->
          <!--<div class="get_gift_icon_lump">-->
              <!--<div class="pop_special_03"></div>-->
              <!--<div class="get_gift_info">-->
                  <!--恭喜您，获得彩金200元奖励，已加币至您的平台账号，请留意查看账户明细。明天再接再厉哦！-->
              <!--</div>-->
              <!--<div class="get_gift_sure_btn js-return">确定</div>-->
          <!--</div>-->
      <!--</div>-->
      <!--<div class="get_gift_pop_notice" style="display: none">-->
          <!--<div class="get_gift_icon_lump">-->
              <!--<div class="pop_normal">-->
                  <!--<div class="ele_pop_icon"><img src="images/xyccc/icon_pop_04.png" width="85" height="67" alt=""></div>-->
                  <!--<h4>加州分分彩</h4>-->
                  <!--<span>返奖1%</span>-->
              <!--</div>-->
              <!--<div class="get_gift_info">-->
                  <!--今日幸运彩种：加州分分彩！在分分彩下所有的投注都将获得1%的返水，请在今日内完成消费并领取奖励。-->
              <!--</div>-->
              <!--<div class="get_gift_sure_btn js-return">确定</div>-->
          <!--</div>-->
      <!--</div>-->
      <!--<div class="get_gift_pop_notice" style="display: none">-->
          <!--<div class="get_gift_icon_lump">-->
              <!--<div class="pop_normal">-->
                  <!--<div class="ele_pop_icon"><img src="images/xyccc/icon_pop_05.png" width="85" height="67" alt=""></div>-->
                  <!--<h4>天津时时彩</h4>-->
                  <!--<span>返奖2%</span>-->
              <!--</div>-->
              <!--<div class="get_gift_info">-->
                  <!--今日幸运彩种：天津时时彩！在时时彩下所有的投注都将获得2%的返水，请在今日内完成消费并领取奖励。-->
              <!--</div>-->
              <!--<div class="get_gift_sure_btn js-return">确定</div>-->
          <!--</div>-->
      <!--</div>-->
      <!--<div class="get_gift_pop_notice" style="display: none">-->
          <!--<div class="get_gift_icon_lump">-->
              <!--<div class="pop_normal">-->
                  <!--<div class="ele_pop_icon"><img src="images/xyccc/icon_pop_06.png" width="85" height="67" alt=""></div>-->
                  <!--<h4>黑龙江时时彩</h4>-->
                  <!--<span>返奖2%</span>-->
              <!--</div>-->
              <!--<div class="get_gift_info">-->
                  <!--今日幸运彩种：黑龙江时时彩！在时时彩下所有的投注都将获得2%的返水，请在今日内完成消费并领取奖励。-->
              <!--</div>-->
              <!--<div class="get_gift_sure_btn js-return">确定</div>-->
          <!--</div>-->
      <!--</div>-->
  </div>
  <div class="notice_circle" style="display: none">
      <div class="close_btn js-close"></div>
      <div class="notice_infor_text"></div>
      <div class="gift_lump"></div>
      <div class="return_btn"></div>
  </div>
</div>
