<div class="tree_lump">
  <div class="gift_01"></div>
  <div class="gift_02"></div>
  <div class="gift_03"></div>
  <div class="gift_04"></div>
  <div class="tree_01">
    <ul>
      <li class="tree_pic_02"></li>
      <li class="tree_pic_01"></li>
      <li class="tree_pic_03"></li>
    </ul>
    <div class="tree_text_lump">
      <div class="tree_text"></div>
      <div class="tree_btn_01"><img src="images/20160123/tree_btn_01.png" width="155" height="34" alt=""/></div>
      <div class="tree_btn_02">关闭 >></div>
    </div>
  </div>
  <div class="tree_02">
    <ul>
      <li class="tree_pic_01"></li>
    </ul>
    <div class="tree_text_lump">
      <div class="tree_text2"></div>
      <div class="tree_btn_03"><img src="images/20160123/tree_btn_02.png" width="70" height="33" alt=""/></div>
    </div>
  </div>
</div>
<div class="full_screen"></div>
<div class="pop_lump">
  <ul>
    <li class="pop_01">
      <div class="pop_01_text">您选择关闭了摇钱树，在下一次达到
        1000元消费时，摇钱树才会出现。<br><br>
        注：摇钱树当天次数可累积， 每日零点重置。
      </div>
      <div class="btn_01"><img src="images/20160123/btn_01.png" width="127" height="50" alt=""/></div>
      <div class="btn_02"><img src="images/20160123/btn_02.png" width="127" height="50" alt=""/></div>
      <div class="close_icon" keep="keep"></div>
    </li>
    <li class="pop_02">
      <div class="pop_02_text">摇钱树被摇得太多了，掉了个空袋子。
        不要气馁，好东西总是在后面。加油！</div>
      <div class="btn_03"><img src="images/20160123/btn_04.png" width="217" height="50" alt=""/></div>
      <div class="close_icon"></div>
    </li>
    <li class="pop_03">
      <!--树上掉下一个金钱袋，里面蹦出1个硬币！恭喜您得到一元钱！-->
      <div class="pop_02_text"></div>
      <div class="btn_03"><img src="images/20160123/btn_04.png" width="217" height="50" alt=""/></div>
      <div class="close_icon"></div>
    </li>
    <li class="pop_04">
      <div class="pop_03_text">"树下小心掉金条了" </div>
      <div class="pop_04_text">金条都能摇下来，还没被砸到，
        您一定是孙悟空派来的福将吧！？
      </div>
      <div class="btn_04"><img src="images/20160123/btn_03.png" width="217" height="50" alt=""/></div>
      <div class="close_icon"></div>
    </li>
    <li class="pop_05">
      <div class="pop_03_text">"树下小心掉元宝了" </div>
      <div class="pop_04_text">兄台这么给力，这块
        金元宝就送你了，恭喜恭喜！
      </div>
      <div class="btn_04"><img src="images/20160123/btn_03.png" width="217" height="50" alt=""/></div>
      <div class="close_icon"></div>
    </li>
    <li class="pop_06">
      <div class="pop_03_text">"树下小心掉金砖了" </div>
      <div class="pop_04_text">这么支持无限娱乐，这块50g 的金砖就送你了，恭喜发财！
      </div>
      <div class="btn_04"><img src="images/20160123/btn_03.png" width="217" height="50" alt=""/></div>
      <div class="close_icon"></div>
    </li>
  </ul>
</div>