<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta name="keywords" content="<%= htmlWebpackPlugin.options.title %>">
  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="renderer" content="webkit" />
  <script type="text/javascript">
    //    var _czc = _czc || [];
//    _czc.push(["_setAccount", "1262787394"]);
  </script>
  <script type="text/javascript">
    function abc() {
    }
  </script>
</head>

<body class="">

  <div class="js-package package-main"></div>

  <script type="text/javascript" src="http://cdn.vbtrax.com/javascripts/va.js"></script>
  <script>
    function generateUUID() {
      var d = new Date().getTime();
      var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
        var r = (d + Math.random() * 16) % 16 | 0;
        d = Math.floor(d / 16);
        return (c == 'x' ? r : (r & 0x3 | 0x8)).toString(16);
      });
      return uuid;
    };
    var uuid = generateUUID();
    function registerVA() {
      console.log('start VA');
      VA.remoteLoad({
        whiteLabel: { id: 8, siteId: 1271, domain: 'vbtrax.com' },
        conversion: true,
        conversionData: {
          step: 'default',   // conversion name
          revenue: '',   // revenue share
          orderTotal: '',   // order total
          order: uuid  // order number
        },

        locale: "en-US", mkt: true
      });
    }

  </script>
  <script type="text/javascript" src="http://cdn.vbtrax.com/javascripts/va.js"></script>
  <script>
    VA.remoteLoad({
      whiteLabel: { id: 8, siteId: 1271, domain: 'vbtrax.com' },

      locale: "en-US", mkt: true
    });

  </script>
</body>

</html>
