<div class="mask js-vip-mask">
    <div class="main_contain">
        <div class="close_btn"></div>
        <div class="sword_left sword_left_ani"></div>
        <div class="sword_right sword_right_ani"></div>
        <div class="knight knight_ani"></div>
        <div class="fire_01"></div>
        <div class="fire_02"></div>
        <div class="text_01"></div>
        <div class="text_02"></div>
        <a class="vip-btn" href="#vip/home"><img src="./images/btn.png" width="272" height="76" alt=""></a>
    </div>
</div>