* {
  margin: 0;
  padding: 0;
  font-family: "微软雅黑", "黑体";
}

ul, li {
  list-style: none;
}

img {
  border: none;
  overflow: hidden;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.clear_div {
  clear: both;
}

.mask {
  background: rgba(0, 0, 0, .8);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .main_contain {
    position: absolute;
    top: 80%;
    left: 50%;
    margin-left: -410px;
    margin-top:-320px;
    width: 820px;
    height: auto;
  }

  .sword_left {
    position: absolute;
    background: url("./images/sword_left.png") no-repeat;
    width: 84px;
    height: 491px;
    left: 200px;
    animation-name: sword_left_ani;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  .sword_right {
    position: absolute;
    background: url("./images/sword_right.png") no-repeat;
    width: 84px;
    height: 491px;
    right: 200px;
  }

  .sword_left_ani {
    animation-name: sword_left_ani;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes sword_left_ani {
    from {
      opacity: 0;
      top: 150px;
    }
    40% {
      opacity: 1;
      top: 0;
    }
    100% {
      transform: rotateZ(40deg);
      left: 300px;
    }
  }

  .sword_right_ani {
    animation-name: sword_right_ani;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes sword_right_ani {
    from {
      opacity: 0;
      top: 150px;
    }
    40% {
      opacity: 1;
      top: 0;
    }
    100% {
      transform: rotateZ(-40deg);
      right: 300px;
    }
  }

  .sword_left_end_ani {
    animation-name: sword_left_end_ani;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes sword_left_end_ani {
    from {
      left: 300px;
      transform: rotateZ(40deg);
    }
    to {
      opacity: 0;
      left: 300px;
      transform: rotateZ(40deg) translateY(-100px);
    }
  }

  .sword_right_end_ani {
    animation-name: sword_right_end_ani;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes sword_right_end_ani {
    from {
      right: 300px;
      transform: rotateZ(-40deg);
    }
    to {
      opacity: 0;
      right: 300px;
      transform: rotateZ(-40deg) translateY(-100px);
    }
  }

  .knight {
    position: relative;
    background: url("./images/knight.png") no-repeat;
    width: 401px;
    height: 456px;
    margin: 0 auto;
    top: 50px;
  }

  .knight_ani {
    opacity: 0;
    animation-name: knight_ani;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
  }

  @keyframes knight_ani {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
      top: 0;
    }
  }

  .fire_01 {
    opacity: 0;
    position: absolute;
    background: url("./images/fire_01.png") no-repeat;
    width: 567px;
    height: 281px;
    left: 0;
    right: 0;
    bottom: -5px;
    margin: auto;
  }

  .fire_02 {
    opacity: 0;
    position: absolute;
    background: url("./images/fire_02.png") no-repeat;
    width: 302px;
    height: 196px;
    left: 0;
    right: 0;
    bottom: -5px;
    margin: auto;
  }

  .fire_01_ani {
    animation-name: fire_01_ani;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes fire_01_ani {
    from {
      opacity: 0;
      bottom: -50px;
    }
    to {
      opacity: 1;
      bottom: -5px;
    }
  }

  .fire_02_ani {
    animation-name: fire_02_ani;
    animation-duration: 1s;
    animation-delay: .2s;
    animation-fill-mode: forwards;
  }

  @keyframes fire_02_ani {
    from {
      opacity: 0;
      bottom: -50px;
    }
    to {
      opacity: 1;
      bottom: -5px;
    }
  }

  .text_01 {
    opacity: 0;
    background: url("./images/text_01.png") no-repeat;
    width: 706px;
    height: 124px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    margin: auto;
  }

  .text_02 {
    opacity: 0;
    background: url("./images/text_02.png") no-repeat;
    width: 572px;
    height: 87px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  .text_01_ani {
    animation-name: text_01_ani;
    animation-duration: .7s;
    animation-fill-mode: forwards;
  }

  @keyframes text_01_ani {
    from {
      opacity: 0;
      bottom: 0;
    }
    to {
      opacity: 1;
      bottom: 50px;
    }
  }

  .text_02_ani {
    animation-name: text_02_ani;
    animation-duration: .7s;
    animation-delay: .3s;
    animation-fill-mode: forwards;
  }

  @keyframes text_02_ani {
    from {
      opacity: 0;
      bottom: -50px;
    }
    to {
      opacity: 1;
      bottom: 0;
    }
  }

  .vip-btn {
    position: absolute;
    width: 272px;
    height: 76px;
    opacity: 0;
    left: 0;
    right: 0;
    bottom: -60px;
    margin: auto;
  }

  .btn_ani {
    animation-name: btn_ani;
    animation-duration: .8s;
    animation-fill-mode: forwards;
  }

  @keyframes btn_ani {
    from {
      opacity: 0;
      bottom: -40px;
    }
    to {
      opacity: 1;
      bottom: -60px;
    }
  }

  .close_btn {
    position: absolute;
    background: url("./images/close_btn.png") no-repeat;
    width: 47px;
    height: 47px;
    top: 0;
    right: 100px;
    cursor: pointer;
  }
}

