@charset "UTF-8";

@import "~base/styles/imports";

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
  &.fade {
    opacity: 0;
    &.in {
      opacity: $modal-fade-opacity;
    }
  }
  opacity: $modal-fade-opacity;
}

.modal-open {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1050;
  outline: 0;
  color: $new-inverse-color;

  &.fade {
    top: -25%;
    transition: opacity 0.3s linear, top 0.3s ease-out;
    &.in {
      top: 5%;
    }

    &.ten {
      &.in {
        top: 10%;
      }
    }
  }

  &.modal-notification {
    .modal-dialog {
      opacity: 1;
    }
    &.in {
      top: 20%;
    }
  }

  &.modal-cloud {
    &.in {
      top: 20%;
    }
    .modal-dialog {
      border: 0;
    }
    .cloud-pic {
      background: url(./cloud-pic.png) no-repeat;
      width: 563px;
      height: 366px;
      position: relative;
    }
    .close-icon {
      width: 45px;
      height: 45px;
      position: absolute;
      top: 50px;
      right: 105px;
      cursor: pointer;
    }
    .des-infor {
      text-align: center;
      width: 360px;
      height: 110px;
      margin: 0 auto;
      padding-top: 130px;
      font-size: 18px;
      line-height: 26px;
      color: #000000;
    }
    .btn {
      width: 157px;
      padding: 18px 0;
      margin: 0 auto;
      margin-bottom: 30px;
      font-size: 20px;
    }
  }
}

.modal-dialog {
  width: 380px;
  margin: 30px auto;
  border: 1px solid $def-gray-color;
  border-radius: $globalBtnRadius;
  overflow: hidden;
  position: relative;
  //background-color: $def-white-color;
  min-height: 200px;
}

.modal-bet {
  border: 0;
  width: 525px!important;
  .modal-body {
    width: 100%;
    border-radius: 9px;
    padding: 0;
    background: transparent;
  }
}
.modal-chase {
  border: 0;
  width: 850px!important;
  .modal-body {
    width: 100%;
    border-radius: 9px;
    padding: 0;
    background: transparent;
  }
}
.modal-content {
  outline: 0;
}

.modal-header {
  //color: $font-color;
  //background-color: $new-main-dark-color;
  //padding: 10px;
  //border-bottom: 1px solid $new-main-dark-color;
  padding: 37px 36px 0px 36px;
  &.margin-big{
    padding: 50px 45px 0px 45px;
  }
  .modal-title-container{
    margin-left: 25px;
    max-width: 215px;
    .modal-title{
      font-weight: normal;
      font-size: 16px;
      margin: 0;
      color: $def-black-color;
    }
    .modal-sub-title{
      font-size: $font-sm;
      color: $new-inverse-color;
      margin-top: 12px;
    }
  }
}

.modal-body {
  position: relative;
  padding: 15px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: $def-white-color;
}

.modal-form {
  margin-bottom: 0;
}

.modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  *zoom: 1;
  &:before {
    display: table;
    line-height: 0;
    content: "";
  }
  &:after {
    display: table;
    line-height: 0;
    content: "";
    clear: both;
  }
  .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px;
  }
  .btn-group .btn + .btn {
    margin-left: -1px;
  }
  .btn-block + .btn-block {
    margin-left: 0;
  }
}

.close {
  font-size: 25px;
  font-weight: normal;
  line-height: 17px;
  color: $def-line-color;
  outline: 0;
  width: 20px;
  height: 20px;
  text-align: center;
  cursor: pointer;
  &:hover, &:focus {
    color: $def-line-color;
    text-decoration: none;
    outline: 0;
  }
  position: absolute;
  top:13px;
  right: 13px;
  z-index: 2;
}

button.close {
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
}

.pf-notification-countdown {
  margin-top: 10px;
  margin-bottom: -20px;
}

.no-bg {
  background: none;
}
