<div class="js-millionBreakthrough millionBreakthrough">
  <div class="millionBreakthrough-content">
    <header class=""></header>
    <div class="millionBreakthrough-box">
      <div class="millionBreakthrough-tip">玩法说明：在擂台区确定挑战难度，并在接下来的五天内完成该投注挑战，根据完成的百分比，获得对应的奖励。奖励领取时间为<span class="js-end-time"></span></div>
      <section class="millionBreakthrough-challenge zoom">
        <h4>擂台挑战区</h4>
        <div class="over-money"><img src="images/over-money.png" style="vertical-align:middle;" /><span class="js-over-money js-currentBetTotal">1000000元</span></div>
        <div class="js-challenge-money challenge-money"></div>
        <p>点击下方的确认挑战接受本次的挑战，完成后获得奖励。您也可以选择加码，再确认挑战，以获得更高的奖励。</p>
        <button class="js-isNext js-isNext-state">加码</button>
        <button class="js-millionBreakthrough-reset-state millionBreakthrough-reset">重置</button>
      </section>
      <section class="millionBreakthrough-reward zoom">
        <h4>擂台奖励区</h4>
        <ul>
          <li>
            <span class="js-bonus bonus"></span>
            <span class="arrow"></span>
            <div class="js-column column">
              <p><i class="js-challengeAmount"></i>元<br/>完成<i class="js-challengePercentage"></i>%挑战</p>
            </div>
            <!--<button num='0' class="js-receive">领取</button>-->
          </li>
          <li>
            <span class="js-bonus bonus"></span>
            <span class="arrow"></span>
            <div class="js-column column">
              <p><i class="js-challengeAmount"></i>元<br/>完成<i class="js-challengePercentage"></i>%挑战</p>
            </div>
            <!--<button num='1' class="js-receive">领取</button>-->
          </li>
          <li>
            <span class="js-bonus bonus"></span>
            <span class="arrow"></span>
            <div class="js-column column">
              <p><i class="js-challengeAmount"></i>元<br/>完成<i class="js-challengePercentage"></i>%挑战</p>
            </div>
            <!--<button num='2' class="js-receive">领取</button>-->
          </li>
          <li>
            <span class="js-bonus bonus"></span>
            <span class="arrow"></span>
            <div class="js-column column">
              <p><i class="js-challengeAmount"></i>元<br/>完成<i class="js-challengePercentage"></i>%挑战</p>
            </div>
            <!--<button num='3' class="js-receive">领取</button>-->
          </li>
          <li>
            <span class="js-bonus bonus"></span>
            <span class="arrow"></span>
            <div class="js-column column">
              <p><i class="js-challengeAmount"></i>元<br/>完成<i class="js-challengePercentage"></i>%挑战</p>
            </div>
            <!--<button num='4' class="js-receive">领取</button>-->
          </li>
        </ul>
      </section>
      <button class="js-millionBreakthrough-confirm millionBreakthrough-confirm">确认挑战</button>
      <button class="js-receive-million receive-btn">领取奖励</button>
    </div>
    <div class="js-millionBreakthrough-off millionBreakthrough-off"></div>
  </div>
</div>