<div class="uc-account-safe">
  <div class="uc-account-promat m-bottom-md clearfix">
    <span class="promat-title">账户安全</span>
    <div class="promat-info">建议您启动全部安全设置，以保障资金及资金安全</div>
  </div>
  <div class="uc-account-safe-info">
    <div class="pull-left">
      <div class="safe-info-icon inline-block vertical-top"></div>
      <div class="safe-info-level inline-block vertical-top">
        <div class="safe-text font-md text-black">安全等级：<span class="text-prominent">低</span></div>
        <div class="safe-progress-bar">
          <div class="safe-progress-info"></div>
        </div>
      </div>
    </div>
    <div class="safe-info-last-login pull-right">
      <div class="last-login-title text-auxiliary m-top-md p-tpo-xs">最近一次登录信息</div>
      <div class="last-login-info m-top-md">
        <div class="inline-block vertical-top login-info-list">
          <div class="font-sm text-black">日期</div>
          <div class="font-sm text-black m-top-sm js-safe-info-date">2017/3/8 12:01:06</div>
        </div>
        <div class="inline-block vertical-top login-info-list">
          <div class="font-sm text-black">IP</div>
          <div class="font-sm text-black m-top-sm js-safe-info-ip">115.85.44.18</div>
        </div>
        <div class="inline-block vertical-top login-info-list">
          <div class="font-sm text-black">地址</div>
          <div class="font-sm text-black m-top-sm js-safe-info-address">菲律宾</div>
        </div>
      </div>
    </div>
  </div>
  <div class="uc-account-setting clearfix">
    <div class="setting-info active">
      <div class="setting-info-top clearfix">
        <div class="pull-left">
          <div class="setting-icon-bg inline-block vertical-top">
            <div class="setting-icon pwd-icon"></div>
          </div>
          <div class="setting-text inline-block vertical-top">
            <div class="setting-text-title font-md text-black">登录密码</div>
            <div class="setting-text-sub-title m-top-sm font-sm text-auxiliary">强度高的密码更安全，建议您使用字母、数字、混合大小写、特殊符号等进行组合</div>
          </div>
        </div>
        <div class="pull-right">
          <div class="setting-info-text inline-block text-black m-right-smd">强度:<span class="text-prominent">弱</span>
          </div>
          <a class="setting-btn js-setting-login-btn inline-block vertical-top m-right-smd">修改</a>
        </div>
      </div>
      <div class="setting-info-bottom clearfix js-setting-login-pwd">

      </div>
    </div>
    <div class="setting-info">
      <div class="pull-left">
        <div class="setting-icon-bg inline-block vertical-top">
          <div class="setting-icon lock-icon"></div>
        </div>
        <div class="setting-text inline-block vertical-top">
          <div class="setting-text-title font-md text-black">资金密码</div>
          <div class="setting-text-sub-title m-top-sm font-sm text-auxiliary">非常重要！用于提款或转账时验证身份</div>
        </div>
      </div>
      <div class="pull-right">
        <a class="setting-btn js-setting-fund-btn inline-block vertical-top m-right-smd">立即设置</a>
      </div>
    </div>
    <div class="setting-info">
      <div class="pull-left">
        <div class="setting-icon-bg inline-block vertical-top">
          <div class="setting-icon wechat-icon"></div>
        </div>
        <div class="setting-text inline-block vertical-top">
          <div class="setting-text-title font-md text-black">密保问题</div>
          <div class="setting-text-sub-title m-top-sm font-sm text-auxiliary">用于找回密码，修改账户资料时验证身份</div>
        </div>
      </div>
      <div class="pull-right">
        <a class="setting-btn js-setting-question-btn inline-block vertical-top m-right-smd">立即设置</a>
      </div>
    </div>
    <div class="setting-info">
      <div class="pull-left">
        <div class="setting-icon-bg inline-block vertical-top">
          <div class="setting-icon phone-icon"></div>
        </div>
        <div class="setting-text inline-block vertical-top">
          <div class="setting-text-title font-md text-black">绑定手机</div>
          <div class="setting-text-sub-title m-top-sm font-sm text-auxiliary">提供大额提现、账号异常通知及其他安全验证服务，账户操作更安全更健康</div>
        </div>
      </div>
      <div class="pull-right">
        <div class="setting-info-text inline-block text-black m-right-smd js-setting-phone-num"></div>
        <a class="setting-btn js-setting-phone-btn inline-block vertical-top m-right-smd">立即设置</a>
      </div>
    </div>
    <div class="setting-info">
      <div class="pull-left">
        <div class="setting-icon-bg inline-block vertical-top">
          <div class="setting-icon mail-icon"></div>
        </div>
        <div class="setting-text inline-block vertical-top">
          <div class="setting-text-title font-md text-black">绑定邮箱</div>
          <div class="setting-text-sub-title m-top-sm font-sm text-auxiliary">绑定邮箱可增加账号安全级别，在确保邮箱正常的情况下可提供安全验证服务</div>
        </div>
      </div>
      <div class="pull-right">
        <div class="setting-info-text inline-block text-black m-right-smd js-setting-phone-num"></div>
        <a class="setting-btn js-setting-mail-pwd inline-block vertical-top m-right-smd">立即设置</a>
      </div>
    </div>
  </div>
</div>
