<div class="js-uc-cmNoticeInfo-container uc-cmNoticeInfo-container">
  <div class="js-uc-cmBtnContainer uc-cmBtnContainer-list relative">
    <div class="uc-cmContainer-card-list">
      <ul class="js-uc-cmCardManage-container clearfix">
      </ul>
      <div class="text-center">
        <button type="button" class="js-uc-cmLockCard-btn btn btn-cool font-md hidden uc-cm-lg-btn">锁定银行卡</button>
      </div>
      <input type="hidden" class="js-uc-cmCardNum" value="">
      <input type="hidden" class="js-uc-pwdToken" value="">
    </div>
    <div class="uc-cmContainer-add-card js-uc-cmContainer-add-card clearfix hidden">
      <a class="add-card-close js-add-card-close">&laquo;&nbsp;&nbsp;返回</a>
      <div class="uc-add-card-main js-uc-add-card-main"></div>
    </div>
  </div>

</div>
