
<li class="bingding-card-info <%=bankInfo.bankClassName%>">
  <% if (!locked) { %>
  <a class="card-del js-uc-cmDeleteSingCard btn-close" data-type="<%=card.cardId %>"></a>
  <% } else {%>
  <a class="card-lock"></a>
  <% } %>
  <div class="card-logo-name">
    <img class="card-logo" src="<%=bankInfo.logo %>">
    <span class="card-name font-sm m-left-sm text-white"><%=card.bankName %></span>
  </div>
  <div class="card-num"><%=card.cardNo %></div>
  <div class="card-user-time m-left-smd">
    <div class="card-user font-sm"><%=card.name %></div>
    <div class="card-time">绑定时间：<%=_(card.bindTime).toTime() %></div>
  </div>
</li>
