<form class="uc-cbCardBinding-container js-uc-last-form form-horizontal">
  <div class="control-group">
    <div class="control-label font-sm">开户人姓名：</div>
    <div class="controls">
      <input type="text" class="js-uc-cmAccountName input1" required/>
    </div>
  </div>
  <div class="control-group">
    <div class="control-label font-sm">开户人卡号：</div>
    <div class="controls">
      <input type="text" class="js-uc-cmCardNo input1" required/>
    </div>
  </div>
  <div class="js-uc-cmValCardInfoNotice"></div>
</form>

