<div class="js-uc-cbCardBinding-container uc-cbCardBinding-container wizard-long clearfix p-left-100">
  <% if(isFirstBind){ %>
  <h3>1.验证资金密码</h3>
  <form class="js-uc-steps js-uc-cb-fund-form uc-cb-fund-form form-horizontal">
    <div class="text-black text-center cb-width-510 font-sm  m-top-lg">请输入资金密码</div>
    <div class=" m-top-md text-center cb-width-510 m-bottom-md ">
      <input type="password" name="fundPwd" class="js-uc-cb-fundPwd uc-cb-fundPwd"
             data-parsley-errors-container=".js-uc-cb-fundPwd-error"
             data-parsley-error-message="请输入资金密码" required>
      <div class="js-uc-cb-fundPwd-error hidden text-center cb-width-510"></div>
    </div>
    <div class="text-center cb-width-510 m-top-lg">
      <div class="js-uc-cb-vf-fundPwd-error text-center margin-md"></div>
      <button type="button" class="js-uc-cb-btn btn btn-cool font-md " data-loading-text="校验中">确定</button>
    </div>
  </form>

  <% } else { %>
  <h3>1.验证老银行卡</h3>
  <form class="js-uc-steps js-uc-cb-last-form uc-cb-last-form form-horizontal">
    <div class="font-sm text-center text-cool m-top-lg m-bottom-md m-left--200">·请提供最近绑定银行卡的信息</div>
    <div class="control-group">
      <label class="control-label">开户人姓名：</label>
      <div class="controls">
        <input type="text" class="js-uc-last-userName input1" data-parsley-errors-container=".js-uc-vcm-name-error"
               required>
        <div class="js-uc-vcm-name-error parsley-error-container inline-block" style="max-width: 350px"></div>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">银行卡号：</label>
      <div class="controls">
        <input type="text" class="js-uc-last-cardNo input1" data-parsley-errors-container=".js-uc-vcm-card-error"
               data-parsley-num data-parsley-length="[13,19]"
               required>
        <div class="js-uc-vcm-card-error parsley-error-container inline-block" style="max-width: 350px"></div>
      </div>
    </div>
    <div class="control-group">
      <div class="js-last-card-error text-left controls"></div>
    </div>
    <div class="text-center m-top-lg">
      <button type="button" class="js-uc-cb-last-btn btn btn-cool font-md m-left--200" data-loading-text="校验中">确定
      </button>
    </div>
  </form>
  <% }%>
  <h3>2.绑定新银行卡</h3>
  <form class="js-uc-cbCardBindingForm js-uc-steps form-horizontal uc-cbCardBindingForm">
    <div class="control-group">
      <label class="control-label">开户行：</label>

      <div class="controls">
        <select class="js-uc-cbBankId select1" data-parsley-errors-container=".js-uc-cm-bank-error" required>
          <option value="">请选择</option>
        </select>
        <div class="js-uc-cm-bank-error parsley-error-container inline-block" style="max-width: 350px"></div>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">银行卡号：</label>

      <div class="controls">
        <input type="text" class="js-uc-cbCardNo uc-lg-input input1" data-parsley-num data-parsley-length="[16,19]"
               data-parsley-errors-container=".js-uc-cm-card-error" data-parsley-error-message="银行卡号由16或19位数字组成"
               required>
        <div class="js-uc-cm-card-error parsley-error-container inline-block" style="max-width: 350px"></div>
      </div>

    </div>
    <div class="control-group">
      <label class="control-label">开户人姓名：</label>

      <div class="controls">
        <input type="text" class="js-uc-cbAccountName input1" data-parsley-length="[2,50]"
               data-parsley-errors-container=".js-uc-cm-name-error" data-parsley-zhAndLDBMaxLen="20" required>
        <div class="js-uc-cm-name-error parsley-error-container inline-block" style="max-width: 350px"></div>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">开户行地址：</label>

      <div class="controls">
        <div class="inline-block">
          <select class="js-uc-cbProvince select2">
            <option value="">省份</option>
          </select>
        </div>
        <div class="inline-block">
          <select class="js-uc-cbCity select2">
            <option value="">城市</option>
          </select>
        </div>
        <div class="js-uc-cm-provence-error parsley-error-container inline-block" style="max-width: 350px"></div>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">支行名称：</label>
      <div class="controls">
        <!--<input type="text" class="js-uc-cbBankBranch input1" data-parsley-length="[2,100]"-->
        <!--data-parsley-zhAndLDBMaxLen="20" required>-->
        <select class="js-uc-cbBankBranch select1" data-parsley-errors-container=".js-uc-cm-branch-error" required>
          <option value="">请选择</option>
        </select>
        <div class="js-uc-cm-branch-error parsley-error-container inline-block" style="max-width: 350px"></div>
      </div>
    </div>
    <div class="control-group text-center">
      <div class="js-uc-cm-error m-left--200"></div>
      <button type="button" class="js-uc-cbCardBinding-check btn uc-cm-lg-btn m-left--200" data-loading-text="绑定中">
        绑定银行卡
      </button>
    </div>

  </form>

  <h3>3.绑定成功！</h3>
  <div class="js-uc-steps text-cool font-md">
    <div class="text-center m-top-md m-left--180">
      <span class="sfa sfa-checkmark-blue m-right-sm vertical-middle"></span>
      <span>您的银行卡已绑定成功！</span>
    </div>
  </div>
  <input type="hidden" class="js-uc-pwdToken" value="">
</div>
