<div class="js-uc-cmNoticeInfo-container">
  <div class="js-uc-cm-notice-div clearfix uc-cm-notice-div">
    <span class="promat-title">银行卡管理</span>
    <div class="promat-info">
      <p>1、每个平台账号最多绑定<span class="text-prominent">5</span>张，新绑定的银行卡需要<span class="text-prominent">3</span>个小时才能正常取款</p>
      <p>2、为了您的资金安全，建议您点击<span class="text-prominent">锁定银行卡</span>，银行卡锁定以后不能再增加和删除银行卡，解锁需要联系在线客服并提交资料审核</p>
    </div>
  </div>

  <div class="js-uc-cmBtnContainer uc-cmBtnContainer-list relative">
    <div class="uc-cmContainer-card-list">
      <ul class="js-uc-cmCardManage-container clearfix">
      </ul>
      <div class="text-center">
        <button type="button" class="js-uc-cmLockCard-btn btn btn-cool font-md uc-cm-lg-btn">锁定银行卡</button>
      </div>
      <input type="hidden" class="js-uc-cmCardNum" value="">
      <input type="hidden" class="js-uc-pwdToken" value="">
    </div>
    <div class="uc-cmContainer-add-card js-uc-cmContainer-add-card clearfix hidden">
      <a class="add-card-close js-add-card-close">&laquo;&nbsp;&nbsp;返回</a>
      <div class="uc-add-card-main js-uc-add-card-main"></div>
    </div>
  </div>

</div>
