<div class="js-uc-cmNoticeInfo-container">
  <div class="js-uc-cm-notice-div alert clearfix hidden uc-cm-notice-div">
    <div class="text-bold-dark">温馨提示：</div>
    <div class="">
      <span class="js-fc-re-ob-serviceTime">1、每个平台账号最多绑定 5 张银行卡。</span><br>
      2、为了您的资金安全，建议您点击锁定银行卡，
      3、新绑定的银行卡需要3个小时后才能正常取款。
    </div>
  </div>

  <div class="js-uc-cmBtnContainer hidden ">
    <div class="dot-divider dot-divider-lg m-top-sm"></div>
    <div>
      <ul class="js-uc-cmCardManage-container binding-container thumbnails"></ul>
    </div>
    <div class="dot-divider dot-divider-lg "></div>
    <div class=" margin-md text-center">
      <button type="button" class="js-uc-cmBindCard-btn btn uc-cm-lg-btn  m-right-lg" data-type="addBankCard">增加银行卡
      </button>
      <button type="button" class="js-uc-cmLockCard-btn btn uc-cm-lg-btn btn-cool">锁定银行卡</button>
    </div>
    <input type="hidden" class="js-uc-cmCardNum" value="">
    <input type="hidden" class="js-uc-pwdToken" value="">
  </div>

  <div class="js-uc-cm-fundPwdSetNotice text-center hidden m-top-md">

    <div class="uc-cm-fund-pwd-png-div"><img src="../misc/card.png"/></div>
    <div class="uc-cm-text-dark">请补充完您的安全信息后再绑卡</div>
    <div class="uc-cm-link-dark">
      资金密码未设置 <a class="js-fc-aHref btn-link text-pleasant" href="#as/pf">点击设置</a>
    </div>
  </div>

  <div class="js-uc-cm-fundPwdInput  hidden ">
    <form class=" uc-cm-fund-pwd-form" action="javascript:void(0)">
      <div class="uc-bank-manage-lock">
        <div class="control-group uc-cm-fund-pwd-div">
          <label class="uc-cm-fund-label">输入资金密码</label>
          <div class="controls">
            <input type="password" class="js-uc-cmPayPwd "/>
          </div>
        </div>
        <div class="control-group uc-cm-fund-pwd-notice-div">
          <div class="controls">
            <ul class="js-uc-cmValPayPwdNotice parsley-errors-list filled font-sm">

            </ul>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="js-uc-cmValidatePayPwd btn btn-wd">确定</button>
          </div>
        </div>
      </div>
    </form>
  </div>

</div>
