<div class="feed-back-main">
  <div class="feed-form">
    <div class="m-top-md">
      <select name="" id="" class="feed-form-type js-feed-type">
        <!--<option value="">请选择意见类型</option>-->
        <option value="1" selected>意见和建议</option>
        <option value="2">游戏BUG</option>
        <option value="3">活动收集</option>
        <option value="4">其他问题</option>
      </select>
      <input type="text" class="feed-form-title js-feed-form-title m-left-sm" placeholder="请输入内容标题">
    </div>
    <div class="m-top-sm">
      <textarea class="feed-form-container js-feed-form-container" placeholder="建议内容字数在20-2000之间呦~"></textarea>
    </div>
    <div class="js-feed-from-error"></div>
    <button type="button" class="btn btn-cool btn-from js-feed-form-btn m-top-md">确认发送</button>
  </div>
  <div class="feed-list">
    <div class="list-title">历史发送信息</div>
    <div class="js-list-info m-top-sm">
      <div class="no-feed-list">
        <div class="text-center"><span class="sfa sfa-feed-empty"></span></div>
        <div class="font-md text-md text-inverse text-center">暂无消息记录</div>
      </div>
    </div>
  </div>
  <div class="js-feed-page text-center m-top-lg"></div>
</div>
