
<form action="javascript:void(0);" class="js-uc-changeLoginPassword-form uc-changeLoginPassword-form form-horizontal">
  <div class="control-group input-div">
    <label class="control-label" for="oldLoginPassword">当前密码：</label>
    <div class="controls">
      <input type="password" class="input1" id="oldLoginPassword" placeholder="请输入当前登录密码" data-parsley-length="[6, 20]" >
    </div>
  </div>
  <div class="control-group input-div">
    <label class="control-label">新密码：</label>

    <div class="controls">
      <input type="password" class="input1" id="newLoginPassword" data-parsley-length="[6, 20]" placeholder="6-20位字符组成，区分大小写，不能使用特殊字符"
             data-parsley-notEqualTo="oldLoginPassword" data-parsley-notEqualTo-message="新旧密码不能一致" >
    </div>
  </div>
  <div class="control-group input-div">
    <label class="control-label">确认新密码：</label>

    <div class="controls">
      <input type="password" class="input1"  id="newLoginPassword1" placeholder="请再次输入新密码" data-parsley-length="[6, 20]" data-parsley-equalto="#newLoginPassword" >
    </div>
  </div>
  <div class="text-center  m-bottom-lg">
    <button type="submit" class="btn btn-cool js-changeLoginPassword-submit" data-loading-text="保存中">提交</button>
  </div>
</form>
