
<form action="javascript:void(0);" class="js-uc-setFundPassword-form uc-setFundPassword-form form-horizontal">
  <% if(hasFundPassword){%>
  <div class="js-uc-oldFundPwdContainer control-group input-div">
    <label class="control-label">当前密码：</label>
    <div class="controls">
      <input type="password" class="input1"  id="oldFundPassword" placeholder="请输入当前资金密码" data-parsley-length="[6, 20]">
    </div>
  </div>
  <% }else { %>
  <div class="control-group input-div">
    <label class="control-label">登录密码：</label>
    <div class="controls">
      <input type="password" class="input1 js-login-pwd" placeholder="请输入登录密码" data-parsley-length="[6, 20]">
    </div>
  </div>
  <% } %>
  <div class="control-group input-div">
    <label class="control-label">新密码：</label>
    <div class="controls">
      <input type="password" class="input1"  id="newUpdateFundPassword" data-parsley-length="[6, 20]"
             data-parsley-notEqualTo="oldFundPassword" placeholder="6-20位字符组成（不含空格），区分大小写" data-parsley-notEqualTo-message="新旧密码不能一致">
    </div>
  </div>
  <div class="control-group input-div">
    <label class="control-label">确认新密码：</label>
    <div class="controls">
      <input type="password" class="input1"  id="newUpdateFundPassword1" placeholder="请再次输入资金密码" data-parsley-length="[6, 20]"
             data-parsley-equalto="#newUpdateFundPassword">
    </div>
  </div>
  <div class="text-center m-bottom-lg">
    <button type="submit" class="btn js-uc-setFundPassword-submit" data-loading-text="保存中" data-type="<% if(hasFundPassword){ %>update<% }else{ %>add<%}%>">提交</button>
  </div>
</form>
