<div class="js-ac-noCard-info ac-noCard-info hidden">
  <span class="sfa sfa-dialog-info-sm"></span>
  <div class="info-text">您尚未绑定银行卡，暂不可使用银行卡信息找回资金密码，请<a href="javascript:void(0)" class="no-card-service"
           onclick="newwin = window.open('<%= _.getCustomerServiceUrl() %>','service','width=800,height=680'); newwin.moveTo(100,50);">联系客服</a>找回！</div>
</div>
<div class="js-ac-findFundPasswordContainer form-horizontal as-step-container-short wizard-long hidden">
  <!-- Step1 选择密码找回方式 -->
  <h3>验证银行卡</h3>

  <div class="js-ac-findWayContainer js-ac-steps ">
    <form action="javascript:void(0);" class="js-ac-validate form-horizontal">
      <div class="m-bottom-smd as-security-add-notice">
        请提供最近1次绑定银行卡的信息。
      </div>
      <div class="ac-find-by-card">
        <div class="control-group">
          <label class="control-label">开户人姓名：</label>
          <div class="controls">
            <input id="account-name" type="text" class="input1" data-parsley-errors-container=".js-uc-pl-fund-password-error" autocomplete="off" required />
            <div class="js-uc-pl-fund-password-error parsley-error-container inline-block" style="max-width: 350px"></div>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">银行卡号：</label>
          <div class="controls">
            <input id="card-no" type="text" class="input1" data-parsley-errors-container=".js-uc-pl-card-password-error" autocomplete="off" required />
            <div class="js-uc-pl-card-password-error parsley-error-container inline-block" style="max-width: 350px"></div>
          </div>
        </div>
      </div>
      <div class="js-ac-valCardNotice-div find-fund-pwd-error m-TB-sm"></div>
      <div class="control-group control-confirm text-center">
        <button type="button" class="js-ac-cardInfo-submit btn" data-loading-text="验证中">提交</button>
      </div>
    </form>
  </div>

  <!-- Step2 验证密保信息 -->
  <h3>设置新密码</h3>

  <form class="js-ac-resetPayPwd-form js-ac-steps form-horizontal">
    <!-- Case1 验证成功 开始重置 -->
    <div class="js-ac-reset-div ac-reset-div">

        <div class="control-group">
          <label class="control-label" for="newFundPassword">输入新密码：</label>
          <div class="controls">
            <input type="password" id="newFundPassword" class="input1" data-parsley-length="[6, 20]"
                   data-parsley-errors-container=".js-new-fund-password-error" placeholder="6-20位字符组成，区分大小写" required>
            <div class="js-new-fund-password-error parsley-error-container inline-block" style="max-width: 350px"></div>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">确认密码：</label>
          <div class="controls">
            <input type="password" id="newFundPassword1" class="input1" data-parsley-length="[6, 20]"
                   data-parsley-errors-container=".js-equalto-fund-password-error" data-parsley-equalto="#newFundPassword" required placeholder="请再次输入资金密码">
            <div class="js-equalto-fund-password-error parsley-error-container inline-block" style="max-width: 350px"></div>
          </div>
        </div>
    </div>
    <div class="js-ac-resetNotice-div find-fund-pwd-error m-TB-sm"></div>
    <div class="control-confirm text-center m-top-md text-center">
      <button type="button" class="js-as-resetFundPassword-submit btn m-right-sm" data-loading-text="修改中">提交</button>
    </div>
  </form>

  <!-- Step3 重置资金密码 -->
  <h3>完成</h3>

  <form class="js-ac-steps">
    <div class="text-center width-lg p-left-sm">
      <span class="sfa sfa-dialog-success m-TB-md"></span>
      <p class="font-md text-inverse">恭喜你，设置成功</p>
    </div>
  </form>
</div>
