<form action="javascript:void(0);" class="js-uc-personalManage-form form-horizontal uc-personalManage-form">
  <div class="uc-personalManage-info clearfix">
    <div class="uc-personal-title pull-left">个人信息</div>
    <div class="uc-personal-container pull-left">
      <div class="control-group">
        <label class="control-label">用户名：</label>
        <div class="controls">
          <span class="js-uc-userName font-sm" ></span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">注册日期：</label>
        <div class="controls">
          <span class="js-uc-regTime font-sm" ></span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label p-top-xs">昵称：</label>
        <div class="controls">
          <input type="text" class="js-uc-uName input4 font-sm" name="uname"
                 data-parsley-zhLength="[4,16]" data-parsley-userUName
                 data-parsley-remote data-parsley-remote-validator="checkusername"
                 data-parsley-remote-options='{"type": "POST"}'
                 data-parsley-remote-message="昵称已被使用" required />
          <!--<span class="help-inline">4-16个字符，支持中英文和数字，不能以数字开头</span>-->
          <input type="hidden" class="js-uc-userUName-val-res" value="1">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">性别：</label>
        <div class="controls font-sm">
          <div class="inline-block m-right-lg">
            <span class="custom-radio radio-inverse">
              <input type="radio" id="jsUcSex1" name="ucSex" value="1" checked>
              <label for="jsUcSex1"></label>
            </span>
            <span class="vertical-middle">男</span>
          </div>
          <div class="inline-block">
            <span class="custom-radio radio-inverse">
              <input type="radio" id="jsUcSex2" name="ucSex" value="2">
              <label for="jsUcSex2"></label>
            </span>
            <span class="vertical-middle">女</span>
          </div>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">生日：</label>
        <div class="controls">
          <select name="bday1" class="js-bday1 basic-arrow input1 font-sm" style="width: 81px" required>
            <option value="" selected>月
            <option value="01">1月
            <option value="02">2月
            <option value="03">3月
            <option value="04">4月
            <option value="05">5月
            <option value="06">6月
            <option value="07">7月
            <option value="08">8月
            <option value="09">9月
            <option value="10">10月
            <option value="11">11月
            <option value="12">12月
          </select>
          <select name="bday2" class="js-bday2 basic-arrow input1 font-sm" style="width: 81px" required>
            <option value="" selected>日
            <option value="01">1日
            <option value="02">2日
            <option value="03">3日
            <option value="04">4日
            <option value="05">5日
            <option value="06">6日
            <option value="07">7日
            <option value="08">8日
            <option value="09">9日
            <option value="10">10日
            <option value="11">11日
            <option value="12">12日
            <option value="13">13日
            <option value="14">14日
            <option value="15">15日
            <option value="16">16日
            <option value="17">17日
            <option value="18">18日
            <option value="19">19日
            <option value="20">20日
            <option value="21">21日
            <option value="22">22日
            <option value="23">23日
            <option value="24">24日
            <option value="25">25日
            <option value="26">26日
            <option value="27">27日
            <option value="28">28日
            <option value="29">29日
            <option value="30">30日
            <option value="31">31日
          </select>
          <span class="help-inline "> * 生日信息设置后不可修改</span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">头像：</label>
        <div class="controls">
          <ul class="js-uc-head-icon-list uc-head-icon-list">
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="uc-personalManage-info  p-top-sm clearfix">
    <div class="uc-personal-title pull-left">收货地址</div>
    <div class="uc-personal-container pull-left">
      <div class="control-group">
        <label class="control-label p-top-xs">收货人：</label>
        <div class="controls">
          <input type="text" class="font-sm input4 input-address js-uc-receiver" name="exName"
                 data-parsley-range="[2,10]" required />
        </div>
      </div>
      <div class="control-group">
        <label class="control-label p-top-xs">收货手机：</label>
        <div class="controls">
          <input type="text" class="font-sm input4 input-address js-uc-phone" name="exPhone"
                 data-parsley-phone required />
        </div>
      </div>
      <div class="control-group">
        <label class="control-label p-top-xs">省市区：</label>
        <div class="controls">
          <div class="address-choose dropup">
            <div class="select-address font-sm dropdown-toggle" data-toggle="dropdown">
              <span class="address-name m-left-sm js-uc-province">省</span>
              <span class="select-icon"></span>
            </div>
            <ul class="choose-list js-province-list dropdown-menu"></ul>
          </div>
          <div class="address-choose dropup">
            <div class="select-address font-sm dropdown-toggle" data-toggle="dropdown">
              <span class="address-name m-left-sm js-uc-city">市</span>
              <span class="select-icon"></span>
            </div>
            <ul class="choose-list js-city-list dropdown-menu"></ul>
          </div>
          <div class="address-choose dropup">
            <div class="select-address font-sm dropdown-toggle" data-toggle="dropdown">
              <span class="address-name m-left-sm js-uc-area">区</span>
              <span class="select-icon"></span>
            </div>
            <ul class="choose-list js-area-list dropdown-menu"></ul>
          </div>
          <div class="js-address-list-error pull-right m-top-xs m-left-sm"></div>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label p-top-xs">详细地址：</label>
        <div class="controls">
          <textarea class="address-detail js-uc-address-detail" required></textarea>
        </div>
      </div>
      <div class="controls">
        <button type="submit" class="js-uc-confirm btn btn-cool font-md" data-loading-text="保存中">保存资料</button>
      </div>
    </div>
  </div>
</form>
