<div class="uc-bind-main">
  <% if(!hasBindingMobile){ %>
  <div class="phone-bind-container">
    <form action="javascript:void(0);" class="js-uc-phone-bind-form form-horizontal">
      <div class="control-group">
        <label class="control-label">手机号码：</label>
        <div class="controls">
          <input type="text" class="js-uc-phone-num input1" placeholder="请输入11位手机号码" data-parsley-mobile required>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">验证码：</label>
        <div class="controls">
          <div class="inline-block">
            <input type="text" class="js-uc-phone-verification-code input2" placeholder="请输入手机验证码" data-parsley-length="[6,6]" data-parsley-type="number" required>
          </div>
          <a type="button" class="js-uc-mobile-reSend uc-conde-reSend" data-status="0" data-type="add"  data-loading="发送中">获取验证码</a>
        </div>
        <div class="js-bind-error-text error-text m-top-sm"></div>
      </div>
      <div class="text-center m-bottom-lg p-top-md">
        <button type="button" class="btn btn-cool js-phone-bind-btn" data-loading="发送中" data-type="add">提交</button>
      </div>
    </form>
  </div>
  <% }else{ %>
  <div class="phone-change-container js-phone-change-container">
    <h3>1.验证原手机</h3>
    <form action="javascript:void(0);" class="js-uc-last-phone-form js-uc-phone-steps form-horizontal">
      <div class="control-group">
        <label class="control-label">手机号码：</label>
        <div class="controls">
          <input type="text" class="js-uc-last-phone-num input1 input-disable" placeholder="请输入11位手机号码" disabled data-parsley-mobile required>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">验证码：</label>
        <div class="controls">
          <div class="inline-block">
            <input type="text" class="js-uc-last-verification-code input2" placeholder="请输入手机验证码" data-parsley-length="[6,6]" data-parsley-type="number" required>
          </div>
          <a type="button" class="js-uc-mobile-reSend uc-conde-reSend" data-status="0" data-type="change"  data-loading="发送中">获取验证码</a>
        </div>
        <div class="js-change-error-text error-text m-top-sm"></div>
      </div>
      <div class="text-center m-bottom-lg p-top-md">
        <button type="button" class="btn btn-cool js-phone-bind-btn" data-loading="发送中" data-type="change">提交</button>
      </div>
    </form>

    <h3>2.绑定新手机</h3>
    <form action="javascript:void(0);" class="js-uc-phone-change-form js-uc-phone-steps form-horizontal">
      <div class="control-group">
        <label class="control-label">手机号码：</label>
        <div class="controls">
          <input type="text" class="js-uc-phone-num input1" placeholder="请输入11位手机号码" data-parsley-mobile required>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">验证码：</label>
        <div class="controls">
          <div class="inline-block">
            <input type="text" class="js-uc-phone-verification-code input2" placeholder="请输入手机验证码" data-parsley-length="[6,6]" data-parsley-type="number" required>
          </div>
          <a type="button" class="js-uc-mobile-reSend uc-conde-reSend" data-status="0" data-type="add"  data-loading="发送中">获取验证码</a>
        </div>
        <div class="js-bind-error-text error-text m-top-sm"></div>
      </div>
      <div class="text-center m-bottom-lg p-top-md">
        <button type="button" class="btn btn-cool js-phone-bind-btn" data-loading="发送中" data-type="change">提交</button>
      </div>
    </form>

    <h3>3.绑定成功</h3>
    <form action="javascript:void(0);" class="js-uc-phone-steps form-horizontal">
      <div class="text-center m-top-md">
        <span class="sfa sfa-checkmark-blue m-right-sm vertical-middle"></span>
        <span>您的手机已绑定成功！</span>
      </div>
    </form>
  </div>
  <% } %>
</div>
