<div  class="js-uc-stepContainer js-uc-addSecurityQuestion uc-step-container-short wizard-long">
  <form action="javascript:void(0);" class="js-uc-inputSQForm form-horizontal ">
    <div class="uc-securityQuestion-step1-div">
      <div class="control-group">
        <label class="control-label">问题一：</label>
        <div class="controls">
          <select  class="js-uc-questionSelect select1 required" >
            <option  value="">请选择密保问题</option>
          </select>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">答案：</label>
        <div class="controls">
          <input type="text" class="js-uc-answer input1 required" placeholder="请设置您的答案">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label " >问题二：</label>

        <div class="controls">
          <select class="js-uc-questionSelect select1 required">
            <option  value="">请选择密保问题</option>
          </select>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">答案：</label>

        <div class="controls">
          <input type="text" class="js-uc-answer input1 required" placeholder="请设置您的答案">
        </div>
      </div>
      <div class="control-group">
        <label  class="control-label " >问题三：</label>

        <div class="controls">
          <select class="js-uc-questionSelect select1 required">
            <option  value="">请选择密保问题</option>
          </select>
        </div>
      </div>
      <div class="control-group">
        <label  class="control-label">答案：</label>
        <div class="controls">
          <input type="text" class="js-uc-answer input1 required" placeholder="请设置您的答案">
        </div>
      </div>
    </div>
    <div class="text-center m-bottom-md p-top-md">
      <button type="button" class="js-uc-inputSecurityQuestion-add btn" data-loading-text="保存中">提交</button>
    </div>
  </form>

</div>
