<div  class="js-uc-stepContainer js-uc-addSecurityQuestion uc-step-container-short wizard-long">
  <form action="javascript:void(0);" class="js-uc-inputSQForm form-horizontal security-question ">
    <div class="uc-securityQuestion-step1-div">
      <div class="basic-inverse step-inner">
        <!--<div class="step-number">1</div>-->
        <div class="step-inner-main">
          <div class="control-group">
            <label class="control-label">问题一：</label>
            <div class="controls">
              <select  class="js-uc-questionSelect required" >
                <option  value="">请选择密保问题</option>
              </select>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">答案：</label>
            <div class="controls">
              <input type="text" class="js-uc-answer required">
            </div>
          </div>
        </div>
      </div>

      <div class="dot-divider dot-divider-sm ac-securityQuestion-divider "></div>

      <div class="basic-inverse step-inner">
        <!--<div class="step-number">2</div>-->
        <div class="step-inner-main">
          <div class="control-group">
            <label class="control-label " >问题二：</label>

            <div class="controls">
              <select class="js-uc-questionSelect required">
                <option  value="">请选择密保问题</option>
              </select>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">答案：</label>

            <div class="controls">
              <input type="text" class="js-uc-answer required">
            </div>
          </div>
        </div>
      </div>

      <div class="dot-divider dot-divider-sm ac-securityQuestion-divider "></div>

      <div class="basic-inverse step-inner">
        <!--<div class="step-number">3</div>-->
        <div class="step-inner-main">
          <div class="control-group">
            <label  class="control-label " >问题三：</label>

            <div class="controls">
              <select class="js-uc-questionSelect required">
                <option  value="">请选择密保问题</option>
              </select>
            </div>
          </div>
          <div class="control-group">
            <label  class="control-label">答案：</label>
            <div class="controls">
              <input type="text" class="js-uc-answer required">
            </div>
          </div>
        </div>
      </div>
      <div class="dot-divider dot-divider-sm ac-securityQuestion-divider "></div>
    </div>
    <div class="text-center">
      <button type="button" class="js-uc-inputSecurityQuestion-submit btn" data-loading-text="保存中">提交</button>
    </div>
  </form>

</div>
