<div class="system-message-main">
  <div class="system-message-list clearfix">
    <div class="pull-left m-top-md m-left-md">
      <div class="message-title text-black font-sm">积分商城每日特惠公告：1点积分博大奖</div>
      <div class="message-sub-title text-auxiliary">积分商城每日好券限量放送，每天不同时间段您到可以在商城中兑换到不同的优惠券惊喜</div>
    </div>
    <div class="pull-right m-right-md">
      <div class="message-date text-auxiliary font-sm inline-block m-right-md">[ 2017/10/13 17:58:01]</div>
      <a class="mseeage-btn ">+</a>
    </div>
    <div class="message-info"></div>
  </div>
</div>
