<div class="search-condition-table">
  <div class="control-group row1">
    <label class="">追号时间:</label>
    <span class="js-pf-timeset input-date"></span>
    <!--<label class="control-label">追号编号:</label>
    <input type="text" name="tradeNo" class="input3 margin-add" data-parsley-maxlength="30">-->
    <label class="m-left-sm">追号状态:</label>
    <select name="chaseStatus" class="select1"></select>
  </div>
  <div class="control-group row2">
    <span class="js-uc-ticket-select-group">
      <label class="">彩种名称:</label>
      <select class="js-pf-select-ticket-list select2" name="ticketId"></select>
      <select class="js-pf-select-ticket-level select2" name="ticketLevelId"></select>
      <!--<select class="js-pf-select-ticket-group select2" name="ticketGroupId"></select>-->
      <select class="js-pf-select-ticket-play select2" name="ticketPlayId"></select>
    </span>
    <!--<label class="control-label">每页展示:</label>
    <select class="select1" name="pageSize">
      <option value="10">10条</option>
      <option value="20">20条</option>
      <option value="50">50条</option>
      <option value="100">100条</option>
      <option value="500">500条</option>
    </select>-->
    <button type="submit" class="btn ac-query-btn">搜索</button>
		<button type="reset" class="btn btn-link btn-link-inverse">清空条件</button>
  </div>
</div>
