<div class="mask js-pirateship-mask hidden">
    <div class="pop js-pop bounceInDown animated">
        <div class="close_btn js-close"></div>
        <div id="animation_container" style="width:850px; height:550px;position: relative">
            <div class="top-img-div">
                <img src="./images/title.png" alt="">
            </div>
            <div class="bottom-img-div">
                <img src="./images/lang.png" alt="">
            </div>
            <div class="ship-img-div">
                <img src="./images/ship.png" alt="">
            </div>
            <div class="left-img-div">
                <div style="clear: both"></div>
                <div class="pop-tab-btn">
                    <button class="js-btn-play btn-play">夺宝排行</button>
                    <button class="js-btn-role btn-role">活动说明</button>
                </div>
                <div class="js-play-box play-box">
                    <p>
                        每个周末，海盗船都会满载财富途径无限娱乐，此时，您只须投注达<span class="js-user-limit"></span>元，即可获得一次“打劫”抽奖的机会，土豪们还能直接找船长兑换奖励哦！
                    </p>
                    <div class="info-box">
                        <div><span class="useAmount1"></span>元现金大奖还剩：<span class="js-total"></span>/<span class="js-rest "></span></div>
                        <div class="prompt_lump">
                            <div class="prompt_content_ps ">
                                <ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="js-role-box role-box hidden">
                    <p>
                        1、海盗船的奖励份额是有限的，先到先得哦，夺宝条件如下：<br>

                        - 骑士（V0），在平台投注<span class="js-user-limit1"></span>元可获得一次夺宝；<br>

                        - 男爵（V1）至子爵（V2），在平台投注<span class="js-user-limit2"></span>元可获得一次夺宝；<br>

                        - 伯爵（V3）至候爵（V4），在平台投注<span class="js-user-limit3"></span>元可获得一次夺宝；<br>

                        - 公爵（V5）至大公（V6），仅投注<span class="js-user-limit4"></span>元即可获得一次夺宝。<br>
                    </p>
                    <p>
                        2、当天投注累积达到<span class="useLimit"></span>元（需扣除中途“打劫”过的投注额），可以一次性直接兑换<span class="useAmount"></span>元的现金奖励，平台每天限量放出<span class="js-pop-mun"></span>个兑换名额。
                    </p>
                    <p>
                        3、活动中禁止任何刷奖行为，包括投注注数不可超过总注数的70%，无限娱乐拥有该活动的最终解释权。
                    </p>
                </div>
            </div>
            <div class="do-btn-group">
                <button class="js-grab grap-btn"></button>
                <button class="js-cash cash-btn"></button>
            </div>
        </div>
    </div>
    <!--提示-->
    <div class="notice_circle1">
        <div class="pop_close_btn js-return"></div>
        <div class="notice_infor_text1">你想干嘛！</div>
        <div class="btn_03 js-return"></div>
    </div>
    <div class="notice2">
        <div class="pop_close_btn js-return"></div>
        <div class="notice_infor_text2 ">您的消费额还不足<span style="color: red"></span>元<br>暂无法抽奖</div>
        <div class="btn_03 js-return"></div>
    </div>
    <div class="notice3">
        <div class="pop_close_btn js-return"></div>
        <div class="notice_infor_text3">您当前已投注<span style="color: red"></span>元<br>可以抢<span style="color: red">1</span>次，是否开抢？</div>
        <div class="btn_04 js-start-draw"></div>
        <div class="btn_05 js-return"></div>
    </div>
    <div class="notice4">
        <div class="pop_close_btn js-return"></div>
        <div class="notice_infor_text4">您当前已投注<span style="color: red"></span>元<br>可以抢<span style="color: red"></span>次，是否开抢？</div>
        <div class="btn_04 js-start-draw"></div>
        <div class="btn_05 js-return "></div>
       <!-- <div class="btn_06 js-start-draw-all">消耗所有次数，全抢了！</div>-->
    </div>
    <div class="notice5">
        <div class="pop_close_btn js-return"></div>
        <div class="notice_infor_text5">您当前投注额<span style="color: red"></span>元，<br>
            还不足以直接兑换！<br>
            <p style="font-size: 16px">要加油哟，我的大船可是越开越快的，哈哈！</p>
        </div>
        <div class="btn_03 js-return"></div>
    </div>
    <div class="notice6 js-return">
        <div class="pop_close_btn js-return"></div>
        <div class="notice_infor_text6">谢谢老板！<br>
            投注额归我，<span style="color: red;" class="js-result"></span>元现金是你的了。
            <br>
            <p style="font-size: 16px;"> 多一点您这样的老板，我们就不用做海盗了！</p>
        </div>
        <div class="btn_03"></div>
    </div>
    <div class="notice7">
        <div class="pop_close_btn js-return"></div>
        <div class="notice_infor_text7"></div>
        <div class="btn_03 js-return"></div>
    </div>
    <div class="notice8">
        <div class="pop_close_btn js-return"></div>
        <div class="notice_infor_text8"></div>
        <div class="btn_03 js-return"></div>
    </div>
    <div class="notice9">
        <div class="pop_close_btn js-return"></div>
        <div class="notice_infor_text9">
            恭喜您！<br>
            抢到一个<span class="js-ticket-name"></span><span style="color: red;" class="js-red-bag"></span>元红包。
            <br>
            <br>
            <p style="font-size: 14px;"> *请在我的红包中查看！</p>
        </div>
        <div class="btn_03 js-return"></div>
    </div>
    <div class="notice10">
        <div class="pop_close_btn js-return"></div>
        <div class="notice_infor_text10">
            真幸运！<span class="js-result-num" style="color: red;"></span>元现金是你的了！<br>
            <br>
            <br>
            <!--<p style="font-size: 14px;"> *请找在线客服领取奖励哦！</p>-->
        </div>
        <div class="btn_03 js-return"></div>
    </div>
    <div class="notice11">
        <div class="pop_close_btn js-return"></div>
        <div class="notice_infor_text11">
            就差一点点了，免费在抢一次！
        </div>
        <div class="btn_03 js-start-draw"></div>
    </div>
</div>