@charset "UTF-8";

@import
"~base/styles/imports";

.products-pic {
  position: relative;
  z-index: 1;
}
.products-title {
  width: 244px;
  margin-left: 330px;
  border: 1px solid #828282;
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 38px;
}

.products-features {
  width: 88%;
  margin: 0 auto;
  .products-feature {
    display: inline-block;
    width: 20%;
    float: left;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    position: relative;

    img {
      margin-bottom: 15px;
    }

    &.blue {
      color: #71d4de;
    }
    &.green {
      color: #9ccb6e;
    }
    &.red {
      color: #f9aaa8;
    }
    &.purple {
      color: #aa9dec;
    }
    &.orange {
      color: #ecb375;
    }
    &:hover {
      .products-feature-item {
        opacity: 0;
      }
      .products-feature-detail {
        opacity: 1;
      }
    }
  }
  .products-feature-item {
    padding: 25px 55px;
    transition: opacity 0.5s ease;
    opacity: 1;
  }

  .products-feature-detail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  .products-feature-title {
    color: $new-black-color;
    font-size: 18px;
    padding: 18px 0;
    font-weight: bold;
    border-bottom: 1px dashed $new-inverse-color;
  }
  .products-feature-content {
    text-align: left;
    padding: 20px 12px 0;
    color: $new-black-color;
    line-height: 20px;
    font-size: 13px;
  }
}
