.portlet {
  margin-bottom: 20px;

  .portlet-header {
    margin-top: 20px;
    //height: 20px;
    margin-bottom: 20px;
    .portlet-header-title {
      font-size: 16px;
      color: #333333;
      margin-left: 20px;
      margin-right: 10px;
    }
    .portlet-header-des {
      font-size: 12px;
      color: #999999;
      padding-left:10px;
      position: relative;
      &:before{
        content: '';
        width: 1px;
        height: 16px;
        background-color: $def-gray-color;
        position: absolute;
        top: 3px;
        left: 0px;
      }
      .title-des{
        transform: translateY(25%);
        &:before{
          top: 20px;
        }
      }
    }

  }

  .portlet-option {
    float: right;
    .btn {
      height: 32px;
      padding: 4px 15px;
      vertical-align: top;
      margin-left: 5px;
      font-size: $font-sm;
    }
  }

  .portlet-body {
    padding: 10px 0px 10px 25px;
  }

  .portlet-footer {
    padding: 10px 15px;
    background-color: $main-light-color;
    border-top: 1px solid $main-deep-color;
  }

  @include portlets($portlets);
}

.portlet-filter {
  margin: 0 25px;
}
.portlet-record {
  margin-bottom: 0!important;
  background-color: $def-white-color!important;
}
