// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$sfa-bc-choose15-ffc-name: 'sfa-bc-choose15-ffc';
$sfa-bc-choose15-ffc-x: 592px;
$sfa-bc-choose15-ffc-y: 92px;
$sfa-bc-choose15-ffc-offset-x: -592px;
$sfa-bc-choose15-ffc-offset-y: -92px;
$sfa-bc-choose15-ffc-width: 180px;
$sfa-bc-choose15-ffc-height: 92px;
$sfa-bc-choose15-ffc-total-width: 877px;
$sfa-bc-choose15-ffc-total-height: 714px;
$sfa-bc-choose15-ffc-image: '~base/images/spritesBC.png';
$sfa-bc-choose15-ffc: (592px, 92px, -592px, -92px, 180px, 92px, 877px, 714px, '~base/images/spritesBC.png', 'sfa-bc-choose15-ffc', );
$sfa-bc-choose15-gd-name: 'sfa-bc-choose15-gd';
$sfa-bc-choose15-gd-x: 360px;
$sfa-bc-choose15-gd-y: 530px;
$sfa-bc-choose15-gd-offset-x: -360px;
$sfa-bc-choose15-gd-offset-y: -530px;
$sfa-bc-choose15-gd-width: 180px;
$sfa-bc-choose15-gd-height: 92px;
$sfa-bc-choose15-gd-total-width: 877px;
$sfa-bc-choose15-gd-total-height: 714px;
$sfa-bc-choose15-gd-image: '~base/images/spritesBC.png';
$sfa-bc-choose15-gd: (360px, 530px, -360px, -530px, 180px, 92px, 877px, 714px, '~base/images/spritesBC.png', 'sfa-bc-choose15-gd', );
$sfa-bc-choose15-jx-name: 'sfa-bc-choose15-jx';
$sfa-bc-choose15-jx-x: 592px;
$sfa-bc-choose15-jx-y: 368px;
$sfa-bc-choose15-jx-offset-x: -592px;
$sfa-bc-choose15-jx-offset-y: -368px;
$sfa-bc-choose15-jx-width: 180px;
$sfa-bc-choose15-jx-height: 92px;
$sfa-bc-choose15-jx-total-width: 877px;
$sfa-bc-choose15-jx-total-height: 714px;
$sfa-bc-choose15-jx-image: '~base/images/spritesBC.png';
$sfa-bc-choose15-jx: (592px, 368px, -592px, -368px, 180px, 92px, 877px, 714px, '~base/images/spritesBC.png', 'sfa-bc-choose15-jx', );
$sfa-bc-choose15-sd-name: 'sfa-bc-choose15-sd';
$sfa-bc-choose15-sd-x: 180px;
$sfa-bc-choose15-sd-y: 254px;
$sfa-bc-choose15-sd-offset-x: -180px;
$sfa-bc-choose15-sd-offset-y: -254px;
$sfa-bc-choose15-sd-width: 180px;
$sfa-bc-choose15-sd-height: 92px;
$sfa-bc-choose15-sd-total-width: 877px;
$sfa-bc-choose15-sd-total-height: 714px;
$sfa-bc-choose15-sd-image: '~base/images/spritesBC.png';
$sfa-bc-choose15-sd: (180px, 254px, -180px, -254px, 180px, 92px, 877px, 714px, '~base/images/spritesBC.png', 'sfa-bc-choose15-sd', );
$sfa-bc-empty-name: 'sfa-bc-empty';
$sfa-bc-empty-x: 722px;
$sfa-bc-empty-y: 460px;
$sfa-bc-empty-offset-x: -722px;
$sfa-bc-empty-offset-y: -460px;
$sfa-bc-empty-width: 41px;
$sfa-bc-empty-height: 36px;
$sfa-bc-empty-total-width: 877px;
$sfa-bc-empty-total-height: 714px;
$sfa-bc-empty-image: '~base/images/spritesBC.png';
$sfa-bc-empty: (722px, 460px, -722px, -460px, 41px, 36px, 877px, 714px, '~base/images/spritesBC.png', 'sfa-bc-empty', );
$sfa-bc-happy-5mark6-name: 'sfa-bc-happy-5mark6';
$sfa-bc-happy-5mark6-x: 657px;
$sfa-bc-happy-5mark6-y: 460px;
$sfa-bc-happy-5mark6-offset-x: -657px;
$sfa-bc-happy-5mark6-offset-y: -460px;
$sfa-bc-happy-5mark6-width: 65px;
$sfa-bc-happy-5mark6-height: 70px;
$sfa-bc-happy-5mark6-total-width: 877px;
$sfa-bc-happy-5mark6-total-height: 714px;
$sfa-bc-happy-5mark6-image: '~base/images/spritesBC.png';
$sfa-bc-happy-5mark6: (657px, 460px, -657px, -460px, 65px, 70px, 877px, 714px, '~base/images/spritesBC.png', 'sfa-bc-happy-5mark6', );
$sfa-bc-happy-jsk3-bc-name: 'sfa-bc-happy-jsk3-bc';
$sfa-bc-happy-jsk3-bc-x: 772px;
$sfa-bc-happy-jsk3-bc-y: 191px;
$sfa-bc-happy-jsk3-bc-offset-x: -772px;
$sfa-bc-happy-jsk3-bc-offset-y: -191px;
$sfa-bc-happy-jsk3-bc-width: 85px;
$sfa-bc-happy-jsk3-bc-height: 85px;
$sfa-bc-happy-jsk3-bc-total-width: 877px;
$sfa-bc-happy-jsk3-bc-total-height: 714px;
$sfa-bc-happy-jsk3-bc-image: '~base/images/spritesBC.png';
$sfa-bc-happy-jsk3-bc: (772px, 191px, -772px, -191px, 85px, 85px, 877px, 714px, '~base/images/spritesBC.png', 'sfa-bc-happy-jsk3-bc', );
$sfa-bc-icon-des-name: 'sfa-bc-icon-des';
$sfa-bc-icon-des-x: 860px;
$sfa-bc-icon-des-y: 122px;
$sfa-bc-icon-des-offset-x: -860px;
$sfa-bc-icon-des-offset-y: -122px;
$sfa-bc-icon-des-width: 13px;
$sfa-bc-icon-des-height: 15px;
$sfa-bc-icon-des-total-width: 877px;
$sfa-bc-icon-des-total-height: 714px;
$sfa-bc-icon-des-image: '~base/images/spritesBC.png';
$sfa-bc-icon-des: (860px, 122px, -860px, -122px, 13px, 15px, 877px, 714px, '~base/images/spritesBC.png', 'sfa-bc-icon-des', );
$sfa-bc-icon-open-num-name: 'sfa-bc-icon-open-num';
$sfa-bc-icon-open-num-x: 857px;
$sfa-bc-icon-open-num-y: 212px;
$sfa-bc-icon-open-num-offset-x: -857px;
$sfa-bc-icon-open-num-offset-y: -212px;
$sfa-bc-icon-open-num-width: 18px;
$sfa-bc-icon-open-num-height: 18px;
$sfa-bc-icon-open-num-total-width: 877px;
$sfa-bc-icon-open-num-total-height: 714px;
$sfa-bc-icon-open-num-image: '~base/images/spritesBC.png';
$sfa-bc-icon-open-num: (857px, 212px, -857px, -212px, 18px, 18px, 877px, 714px, '~base/images/spritesBC.png', 'sfa-bc-icon-open-num', );
$sfa-bc-icon-trend-name: 'sfa-bc-icon-trend';
$sfa-bc-icon-trend-x: 860px;
$sfa-bc-icon-trend-y: 137px;
$sfa-bc-icon-trend-offset-x: -860px;
$sfa-bc-icon-trend-offset-y: -137px;
$sfa-bc-icon-trend-width: 16px;
$sfa-bc-icon-trend-height: 10px;
$sfa-bc-icon-trend-total-width: 877px;
$sfa-bc-icon-trend-total-height: 714px;
$sfa-bc-icon-trend-image: '~base/images/spritesBC.png';
$sfa-bc-icon-trend: (860px, 137px, -860px, -137px, 16px, 10px, 877px, 714px, '~base/images/spritesBC.png', 'sfa-bc-icon-trend', );
$sfa-bc-light-name: 'sfa-bc-light';
$sfa-bc-light-x: 860px;
$sfa-bc-light-y: 105px;
$sfa-bc-light-offset-x: -860px;
$sfa-bc-light-offset-y: -105px;
$sfa-bc-light-width: 17px;
$sfa-bc-light-height: 17px;
$sfa-bc-light-total-width: 877px;
$sfa-bc-light-total-height: 714px;
$sfa-bc-light-image: '~base/images/spritesBC.png';
$sfa-bc-light: (860px, 105px, -860px, -105px, 17px, 17px, 877px, 714px, '~base/images/spritesBC.png', 'sfa-bc-light', );
$sfa-bc-low-3d-bc-name: 'sfa-bc-low-3d-bc';
$sfa-bc-low-3d-bc-x: 772px;
$sfa-bc-low-3d-bc-y: 276px;
$sfa-bc-low-3d-bc-offset-x: -772px;
$sfa-bc-low-3d-bc-offset-y: -276px;
$sfa-bc-low-3d-bc-width: 90px;
$sfa-bc-low-3d-bc-height: 77px;
$sfa-bc-low-3d-bc-total-width: 877px;
$sfa-bc-low-3d-bc-total-height: 714px;
$sfa-bc-low-3d-bc-image: '~base/images/spritesBC.png';
$sfa-bc-low-3d-bc: (772px, 276px, -772px, -276px, 90px, 77px, 877px, 714px, '~base/images/spritesBC.png', 'sfa-bc-low-3d-bc', );
$sfa-bc-low-3d-ffc-name: 'sfa-bc-low-3d-ffc';
$sfa-bc-low-3d-ffc-x: 772px;
$sfa-bc-low-3d-ffc-y: 500px;
$sfa-bc-low-3d-ffc-offset-x: -772px;
$sfa-bc-low-3d-ffc-offset-y: -500px;
$sfa-bc-low-3d-ffc-width: 65px;
$sfa-bc-low-3d-ffc-height: 70px;
$sfa-bc-low-3d-ffc-total-width: 877px;
$sfa-bc-low-3d-ffc-total-height: 714px;
$sfa-bc-low-3d-ffc-image: '~base/images/spritesBC.png';
$sfa-bc-low-3d-ffc: (772px, 500px, -772px, -500px, 65px, 70px, 877px, 714px, '~base/images/spritesBC.png', 'sfa-bc-low-3d-ffc', );
$sfa-bc-mark6-mark6-name: 'sfa-bc-mark6-mark6';
$sfa-bc-mark6-mark6-x: 592px;
$sfa-bc-mark6-mark6-y: 0px;
$sfa-bc-mark6-mark6-offset-x: -592px;
$sfa-bc-mark6-mark6-offset-y: 0px;
$sfa-bc-mark6-mark6-width: 180px;
$sfa-bc-mark6-mark6-height: 92px;
$sfa-bc-mark6-mark6-total-width: 877px;
$sfa-bc-mark6-mark6-total-height: 714px;
$sfa-bc-mark6-mark6-image: '~base/images/spritesBC.png';
$sfa-bc-mark6-mark6: (592px, 0px, -592px, 0px, 180px, 92px, 877px, 714px, '~base/images/spritesBC.png', 'sfa-bc-mark6-mark6', );
$sfa-bc-new-ssc-1-name: 'sfa-bc-new-ssc-1';
$sfa-bc-new-ssc-1-x: 257px;
$sfa-bc-new-ssc-1-y: 0px;
$sfa-bc-new-ssc-1-offset-x: -257px;
$sfa-bc-new-ssc-1-offset-y: 0px;
$sfa-bc-new-ssc-1-width: 155px;
$sfa-bc-new-ssc-1-height: 160px;
$sfa-bc-new-ssc-1-total-width: 877px;
$sfa-bc-new-ssc-1-total-height: 714px;
$sfa-bc-new-ssc-1-image: '~base/images/spritesBC.png';
$sfa-bc-new-ssc-1: (257px, 0px, -257px, 0px, 155px, 160px, 877px, 714px, '~base/images/spritesBC.png', 'sfa-bc-new-ssc-1', );
$sfa-bc-p5p3-p5p3-name: 'sfa-bc-p5p3-p5p3';
$sfa-bc-p5p3-p5p3-x: 592px;
$sfa-bc-p5p3-p5p3-y: 184px;
$sfa-bc-p5p3-p5p3-offset-x: -592px;
$sfa-bc-p5p3-p5p3-offset-y: -184px;
$sfa-bc-p5p3-p5p3-width: 180px;
$sfa-bc-p5p3-p5p3-height: 92px;
$sfa-bc-p5p3-p5p3-total-width: 877px;
$sfa-bc-p5p3-p5p3-total-height: 714px;
$sfa-bc-p5p3-p5p3-image: '~base/images/spritesBC.png';
$sfa-bc-p5p3-p5p3: (592px, 184px, -592px, -184px, 180px, 92px, 877px, 714px, '~base/images/spritesBC.png', 'sfa-bc-p5p3-p5p3', );
$sfa-bc-pk10-pk10-name: 'sfa-bc-pk10-pk10';
$sfa-bc-pk10-pk10-x: 592px;
$sfa-bc-pk10-pk10-y: 276px;
$sfa-bc-pk10-pk10-offset-x: -592px;
$sfa-bc-pk10-pk10-offset-y: -276px;
$sfa-bc-pk10-pk10-width: 180px;
$sfa-bc-pk10-pk10-height: 92px;
$sfa-bc-pk10-pk10-total-width: 877px;
$sfa-bc-pk10-pk10-total-height: 714px;
$sfa-bc-pk10-pk10-image: '~base/images/spritesBC.png';
$sfa-bc-pk10-pk10: (592px, 276px, -592px, -276px, 180px, 92px, 877px, 714px, '~base/images/spritesBC.png', 'sfa-bc-pk10-pk10', );
$sfa-bc-quick-close-name: 'sfa-bc-quick-close';
$sfa-bc-quick-close-x: 857px;
$sfa-bc-quick-close-y: 191px;
$sfa-bc-quick-close-offset-x: -857px;
$sfa-bc-quick-close-offset-y: -191px;
$sfa-bc-quick-close-width: 20px;
$sfa-bc-quick-close-height: 21px;
$sfa-bc-quick-close-total-width: 877px;
$sfa-bc-quick-close-total-height: 714px;
$sfa-bc-quick-close-image: '~base/images/spritesBC.png';
$sfa-bc-quick-close: (857px, 191px, -857px, -191px, 20px, 21px, 877px, 714px, '~base/images/spritesBC.png', 'sfa-bc-quick-close', );
$sfa-bc-quick-more-name: 'sfa-bc-quick-more';
$sfa-bc-quick-more-x: 837px;
$sfa-bc-quick-more-y: 430px;
$sfa-bc-quick-more-offset-x: -837px;
$sfa-bc-quick-more-offset-y: -430px;
$sfa-bc-quick-more-width: 25px;
$sfa-bc-quick-more-height: 21px;
$sfa-bc-quick-more-total-width: 877px;
$sfa-bc-quick-more-total-height: 714px;
$sfa-bc-quick-more-image: '~base/images/spritesBC.png';
$sfa-bc-quick-more: (837px, 430px, -837px, -430px, 25px, 21px, 877px, 714px, '~base/images/spritesBC.png', 'sfa-bc-quick-more', );
$sfa-bc-quick3-jsk3-name: 'sfa-bc-quick3-jsk3';
$sfa-bc-quick3-jsk3-x: 180px;
$sfa-bc-quick3-jsk3-y: 530px;
$sfa-bc-quick3-jsk3-offset-x: -180px;
$sfa-bc-quick3-jsk3-offset-y: -530px;
$sfa-bc-quick3-jsk3-width: 180px;
$sfa-bc-quick3-jsk3-height: 92px;
$sfa-bc-quick3-jsk3-total-width: 877px;
$sfa-bc-quick3-jsk3-total-height: 714px;
$sfa-bc-quick3-jsk3-image: '~base/images/spritesBC.png';
$sfa-bc-quick3-jsk3: (180px, 530px, -180px, -530px, 180px, 92px, 877px, 714px, '~base/images/spritesBC.png', 'sfa-bc-quick3-jsk3', );
$sfa-bc-ssc-bjwfc-name: 'sfa-bc-ssc-bjwfc';
$sfa-bc-ssc-bjwfc-x: 477px;
$sfa-bc-ssc-bjwfc-y: 276px;
$sfa-bc-ssc-bjwfc-offset-x: -477px;
$sfa-bc-ssc-bjwfc-offset-y: -276px;
$sfa-bc-ssc-bjwfc-width: 65px;
$sfa-bc-ssc-bjwfc-height: 70px;
$sfa-bc-ssc-bjwfc-total-width: 877px;
$sfa-bc-ssc-bjwfc-total-height: 714px;
$sfa-bc-ssc-bjwfc-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-bjwfc: (477px, 276px, -477px, -276px, 65px, 70px, 877px, 714px, '~base/images/spritesBC.png', 'sfa-bc-ssc-bjwfc', );
$sfa-bc-ssc-canada-name: 'sfa-bc-ssc-canada';
$sfa-bc-ssc-canada-x: 772px;
$sfa-bc-ssc-canada-y: 640px;
$sfa-bc-ssc-canada-offset-x: -772px;
$sfa-bc-ssc-canada-offset-y: -640px;
$sfa-bc-ssc-canada-width: 65px;
$sfa-bc-ssc-canada-height: 70px;
$sfa-bc-ssc-canada-total-width: 877px;
$sfa-bc-ssc-canada-total-height: 714px;
$sfa-bc-ssc-canada-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-canada: (772px, 640px, -772px, -640px, 65px, 70px, 877px, 714px, '~base/images/spritesBC.png', 'sfa-bc-ssc-canada', );
$sfa-bc-ssc-cq-name: 'sfa-bc-ssc-cq';
$sfa-bc-ssc-cq-x: 0px;
$sfa-bc-ssc-cq-y: 622px;
$sfa-bc-ssc-cq-offset-x: 0px;
$sfa-bc-ssc-cq-offset-y: -622px;
$sfa-bc-ssc-cq-width: 180px;
$sfa-bc-ssc-cq-height: 92px;
$sfa-bc-ssc-cq-total-width: 877px;
$sfa-bc-ssc-cq-total-height: 714px;
$sfa-bc-ssc-cq-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-cq: (0px, 622px, 0px, -622px, 180px, 92px, 877px, 714px, '~base/images/spritesBC.png', 'sfa-bc-ssc-cq', );
$sfa-bc-ssc-dj-name: 'sfa-bc-ssc-dj';
$sfa-bc-ssc-dj-x: 180px;
$sfa-bc-ssc-dj-y: 622px;
$sfa-bc-ssc-dj-offset-x: -180px;
$sfa-bc-ssc-dj-offset-y: -622px;
$sfa-bc-ssc-dj-width: 180px;
$sfa-bc-ssc-dj-height: 92px;
$sfa-bc-ssc-dj-total-width: 877px;
$sfa-bc-ssc-dj-total-height: 714px;
$sfa-bc-ssc-dj-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-dj: (180px, 622px, -180px, -622px, 180px, 92px, 877px, 714px, '~base/images/spritesBC.png', 'sfa-bc-ssc-dj', );
$sfa-bc-ssc-ffc-name: 'sfa-bc-ssc-ffc';
$sfa-bc-ssc-ffc-x: 540px;
$sfa-bc-ssc-ffc-y: 530px;
$sfa-bc-ssc-ffc-offset-x: -540px;
$sfa-bc-ssc-ffc-offset-y: -530px;
$sfa-bc-ssc-ffc-width: 180px;
$sfa-bc-ssc-ffc-height: 92px;
$sfa-bc-ssc-ffc-total-width: 877px;
$sfa-bc-ssc-ffc-total-height: 714px;
$sfa-bc-ssc-ffc-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-ffc: (540px, 530px, -540px, -530px, 180px, 92px, 877px, 714px, '~base/images/spritesBC.png', 'sfa-bc-ssc-ffc', );
$sfa-bc-ssc-hg-name: 'sfa-bc-ssc-hg';
$sfa-bc-ssc-hg-x: 0px;
$sfa-bc-ssc-hg-y: 254px;
$sfa-bc-ssc-hg-offset-x: 0px;
$sfa-bc-ssc-hg-offset-y: -254px;
$sfa-bc-ssc-hg-width: 180px;
$sfa-bc-ssc-hg-height: 92px;
$sfa-bc-ssc-hg-total-width: 877px;
$sfa-bc-ssc-hg-total-height: 714px;
$sfa-bc-ssc-hg-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-hg: (0px, 254px, 0px, -254px, 180px, 92px, 877px, 714px, '~base/images/spritesBC.png', 'sfa-bc-ssc-hg', );
$sfa-bc-ssc-hlj-name: 'sfa-bc-ssc-hlj';
$sfa-bc-ssc-hlj-x: 0px;
$sfa-bc-ssc-hlj-y: 530px;
$sfa-bc-ssc-hlj-offset-x: 0px;
$sfa-bc-ssc-hlj-offset-y: -530px;
$sfa-bc-ssc-hlj-width: 180px;
$sfa-bc-ssc-hlj-height: 92px;
$sfa-bc-ssc-hlj-total-width: 877px;
$sfa-bc-ssc-hlj-total-height: 714px;
$sfa-bc-ssc-hlj-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-hlj: (0px, 530px, 0px, -530px, 180px, 92px, 877px, 714px, '~base/images/spritesBC.png', 'sfa-bc-ssc-hlj', );
$sfa-bc-ssc-jx-name: 'sfa-bc-ssc-jx';
$sfa-bc-ssc-jx-x: 772px;
$sfa-bc-ssc-jx-y: 430px;
$sfa-bc-ssc-jx-offset-x: -772px;
$sfa-bc-ssc-jx-offset-y: -430px;
$sfa-bc-ssc-jx-width: 65px;
$sfa-bc-ssc-jx-height: 70px;
$sfa-bc-ssc-jx-total-width: 877px;
$sfa-bc-ssc-jx-total-height: 714px;
$sfa-bc-ssc-jx-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-jx: (772px, 430px, -772px, -430px, 65px, 70px, 877px, 714px, '~base/images/spritesBC.png', 'sfa-bc-ssc-jx', );
$sfa-bc-ssc-jz1-5-bc-name: 'sfa-bc-ssc-jz1_5-bc';
$sfa-bc-ssc-jz1-5-bc-x: 772px;
$sfa-bc-ssc-jz1-5-bc-y: 105px;
$sfa-bc-ssc-jz1-5-bc-offset-x: -772px;
$sfa-bc-ssc-jz1-5-bc-offset-y: -105px;
$sfa-bc-ssc-jz1-5-bc-width: 88px;
$sfa-bc-ssc-jz1-5-bc-height: 86px;
$sfa-bc-ssc-jz1-5-bc-total-width: 877px;
$sfa-bc-ssc-jz1-5-bc-total-height: 714px;
$sfa-bc-ssc-jz1-5-bc-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-jz1-5-bc: (772px, 105px, -772px, -105px, 88px, 86px, 877px, 714px, '~base/images/spritesBC.png', 'sfa-bc-ssc-jz1_5-bc', );
$sfa-bc-ssc-jz1-5-name: 'sfa-bc-ssc-jz1_5';
$sfa-bc-ssc-jz1-5-x: 592px;
$sfa-bc-ssc-jz1-5-y: 460px;
$sfa-bc-ssc-jz1-5-offset-x: -592px;
$sfa-bc-ssc-jz1-5-offset-y: -460px;
$sfa-bc-ssc-jz1-5-width: 65px;
$sfa-bc-ssc-jz1-5-height: 70px;
$sfa-bc-ssc-jz1-5-total-width: 877px;
$sfa-bc-ssc-jz1-5-total-height: 714px;
$sfa-bc-ssc-jz1-5-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-jz1-5: (592px, 460px, -592px, -460px, 65px, 70px, 877px, 714px, '~base/images/spritesBC.png', 'sfa-bc-ssc-jz1_5', );
$sfa-bc-ssc-mmc-name: 'sfa-bc-ssc-mmc';
$sfa-bc-ssc-mmc-x: 0px;
$sfa-bc-ssc-mmc-y: 0px;
$sfa-bc-ssc-mmc-offset-x: 0px;
$sfa-bc-ssc-mmc-offset-y: 0px;
$sfa-bc-ssc-mmc-width: 257px;
$sfa-bc-ssc-mmc-height: 254px;
$sfa-bc-ssc-mmc-total-width: 877px;
$sfa-bc-ssc-mmc-total-height: 714px;
$sfa-bc-ssc-mmc-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-mmc: (0px, 0px, 0px, 0px, 257px, 254px, 877px, 714px, '~base/images/spritesBC.png', 'sfa-bc-ssc-mmc', );
$sfa-bc-ssc-qq30s-name: 'sfa-bc-ssc-qq30s';
$sfa-bc-ssc-qq30s-x: 360px;
$sfa-bc-ssc-qq30s-y: 438px;
$sfa-bc-ssc-qq30s-offset-x: -360px;
$sfa-bc-ssc-qq30s-offset-y: -438px;
$sfa-bc-ssc-qq30s-width: 180px;
$sfa-bc-ssc-qq30s-height: 92px;
$sfa-bc-ssc-qq30s-total-width: 877px;
$sfa-bc-ssc-qq30s-total-height: 714px;
$sfa-bc-ssc-qq30s-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-qq30s: (360px, 438px, -360px, -438px, 180px, 92px, 877px, 714px, '~base/images/spritesBC.png', 'sfa-bc-ssc-qq30s', );
$sfa-bc-ssc-qq90s-name: 'sfa-bc-ssc-qq90s';
$sfa-bc-ssc-qq90s-x: 772px;
$sfa-bc-ssc-qq90s-y: 570px;
$sfa-bc-ssc-qq90s-offset-x: -772px;
$sfa-bc-ssc-qq90s-offset-y: -570px;
$sfa-bc-ssc-qq90s-width: 65px;
$sfa-bc-ssc-qq90s-height: 70px;
$sfa-bc-ssc-qq90s-total-width: 877px;
$sfa-bc-ssc-qq90s-total-height: 714px;
$sfa-bc-ssc-qq90s-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-qq90s: (772px, 570px, -772px, -570px, 65px, 70px, 877px, 714px, '~base/images/spritesBC.png', 'sfa-bc-ssc-qq90s', );
$sfa-bc-ssc-qqffc-name: 'sfa-bc-ssc-qqffc';
$sfa-bc-ssc-qqffc-x: 180px;
$sfa-bc-ssc-qqffc-y: 438px;
$sfa-bc-ssc-qqffc-offset-x: -180px;
$sfa-bc-ssc-qqffc-offset-y: -438px;
$sfa-bc-ssc-qqffc-width: 180px;
$sfa-bc-ssc-qqffc-height: 92px;
$sfa-bc-ssc-qqffc-total-width: 877px;
$sfa-bc-ssc-qqffc-total-height: 714px;
$sfa-bc-ssc-qqffc-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-qqffc: (180px, 438px, -180px, -438px, 180px, 92px, 877px, 714px, '~base/images/spritesBC.png', 'sfa-bc-ssc-qqffc', );
$sfa-bc-ssc-sfc-name: 'sfa-bc-ssc-sfc';
$sfa-bc-ssc-sfc-x: 0px;
$sfa-bc-ssc-sfc-y: 438px;
$sfa-bc-ssc-sfc-offset-x: 0px;
$sfa-bc-ssc-sfc-offset-y: -438px;
$sfa-bc-ssc-sfc-width: 180px;
$sfa-bc-ssc-sfc-height: 92px;
$sfa-bc-ssc-sfc-total-width: 877px;
$sfa-bc-ssc-sfc-total-height: 714px;
$sfa-bc-ssc-sfc-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-sfc: (0px, 438px, 0px, -438px, 180px, 92px, 877px, 714px, '~base/images/spritesBC.png', 'sfa-bc-ssc-sfc', );
$sfa-bc-ssc-tj-name: 'sfa-bc-ssc-tj';
$sfa-bc-ssc-tj-x: 360px;
$sfa-bc-ssc-tj-y: 346px;
$sfa-bc-ssc-tj-offset-x: -360px;
$sfa-bc-ssc-tj-offset-y: -346px;
$sfa-bc-ssc-tj-width: 180px;
$sfa-bc-ssc-tj-height: 92px;
$sfa-bc-ssc-tj-total-width: 877px;
$sfa-bc-ssc-tj-total-height: 714px;
$sfa-bc-ssc-tj-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-tj: (360px, 346px, -360px, -346px, 180px, 92px, 877px, 714px, '~base/images/spritesBC.png', 'sfa-bc-ssc-tj', );
$sfa-bc-ssc-tw-name: 'sfa-bc-ssc-tw';
$sfa-bc-ssc-tw-x: 412px;
$sfa-bc-ssc-tw-y: 276px;
$sfa-bc-ssc-tw-offset-x: -412px;
$sfa-bc-ssc-tw-offset-y: -276px;
$sfa-bc-ssc-tw-width: 65px;
$sfa-bc-ssc-tw-height: 70px;
$sfa-bc-ssc-tw-total-width: 877px;
$sfa-bc-ssc-tw-total-height: 714px;
$sfa-bc-ssc-tw-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-tw: (412px, 276px, -412px, -276px, 65px, 70px, 877px, 714px, '~base/images/spritesBC.png', 'sfa-bc-ssc-tw', );
$sfa-bc-ssc-tx-name: 'sfa-bc-ssc-tx';
$sfa-bc-ssc-tx-x: 180px;
$sfa-bc-ssc-tx-y: 346px;
$sfa-bc-ssc-tx-offset-x: -180px;
$sfa-bc-ssc-tx-offset-y: -346px;
$sfa-bc-ssc-tx-width: 180px;
$sfa-bc-ssc-tx-height: 92px;
$sfa-bc-ssc-tx-total-width: 877px;
$sfa-bc-ssc-tx-total-height: 714px;
$sfa-bc-ssc-tx-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-tx: (180px, 346px, -180px, -346px, 180px, 92px, 877px, 714px, '~base/images/spritesBC.png', 'sfa-bc-ssc-tx', );
$sfa-bc-ssc-wfc-name: 'sfa-bc-ssc-wfc';
$sfa-bc-ssc-wfc-x: 257px;
$sfa-bc-ssc-wfc-y: 160px;
$sfa-bc-ssc-wfc-offset-x: -257px;
$sfa-bc-ssc-wfc-offset-y: -160px;
$sfa-bc-ssc-wfc-width: 65px;
$sfa-bc-ssc-wfc-height: 70px;
$sfa-bc-ssc-wfc-total-width: 877px;
$sfa-bc-ssc-wfc-total-height: 714px;
$sfa-bc-ssc-wfc-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-wfc: (257px, 160px, -257px, -160px, 65px, 70px, 877px, 714px, '~base/images/spritesBC.png', 'sfa-bc-ssc-wfc', );
$sfa-bc-ssc-wx1-5-name: 'sfa-bc-ssc-wx1_5';
$sfa-bc-ssc-wx1-5-x: 322px;
$sfa-bc-ssc-wx1-5-y: 160px;
$sfa-bc-ssc-wx1-5-offset-x: -322px;
$sfa-bc-ssc-wx1-5-offset-y: -160px;
$sfa-bc-ssc-wx1-5-width: 65px;
$sfa-bc-ssc-wx1-5-height: 70px;
$sfa-bc-ssc-wx1-5-total-width: 877px;
$sfa-bc-ssc-wx1-5-total-height: 714px;
$sfa-bc-ssc-wx1-5-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-wx1-5: (322px, 160px, -322px, -160px, 65px, 70px, 877px, 714px, '~base/images/spritesBC.png', 'sfa-bc-ssc-wx1_5', );
$sfa-bc-ssc-xj-bc-name: 'sfa-bc-ssc-xj-bc';
$sfa-bc-ssc-xj-bc-x: 772px;
$sfa-bc-ssc-xj-bc-y: 353px;
$sfa-bc-ssc-xj-bc-offset-x: -772px;
$sfa-bc-ssc-xj-bc-offset-y: -353px;
$sfa-bc-ssc-xj-bc-width: 90px;
$sfa-bc-ssc-xj-bc-height: 77px;
$sfa-bc-ssc-xj-bc-total-width: 877px;
$sfa-bc-ssc-xj-bc-total-height: 714px;
$sfa-bc-ssc-xj-bc-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-xj-bc: (772px, 353px, -772px, -353px, 90px, 77px, 877px, 714px, '~base/images/spritesBC.png', 'sfa-bc-ssc-xj-bc', );
$sfa-bc-ssc-xj-hg-name: 'sfa-bc-ssc-xj-hg';
$sfa-bc-ssc-xj-hg-x: 772px;
$sfa-bc-ssc-xj-hg-y: 0px;
$sfa-bc-ssc-xj-hg-offset-x: -772px;
$sfa-bc-ssc-xj-hg-offset-y: 0px;
$sfa-bc-ssc-xj-hg-width: 105px;
$sfa-bc-ssc-xj-hg-height: 105px;
$sfa-bc-ssc-xj-hg-total-width: 877px;
$sfa-bc-ssc-xj-hg-total-height: 714px;
$sfa-bc-ssc-xj-hg-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-xj-hg: (772px, 0px, -772px, 0px, 105px, 105px, 877px, 714px, '~base/images/spritesBC.png', 'sfa-bc-ssc-xj-hg', );
$sfa-bc-ssc-xj-name: 'sfa-bc-ssc-xj';
$sfa-bc-ssc-xj-x: 0px;
$sfa-bc-ssc-xj-y: 346px;
$sfa-bc-ssc-xj-offset-x: 0px;
$sfa-bc-ssc-xj-offset-y: -346px;
$sfa-bc-ssc-xj-width: 180px;
$sfa-bc-ssc-xj-height: 92px;
$sfa-bc-ssc-xj-total-width: 877px;
$sfa-bc-ssc-xj-total-height: 714px;
$sfa-bc-ssc-xj-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-xj: (0px, 346px, 0px, -346px, 180px, 92px, 877px, 714px, '~base/images/spritesBC.png', 'sfa-bc-ssc-xj', );
$sfa-bc-ssc-xjp-name: 'sfa-bc-ssc-xjp';
$sfa-bc-ssc-xjp-x: 412px;
$sfa-bc-ssc-xjp-y: 184px;
$sfa-bc-ssc-xjp-offset-x: -412px;
$sfa-bc-ssc-xjp-offset-y: -184px;
$sfa-bc-ssc-xjp-width: 180px;
$sfa-bc-ssc-xjp-height: 92px;
$sfa-bc-ssc-xjp-total-width: 877px;
$sfa-bc-ssc-xjp-total-height: 714px;
$sfa-bc-ssc-xjp-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-xjp: (412px, 184px, -412px, -184px, 180px, 92px, 877px, 714px, '~base/images/spritesBC.png', 'sfa-bc-ssc-xjp', );
$sfa-bc-three-d-3d-ffc-name: 'sfa-bc-threeD-3d-ffc';
$sfa-bc-three-d-3d-ffc-x: 412px;
$sfa-bc-three-d-3d-ffc-y: 92px;
$sfa-bc-three-d-3d-ffc-offset-x: -412px;
$sfa-bc-three-d-3d-ffc-offset-y: -92px;
$sfa-bc-three-d-3d-ffc-width: 180px;
$sfa-bc-three-d-3d-ffc-height: 92px;
$sfa-bc-three-d-3d-ffc-total-width: 877px;
$sfa-bc-three-d-3d-ffc-total-height: 714px;
$sfa-bc-three-d-3d-ffc-image: '~base/images/spritesBC.png';
$sfa-bc-three-d-3d-ffc: (412px, 92px, -412px, -92px, 180px, 92px, 877px, 714px, '~base/images/spritesBC.png', 'sfa-bc-threeD-3d-ffc', );
$sfa-bc-three-d-3d-name: 'sfa-bc-threeD-3d';
$sfa-bc-three-d-3d-x: 412px;
$sfa-bc-three-d-3d-y: 0px;
$sfa-bc-three-d-3d-offset-x: -412px;
$sfa-bc-three-d-3d-offset-y: 0px;
$sfa-bc-three-d-3d-width: 180px;
$sfa-bc-three-d-3d-height: 92px;
$sfa-bc-three-d-3d-total-width: 877px;
$sfa-bc-three-d-3d-total-height: 714px;
$sfa-bc-three-d-3d-image: '~base/images/spritesBC.png';
$sfa-bc-three-d-3d: (412px, 0px, -412px, 0px, 180px, 92px, 877px, 714px, '~base/images/spritesBC.png', 'sfa-bc-threeD-3d', );
$sfa-bc-vouchers-disabled-name: 'sfa-bc-vouchers-disabled';
$sfa-bc-vouchers-disabled-x: 504px;
$sfa-bc-vouchers-disabled-y: 622px;
$sfa-bc-vouchers-disabled-offset-x: -504px;
$sfa-bc-vouchers-disabled-offset-y: -622px;
$sfa-bc-vouchers-disabled-width: 72px;
$sfa-bc-vouchers-disabled-height: 37px;
$sfa-bc-vouchers-disabled-total-width: 877px;
$sfa-bc-vouchers-disabled-total-height: 714px;
$sfa-bc-vouchers-disabled-image: '~base/images/spritesBC.png';
$sfa-bc-vouchers-disabled: (504px, 622px, -504px, -622px, 72px, 37px, 877px, 714px, '~base/images/spritesBC.png', 'sfa-bc-vouchers-disabled', );
$sfa-bc-vouchers-selected-name: 'sfa-bc-vouchers-selected';
$sfa-bc-vouchers-selected-x: 432px;
$sfa-bc-vouchers-selected-y: 622px;
$sfa-bc-vouchers-selected-offset-x: -432px;
$sfa-bc-vouchers-selected-offset-y: -622px;
$sfa-bc-vouchers-selected-width: 72px;
$sfa-bc-vouchers-selected-height: 37px;
$sfa-bc-vouchers-selected-total-width: 877px;
$sfa-bc-vouchers-selected-total-height: 714px;
$sfa-bc-vouchers-selected-image: '~base/images/spritesBC.png';
$sfa-bc-vouchers-selected: (432px, 622px, -432px, -622px, 72px, 37px, 877px, 714px, '~base/images/spritesBC.png', 'sfa-bc-vouchers-selected', );
$sfa-bc-vouchers-usable-name: 'sfa-bc-vouchers-usable';
$sfa-bc-vouchers-usable-x: 360px;
$sfa-bc-vouchers-usable-y: 622px;
$sfa-bc-vouchers-usable-offset-x: -360px;
$sfa-bc-vouchers-usable-offset-y: -622px;
$sfa-bc-vouchers-usable-width: 72px;
$sfa-bc-vouchers-usable-height: 37px;
$sfa-bc-vouchers-usable-total-width: 877px;
$sfa-bc-vouchers-usable-total-height: 714px;
$sfa-bc-vouchers-usable-image: '~base/images/spritesBC.png';
$sfa-bc-vouchers-usable: (360px, 622px, -360px, -622px, 72px, 37px, 877px, 714px, '~base/images/spritesBC.png', 'sfa-bc-vouchers-usable', );
$sfa-bc-vouchers-name: 'sfa-bc-vouchers';
$sfa-bc-vouchers-x: 257px;
$sfa-bc-vouchers-y: 230px;
$sfa-bc-vouchers-offset-x: -257px;
$sfa-bc-vouchers-offset-y: -230px;
$sfa-bc-vouchers-width: 80px;
$sfa-bc-vouchers-height: 24px;
$sfa-bc-vouchers-total-width: 877px;
$sfa-bc-vouchers-total-height: 714px;
$sfa-bc-vouchers-image: '~base/images/spritesBC.png';
$sfa-bc-vouchers: (257px, 230px, -257px, -230px, 80px, 24px, 877px, 714px, '~base/images/spritesBC.png', 'sfa-bc-vouchers', );
$sprites-b-c-width: 877px;
$sprites-b-c-height: 714px;
$sprites-b-c-image: '~base/images/spritesBC.png';
$sprites-b-c-sprites: ($sfa-bc-choose15-ffc, $sfa-bc-choose15-gd, $sfa-bc-choose15-jx, $sfa-bc-choose15-sd, $sfa-bc-empty, $sfa-bc-happy-5mark6, $sfa-bc-happy-jsk3-bc, $sfa-bc-icon-des, $sfa-bc-icon-open-num, $sfa-bc-icon-trend, $sfa-bc-light, $sfa-bc-low-3d-bc, $sfa-bc-low-3d-ffc, $sfa-bc-mark6-mark6, $sfa-bc-new-ssc-1, $sfa-bc-p5p3-p5p3, $sfa-bc-pk10-pk10, $sfa-bc-quick-close, $sfa-bc-quick-more, $sfa-bc-quick3-jsk3, $sfa-bc-ssc-bjwfc, $sfa-bc-ssc-canada, $sfa-bc-ssc-cq, $sfa-bc-ssc-dj, $sfa-bc-ssc-ffc, $sfa-bc-ssc-hg, $sfa-bc-ssc-hlj, $sfa-bc-ssc-jx, $sfa-bc-ssc-jz1-5-bc, $sfa-bc-ssc-jz1-5, $sfa-bc-ssc-mmc, $sfa-bc-ssc-qq30s, $sfa-bc-ssc-qq90s, $sfa-bc-ssc-qqffc, $sfa-bc-ssc-sfc, $sfa-bc-ssc-tj, $sfa-bc-ssc-tw, $sfa-bc-ssc-tx, $sfa-bc-ssc-wfc, $sfa-bc-ssc-wx1-5, $sfa-bc-ssc-xj-bc, $sfa-bc-ssc-xj-hg, $sfa-bc-ssc-xj, $sfa-bc-ssc-xjp, $sfa-bc-three-d-3d-ffc, $sfa-bc-three-d-3d, $sfa-bc-vouchers-disabled, $sfa-bc-vouchers-selected, $sfa-bc-vouchers-usable, $sfa-bc-vouchers, );
$sprites-b-c: (877px, 714px, '~base/images/spritesBC.png', $sprites-b-c-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
