// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$sfa-bc-choose15-ffc-hot-name: 'sfa-bc-choose15-ffc-hot';
$sfa-bc-choose15-ffc-hot-x: 722px;
$sfa-bc-choose15-ffc-hot-y: 160px;
$sfa-bc-choose15-ffc-hot-offset-x: -722px;
$sfa-bc-choose15-ffc-hot-offset-y: -160px;
$sfa-bc-choose15-ffc-hot-width: 155px;
$sfa-bc-choose15-ffc-hot-height: 160px;
$sfa-bc-choose15-ffc-hot-total-width: 1212px;
$sfa-bc-choose15-ffc-hot-total-height: 1010px;
$sfa-bc-choose15-ffc-hot-image: '~base/images/spritesBC.png';
$sfa-bc-choose15-ffc-hot: (722px, 160px, -722px, -160px, 155px, 160px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-choose15-ffc-hot', );
$sfa-bc-choose15-ffc-name: 'sfa-bc-choose15-ffc';
$sfa-bc-choose15-ffc-x: 540px;
$sfa-bc-choose15-ffc-y: 918px;
$sfa-bc-choose15-ffc-offset-x: -540px;
$sfa-bc-choose15-ffc-offset-y: -918px;
$sfa-bc-choose15-ffc-width: 180px;
$sfa-bc-choose15-ffc-height: 92px;
$sfa-bc-choose15-ffc-total-width: 1212px;
$sfa-bc-choose15-ffc-total-height: 1010px;
$sfa-bc-choose15-ffc-image: '~base/images/spritesBC.png';
$sfa-bc-choose15-ffc: (540px, 918px, -540px, -918px, 180px, 92px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-choose15-ffc', );
$sfa-bc-choose15-gd-hot-name: 'sfa-bc-choose15-gd-hot';
$sfa-bc-choose15-gd-hot-x: 412px;
$sfa-bc-choose15-gd-hot-y: 0px;
$sfa-bc-choose15-gd-hot-offset-x: -412px;
$sfa-bc-choose15-gd-hot-offset-y: 0px;
$sfa-bc-choose15-gd-hot-width: 155px;
$sfa-bc-choose15-gd-hot-height: 160px;
$sfa-bc-choose15-gd-hot-total-width: 1212px;
$sfa-bc-choose15-gd-hot-total-height: 1010px;
$sfa-bc-choose15-gd-hot-image: '~base/images/spritesBC.png';
$sfa-bc-choose15-gd-hot: (412px, 0px, -412px, 0px, 155px, 160px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-choose15-gd-hot', );
$sfa-bc-choose15-gd-name: 'sfa-bc-choose15-gd';
$sfa-bc-choose15-gd-x: 0px;
$sfa-bc-choose15-gd-y: 826px;
$sfa-bc-choose15-gd-offset-x: 0px;
$sfa-bc-choose15-gd-offset-y: -826px;
$sfa-bc-choose15-gd-width: 180px;
$sfa-bc-choose15-gd-height: 92px;
$sfa-bc-choose15-gd-total-width: 1212px;
$sfa-bc-choose15-gd-total-height: 1010px;
$sfa-bc-choose15-gd-image: '~base/images/spritesBC.png';
$sfa-bc-choose15-gd: (0px, 826px, 0px, -826px, 180px, 92px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-choose15-gd', );
$sfa-bc-choose15-jx-hot-name: 'sfa-bc-choose15-jx-hot';
$sfa-bc-choose15-jx-hot-x: 155px;
$sfa-bc-choose15-jx-hot-y: 254px;
$sfa-bc-choose15-jx-hot-offset-x: -155px;
$sfa-bc-choose15-jx-hot-offset-y: -254px;
$sfa-bc-choose15-jx-hot-width: 155px;
$sfa-bc-choose15-jx-hot-height: 160px;
$sfa-bc-choose15-jx-hot-total-width: 1212px;
$sfa-bc-choose15-jx-hot-total-height: 1010px;
$sfa-bc-choose15-jx-hot-image: '~base/images/spritesBC.png';
$sfa-bc-choose15-jx-hot: (155px, 254px, -155px, -254px, 155px, 160px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-choose15-jx-hot', );
$sfa-bc-choose15-jx-name: 'sfa-bc-choose15-jx';
$sfa-bc-choose15-jx-x: 720px;
$sfa-bc-choose15-jx-y: 826px;
$sfa-bc-choose15-jx-offset-x: -720px;
$sfa-bc-choose15-jx-offset-y: -826px;
$sfa-bc-choose15-jx-width: 180px;
$sfa-bc-choose15-jx-height: 92px;
$sfa-bc-choose15-jx-total-width: 1212px;
$sfa-bc-choose15-jx-total-height: 1010px;
$sfa-bc-choose15-jx-image: '~base/images/spritesBC.png';
$sfa-bc-choose15-jx: (720px, 826px, -720px, -826px, 180px, 92px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-choose15-jx', );
$sfa-bc-choose15-sd-hot-name: 'sfa-bc-choose15-sd-hot';
$sfa-bc-choose15-sd-hot-x: 567px;
$sfa-bc-choose15-sd-hot-y: 0px;
$sfa-bc-choose15-sd-hot-offset-x: -567px;
$sfa-bc-choose15-sd-hot-offset-y: 0px;
$sfa-bc-choose15-sd-hot-width: 155px;
$sfa-bc-choose15-sd-hot-height: 160px;
$sfa-bc-choose15-sd-hot-total-width: 1212px;
$sfa-bc-choose15-sd-hot-total-height: 1010px;
$sfa-bc-choose15-sd-hot-image: '~base/images/spritesBC.png';
$sfa-bc-choose15-sd-hot: (567px, 0px, -567px, 0px, 155px, 160px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-choose15-sd-hot', );
$sfa-bc-choose15-sd-name: 'sfa-bc-choose15-sd';
$sfa-bc-choose15-sd-x: 1032px;
$sfa-bc-choose15-sd-y: 0px;
$sfa-bc-choose15-sd-offset-x: -1032px;
$sfa-bc-choose15-sd-offset-y: 0px;
$sfa-bc-choose15-sd-width: 180px;
$sfa-bc-choose15-sd-height: 92px;
$sfa-bc-choose15-sd-total-width: 1212px;
$sfa-bc-choose15-sd-total-height: 1010px;
$sfa-bc-choose15-sd-image: '~base/images/spritesBC.png';
$sfa-bc-choose15-sd: (1032px, 0px, -1032px, 0px, 180px, 92px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-choose15-sd', );
$sfa-bc-empty-name: 'sfa-bc-empty';
$sfa-bc-empty-x: 1162px;
$sfa-bc-empty-y: 912px;
$sfa-bc-empty-offset-x: -1162px;
$sfa-bc-empty-offset-y: -912px;
$sfa-bc-empty-width: 41px;
$sfa-bc-empty-height: 36px;
$sfa-bc-empty-total-width: 1212px;
$sfa-bc-empty-total-height: 1010px;
$sfa-bc-empty-image: '~base/images/spritesBC.png';
$sfa-bc-empty: (1162px, 912px, -1162px, -912px, 41px, 36px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-empty', );
$sfa-bc-happy-5mark6-name: 'sfa-bc-happy-5mark6';
$sfa-bc-happy-5mark6-x: 877px;
$sfa-bc-happy-5mark6-y: 160px;
$sfa-bc-happy-5mark6-offset-x: -877px;
$sfa-bc-happy-5mark6-offset-y: -160px;
$sfa-bc-happy-5mark6-width: 65px;
$sfa-bc-happy-5mark6-height: 70px;
$sfa-bc-happy-5mark6-total-width: 1212px;
$sfa-bc-happy-5mark6-total-height: 1010px;
$sfa-bc-happy-5mark6-image: '~base/images/spritesBC.png';
$sfa-bc-happy-5mark6: (877px, 160px, -877px, -160px, 65px, 70px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-happy-5mark6', );
$sfa-bc-happy-jsk3-bc-name: 'sfa-bc-happy-jsk3-bc';
$sfa-bc-happy-jsk3-bc-x: 1120px;
$sfa-bc-happy-jsk3-bc-y: 749px;
$sfa-bc-happy-jsk3-bc-offset-x: -1120px;
$sfa-bc-happy-jsk3-bc-offset-y: -749px;
$sfa-bc-happy-jsk3-bc-width: 85px;
$sfa-bc-happy-jsk3-bc-height: 85px;
$sfa-bc-happy-jsk3-bc-total-width: 1212px;
$sfa-bc-happy-jsk3-bc-total-height: 1010px;
$sfa-bc-happy-jsk3-bc-image: '~base/images/spritesBC.png';
$sfa-bc-happy-jsk3-bc: (1120px, 749px, -1120px, -749px, 85px, 85px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-happy-jsk3-bc', );
$sfa-bc-icon-des-name: 'sfa-bc-icon-des';
$sfa-bc-icon-des-x: 1179px;
$sfa-bc-icon-des-y: 948px;
$sfa-bc-icon-des-offset-x: -1179px;
$sfa-bc-icon-des-offset-y: -948px;
$sfa-bc-icon-des-width: 13px;
$sfa-bc-icon-des-height: 15px;
$sfa-bc-icon-des-total-width: 1212px;
$sfa-bc-icon-des-total-height: 1010px;
$sfa-bc-icon-des-image: '~base/images/spritesBC.png';
$sfa-bc-icon-des: (1179px, 948px, -1179px, -948px, 13px, 15px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-icon-des', );
$sfa-bc-icon-open-num-name: 'sfa-bc-icon-open-num';
$sfa-bc-icon-open-num-x: 1182px;
$sfa-bc-icon-open-num-y: 714px;
$sfa-bc-icon-open-num-offset-x: -1182px;
$sfa-bc-icon-open-num-offset-y: -714px;
$sfa-bc-icon-open-num-width: 18px;
$sfa-bc-icon-open-num-height: 18px;
$sfa-bc-icon-open-num-total-width: 1212px;
$sfa-bc-icon-open-num-total-height: 1010px;
$sfa-bc-icon-open-num-image: '~base/images/spritesBC.png';
$sfa-bc-icon-open-num: (1182px, 714px, -1182px, -714px, 18px, 18px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-icon-open-num', );
$sfa-bc-icon-trend-name: 'sfa-bc-icon-trend';
$sfa-bc-icon-trend-x: 1137px;
$sfa-bc-icon-trend-y: 735px;
$sfa-bc-icon-trend-offset-x: -1137px;
$sfa-bc-icon-trend-offset-y: -735px;
$sfa-bc-icon-trend-width: 16px;
$sfa-bc-icon-trend-height: 10px;
$sfa-bc-icon-trend-total-width: 1212px;
$sfa-bc-icon-trend-total-height: 1010px;
$sfa-bc-icon-trend-image: '~base/images/spritesBC.png';
$sfa-bc-icon-trend: (1137px, 735px, -1137px, -735px, 16px, 10px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-icon-trend', );
$sfa-bc-light-name: 'sfa-bc-light';
$sfa-bc-light-x: 1162px;
$sfa-bc-light-y: 948px;
$sfa-bc-light-offset-x: -1162px;
$sfa-bc-light-offset-y: -948px;
$sfa-bc-light-width: 17px;
$sfa-bc-light-height: 17px;
$sfa-bc-light-total-width: 1212px;
$sfa-bc-light-total-height: 1010px;
$sfa-bc-light-image: '~base/images/spritesBC.png';
$sfa-bc-light: (1162px, 948px, -1162px, -948px, 17px, 17px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-light', );
$sfa-bc-low-3d-bc-name: 'sfa-bc-low-3d-bc';
$sfa-bc-low-3d-bc-x: 1122px;
$sfa-bc-low-3d-bc-y: 835px;
$sfa-bc-low-3d-bc-offset-x: -1122px;
$sfa-bc-low-3d-bc-offset-y: -835px;
$sfa-bc-low-3d-bc-width: 90px;
$sfa-bc-low-3d-bc-height: 77px;
$sfa-bc-low-3d-bc-total-width: 1212px;
$sfa-bc-low-3d-bc-total-height: 1010px;
$sfa-bc-low-3d-bc-image: '~base/images/spritesBC.png';
$sfa-bc-low-3d-bc: (1122px, 835px, -1122px, -835px, 90px, 77px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-low-3d-bc', );
$sfa-bc-low-3d-ffc-name: 'sfa-bc-low-3d-ffc';
$sfa-bc-low-3d-ffc-x: 942px;
$sfa-bc-low-3d-ffc-y: 300px;
$sfa-bc-low-3d-ffc-offset-x: -942px;
$sfa-bc-low-3d-ffc-offset-y: -300px;
$sfa-bc-low-3d-ffc-width: 65px;
$sfa-bc-low-3d-ffc-height: 70px;
$sfa-bc-low-3d-ffc-total-width: 1212px;
$sfa-bc-low-3d-ffc-total-height: 1010px;
$sfa-bc-low-3d-ffc-image: '~base/images/spritesBC.png';
$sfa-bc-low-3d-ffc: (942px, 300px, -942px, -300px, 65px, 70px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-low-3d-ffc', );
$sfa-bc-mark6-mark6-hot-name: 'sfa-bc-mark6-mark6-hot';
$sfa-bc-mark6-mark6-hot-x: 310px;
$sfa-bc-mark6-mark6-hot-y: 574px;
$sfa-bc-mark6-mark6-hot-offset-x: -310px;
$sfa-bc-mark6-mark6-hot-offset-y: -574px;
$sfa-bc-mark6-mark6-hot-width: 155px;
$sfa-bc-mark6-mark6-hot-height: 160px;
$sfa-bc-mark6-mark6-hot-total-width: 1212px;
$sfa-bc-mark6-mark6-hot-total-height: 1010px;
$sfa-bc-mark6-mark6-hot-image: '~base/images/spritesBC.png';
$sfa-bc-mark6-mark6-hot: (310px, 574px, -310px, -574px, 155px, 160px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-mark6-mark6-hot', );
$sfa-bc-mark6-mark6-name: 'sfa-bc-mark6-mark6';
$sfa-bc-mark6-mark6-x: 360px;
$sfa-bc-mark6-mark6-y: 826px;
$sfa-bc-mark6-mark6-offset-x: -360px;
$sfa-bc-mark6-mark6-offset-y: -826px;
$sfa-bc-mark6-mark6-width: 180px;
$sfa-bc-mark6-mark6-height: 92px;
$sfa-bc-mark6-mark6-total-width: 1212px;
$sfa-bc-mark6-mark6-total-height: 1010px;
$sfa-bc-mark6-mark6-image: '~base/images/spritesBC.png';
$sfa-bc-mark6-mark6: (360px, 826px, -360px, -826px, 180px, 92px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-mark6-mark6', );
$sfa-bc-p5p3-p5p3-name: 'sfa-bc-p5p3-p5p3';
$sfa-bc-p5p3-p5p3-x: 540px;
$sfa-bc-p5p3-p5p3-y: 734px;
$sfa-bc-p5p3-p5p3-offset-x: -540px;
$sfa-bc-p5p3-p5p3-offset-y: -734px;
$sfa-bc-p5p3-p5p3-width: 180px;
$sfa-bc-p5p3-p5p3-height: 92px;
$sfa-bc-p5p3-p5p3-total-width: 1212px;
$sfa-bc-p5p3-p5p3-total-height: 1010px;
$sfa-bc-p5p3-p5p3-image: '~base/images/spritesBC.png';
$sfa-bc-p5p3-p5p3: (540px, 734px, -540px, -734px, 180px, 92px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-p5p3-p5p3', );
$sfa-bc-pk10-pk10-hot-name: 'sfa-bc-pk10-pk10-hot';
$sfa-bc-pk10-pk10-hot-x: 877px;
$sfa-bc-pk10-pk10-hot-y: 0px;
$sfa-bc-pk10-pk10-hot-offset-x: -877px;
$sfa-bc-pk10-pk10-hot-offset-y: 0px;
$sfa-bc-pk10-pk10-hot-width: 155px;
$sfa-bc-pk10-pk10-hot-height: 160px;
$sfa-bc-pk10-pk10-hot-total-width: 1212px;
$sfa-bc-pk10-pk10-hot-total-height: 1010px;
$sfa-bc-pk10-pk10-hot-image: '~base/images/spritesBC.png';
$sfa-bc-pk10-pk10-hot: (877px, 0px, -877px, 0px, 155px, 160px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-pk10-pk10-hot', );
$sfa-bc-pk10-pk10-name: 'sfa-bc-pk10-pk10';
$sfa-bc-pk10-pk10-x: 180px;
$sfa-bc-pk10-pk10-y: 734px;
$sfa-bc-pk10-pk10-offset-x: -180px;
$sfa-bc-pk10-pk10-offset-y: -734px;
$sfa-bc-pk10-pk10-width: 180px;
$sfa-bc-pk10-pk10-height: 92px;
$sfa-bc-pk10-pk10-total-width: 1212px;
$sfa-bc-pk10-pk10-total-height: 1010px;
$sfa-bc-pk10-pk10-image: '~base/images/spritesBC.png';
$sfa-bc-pk10-pk10: (180px, 734px, -180px, -734px, 180px, 92px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-pk10-pk10', );
$sfa-bc-quick-close-name: 'sfa-bc-quick-close';
$sfa-bc-quick-close-x: 1162px;
$sfa-bc-quick-close-y: 714px;
$sfa-bc-quick-close-offset-x: -1162px;
$sfa-bc-quick-close-offset-y: -714px;
$sfa-bc-quick-close-width: 20px;
$sfa-bc-quick-close-height: 21px;
$sfa-bc-quick-close-total-width: 1212px;
$sfa-bc-quick-close-total-height: 1010px;
$sfa-bc-quick-close-image: '~base/images/spritesBC.png';
$sfa-bc-quick-close: (1162px, 714px, -1162px, -714px, 20px, 21px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-quick-close', );
$sfa-bc-quick-more-name: 'sfa-bc-quick-more';
$sfa-bc-quick-more-x: 1137px;
$sfa-bc-quick-more-y: 714px;
$sfa-bc-quick-more-offset-x: -1137px;
$sfa-bc-quick-more-offset-y: -714px;
$sfa-bc-quick-more-width: 25px;
$sfa-bc-quick-more-height: 21px;
$sfa-bc-quick-more-total-width: 1212px;
$sfa-bc-quick-more-total-height: 1010px;
$sfa-bc-quick-more-image: '~base/images/spritesBC.png';
$sfa-bc-quick-more: (1137px, 714px, -1137px, -714px, 25px, 21px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-quick-more', );
$sfa-bc-quick3-jsk3-hot-name: 'sfa-bc-quick3-jsk3-hot';
$sfa-bc-quick3-jsk3-hot-x: 620px;
$sfa-bc-quick3-jsk3-hot-y: 574px;
$sfa-bc-quick3-jsk3-hot-offset-x: -620px;
$sfa-bc-quick3-jsk3-hot-offset-y: -574px;
$sfa-bc-quick3-jsk3-hot-width: 155px;
$sfa-bc-quick3-jsk3-hot-height: 160px;
$sfa-bc-quick3-jsk3-hot-total-width: 1212px;
$sfa-bc-quick3-jsk3-hot-total-height: 1010px;
$sfa-bc-quick3-jsk3-hot-image: '~base/images/spritesBC.png';
$sfa-bc-quick3-jsk3-hot: (620px, 574px, -620px, -574px, 155px, 160px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-quick3-jsk3-hot', );
$sfa-bc-quick3-jsk3-name: 'sfa-bc-quick3-jsk3';
$sfa-bc-quick3-jsk3-x: 720px;
$sfa-bc-quick3-jsk3-y: 734px;
$sfa-bc-quick3-jsk3-offset-x: -720px;
$sfa-bc-quick3-jsk3-offset-y: -734px;
$sfa-bc-quick3-jsk3-width: 180px;
$sfa-bc-quick3-jsk3-height: 92px;
$sfa-bc-quick3-jsk3-total-width: 1212px;
$sfa-bc-quick3-jsk3-total-height: 1010px;
$sfa-bc-quick3-jsk3-image: '~base/images/spritesBC.png';
$sfa-bc-quick3-jsk3: (720px, 734px, -720px, -734px, 180px, 92px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-quick3-jsk3', );
$sfa-bc-ssc-bjwfc-name: 'sfa-bc-ssc-bjwfc';
$sfa-bc-ssc-bjwfc-x: 942px;
$sfa-bc-ssc-bjwfc-y: 160px;
$sfa-bc-ssc-bjwfc-offset-x: -942px;
$sfa-bc-ssc-bjwfc-offset-y: -160px;
$sfa-bc-ssc-bjwfc-width: 65px;
$sfa-bc-ssc-bjwfc-height: 70px;
$sfa-bc-ssc-bjwfc-total-width: 1212px;
$sfa-bc-ssc-bjwfc-total-height: 1010px;
$sfa-bc-ssc-bjwfc-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-bjwfc: (942px, 160px, -942px, -160px, 65px, 70px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-ssc-bjwfc', );
$sfa-bc-ssc-canada-name: 'sfa-bc-ssc-canada';
$sfa-bc-ssc-canada-x: 877px;
$sfa-bc-ssc-canada-y: 300px;
$sfa-bc-ssc-canada-offset-x: -877px;
$sfa-bc-ssc-canada-offset-y: -300px;
$sfa-bc-ssc-canada-width: 65px;
$sfa-bc-ssc-canada-height: 70px;
$sfa-bc-ssc-canada-total-width: 1212px;
$sfa-bc-ssc-canada-total-height: 1010px;
$sfa-bc-ssc-canada-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-canada: (877px, 300px, -877px, -300px, 65px, 70px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-ssc-canada', );
$sfa-bc-ssc-cq-hot-name: 'sfa-bc-ssc-cq-hot';
$sfa-bc-ssc-cq-hot-x: 465px;
$sfa-bc-ssc-cq-hot-y: 574px;
$sfa-bc-ssc-cq-hot-offset-x: -465px;
$sfa-bc-ssc-cq-hot-offset-y: -574px;
$sfa-bc-ssc-cq-hot-width: 155px;
$sfa-bc-ssc-cq-hot-height: 160px;
$sfa-bc-ssc-cq-hot-total-width: 1212px;
$sfa-bc-ssc-cq-hot-total-height: 1010px;
$sfa-bc-ssc-cq-hot-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-cq-hot: (465px, 574px, -465px, -574px, 155px, 160px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-ssc-cq-hot', );
$sfa-bc-ssc-cq-name: 'sfa-bc-ssc-cq';
$sfa-bc-ssc-cq-x: 540px;
$sfa-bc-ssc-cq-y: 826px;
$sfa-bc-ssc-cq-offset-x: -540px;
$sfa-bc-ssc-cq-offset-y: -826px;
$sfa-bc-ssc-cq-width: 180px;
$sfa-bc-ssc-cq-height: 92px;
$sfa-bc-ssc-cq-total-width: 1212px;
$sfa-bc-ssc-cq-total-height: 1010px;
$sfa-bc-ssc-cq-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-cq: (540px, 826px, -540px, -826px, 180px, 92px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-ssc-cq', );
$sfa-bc-ssc-dj-hot-name: 'sfa-bc-ssc-dj-hot';
$sfa-bc-ssc-dj-hot-x: 155px;
$sfa-bc-ssc-dj-hot-y: 574px;
$sfa-bc-ssc-dj-hot-offset-x: -155px;
$sfa-bc-ssc-dj-hot-offset-y: -574px;
$sfa-bc-ssc-dj-hot-width: 155px;
$sfa-bc-ssc-dj-hot-height: 160px;
$sfa-bc-ssc-dj-hot-total-width: 1212px;
$sfa-bc-ssc-dj-hot-total-height: 1010px;
$sfa-bc-ssc-dj-hot-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-dj-hot: (155px, 574px, -155px, -574px, 155px, 160px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-ssc-dj-hot', );
$sfa-bc-ssc-dj-name: 'sfa-bc-ssc-dj';
$sfa-bc-ssc-dj-x: 0px;
$sfa-bc-ssc-dj-y: 918px;
$sfa-bc-ssc-dj-offset-x: 0px;
$sfa-bc-ssc-dj-offset-y: -918px;
$sfa-bc-ssc-dj-width: 180px;
$sfa-bc-ssc-dj-height: 92px;
$sfa-bc-ssc-dj-total-width: 1212px;
$sfa-bc-ssc-dj-total-height: 1010px;
$sfa-bc-ssc-dj-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-dj: (0px, 918px, 0px, -918px, 180px, 92px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-ssc-dj', );
$sfa-bc-ssc-ffc-hot-name: 'sfa-bc-ssc-ffc-hot';
$sfa-bc-ssc-ffc-hot-x: 0px;
$sfa-bc-ssc-ffc-hot-y: 574px;
$sfa-bc-ssc-ffc-hot-offset-x: 0px;
$sfa-bc-ssc-ffc-hot-offset-y: -574px;
$sfa-bc-ssc-ffc-hot-width: 155px;
$sfa-bc-ssc-ffc-hot-height: 160px;
$sfa-bc-ssc-ffc-hot-total-width: 1212px;
$sfa-bc-ssc-ffc-hot-total-height: 1010px;
$sfa-bc-ssc-ffc-hot-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-ffc-hot: (0px, 574px, 0px, -574px, 155px, 160px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-ssc-ffc-hot', );
$sfa-bc-ssc-ffc-name: 'sfa-bc-ssc-ffc';
$sfa-bc-ssc-ffc-x: 360px;
$sfa-bc-ssc-ffc-y: 918px;
$sfa-bc-ssc-ffc-offset-x: -360px;
$sfa-bc-ssc-ffc-offset-y: -918px;
$sfa-bc-ssc-ffc-width: 180px;
$sfa-bc-ssc-ffc-height: 92px;
$sfa-bc-ssc-ffc-total-width: 1212px;
$sfa-bc-ssc-ffc-total-height: 1010px;
$sfa-bc-ssc-ffc-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-ffc: (360px, 918px, -360px, -918px, 180px, 92px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-ssc-ffc', );
$sfa-bc-ssc-hg-hot-name: 'sfa-bc-ssc-hg-hot';
$sfa-bc-ssc-hg-hot-x: 257px;
$sfa-bc-ssc-hg-hot-y: 0px;
$sfa-bc-ssc-hg-hot-offset-x: -257px;
$sfa-bc-ssc-hg-hot-offset-y: 0px;
$sfa-bc-ssc-hg-hot-width: 155px;
$sfa-bc-ssc-hg-hot-height: 160px;
$sfa-bc-ssc-hg-hot-total-width: 1212px;
$sfa-bc-ssc-hg-hot-total-height: 1010px;
$sfa-bc-ssc-hg-hot-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-hg-hot: (257px, 0px, -257px, 0px, 155px, 160px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-ssc-hg-hot', );
$sfa-bc-ssc-hg-name: 'sfa-bc-ssc-hg';
$sfa-bc-ssc-hg-x: 720px;
$sfa-bc-ssc-hg-y: 918px;
$sfa-bc-ssc-hg-offset-x: -720px;
$sfa-bc-ssc-hg-offset-y: -918px;
$sfa-bc-ssc-hg-width: 180px;
$sfa-bc-ssc-hg-height: 92px;
$sfa-bc-ssc-hg-total-width: 1212px;
$sfa-bc-ssc-hg-total-height: 1010px;
$sfa-bc-ssc-hg-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-hg: (720px, 918px, -720px, -918px, 180px, 92px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-ssc-hg', );
$sfa-bc-ssc-hlj-hot-name: 'sfa-bc-ssc-hlj-hot';
$sfa-bc-ssc-hlj-hot-x: 722px;
$sfa-bc-ssc-hlj-hot-y: 320px;
$sfa-bc-ssc-hlj-hot-offset-x: -722px;
$sfa-bc-ssc-hlj-hot-offset-y: -320px;
$sfa-bc-ssc-hlj-hot-width: 155px;
$sfa-bc-ssc-hlj-hot-height: 160px;
$sfa-bc-ssc-hlj-hot-total-width: 1212px;
$sfa-bc-ssc-hlj-hot-total-height: 1010px;
$sfa-bc-ssc-hlj-hot-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-hlj-hot: (722px, 320px, -722px, -320px, 155px, 160px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-ssc-hlj-hot', );
$sfa-bc-ssc-hlj-name: 'sfa-bc-ssc-hlj';
$sfa-bc-ssc-hlj-x: 1032px;
$sfa-bc-ssc-hlj-y: 92px;
$sfa-bc-ssc-hlj-offset-x: -1032px;
$sfa-bc-ssc-hlj-offset-y: -92px;
$sfa-bc-ssc-hlj-width: 180px;
$sfa-bc-ssc-hlj-height: 92px;
$sfa-bc-ssc-hlj-total-width: 1212px;
$sfa-bc-ssc-hlj-total-height: 1010px;
$sfa-bc-ssc-hlj-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-hlj: (1032px, 92px, -1032px, -92px, 180px, 92px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-ssc-hlj', );
$sfa-bc-ssc-jx-name: 'sfa-bc-ssc-jx';
$sfa-bc-ssc-jx-x: 877px;
$sfa-bc-ssc-jx-y: 370px;
$sfa-bc-ssc-jx-offset-x: -877px;
$sfa-bc-ssc-jx-offset-y: -370px;
$sfa-bc-ssc-jx-width: 65px;
$sfa-bc-ssc-jx-height: 70px;
$sfa-bc-ssc-jx-total-width: 1212px;
$sfa-bc-ssc-jx-total-height: 1010px;
$sfa-bc-ssc-jx-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-jx: (877px, 370px, -877px, -370px, 65px, 70px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-ssc-jx', );
$sfa-bc-ssc-jz1-5-bc-name: 'sfa-bc-ssc-jz1_5-bc';
$sfa-bc-ssc-jz1-5-bc-x: 1032px;
$sfa-bc-ssc-jz1-5-bc-y: 749px;
$sfa-bc-ssc-jz1-5-bc-offset-x: -1032px;
$sfa-bc-ssc-jz1-5-bc-offset-y: -749px;
$sfa-bc-ssc-jz1-5-bc-width: 88px;
$sfa-bc-ssc-jz1-5-bc-height: 86px;
$sfa-bc-ssc-jz1-5-bc-total-width: 1212px;
$sfa-bc-ssc-jz1-5-bc-total-height: 1010px;
$sfa-bc-ssc-jz1-5-bc-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-jz1-5-bc: (1032px, 749px, -1032px, -749px, 88px, 86px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-ssc-jz1_5-bc', );
$sfa-bc-ssc-jz1-5-name: 'sfa-bc-ssc-jz1_5';
$sfa-bc-ssc-jz1-5-x: 1032px;
$sfa-bc-ssc-jz1-5-y: 912px;
$sfa-bc-ssc-jz1-5-offset-x: -1032px;
$sfa-bc-ssc-jz1-5-offset-y: -912px;
$sfa-bc-ssc-jz1-5-width: 65px;
$sfa-bc-ssc-jz1-5-height: 70px;
$sfa-bc-ssc-jz1-5-total-width: 1212px;
$sfa-bc-ssc-jz1-5-total-height: 1010px;
$sfa-bc-ssc-jz1-5-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-jz1-5: (1032px, 912px, -1032px, -912px, 65px, 70px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-ssc-jz1_5', );
$sfa-bc-ssc-mmc-name: 'sfa-bc-ssc-mmc';
$sfa-bc-ssc-mmc-x: 0px;
$sfa-bc-ssc-mmc-y: 0px;
$sfa-bc-ssc-mmc-offset-x: 0px;
$sfa-bc-ssc-mmc-offset-y: 0px;
$sfa-bc-ssc-mmc-width: 257px;
$sfa-bc-ssc-mmc-height: 254px;
$sfa-bc-ssc-mmc-total-width: 1212px;
$sfa-bc-ssc-mmc-total-height: 1010px;
$sfa-bc-ssc-mmc-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-mmc: (0px, 0px, 0px, 0px, 257px, 254px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-ssc-mmc', );
$sfa-bc-ssc-qq30s-name: 'sfa-bc-ssc-qq30s';
$sfa-bc-ssc-qq30s-x: 1032px;
$sfa-bc-ssc-qq30s-y: 552px;
$sfa-bc-ssc-qq30s-offset-x: -1032px;
$sfa-bc-ssc-qq30s-offset-y: -552px;
$sfa-bc-ssc-qq30s-width: 180px;
$sfa-bc-ssc-qq30s-height: 92px;
$sfa-bc-ssc-qq30s-total-width: 1212px;
$sfa-bc-ssc-qq30s-total-height: 1010px;
$sfa-bc-ssc-qq30s-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-qq30s: (1032px, 552px, -1032px, -552px, 180px, 92px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-ssc-qq30s', );
$sfa-bc-ssc-qq90s-name: 'sfa-bc-ssc-qq90s';
$sfa-bc-ssc-qq90s-x: 1137px;
$sfa-bc-ssc-qq90s-y: 644px;
$sfa-bc-ssc-qq90s-offset-x: -1137px;
$sfa-bc-ssc-qq90s-offset-y: -644px;
$sfa-bc-ssc-qq90s-width: 65px;
$sfa-bc-ssc-qq90s-height: 70px;
$sfa-bc-ssc-qq90s-total-width: 1212px;
$sfa-bc-ssc-qq90s-total-height: 1010px;
$sfa-bc-ssc-qq90s-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-qq90s: (1137px, 644px, -1137px, -644px, 65px, 70px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-ssc-qq90s', );
$sfa-bc-ssc-qqffc-hot-name: 'sfa-bc-ssc-qqffc-hot';
$sfa-bc-ssc-qqffc-hot-x: 722px;
$sfa-bc-ssc-qqffc-hot-y: 0px;
$sfa-bc-ssc-qqffc-hot-offset-x: -722px;
$sfa-bc-ssc-qqffc-hot-offset-y: 0px;
$sfa-bc-ssc-qqffc-hot-width: 155px;
$sfa-bc-ssc-qqffc-hot-height: 160px;
$sfa-bc-ssc-qqffc-hot-total-width: 1212px;
$sfa-bc-ssc-qqffc-hot-total-height: 1010px;
$sfa-bc-ssc-qqffc-hot-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-qqffc-hot: (722px, 0px, -722px, 0px, 155px, 160px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-ssc-qqffc-hot', );
$sfa-bc-ssc-qqffc-name: 'sfa-bc-ssc-qqffc';
$sfa-bc-ssc-qqffc-x: 0px;
$sfa-bc-ssc-qqffc-y: 734px;
$sfa-bc-ssc-qqffc-offset-x: 0px;
$sfa-bc-ssc-qqffc-offset-y: -734px;
$sfa-bc-ssc-qqffc-width: 180px;
$sfa-bc-ssc-qqffc-height: 92px;
$sfa-bc-ssc-qqffc-total-width: 1212px;
$sfa-bc-ssc-qqffc-total-height: 1010px;
$sfa-bc-ssc-qqffc-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-qqffc: (0px, 734px, 0px, -734px, 180px, 92px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-ssc-qqffc', );
$sfa-bc-ssc-sfc-hot-name: 'sfa-bc-ssc-sfc-hot';
$sfa-bc-ssc-sfc-hot-x: 465px;
$sfa-bc-ssc-sfc-hot-y: 414px;
$sfa-bc-ssc-sfc-hot-offset-x: -465px;
$sfa-bc-ssc-sfc-hot-offset-y: -414px;
$sfa-bc-ssc-sfc-hot-width: 155px;
$sfa-bc-ssc-sfc-hot-height: 160px;
$sfa-bc-ssc-sfc-hot-total-width: 1212px;
$sfa-bc-ssc-sfc-hot-total-height: 1010px;
$sfa-bc-ssc-sfc-hot-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-sfc-hot: (465px, 414px, -465px, -414px, 155px, 160px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-ssc-sfc-hot', );
$sfa-bc-ssc-sfc-name: 'sfa-bc-ssc-sfc';
$sfa-bc-ssc-sfc-x: 1032px;
$sfa-bc-ssc-sfc-y: 460px;
$sfa-bc-ssc-sfc-offset-x: -1032px;
$sfa-bc-ssc-sfc-offset-y: -460px;
$sfa-bc-ssc-sfc-width: 180px;
$sfa-bc-ssc-sfc-height: 92px;
$sfa-bc-ssc-sfc-total-width: 1212px;
$sfa-bc-ssc-sfc-total-height: 1010px;
$sfa-bc-ssc-sfc-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-sfc: (1032px, 460px, -1032px, -460px, 180px, 92px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-ssc-sfc', );
$sfa-bc-ssc-tj-hot-name: 'sfa-bc-ssc-tj-hot';
$sfa-bc-ssc-tj-hot-x: 310px;
$sfa-bc-ssc-tj-hot-y: 414px;
$sfa-bc-ssc-tj-hot-offset-x: -310px;
$sfa-bc-ssc-tj-hot-offset-y: -414px;
$sfa-bc-ssc-tj-hot-width: 155px;
$sfa-bc-ssc-tj-hot-height: 160px;
$sfa-bc-ssc-tj-hot-total-width: 1212px;
$sfa-bc-ssc-tj-hot-total-height: 1010px;
$sfa-bc-ssc-tj-hot-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-tj-hot: (310px, 414px, -310px, -414px, 155px, 160px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-ssc-tj-hot', );
$sfa-bc-ssc-tj-name: 'sfa-bc-ssc-tj';
$sfa-bc-ssc-tj-x: 1032px;
$sfa-bc-ssc-tj-y: 368px;
$sfa-bc-ssc-tj-offset-x: -1032px;
$sfa-bc-ssc-tj-offset-y: -368px;
$sfa-bc-ssc-tj-width: 180px;
$sfa-bc-ssc-tj-height: 92px;
$sfa-bc-ssc-tj-total-width: 1212px;
$sfa-bc-ssc-tj-total-height: 1010px;
$sfa-bc-ssc-tj-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-tj: (1032px, 368px, -1032px, -368px, 180px, 92px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-ssc-tj', );
$sfa-bc-ssc-tw-name: 'sfa-bc-ssc-tw';
$sfa-bc-ssc-tw-x: 1097px;
$sfa-bc-ssc-tw-y: 912px;
$sfa-bc-ssc-tw-offset-x: -1097px;
$sfa-bc-ssc-tw-offset-y: -912px;
$sfa-bc-ssc-tw-width: 65px;
$sfa-bc-ssc-tw-height: 70px;
$sfa-bc-ssc-tw-total-width: 1212px;
$sfa-bc-ssc-tw-total-height: 1010px;
$sfa-bc-ssc-tw-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-tw: (1097px, 912px, -1097px, -912px, 65px, 70px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-ssc-tw', );
$sfa-bc-ssc-tx-hot-name: 'sfa-bc-ssc-tx-hot';
$sfa-bc-ssc-tx-hot-x: 155px;
$sfa-bc-ssc-tx-hot-y: 414px;
$sfa-bc-ssc-tx-hot-offset-x: -155px;
$sfa-bc-ssc-tx-hot-offset-y: -414px;
$sfa-bc-ssc-tx-hot-width: 155px;
$sfa-bc-ssc-tx-hot-height: 160px;
$sfa-bc-ssc-tx-hot-total-width: 1212px;
$sfa-bc-ssc-tx-hot-total-height: 1010px;
$sfa-bc-ssc-tx-hot-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-tx-hot: (155px, 414px, -155px, -414px, 155px, 160px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-ssc-tx-hot', );
$sfa-bc-ssc-tx-name: 'sfa-bc-ssc-tx';
$sfa-bc-ssc-tx-x: 1032px;
$sfa-bc-ssc-tx-y: 276px;
$sfa-bc-ssc-tx-offset-x: -1032px;
$sfa-bc-ssc-tx-offset-y: -276px;
$sfa-bc-ssc-tx-width: 180px;
$sfa-bc-ssc-tx-height: 92px;
$sfa-bc-ssc-tx-total-width: 1212px;
$sfa-bc-ssc-tx-total-height: 1010px;
$sfa-bc-ssc-tx-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-tx: (1032px, 276px, -1032px, -276px, 180px, 92px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-ssc-tx', );
$sfa-bc-ssc-wfc-name: 'sfa-bc-ssc-wfc';
$sfa-bc-ssc-wfc-x: 877px;
$sfa-bc-ssc-wfc-y: 230px;
$sfa-bc-ssc-wfc-offset-x: -877px;
$sfa-bc-ssc-wfc-offset-y: -230px;
$sfa-bc-ssc-wfc-width: 65px;
$sfa-bc-ssc-wfc-height: 70px;
$sfa-bc-ssc-wfc-total-width: 1212px;
$sfa-bc-ssc-wfc-total-height: 1010px;
$sfa-bc-ssc-wfc-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-wfc: (877px, 230px, -877px, -230px, 65px, 70px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-ssc-wfc', );
$sfa-bc-ssc-wx1-5-name: 'sfa-bc-ssc-wx1_5';
$sfa-bc-ssc-wx1-5-x: 942px;
$sfa-bc-ssc-wx1-5-y: 230px;
$sfa-bc-ssc-wx1-5-offset-x: -942px;
$sfa-bc-ssc-wx1-5-offset-y: -230px;
$sfa-bc-ssc-wx1-5-width: 65px;
$sfa-bc-ssc-wx1-5-height: 70px;
$sfa-bc-ssc-wx1-5-total-width: 1212px;
$sfa-bc-ssc-wx1-5-total-height: 1010px;
$sfa-bc-ssc-wx1-5-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-wx1-5: (942px, 230px, -942px, -230px, 65px, 70px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-ssc-wx1_5', );
$sfa-bc-ssc-xj-bc-name: 'sfa-bc-ssc-xj-bc';
$sfa-bc-ssc-xj-bc-x: 1032px;
$sfa-bc-ssc-xj-bc-y: 835px;
$sfa-bc-ssc-xj-bc-offset-x: -1032px;
$sfa-bc-ssc-xj-bc-offset-y: -835px;
$sfa-bc-ssc-xj-bc-width: 90px;
$sfa-bc-ssc-xj-bc-height: 77px;
$sfa-bc-ssc-xj-bc-total-width: 1212px;
$sfa-bc-ssc-xj-bc-total-height: 1010px;
$sfa-bc-ssc-xj-bc-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-xj-bc: (1032px, 835px, -1032px, -835px, 90px, 77px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-ssc-xj-bc', );
$sfa-bc-ssc-xj-hg-name: 'sfa-bc-ssc-xj-hg';
$sfa-bc-ssc-xj-hg-x: 1032px;
$sfa-bc-ssc-xj-hg-y: 644px;
$sfa-bc-ssc-xj-hg-offset-x: -1032px;
$sfa-bc-ssc-xj-hg-offset-y: -644px;
$sfa-bc-ssc-xj-hg-width: 105px;
$sfa-bc-ssc-xj-hg-height: 105px;
$sfa-bc-ssc-xj-hg-total-width: 1212px;
$sfa-bc-ssc-xj-hg-total-height: 1010px;
$sfa-bc-ssc-xj-hg-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-xj-hg: (1032px, 644px, -1032px, -644px, 105px, 105px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-ssc-xj-hg', );
$sfa-bc-ssc-xj-hot-name: 'sfa-bc-ssc-xj-hot';
$sfa-bc-ssc-xj-hot-x: 0px;
$sfa-bc-ssc-xj-hot-y: 414px;
$sfa-bc-ssc-xj-hot-offset-x: 0px;
$sfa-bc-ssc-xj-hot-offset-y: -414px;
$sfa-bc-ssc-xj-hot-width: 155px;
$sfa-bc-ssc-xj-hot-height: 160px;
$sfa-bc-ssc-xj-hot-total-width: 1212px;
$sfa-bc-ssc-xj-hot-total-height: 1010px;
$sfa-bc-ssc-xj-hot-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-xj-hot: (0px, 414px, 0px, -414px, 155px, 160px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-ssc-xj-hot', );
$sfa-bc-ssc-xj-name: 'sfa-bc-ssc-xj';
$sfa-bc-ssc-xj-x: 1032px;
$sfa-bc-ssc-xj-y: 184px;
$sfa-bc-ssc-xj-offset-x: -1032px;
$sfa-bc-ssc-xj-offset-y: -184px;
$sfa-bc-ssc-xj-width: 180px;
$sfa-bc-ssc-xj-height: 92px;
$sfa-bc-ssc-xj-total-width: 1212px;
$sfa-bc-ssc-xj-total-height: 1010px;
$sfa-bc-ssc-xj-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-xj: (1032px, 184px, -1032px, -184px, 180px, 92px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-ssc-xj', );
$sfa-bc-ssc-xjp-hot-name: 'sfa-bc-ssc-xjp-hot';
$sfa-bc-ssc-xjp-hot-x: 567px;
$sfa-bc-ssc-xjp-hot-y: 160px;
$sfa-bc-ssc-xjp-hot-offset-x: -567px;
$sfa-bc-ssc-xjp-hot-offset-y: -160px;
$sfa-bc-ssc-xjp-hot-width: 155px;
$sfa-bc-ssc-xjp-hot-height: 160px;
$sfa-bc-ssc-xjp-hot-total-width: 1212px;
$sfa-bc-ssc-xjp-hot-total-height: 1010px;
$sfa-bc-ssc-xjp-hot-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-xjp-hot: (567px, 160px, -567px, -160px, 155px, 160px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-ssc-xjp-hot', );
$sfa-bc-ssc-xjp-name: 'sfa-bc-ssc-xjp';
$sfa-bc-ssc-xjp-x: 180px;
$sfa-bc-ssc-xjp-y: 918px;
$sfa-bc-ssc-xjp-offset-x: -180px;
$sfa-bc-ssc-xjp-offset-y: -918px;
$sfa-bc-ssc-xjp-width: 180px;
$sfa-bc-ssc-xjp-height: 92px;
$sfa-bc-ssc-xjp-total-width: 1212px;
$sfa-bc-ssc-xjp-total-height: 1010px;
$sfa-bc-ssc-xjp-image: '~base/images/spritesBC.png';
$sfa-bc-ssc-xjp: (180px, 918px, -180px, -918px, 180px, 92px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-ssc-xjp', );
$sfa-bc-three-d-3d-ffc-hot-name: 'sfa-bc-threeD-3d-ffc-hot';
$sfa-bc-three-d-3d-ffc-hot-x: 310px;
$sfa-bc-three-d-3d-ffc-hot-y: 254px;
$sfa-bc-three-d-3d-ffc-hot-offset-x: -310px;
$sfa-bc-three-d-3d-ffc-hot-offset-y: -254px;
$sfa-bc-three-d-3d-ffc-hot-width: 155px;
$sfa-bc-three-d-3d-ffc-hot-height: 160px;
$sfa-bc-three-d-3d-ffc-hot-total-width: 1212px;
$sfa-bc-three-d-3d-ffc-hot-total-height: 1010px;
$sfa-bc-three-d-3d-ffc-hot-image: '~base/images/spritesBC.png';
$sfa-bc-three-d-3d-ffc-hot: (310px, 254px, -310px, -254px, 155px, 160px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-threeD-3d-ffc-hot', );
$sfa-bc-three-d-3d-ffc-name: 'sfa-bc-threeD-3d-ffc';
$sfa-bc-three-d-3d-ffc-x: 180px;
$sfa-bc-three-d-3d-ffc-y: 826px;
$sfa-bc-three-d-3d-ffc-offset-x: -180px;
$sfa-bc-three-d-3d-ffc-offset-y: -826px;
$sfa-bc-three-d-3d-ffc-width: 180px;
$sfa-bc-three-d-3d-ffc-height: 92px;
$sfa-bc-three-d-3d-ffc-total-width: 1212px;
$sfa-bc-three-d-3d-ffc-total-height: 1010px;
$sfa-bc-three-d-3d-ffc-image: '~base/images/spritesBC.png';
$sfa-bc-three-d-3d-ffc: (180px, 826px, -180px, -826px, 180px, 92px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-threeD-3d-ffc', );
$sfa-bc-three-d-3d-hot-name: 'sfa-bc-threeD-3d-hot';
$sfa-bc-three-d-3d-hot-x: 0px;
$sfa-bc-three-d-3d-hot-y: 254px;
$sfa-bc-three-d-3d-hot-offset-x: 0px;
$sfa-bc-three-d-3d-hot-offset-y: -254px;
$sfa-bc-three-d-3d-hot-width: 155px;
$sfa-bc-three-d-3d-hot-height: 160px;
$sfa-bc-three-d-3d-hot-total-width: 1212px;
$sfa-bc-three-d-3d-hot-total-height: 1010px;
$sfa-bc-three-d-3d-hot-image: '~base/images/spritesBC.png';
$sfa-bc-three-d-3d-hot: (0px, 254px, 0px, -254px, 155px, 160px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-threeD-3d-hot', );
$sfa-bc-three-d-3d-name: 'sfa-bc-threeD-3d';
$sfa-bc-three-d-3d-x: 360px;
$sfa-bc-three-d-3d-y: 734px;
$sfa-bc-three-d-3d-offset-x: -360px;
$sfa-bc-three-d-3d-offset-y: -734px;
$sfa-bc-three-d-3d-width: 180px;
$sfa-bc-three-d-3d-height: 92px;
$sfa-bc-three-d-3d-total-width: 1212px;
$sfa-bc-three-d-3d-total-height: 1010px;
$sfa-bc-three-d-3d-image: '~base/images/spritesBC.png';
$sfa-bc-three-d-3d: (360px, 734px, -360px, -734px, 180px, 92px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-threeD-3d', );
$sfa-bc-vouchers-disabled-name: 'sfa-bc-vouchers-disabled';
$sfa-bc-vouchers-disabled-x: 949px;
$sfa-bc-vouchers-disabled-y: 440px;
$sfa-bc-vouchers-disabled-offset-x: -949px;
$sfa-bc-vouchers-disabled-offset-y: -440px;
$sfa-bc-vouchers-disabled-width: 72px;
$sfa-bc-vouchers-disabled-height: 37px;
$sfa-bc-vouchers-disabled-total-width: 1212px;
$sfa-bc-vouchers-disabled-total-height: 1010px;
$sfa-bc-vouchers-disabled-image: '~base/images/spritesBC.png';
$sfa-bc-vouchers-disabled: (949px, 440px, -949px, -440px, 72px, 37px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-vouchers-disabled', );
$sfa-bc-vouchers-selected-name: 'sfa-bc-vouchers-selected';
$sfa-bc-vouchers-selected-x: 877px;
$sfa-bc-vouchers-selected-y: 440px;
$sfa-bc-vouchers-selected-offset-x: -877px;
$sfa-bc-vouchers-selected-offset-y: -440px;
$sfa-bc-vouchers-selected-width: 72px;
$sfa-bc-vouchers-selected-height: 37px;
$sfa-bc-vouchers-selected-total-width: 1212px;
$sfa-bc-vouchers-selected-total-height: 1010px;
$sfa-bc-vouchers-selected-image: '~base/images/spritesBC.png';
$sfa-bc-vouchers-selected: (877px, 440px, -877px, -440px, 72px, 37px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-vouchers-selected', );
$sfa-bc-vouchers-usable-name: 'sfa-bc-vouchers-usable';
$sfa-bc-vouchers-usable-x: 942px;
$sfa-bc-vouchers-usable-y: 370px;
$sfa-bc-vouchers-usable-offset-x: -942px;
$sfa-bc-vouchers-usable-offset-y: -370px;
$sfa-bc-vouchers-usable-width: 72px;
$sfa-bc-vouchers-usable-height: 37px;
$sfa-bc-vouchers-usable-total-width: 1212px;
$sfa-bc-vouchers-usable-total-height: 1010px;
$sfa-bc-vouchers-usable-image: '~base/images/spritesBC.png';
$sfa-bc-vouchers-usable: (942px, 370px, -942px, -370px, 72px, 37px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-vouchers-usable', );
$sfa-bc-vouchers-name: 'sfa-bc-vouchers';
$sfa-bc-vouchers-x: 1032px;
$sfa-bc-vouchers-y: 982px;
$sfa-bc-vouchers-offset-x: -1032px;
$sfa-bc-vouchers-offset-y: -982px;
$sfa-bc-vouchers-width: 80px;
$sfa-bc-vouchers-height: 24px;
$sfa-bc-vouchers-total-width: 1212px;
$sfa-bc-vouchers-total-height: 1010px;
$sfa-bc-vouchers-image: '~base/images/spritesBC.png';
$sfa-bc-vouchers: (1032px, 982px, -1032px, -982px, 80px, 24px, 1212px, 1010px, '~base/images/spritesBC.png', 'sfa-bc-vouchers', );
$sprites-b-c-width: 1212px;
$sprites-b-c-height: 1010px;
$sprites-b-c-image: '~base/images/spritesBC.png';
$sprites-b-c-sprites: ($sfa-bc-choose15-ffc-hot, $sfa-bc-choose15-ffc, $sfa-bc-choose15-gd-hot, $sfa-bc-choose15-gd, $sfa-bc-choose15-jx-hot, $sfa-bc-choose15-jx, $sfa-bc-choose15-sd-hot, $sfa-bc-choose15-sd, $sfa-bc-empty, $sfa-bc-happy-5mark6, $sfa-bc-happy-jsk3-bc, $sfa-bc-icon-des, $sfa-bc-icon-open-num, $sfa-bc-icon-trend, $sfa-bc-light, $sfa-bc-low-3d-bc, $sfa-bc-low-3d-ffc, $sfa-bc-mark6-mark6-hot, $sfa-bc-mark6-mark6, $sfa-bc-p5p3-p5p3, $sfa-bc-pk10-pk10-hot, $sfa-bc-pk10-pk10, $sfa-bc-quick-close, $sfa-bc-quick-more, $sfa-bc-quick3-jsk3-hot, $sfa-bc-quick3-jsk3, $sfa-bc-ssc-bjwfc, $sfa-bc-ssc-canada, $sfa-bc-ssc-cq-hot, $sfa-bc-ssc-cq, $sfa-bc-ssc-dj-hot, $sfa-bc-ssc-dj, $sfa-bc-ssc-ffc-hot, $sfa-bc-ssc-ffc, $sfa-bc-ssc-hg-hot, $sfa-bc-ssc-hg, $sfa-bc-ssc-hlj-hot, $sfa-bc-ssc-hlj, $sfa-bc-ssc-jx, $sfa-bc-ssc-jz1-5-bc, $sfa-bc-ssc-jz1-5, $sfa-bc-ssc-mmc, $sfa-bc-ssc-qq30s, $sfa-bc-ssc-qq90s, $sfa-bc-ssc-qqffc-hot, $sfa-bc-ssc-qqffc, $sfa-bc-ssc-sfc-hot, $sfa-bc-ssc-sfc, $sfa-bc-ssc-tj-hot, $sfa-bc-ssc-tj, $sfa-bc-ssc-tw, $sfa-bc-ssc-tx-hot, $sfa-bc-ssc-tx, $sfa-bc-ssc-wfc, $sfa-bc-ssc-wx1-5, $sfa-bc-ssc-xj-bc, $sfa-bc-ssc-xj-hg, $sfa-bc-ssc-xj-hot, $sfa-bc-ssc-xj, $sfa-bc-ssc-xjp-hot, $sfa-bc-ssc-xjp, $sfa-bc-three-d-3d-ffc-hot, $sfa-bc-three-d-3d-ffc, $sfa-bc-three-d-3d-hot, $sfa-bc-three-d-3d, $sfa-bc-vouchers-disabled, $sfa-bc-vouchers-selected, $sfa-bc-vouchers-usable, $sfa-bc-vouchers, );
$sprites-b-c: (1212px, 1010px, '~base/images/spritesBC.png', $sprites-b-c-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
