/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sfa-slot-4-gtscb-name: 'sfa-slot-4-gtscb';
$sfa-slot-4-gtscb-x: 225px;
$sfa-slot-4-gtscb-y: 0px;
$sfa-slot-4-gtscb-offset-x: -225px;
$sfa-slot-4-gtscb-offset-y: 0px;
$sfa-slot-4-gtscb-width: 225px;
$sfa-slot-4-gtscb-height: 169px;
$sfa-slot-4-gtscb-total-width: 1350px;
$sfa-slot-4-gtscb-total-height: 1183px;
$sfa-slot-4-gtscb-image: '~base/images/spritePT.png';
$sfa-slot-4-gtscb: (225px, 0px, -225px, 0px, 225px, 169px, 1350px, 1183px, '~base/images/spritePT.png', 'sfa-slot-4-gtscb', );
$sfa-slot-4-gtsru-name: 'sfa-slot-4-gtsru';
$sfa-slot-4-gtsru-x: 900px;
$sfa-slot-4-gtsru-y: 0px;
$sfa-slot-4-gtsru-offset-x: -900px;
$sfa-slot-4-gtsru-offset-y: 0px;
$sfa-slot-4-gtsru-width: 225px;
$sfa-slot-4-gtsru-height: 169px;
$sfa-slot-4-gtsru-total-width: 1350px;
$sfa-slot-4-gtsru-total-height: 1183px;
$sfa-slot-4-gtsru-image: '~base/images/spritePT.png';
$sfa-slot-4-gtsru: (900px, 0px, -900px, 0px, 225px, 169px, 1350px, 1183px, '~base/images/spritePT.png', 'sfa-slot-4-gtsru', );
$sfa-slot-4-c7-name: 'sfa-slot-4-c7';
$sfa-slot-4-c7-x: 0px;
$sfa-slot-4-c7-y: 169px;
$sfa-slot-4-c7-offset-x: 0px;
$sfa-slot-4-c7-offset-y: -169px;
$sfa-slot-4-c7-width: 225px;
$sfa-slot-4-c7-height: 169px;
$sfa-slot-4-c7-total-width: 1350px;
$sfa-slot-4-c7-total-height: 1183px;
$sfa-slot-4-c7-image: '~base/images/spritePT.png';
$sfa-slot-4-c7: (0px, 169px, 0px, -169px, 225px, 169px, 1350px, 1183px, '~base/images/spritePT.png', 'sfa-slot-4-c7', );
$sfa-slot-4-fm-name: 'sfa-slot-4-fm';
$sfa-slot-4-fm-x: 225px;
$sfa-slot-4-fm-y: 169px;
$sfa-slot-4-fm-offset-x: -225px;
$sfa-slot-4-fm-offset-y: -169px;
$sfa-slot-4-fm-width: 225px;
$sfa-slot-4-fm-height: 169px;
$sfa-slot-4-fm-total-width: 1350px;
$sfa-slot-4-fm-total-height: 1183px;
$sfa-slot-4-fm-image: '~base/images/spritePT.png';
$sfa-slot-4-fm: (225px, 169px, -225px, -169px, 225px, 169px, 1350px, 1183px, '~base/images/spritePT.png', 'sfa-slot-4-fm', );
$sfa-slot-4-foy-name: 'sfa-slot-4-foy';
$sfa-slot-4-foy-x: 450px;
$sfa-slot-4-foy-y: 0px;
$sfa-slot-4-foy-offset-x: -450px;
$sfa-slot-4-foy-offset-y: 0px;
$sfa-slot-4-foy-width: 225px;
$sfa-slot-4-foy-height: 169px;
$sfa-slot-4-foy-total-width: 1350px;
$sfa-slot-4-foy-total-height: 1183px;
$sfa-slot-4-foy-image: '~base/images/spritePT.png';
$sfa-slot-4-foy: (450px, 0px, -450px, 0px, 225px, 169px, 1350px, 1183px, '~base/images/spritePT.png', 'sfa-slot-4-foy', );
$sfa-slot-4-ms-name: 'sfa-slot-4-ms';
$sfa-slot-4-ms-x: 450px;
$sfa-slot-4-ms-y: 169px;
$sfa-slot-4-ms-offset-x: -450px;
$sfa-slot-4-ms-offset-y: -169px;
$sfa-slot-4-ms-width: 225px;
$sfa-slot-4-ms-height: 169px;
$sfa-slot-4-ms-total-width: 1350px;
$sfa-slot-4-ms-total-height: 1183px;
$sfa-slot-4-ms-image: '~base/images/spritePT.png';
$sfa-slot-4-ms: (450px, 169px, -450px, -169px, 225px, 169px, 1350px, 1183px, '~base/images/spritePT.png', 'sfa-slot-4-ms', );
$sfa-slot-4-ta-name: 'sfa-slot-4-ta';
$sfa-slot-4-ta-x: 0px;
$sfa-slot-4-ta-y: 338px;
$sfa-slot-4-ta-offset-x: 0px;
$sfa-slot-4-ta-offset-y: -338px;
$sfa-slot-4-ta-width: 225px;
$sfa-slot-4-ta-height: 169px;
$sfa-slot-4-ta-total-width: 1350px;
$sfa-slot-4-ta-total-height: 1183px;
$sfa-slot-4-ta-image: '~base/images/spritePT.png';
$sfa-slot-4-ta: (0px, 338px, 0px, -338px, 225px, 169px, 1350px, 1183px, '~base/images/spritePT.png', 'sfa-slot-4-ta', );
$sfa-slot-4-bib-name: 'sfa-slot-4-bib';
$sfa-slot-4-bib-x: 225px;
$sfa-slot-4-bib-y: 338px;
$sfa-slot-4-bib-offset-x: -225px;
$sfa-slot-4-bib-offset-y: -338px;
$sfa-slot-4-bib-width: 225px;
$sfa-slot-4-bib-height: 169px;
$sfa-slot-4-bib-total-width: 1350px;
$sfa-slot-4-bib-total-height: 1183px;
$sfa-slot-4-bib-image: '~base/images/spritePT.png';
$sfa-slot-4-bib: (225px, 338px, -225px, -338px, 225px, 169px, 1350px, 1183px, '~base/images/spritePT.png', 'sfa-slot-4-bib', );
$sfa-slot-4-bl-name: 'sfa-slot-4-bl';
$sfa-slot-4-bl-x: 450px;
$sfa-slot-4-bl-y: 338px;
$sfa-slot-4-bl-offset-x: -450px;
$sfa-slot-4-bl-offset-y: -338px;
$sfa-slot-4-bl-width: 225px;
$sfa-slot-4-bl-height: 169px;
$sfa-slot-4-bl-total-width: 1350px;
$sfa-slot-4-bl-total-height: 1183px;
$sfa-slot-4-bl-image: '~base/images/spritePT.png';
$sfa-slot-4-bl: (450px, 338px, -450px, -338px, 225px, 169px, 1350px, 1183px, '~base/images/spritePT.png', 'sfa-slot-4-bl', );
$sfa-slot-4-cm-name: 'sfa-slot-4-cm';
$sfa-slot-4-cm-x: 675px;
$sfa-slot-4-cm-y: 0px;
$sfa-slot-4-cm-offset-x: -675px;
$sfa-slot-4-cm-offset-y: 0px;
$sfa-slot-4-cm-width: 225px;
$sfa-slot-4-cm-height: 169px;
$sfa-slot-4-cm-total-width: 1350px;
$sfa-slot-4-cm-total-height: 1183px;
$sfa-slot-4-cm-image: '~base/images/spritePT.png';
$sfa-slot-4-cm: (675px, 0px, -675px, 0px, 225px, 169px, 1350px, 1183px, '~base/images/spritePT.png', 'sfa-slot-4-cm', );
$sfa-slot-4-cnpr-name: 'sfa-slot-4-cnpr';
$sfa-slot-4-cnpr-x: 675px;
$sfa-slot-4-cnpr-y: 169px;
$sfa-slot-4-cnpr-offset-x: -675px;
$sfa-slot-4-cnpr-offset-y: -169px;
$sfa-slot-4-cnpr-width: 225px;
$sfa-slot-4-cnpr-height: 169px;
$sfa-slot-4-cnpr-total-width: 1350px;
$sfa-slot-4-cnpr-total-height: 1183px;
$sfa-slot-4-cnpr-image: '~base/images/spritePT.png';
$sfa-slot-4-cnpr: (675px, 169px, -675px, -169px, 225px, 169px, 1350px, 1183px, '~base/images/spritePT.png', 'sfa-slot-4-cnpr', );
$sfa-slot-4-ct-name: 'sfa-slot-4-ct';
$sfa-slot-4-ct-x: 675px;
$sfa-slot-4-ct-y: 338px;
$sfa-slot-4-ct-offset-x: -675px;
$sfa-slot-4-ct-offset-y: -338px;
$sfa-slot-4-ct-width: 225px;
$sfa-slot-4-ct-height: 169px;
$sfa-slot-4-ct-total-width: 1350px;
$sfa-slot-4-ct-total-height: 1183px;
$sfa-slot-4-ct-image: '~base/images/spritePT.png';
$sfa-slot-4-ct: (675px, 338px, -675px, -338px, 225px, 169px, 1350px, 1183px, '~base/images/spritePT.png', 'sfa-slot-4-ct', );
$sfa-slot-4-eas-name: 'sfa-slot-4-eas';
$sfa-slot-4-eas-x: 0px;
$sfa-slot-4-eas-y: 507px;
$sfa-slot-4-eas-offset-x: 0px;
$sfa-slot-4-eas-offset-y: -507px;
$sfa-slot-4-eas-width: 225px;
$sfa-slot-4-eas-height: 169px;
$sfa-slot-4-eas-total-width: 1350px;
$sfa-slot-4-eas-total-height: 1183px;
$sfa-slot-4-eas-image: '~base/images/spritePT.png';
$sfa-slot-4-eas: (0px, 507px, 0px, -507px, 225px, 169px, 1350px, 1183px, '~base/images/spritePT.png', 'sfa-slot-4-eas', );
$sfa-slot-4-er-name: 'sfa-slot-4-er';
$sfa-slot-4-er-x: 225px;
$sfa-slot-4-er-y: 507px;
$sfa-slot-4-er-offset-x: -225px;
$sfa-slot-4-er-offset-y: -507px;
$sfa-slot-4-er-width: 225px;
$sfa-slot-4-er-height: 169px;
$sfa-slot-4-er-total-width: 1350px;
$sfa-slot-4-er-total-height: 1183px;
$sfa-slot-4-er-image: '~base/images/spritePT.png';
$sfa-slot-4-er: (225px, 507px, -225px, -507px, 225px, 169px, 1350px, 1183px, '~base/images/spritePT.png', 'sfa-slot-4-er', );
$sfa-slot-4-fcgz-name: 'sfa-slot-4-fcgz';
$sfa-slot-4-fcgz-x: 450px;
$sfa-slot-4-fcgz-y: 507px;
$sfa-slot-4-fcgz-offset-x: -450px;
$sfa-slot-4-fcgz-offset-y: -507px;
$sfa-slot-4-fcgz-width: 225px;
$sfa-slot-4-fcgz-height: 169px;
$sfa-slot-4-fcgz-total-width: 1350px;
$sfa-slot-4-fcgz-total-height: 1183px;
$sfa-slot-4-fcgz-image: '~base/images/spritePT.png';
$sfa-slot-4-fcgz: (450px, 507px, -450px, -507px, 225px, 169px, 1350px, 1183px, '~base/images/spritePT.png', 'sfa-slot-4-fcgz', );
$sfa-slot-4-glg-name: 'sfa-slot-4-glg';
$sfa-slot-4-glg-x: 675px;
$sfa-slot-4-glg-y: 507px;
$sfa-slot-4-glg-offset-x: -675px;
$sfa-slot-4-glg-offset-y: -507px;
$sfa-slot-4-glg-width: 225px;
$sfa-slot-4-glg-height: 169px;
$sfa-slot-4-glg-total-width: 1350px;
$sfa-slot-4-glg-total-height: 1183px;
$sfa-slot-4-glg-image: '~base/images/spritePT.png';
$sfa-slot-4-glg: (675px, 507px, -675px, -507px, 225px, 169px, 1350px, 1183px, '~base/images/spritePT.png', 'sfa-slot-4-glg', );
$sfa-slot-4-glrj-name: 'sfa-slot-4-glrj';
$sfa-slot-4-glrj-x: 0px;
$sfa-slot-4-glrj-y: 676px;
$sfa-slot-4-glrj-offset-x: 0px;
$sfa-slot-4-glrj-offset-y: -676px;
$sfa-slot-4-glrj-width: 225px;
$sfa-slot-4-glrj-height: 169px;
$sfa-slot-4-glrj-total-width: 1350px;
$sfa-slot-4-glrj-total-height: 1183px;
$sfa-slot-4-glrj-image: '~base/images/spritePT.png';
$sfa-slot-4-glrj: (0px, 676px, 0px, -676px, 225px, 169px, 1350px, 1183px, '~base/images/spritePT.png', 'sfa-slot-4-glrj', );
$sfa-slot-4-gts50-name: 'sfa-slot-4-gts50';
$sfa-slot-4-gts50-x: 225px;
$sfa-slot-4-gts50-y: 676px;
$sfa-slot-4-gts50-offset-x: -225px;
$sfa-slot-4-gts50-offset-y: -676px;
$sfa-slot-4-gts50-width: 225px;
$sfa-slot-4-gts50-height: 169px;
$sfa-slot-4-gts50-total-width: 1350px;
$sfa-slot-4-gts50-total-height: 1183px;
$sfa-slot-4-gts50-image: '~base/images/spritePT.png';
$sfa-slot-4-gts50: (225px, 676px, -225px, -676px, 225px, 169px, 1350px, 1183px, '~base/images/spritePT.png', 'sfa-slot-4-gts50', );
$sfa-slot-4-gtsatq-name: 'sfa-slot-4-gtsatq';
$sfa-slot-4-gtsatq-x: 450px;
$sfa-slot-4-gtsatq-y: 676px;
$sfa-slot-4-gtsatq-offset-x: -450px;
$sfa-slot-4-gtsatq-offset-y: -676px;
$sfa-slot-4-gtsatq-width: 225px;
$sfa-slot-4-gtsatq-height: 169px;
$sfa-slot-4-gtsatq-total-width: 1350px;
$sfa-slot-4-gtsatq-total-height: 1183px;
$sfa-slot-4-gtsatq-image: '~base/images/spritePT.png';
$sfa-slot-4-gtsatq: (450px, 676px, -450px, -676px, 225px, 169px, 1350px, 1183px, '~base/images/spritePT.png', 'sfa-slot-4-gtsatq', );
$sfa-slot-4-gtshwkp-name: 'sfa-slot-4-gtshwkp';
$sfa-slot-4-gtshwkp-x: 675px;
$sfa-slot-4-gtshwkp-y: 676px;
$sfa-slot-4-gtshwkp-offset-x: -675px;
$sfa-slot-4-gtshwkp-offset-y: -676px;
$sfa-slot-4-gtshwkp-width: 225px;
$sfa-slot-4-gtshwkp-height: 169px;
$sfa-slot-4-gtshwkp-total-width: 1350px;
$sfa-slot-4-gtshwkp-total-height: 1183px;
$sfa-slot-4-gtshwkp-image: '~base/images/spritePT.png';
$sfa-slot-4-gtshwkp: (675px, 676px, -675px, -676px, 225px, 169px, 1350px, 1183px, '~base/images/spritePT.png', 'sfa-slot-4-gtshwkp', );
$sfa-slot-4-gtssmbr-name: 'sfa-slot-4-gtssmbr';
$sfa-slot-4-gtssmbr-x: 0px;
$sfa-slot-4-gtssmbr-y: 0px;
$sfa-slot-4-gtssmbr-offset-x: 0px;
$sfa-slot-4-gtssmbr-offset-y: 0px;
$sfa-slot-4-gtssmbr-width: 225px;
$sfa-slot-4-gtssmbr-height: 169px;
$sfa-slot-4-gtssmbr-total-width: 1350px;
$sfa-slot-4-gtssmbr-total-height: 1183px;
$sfa-slot-4-gtssmbr-image: '~base/images/spritePT.png';
$sfa-slot-4-gtssmbr: (0px, 0px, 0px, 0px, 225px, 169px, 1350px, 1183px, '~base/images/spritePT.png', 'sfa-slot-4-gtssmbr', );
$sfa-slot-4-jpgt-name: 'sfa-slot-4-jpgt';
$sfa-slot-4-jpgt-x: 900px;
$sfa-slot-4-jpgt-y: 169px;
$sfa-slot-4-jpgt-offset-x: -900px;
$sfa-slot-4-jpgt-offset-y: -169px;
$sfa-slot-4-jpgt-width: 225px;
$sfa-slot-4-jpgt-height: 169px;
$sfa-slot-4-jpgt-total-width: 1350px;
$sfa-slot-4-jpgt-total-height: 1183px;
$sfa-slot-4-jpgt-image: '~base/images/spritePT.png';
$sfa-slot-4-jpgt: (900px, 169px, -900px, -169px, 225px, 169px, 1350px, 1183px, '~base/images/spritePT.png', 'sfa-slot-4-jpgt', );
$sfa-slot-4-longlong-name: 'sfa-slot-4-longlong';
$sfa-slot-4-longlong-x: 900px;
$sfa-slot-4-longlong-y: 338px;
$sfa-slot-4-longlong-offset-x: -900px;
$sfa-slot-4-longlong-offset-y: -338px;
$sfa-slot-4-longlong-width: 225px;
$sfa-slot-4-longlong-height: 169px;
$sfa-slot-4-longlong-total-width: 1350px;
$sfa-slot-4-longlong-total-height: 1183px;
$sfa-slot-4-longlong-image: '~base/images/spritePT.png';
$sfa-slot-4-longlong: (900px, 338px, -900px, -338px, 225px, 169px, 1350px, 1183px, '~base/images/spritePT.png', 'sfa-slot-4-longlong', );
$sfa-slot-4-lvb-name: 'sfa-slot-4-lvb';
$sfa-slot-4-lvb-x: 900px;
$sfa-slot-4-lvb-y: 507px;
$sfa-slot-4-lvb-offset-x: -900px;
$sfa-slot-4-lvb-offset-y: -507px;
$sfa-slot-4-lvb-width: 225px;
$sfa-slot-4-lvb-height: 169px;
$sfa-slot-4-lvb-total-width: 1350px;
$sfa-slot-4-lvb-total-height: 1183px;
$sfa-slot-4-lvb-image: '~base/images/spritePT.png';
$sfa-slot-4-lvb: (900px, 507px, -900px, -507px, 225px, 169px, 1350px, 1183px, '~base/images/spritePT.png', 'sfa-slot-4-lvb', );
$sfa-slot-4-mcb-name: 'sfa-slot-4-mcb';
$sfa-slot-4-mcb-x: 900px;
$sfa-slot-4-mcb-y: 676px;
$sfa-slot-4-mcb-offset-x: -900px;
$sfa-slot-4-mcb-offset-y: -676px;
$sfa-slot-4-mcb-width: 225px;
$sfa-slot-4-mcb-height: 169px;
$sfa-slot-4-mcb-total-width: 1350px;
$sfa-slot-4-mcb-total-height: 1183px;
$sfa-slot-4-mcb-image: '~base/images/spritePT.png';
$sfa-slot-4-mcb: (900px, 676px, -900px, -676px, 225px, 169px, 1350px, 1183px, '~base/images/spritePT.png', 'sfa-slot-4-mcb', );
$sfa-slot-4-nian-name: 'sfa-slot-4-nian';
$sfa-slot-4-nian-x: 0px;
$sfa-slot-4-nian-y: 845px;
$sfa-slot-4-nian-offset-x: 0px;
$sfa-slot-4-nian-offset-y: -845px;
$sfa-slot-4-nian-width: 225px;
$sfa-slot-4-nian-height: 169px;
$sfa-slot-4-nian-total-width: 1350px;
$sfa-slot-4-nian-total-height: 1183px;
$sfa-slot-4-nian-image: '~base/images/spritePT.png';
$sfa-slot-4-nian: (0px, 845px, 0px, -845px, 225px, 169px, 1350px, 1183px, '~base/images/spritePT.png', 'sfa-slot-4-nian', );
$sfa-slot-4-pnp-name: 'sfa-slot-4-pnp';
$sfa-slot-4-pnp-x: 225px;
$sfa-slot-4-pnp-y: 845px;
$sfa-slot-4-pnp-offset-x: -225px;
$sfa-slot-4-pnp-offset-y: -845px;
$sfa-slot-4-pnp-width: 225px;
$sfa-slot-4-pnp-height: 169px;
$sfa-slot-4-pnp-total-width: 1350px;
$sfa-slot-4-pnp-total-height: 1183px;
$sfa-slot-4-pnp-image: '~base/images/spritePT.png';
$sfa-slot-4-pnp: (225px, 845px, -225px, -845px, 225px, 169px, 1350px, 1183px, '~base/images/spritePT.png', 'sfa-slot-4-pnp', );
$sfa-slot-4-qnw-name: 'sfa-slot-4-qnw';
$sfa-slot-4-qnw-x: 450px;
$sfa-slot-4-qnw-y: 845px;
$sfa-slot-4-qnw-offset-x: -450px;
$sfa-slot-4-qnw-offset-y: -845px;
$sfa-slot-4-qnw-width: 225px;
$sfa-slot-4-qnw-height: 169px;
$sfa-slot-4-qnw-total-width: 1350px;
$sfa-slot-4-qnw-total-height: 1183px;
$sfa-slot-4-qnw-image: '~base/images/spritePT.png';
$sfa-slot-4-qnw: (450px, 845px, -450px, -845px, 225px, 169px, 1350px, 1183px, '~base/images/spritePT.png', 'sfa-slot-4-qnw', );
$sfa-slot-4-qop-name: 'sfa-slot-4-qop';
$sfa-slot-4-qop-x: 675px;
$sfa-slot-4-qop-y: 845px;
$sfa-slot-4-qop-offset-x: -675px;
$sfa-slot-4-qop-offset-y: -845px;
$sfa-slot-4-qop-width: 225px;
$sfa-slot-4-qop-height: 169px;
$sfa-slot-4-qop-total-width: 1350px;
$sfa-slot-4-qop-total-height: 1183px;
$sfa-slot-4-qop-image: '~base/images/spritePT.png';
$sfa-slot-4-qop: (675px, 845px, -675px, -845px, 225px, 169px, 1350px, 1183px, '~base/images/spritePT.png', 'sfa-slot-4-qop', );
$sfa-slot-4-sib-name: 'sfa-slot-4-sib';
$sfa-slot-4-sib-x: 900px;
$sfa-slot-4-sib-y: 845px;
$sfa-slot-4-sib-offset-x: -900px;
$sfa-slot-4-sib-offset-y: -845px;
$sfa-slot-4-sib-width: 225px;
$sfa-slot-4-sib-height: 169px;
$sfa-slot-4-sib-total-width: 1350px;
$sfa-slot-4-sib-total-height: 1183px;
$sfa-slot-4-sib-image: '~base/images/spritePT.png';
$sfa-slot-4-sib: (900px, 845px, -900px, -845px, 225px, 169px, 1350px, 1183px, '~base/images/spritePT.png', 'sfa-slot-4-sib', );
$sfa-slot-4-sol-name: 'sfa-slot-4-sol';
$sfa-slot-4-sol-x: 1125px;
$sfa-slot-4-sol-y: 0px;
$sfa-slot-4-sol-offset-x: -1125px;
$sfa-slot-4-sol-offset-y: 0px;
$sfa-slot-4-sol-width: 225px;
$sfa-slot-4-sol-height: 169px;
$sfa-slot-4-sol-total-width: 1350px;
$sfa-slot-4-sol-total-height: 1183px;
$sfa-slot-4-sol-image: '~base/images/spritePT.png';
$sfa-slot-4-sol: (1125px, 0px, -1125px, 0px, 225px, 169px, 1350px, 1183px, '~base/images/spritePT.png', 'sfa-slot-4-sol', );
$sfa-slot-4-ub-name: 'sfa-slot-4-ub';
$sfa-slot-4-ub-x: 1125px;
$sfa-slot-4-ub-y: 169px;
$sfa-slot-4-ub-offset-x: -1125px;
$sfa-slot-4-ub-offset-y: -169px;
$sfa-slot-4-ub-width: 225px;
$sfa-slot-4-ub-height: 169px;
$sfa-slot-4-ub-total-width: 1350px;
$sfa-slot-4-ub-total-height: 1183px;
$sfa-slot-4-ub-image: '~base/images/spritePT.png';
$sfa-slot-4-ub: (1125px, 169px, -1125px, -169px, 225px, 169px, 1350px, 1183px, '~base/images/spritePT.png', 'sfa-slot-4-ub', );
$sfa-slot-4-wis-name: 'sfa-slot-4-wis';
$sfa-slot-4-wis-x: 1125px;
$sfa-slot-4-wis-y: 338px;
$sfa-slot-4-wis-offset-x: -1125px;
$sfa-slot-4-wis-offset-y: -338px;
$sfa-slot-4-wis-width: 225px;
$sfa-slot-4-wis-height: 169px;
$sfa-slot-4-wis-total-width: 1350px;
$sfa-slot-4-wis-total-height: 1183px;
$sfa-slot-4-wis-image: '~base/images/spritePT.png';
$sfa-slot-4-wis: (1125px, 338px, -1125px, -338px, 225px, 169px, 1350px, 1183px, '~base/images/spritePT.png', 'sfa-slot-4-wis', );
$sfa-slot-4-zcjb-name: 'sfa-slot-4-zcjb';
$sfa-slot-4-zcjb-x: 1125px;
$sfa-slot-4-zcjb-y: 507px;
$sfa-slot-4-zcjb-offset-x: -1125px;
$sfa-slot-4-zcjb-offset-y: -507px;
$sfa-slot-4-zcjb-width: 225px;
$sfa-slot-4-zcjb-height: 169px;
$sfa-slot-4-zcjb-total-width: 1350px;
$sfa-slot-4-zcjb-total-height: 1183px;
$sfa-slot-4-zcjb-image: '~base/images/spritePT.png';
$sfa-slot-4-zcjb: (1125px, 507px, -1125px, -507px, 225px, 169px, 1350px, 1183px, '~base/images/spritePT.png', 'sfa-slot-4-zcjb', );
$sfa-slot-4-scs-name: 'sfa-slot-4-scs';
$sfa-slot-4-scs-x: 1125px;
$sfa-slot-4-scs-y: 676px;
$sfa-slot-4-scs-offset-x: -1125px;
$sfa-slot-4-scs-offset-y: -676px;
$sfa-slot-4-scs-width: 225px;
$sfa-slot-4-scs-height: 169px;
$sfa-slot-4-scs-total-width: 1350px;
$sfa-slot-4-scs-total-height: 1183px;
$sfa-slot-4-scs-image: '~base/images/spritePT.png';
$sfa-slot-4-scs: (1125px, 676px, -1125px, -676px, 225px, 169px, 1350px, 1183px, '~base/images/spritePT.png', 'sfa-slot-4-scs', );
$sfa-slot-4-tclsc-name: 'sfa-slot-4-tclsc';
$sfa-slot-4-tclsc-x: 1125px;
$sfa-slot-4-tclsc-y: 845px;
$sfa-slot-4-tclsc-offset-x: -1125px;
$sfa-slot-4-tclsc-offset-y: -845px;
$sfa-slot-4-tclsc-width: 225px;
$sfa-slot-4-tclsc-height: 169px;
$sfa-slot-4-tclsc-total-width: 1350px;
$sfa-slot-4-tclsc-total-height: 1183px;
$sfa-slot-4-tclsc-image: '~base/images/spritePT.png';
$sfa-slot-4-tclsc: (1125px, 845px, -1125px, -845px, 225px, 169px, 1350px, 1183px, '~base/images/spritePT.png', 'sfa-slot-4-tclsc', );
$sfa-slot-4-ba-name: 'sfa-slot-4-ba';
$sfa-slot-4-ba-x: 0px;
$sfa-slot-4-ba-y: 1014px;
$sfa-slot-4-ba-offset-x: 0px;
$sfa-slot-4-ba-offset-y: -1014px;
$sfa-slot-4-ba-width: 225px;
$sfa-slot-4-ba-height: 169px;
$sfa-slot-4-ba-total-width: 1350px;
$sfa-slot-4-ba-total-height: 1183px;
$sfa-slot-4-ba-image: '~base/images/spritePT.png';
$sfa-slot-4-ba: (0px, 1014px, 0px, -1014px, 225px, 169px, 1350px, 1183px, '~base/images/spritePT.png', 'sfa-slot-4-ba', );
$sfa-slot-tab-collect-name: 'sfa-slot-tab-collect';
$sfa-slot-tab-collect-x: 225px;
$sfa-slot-tab-collect-y: 1014px;
$sfa-slot-tab-collect-offset-x: -225px;
$sfa-slot-tab-collect-offset-y: -1014px;
$sfa-slot-tab-collect-width: 18px;
$sfa-slot-tab-collect-height: 17px;
$sfa-slot-tab-collect-total-width: 1350px;
$sfa-slot-tab-collect-total-height: 1183px;
$sfa-slot-tab-collect-image: '~base/images/spritePT.png';
$sfa-slot-tab-collect: (225px, 1014px, -225px, -1014px, 18px, 17px, 1350px, 1183px, '~base/images/spritePT.png', 'sfa-slot-tab-collect', );
$sfa-slot-tab-collected-name: 'sfa-slot-tab-collected';
$sfa-slot-tab-collected-x: 243px;
$sfa-slot-tab-collected-y: 1014px;
$sfa-slot-tab-collected-offset-x: -243px;
$sfa-slot-tab-collected-offset-y: -1014px;
$sfa-slot-tab-collected-width: 18px;
$sfa-slot-tab-collected-height: 17px;
$sfa-slot-tab-collected-total-width: 1350px;
$sfa-slot-tab-collected-total-height: 1183px;
$sfa-slot-tab-collected-image: '~base/images/spritePT.png';
$sfa-slot-tab-collected: (243px, 1014px, -243px, -1014px, 18px, 17px, 1350px, 1183px, '~base/images/spritePT.png', 'sfa-slot-tab-collected', );
$sfa-slot-tab-query-name: 'sfa-slot-tab-query';
$sfa-slot-tab-query-x: 261px;
$sfa-slot-tab-query-y: 1014px;
$sfa-slot-tab-query-offset-x: -261px;
$sfa-slot-tab-query-offset-y: -1014px;
$sfa-slot-tab-query-width: 13px;
$sfa-slot-tab-query-height: 14px;
$sfa-slot-tab-query-total-width: 1350px;
$sfa-slot-tab-query-total-height: 1183px;
$sfa-slot-tab-query-image: '~base/images/spritePT.png';
$sfa-slot-tab-query: (261px, 1014px, -261px, -1014px, 13px, 14px, 1350px, 1183px, '~base/images/spritePT.png', 'sfa-slot-tab-query', );
$spritesheet-width: 1350px;
$spritesheet-height: 1183px;
$spritesheet-image: '~base/images/spritePT.png';
$spritesheet-PT-sprites: ($sfa-slot-4-gtscb, $sfa-slot-4-gtsru, $sfa-slot-4-c7, $sfa-slot-4-fm, $sfa-slot-4-foy, $sfa-slot-4-ms, $sfa-slot-4-ta, $sfa-slot-4-bib, $sfa-slot-4-bl, $sfa-slot-4-cm, $sfa-slot-4-cnpr, $sfa-slot-4-ct, $sfa-slot-4-eas, $sfa-slot-4-er, $sfa-slot-4-fcgz, $sfa-slot-4-glg, $sfa-slot-4-glrj, $sfa-slot-4-gts50, $sfa-slot-4-gtsatq, $sfa-slot-4-gtshwkp, $sfa-slot-4-gtssmbr, $sfa-slot-4-jpgt, $sfa-slot-4-longlong, $sfa-slot-4-lvb, $sfa-slot-4-mcb, $sfa-slot-4-nian, $sfa-slot-4-pnp, $sfa-slot-4-qnw, $sfa-slot-4-qop, $sfa-slot-4-sib, $sfa-slot-4-sol, $sfa-slot-4-ub, $sfa-slot-4-wis, $sfa-slot-4-zcjb, $sfa-slot-4-scs, $sfa-slot-4-tclsc, $sfa-slot-4-ba, $sfa-slot-tab-collect, $sfa-slot-tab-collected, $sfa-slot-tab-query, );
$spritesheet: (1350px, 1183px, '~base/images/spritePT.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin spritesPT($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
