// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$sfa-mmc-0-disabled-name: 'sfa-mmc-0-disabled';
$sfa-mmc-0-disabled-x: 2291px;
$sfa-mmc-0-disabled-y: 789px;
$sfa-mmc-0-disabled-offset-x: -2291px;
$sfa-mmc-0-disabled-offset-y: -789px;
$sfa-mmc-0-disabled-width: 44px;
$sfa-mmc-0-disabled-height: 60px;
$sfa-mmc-0-disabled-total-width: 2418px;
$sfa-mmc-0-disabled-total-height: 1739px;
$sfa-mmc-0-disabled-image: '~base/images/spritesMMC.png';
$sfa-mmc-0-disabled: (2291px, 789px, -2291px, -789px, 44px, 60px, 2418px, 1739px, '~base/images/spritesMMC.png', 'sfa-mmc-0-disabled', );
$sfa-mmc-0-name: 'sfa-mmc-0';
$sfa-mmc-0-x: 2203px;
$sfa-mmc-0-y: 789px;
$sfa-mmc-0-offset-x: -2203px;
$sfa-mmc-0-offset-y: -789px;
$sfa-mmc-0-width: 44px;
$sfa-mmc-0-height: 60px;
$sfa-mmc-0-total-width: 2418px;
$sfa-mmc-0-total-height: 1739px;
$sfa-mmc-0-image: '~base/images/spritesMMC.png';
$sfa-mmc-0: (2203px, 789px, -2203px, -789px, 44px, 60px, 2418px, 1739px, '~base/images/spritesMMC.png', 'sfa-mmc-0', );
$sfa-mmc-1-name: 'sfa-mmc-1';
$sfa-mmc-1-x: 2335px;
$sfa-mmc-1-y: 789px;
$sfa-mmc-1-offset-x: -2335px;
$sfa-mmc-1-offset-y: -789px;
$sfa-mmc-1-width: 44px;
$sfa-mmc-1-height: 60px;
$sfa-mmc-1-total-width: 2418px;
$sfa-mmc-1-total-height: 1739px;
$sfa-mmc-1-image: '~base/images/spritesMMC.png';
$sfa-mmc-1: (2335px, 789px, -2335px, -789px, 44px, 60px, 2418px, 1739px, '~base/images/spritesMMC.png', 'sfa-mmc-1', );
$sfa-mmc-2-name: 'sfa-mmc-2';
$sfa-mmc-2-x: 2159px;
$sfa-mmc-2-y: 789px;
$sfa-mmc-2-offset-x: -2159px;
$sfa-mmc-2-offset-y: -789px;
$sfa-mmc-2-width: 44px;
$sfa-mmc-2-height: 60px;
$sfa-mmc-2-total-width: 2418px;
$sfa-mmc-2-total-height: 1739px;
$sfa-mmc-2-image: '~base/images/spritesMMC.png';
$sfa-mmc-2: (2159px, 789px, -2159px, -789px, 44px, 60px, 2418px, 1739px, '~base/images/spritesMMC.png', 'sfa-mmc-2', );
$sfa-mmc-3-name: 'sfa-mmc-3';
$sfa-mmc-3-x: 2247px;
$sfa-mmc-3-y: 789px;
$sfa-mmc-3-offset-x: -2247px;
$sfa-mmc-3-offset-y: -789px;
$sfa-mmc-3-width: 44px;
$sfa-mmc-3-height: 60px;
$sfa-mmc-3-total-width: 2418px;
$sfa-mmc-3-total-height: 1739px;
$sfa-mmc-3-image: '~base/images/spritesMMC.png';
$sfa-mmc-3: (2247px, 789px, -2247px, -789px, 44px, 60px, 2418px, 1739px, '~base/images/spritesMMC.png', 'sfa-mmc-3', );
$sfa-mmc-4-name: 'sfa-mmc-4';
$sfa-mmc-4-x: 1741px;
$sfa-mmc-4-y: 856px;
$sfa-mmc-4-offset-x: -1741px;
$sfa-mmc-4-offset-y: -856px;
$sfa-mmc-4-width: 44px;
$sfa-mmc-4-height: 60px;
$sfa-mmc-4-total-width: 2418px;
$sfa-mmc-4-total-height: 1739px;
$sfa-mmc-4-image: '~base/images/spritesMMC.png';
$sfa-mmc-4: (1741px, 856px, -1741px, -856px, 44px, 60px, 2418px, 1739px, '~base/images/spritesMMC.png', 'sfa-mmc-4', );
$sfa-mmc-5-name: 'sfa-mmc-5';
$sfa-mmc-5-x: 1697px;
$sfa-mmc-5-y: 856px;
$sfa-mmc-5-offset-x: -1697px;
$sfa-mmc-5-offset-y: -856px;
$sfa-mmc-5-width: 44px;
$sfa-mmc-5-height: 60px;
$sfa-mmc-5-total-width: 2418px;
$sfa-mmc-5-total-height: 1739px;
$sfa-mmc-5-image: '~base/images/spritesMMC.png';
$sfa-mmc-5: (1697px, 856px, -1697px, -856px, 44px, 60px, 2418px, 1739px, '~base/images/spritesMMC.png', 'sfa-mmc-5', );
$sfa-mmc-6-name: 'sfa-mmc-6';
$sfa-mmc-6-x: 2367px;
$sfa-mmc-6-y: 312px;
$sfa-mmc-6-offset-x: -2367px;
$sfa-mmc-6-offset-y: -312px;
$sfa-mmc-6-width: 44px;
$sfa-mmc-6-height: 60px;
$sfa-mmc-6-total-width: 2418px;
$sfa-mmc-6-total-height: 1739px;
$sfa-mmc-6-image: '~base/images/spritesMMC.png';
$sfa-mmc-6: (2367px, 312px, -2367px, -312px, 44px, 60px, 2418px, 1739px, '~base/images/spritesMMC.png', 'sfa-mmc-6', );
$sfa-mmc-7-name: 'sfa-mmc-7';
$sfa-mmc-7-x: 2115px;
$sfa-mmc-7-y: 789px;
$sfa-mmc-7-offset-x: -2115px;
$sfa-mmc-7-offset-y: -789px;
$sfa-mmc-7-width: 44px;
$sfa-mmc-7-height: 60px;
$sfa-mmc-7-total-width: 2418px;
$sfa-mmc-7-total-height: 1739px;
$sfa-mmc-7-image: '~base/images/spritesMMC.png';
$sfa-mmc-7: (2115px, 789px, -2115px, -789px, 44px, 60px, 2418px, 1739px, '~base/images/spritesMMC.png', 'sfa-mmc-7', );
$sfa-mmc-8-name: 'sfa-mmc-8';
$sfa-mmc-8-x: 2367px;
$sfa-mmc-8-y: 372px;
$sfa-mmc-8-offset-x: -2367px;
$sfa-mmc-8-offset-y: -372px;
$sfa-mmc-8-width: 44px;
$sfa-mmc-8-height: 60px;
$sfa-mmc-8-total-width: 2418px;
$sfa-mmc-8-total-height: 1739px;
$sfa-mmc-8-image: '~base/images/spritesMMC.png';
$sfa-mmc-8: (2367px, 372px, -2367px, -372px, 44px, 60px, 2418px, 1739px, '~base/images/spritesMMC.png', 'sfa-mmc-8', );
$sfa-mmc-9-name: 'sfa-mmc-9';
$sfa-mmc-9-x: 1653px;
$sfa-mmc-9-y: 856px;
$sfa-mmc-9-offset-x: -1653px;
$sfa-mmc-9-offset-y: -856px;
$sfa-mmc-9-width: 44px;
$sfa-mmc-9-height: 60px;
$sfa-mmc-9-total-width: 2418px;
$sfa-mmc-9-total-height: 1739px;
$sfa-mmc-9-image: '~base/images/spritesMMC.png';
$sfa-mmc-9: (1653px, 856px, -1653px, -856px, 44px, 60px, 2418px, 1739px, '~base/images/spritesMMC.png', 'sfa-mmc-9', );
$sfa-mmc-add-btn-name: 'sfa-mmc-add-btn';
$sfa-mmc-add-btn-x: 2115px;
$sfa-mmc-add-btn-y: 705px;
$sfa-mmc-add-btn-offset-x: -2115px;
$sfa-mmc-add-btn-offset-y: -705px;
$sfa-mmc-add-btn-width: 130px;
$sfa-mmc-add-btn-height: 42px;
$sfa-mmc-add-btn-total-width: 2418px;
$sfa-mmc-add-btn-total-height: 1739px;
$sfa-mmc-add-btn-image: '~base/images/spritesMMC.png';
$sfa-mmc-add-btn: (2115px, 705px, -2115px, -705px, 130px, 42px, 2418px, 1739px, '~base/images/spritesMMC.png', 'sfa-mmc-add-btn', );
$sfa-mmc-again-btn-name: 'sfa-mmc-again-btn';
$sfa-mmc-again-btn-x: 726px;
$sfa-mmc-again-btn-y: 1179px;
$sfa-mmc-again-btn-offset-x: -726px;
$sfa-mmc-again-btn-offset-y: -1179px;
$sfa-mmc-again-btn-width: 475px;
$sfa-mmc-again-btn-height: 125px;
$sfa-mmc-again-btn-total-width: 2418px;
$sfa-mmc-again-btn-total-height: 1739px;
$sfa-mmc-again-btn-image: '~base/images/spritesMMC.png';
$sfa-mmc-again-btn: (726px, 1179px, -726px, -1179px, 475px, 125px, 2418px, 1739px, '~base/images/spritesMMC.png', 'sfa-mmc-again-btn', );
$sfa-mmc-betting-content-name: 'sfa-mmc-betting-content';
$sfa-mmc-betting-content-x: 2291px;
$sfa-mmc-betting-content-y: 440px;
$sfa-mmc-betting-content-offset-x: -2291px;
$sfa-mmc-betting-content-offset-y: -440px;
$sfa-mmc-betting-content-width: 120px;
$sfa-mmc-betting-content-height: 42px;
$sfa-mmc-betting-content-total-width: 2418px;
$sfa-mmc-betting-content-total-height: 1739px;
$sfa-mmc-betting-content-image: '~base/images/spritesMMC.png';
$sfa-mmc-betting-content: (2291px, 440px, -2291px, -440px, 120px, 42px, 2418px, 1739px, '~base/images/spritesMMC.png', 'sfa-mmc-betting-content', );
$sfa-mmc-betting-record-name: 'sfa-mmc-betting-record';
$sfa-mmc-betting-record-x: 1227px;
$sfa-mmc-betting-record-y: 312px;
$sfa-mmc-betting-record-offset-x: -1227px;
$sfa-mmc-betting-record-offset-y: -312px;
$sfa-mmc-betting-record-width: 1008px;
$sfa-mmc-betting-record-height: 213px;
$sfa-mmc-betting-record-total-width: 2418px;
$sfa-mmc-betting-record-total-height: 1739px;
$sfa-mmc-betting-record-image: '~base/images/spritesMMC.png';
$sfa-mmc-betting-record: (1227px, 312px, -1227px, -312px, 1008px, 213px, 2418px, 1739px, '~base/images/spritesMMC.png', 'sfa-mmc-betting-record', );
$sfa-mmc-content-bottom-name: 'sfa-mmc-content-bottom';
$sfa-mmc-content-bottom-x: 0px;
$sfa-mmc-content-bottom-y: 450px;
$sfa-mmc-content-bottom-offset-x: 0px;
$sfa-mmc-content-bottom-offset-y: -450px;
$sfa-mmc-content-bottom-width: 1191px;
$sfa-mmc-content-bottom-height: 417px;
$sfa-mmc-content-bottom-total-width: 2418px;
$sfa-mmc-content-bottom-total-height: 1739px;
$sfa-mmc-content-bottom-image: '~base/images/spritesMMC.png';
$sfa-mmc-content-bottom: (0px, 450px, 0px, -450px, 1191px, 417px, 2418px, 1739px, '~base/images/spritesMMC.png', 'sfa-mmc-content-bottom', );
$sfa-mmc-content-opening-name: 'sfa-mmc-content-opening';
$sfa-mmc-content-opening-x: 1227px;
$sfa-mmc-content-opening-y: 0px;
$sfa-mmc-content-opening-offset-x: -1227px;
$sfa-mmc-content-opening-offset-y: 0px;
$sfa-mmc-content-opening-width: 1191px;
$sfa-mmc-content-opening-height: 312px;
$sfa-mmc-content-opening-total-width: 2418px;
$sfa-mmc-content-opening-total-height: 1739px;
$sfa-mmc-content-opening-image: '~base/images/spritesMMC.png';
$sfa-mmc-content-opening: (1227px, 0px, -1227px, 0px, 1191px, 312px, 2418px, 1739px, '~base/images/spritesMMC.png', 'sfa-mmc-content-opening', );
$sfa-mmc-content-top-name: 'sfa-mmc-content-top';
$sfa-mmc-content-top-x: 0px;
$sfa-mmc-content-top-y: 867px;
$sfa-mmc-content-top-offset-x: 0px;
$sfa-mmc-content-top-offset-y: -867px;
$sfa-mmc-content-top-width: 1191px;
$sfa-mmc-content-top-height: 312px;
$sfa-mmc-content-top-total-width: 2418px;
$sfa-mmc-content-top-total-height: 1739px;
$sfa-mmc-content-top-image: '~base/images/spritesMMC.png';
$sfa-mmc-content-top: (0px, 867px, 0px, -867px, 1191px, 312px, 2418px, 1739px, '~base/images/spritesMMC.png', 'sfa-mmc-content-top', );
$sfa-mmc-delete-name: 'sfa-mmc-delete';
$sfa-mmc-delete-x: 2388px;
$sfa-mmc-delete-y: 482px;
$sfa-mmc-delete-offset-x: -2388px;
$sfa-mmc-delete-offset-y: -482px;
$sfa-mmc-delete-width: 16px;
$sfa-mmc-delete-height: 17px;
$sfa-mmc-delete-total-width: 2418px;
$sfa-mmc-delete-total-height: 1739px;
$sfa-mmc-delete-image: '~base/images/spritesMMC.png';
$sfa-mmc-delete: (2388px, 482px, -2388px, -482px, 16px, 17px, 2418px, 1739px, '~base/images/spritesMMC.png', 'sfa-mmc-delete', );
$sfa-mmc-double-ball-name: 'sfa-mmc-double-ball';
$sfa-mmc-double-ball-x: 2326px;
$sfa-mmc-double-ball-y: 482px;
$sfa-mmc-double-ball-offset-x: -2326px;
$sfa-mmc-double-ball-offset-y: -482px;
$sfa-mmc-double-ball-width: 39px;
$sfa-mmc-double-ball-height: 26px;
$sfa-mmc-double-ball-total-width: 2418px;
$sfa-mmc-double-ball-total-height: 1739px;
$sfa-mmc-double-ball-image: '~base/images/spritesMMC.png';
$sfa-mmc-double-ball: (2326px, 482px, -2326px, -482px, 39px, 26px, 2418px, 1739px, '~base/images/spritesMMC.png', 'sfa-mmc-double-ball', );
$sfa-mmc-down-arrow-name: 'sfa-mmc-down-arrow';
$sfa-mmc-down-arrow-x: 2367px;
$sfa-mmc-down-arrow-y: 432px;
$sfa-mmc-down-arrow-offset-x: -2367px;
$sfa-mmc-down-arrow-offset-y: -432px;
$sfa-mmc-down-arrow-width: 13px;
$sfa-mmc-down-arrow-height: 7px;
$sfa-mmc-down-arrow-total-width: 2418px;
$sfa-mmc-down-arrow-total-height: 1739px;
$sfa-mmc-down-arrow-image: '~base/images/spritesMMC.png';
$sfa-mmc-down-arrow: (2367px, 432px, -2367px, -432px, 13px, 7px, 2418px, 1739px, '~base/images/spritesMMC.png', 'sfa-mmc-down-arrow', );
$sfa-mmc-lever-down-name: 'sfa-mmc-lever-down';
$sfa-mmc-lever-down-x: 2235px;
$sfa-mmc-lever-down-y: 312px;
$sfa-mmc-lever-down-offset-x: -2235px;
$sfa-mmc-lever-down-offset-y: -312px;
$sfa-mmc-lever-down-width: 56px;
$sfa-mmc-lever-down-height: 205px;
$sfa-mmc-lever-down-total-width: 2418px;
$sfa-mmc-lever-down-total-height: 1739px;
$sfa-mmc-lever-down-image: '~base/images/spritesMMC.png';
$sfa-mmc-lever-down: (2235px, 312px, -2235px, -312px, 56px, 205px, 2418px, 1739px, '~base/images/spritesMMC.png', 'sfa-mmc-lever-down', );
$sfa-mmc-lever-name: 'sfa-mmc-lever';
$sfa-mmc-lever-x: 325px;
$sfa-mmc-lever-y: 1574px;
$sfa-mmc-lever-offset-x: -325px;
$sfa-mmc-lever-offset-y: -1574px;
$sfa-mmc-lever-width: 56px;
$sfa-mmc-lever-height: 163px;
$sfa-mmc-lever-total-width: 2418px;
$sfa-mmc-lever-total-height: 1739px;
$sfa-mmc-lever-image: '~base/images/spritesMMC.png';
$sfa-mmc-lever: (325px, 1574px, -325px, -1574px, 56px, 163px, 2418px, 1739px, '~base/images/spritesMMC.png', 'sfa-mmc-lever', );
$sfa-mmc-lose-name: 'sfa-mmc-lose';
$sfa-mmc-lose-x: 0px;
$sfa-mmc-lose-y: 1574px;
$sfa-mmc-lose-offset-x: 0px;
$sfa-mmc-lose-offset-y: -1574px;
$sfa-mmc-lose-width: 325px;
$sfa-mmc-lose-height: 165px;
$sfa-mmc-lose-total-width: 2418px;
$sfa-mmc-lose-total-height: 1739px;
$sfa-mmc-lose-image: '~base/images/spritesMMC.png';
$sfa-mmc-lose: (0px, 1574px, 0px, -1574px, 325px, 165px, 2418px, 1739px, '~base/images/spritesMMC.png', 'sfa-mmc-lose', );
$sfa-mmc-opening-flash-0-name: 'sfa-mmc-opening-flash-0';
$sfa-mmc-opening-flash-0-x: 1653px;
$sfa-mmc-opening-flash-0-y: 705px;
$sfa-mmc-opening-flash-0-offset-x: -1653px;
$sfa-mmc-opening-flash-0-offset-y: -705px;
$sfa-mmc-opening-flash-0-width: 462px;
$sfa-mmc-opening-flash-0-height: 151px;
$sfa-mmc-opening-flash-0-total-width: 2418px;
$sfa-mmc-opening-flash-0-total-height: 1739px;
$sfa-mmc-opening-flash-0-image: '~base/images/spritesMMC.png';
$sfa-mmc-opening-flash-0: (1653px, 705px, -1653px, -705px, 462px, 151px, 2418px, 1739px, '~base/images/spritesMMC.png', 'sfa-mmc-opening-flash-0', );
$sfa-mmc-opening-flash-1-name: 'sfa-mmc-opening-flash-1';
$sfa-mmc-opening-flash-1-x: 264px;
$sfa-mmc-opening-flash-1-y: 1179px;
$sfa-mmc-opening-flash-1-offset-x: -264px;
$sfa-mmc-opening-flash-1-offset-y: -1179px;
$sfa-mmc-opening-flash-1-width: 462px;
$sfa-mmc-opening-flash-1-height: 151px;
$sfa-mmc-opening-flash-1-total-width: 2418px;
$sfa-mmc-opening-flash-1-total-height: 1739px;
$sfa-mmc-opening-flash-1-image: '~base/images/spritesMMC.png';
$sfa-mmc-opening-flash-1: (264px, 1179px, -264px, -1179px, 462px, 151px, 2418px, 1739px, '~base/images/spritesMMC.png', 'sfa-mmc-opening-flash-1', );
$sfa-mmc-opening-flash-2-name: 'sfa-mmc-opening-flash-2';
$sfa-mmc-opening-flash-2-x: 1227px;
$sfa-mmc-opening-flash-2-y: 943px;
$sfa-mmc-opening-flash-2-offset-x: -1227px;
$sfa-mmc-opening-flash-2-offset-y: -943px;
$sfa-mmc-opening-flash-2-width: 462px;
$sfa-mmc-opening-flash-2-height: 151px;
$sfa-mmc-opening-flash-2-total-width: 2418px;
$sfa-mmc-opening-flash-2-total-height: 1739px;
$sfa-mmc-opening-flash-2-image: '~base/images/spritesMMC.png';
$sfa-mmc-opening-flash-2: (1227px, 943px, -1227px, -943px, 462px, 151px, 2418px, 1739px, '~base/images/spritesMMC.png', 'sfa-mmc-opening-flash-2', );
$sfa-mmc-opening-flash-3-name: 'sfa-mmc-opening-flash-3';
$sfa-mmc-opening-flash-3-x: 1689px;
$sfa-mmc-opening-flash-3-y: 943px;
$sfa-mmc-opening-flash-3-offset-x: -1689px;
$sfa-mmc-opening-flash-3-offset-y: -943px;
$sfa-mmc-opening-flash-3-width: 462px;
$sfa-mmc-opening-flash-3-height: 151px;
$sfa-mmc-opening-flash-3-total-width: 2418px;
$sfa-mmc-opening-flash-3-total-height: 1739px;
$sfa-mmc-opening-flash-3-image: '~base/images/spritesMMC.png';
$sfa-mmc-opening-flash-3: (1689px, 943px, -1689px, -943px, 462px, 151px, 2418px, 1739px, '~base/images/spritesMMC.png', 'sfa-mmc-opening-flash-3', );
$sfa-mmc-opening-flash-4-name: 'sfa-mmc-opening-flash-4';
$sfa-mmc-opening-flash-4-x: 1845px;
$sfa-mmc-opening-flash-4-y: 525px;
$sfa-mmc-opening-flash-4-offset-x: -1845px;
$sfa-mmc-opening-flash-4-offset-y: -525px;
$sfa-mmc-opening-flash-4-width: 462px;
$sfa-mmc-opening-flash-4-height: 151px;
$sfa-mmc-opening-flash-4-total-width: 2418px;
$sfa-mmc-opening-flash-4-total-height: 1739px;
$sfa-mmc-opening-flash-4-image: '~base/images/spritesMMC.png';
$sfa-mmc-opening-flash-4: (1845px, 525px, -1845px, -525px, 462px, 151px, 2418px, 1739px, '~base/images/spritesMMC.png', 'sfa-mmc-opening-flash-4', );
$sfa-mmc-opening-panel-name: 'sfa-mmc-opening-panel';
$sfa-mmc-opening-panel-x: 1227px;
$sfa-mmc-opening-panel-y: 525px;
$sfa-mmc-opening-panel-offset-x: -1227px;
$sfa-mmc-opening-panel-offset-y: -525px;
$sfa-mmc-opening-panel-width: 618px;
$sfa-mmc-opening-panel-height: 180px;
$sfa-mmc-opening-panel-total-width: 2418px;
$sfa-mmc-opening-panel-total-height: 1739px;
$sfa-mmc-opening-panel-image: '~base/images/spritesMMC.png';
$sfa-mmc-opening-panel: (1227px, 525px, -1227px, -525px, 618px, 180px, 2418px, 1739px, '~base/images/spritesMMC.png', 'sfa-mmc-opening-panel', );
$sfa-mmc-opening-result-name: 'sfa-mmc-opening-result';
$sfa-mmc-opening-result-x: 2115px;
$sfa-mmc-opening-result-y: 747px;
$sfa-mmc-opening-result-offset-x: -2115px;
$sfa-mmc-opening-result-offset-y: -747px;
$sfa-mmc-opening-result-width: 120px;
$sfa-mmc-opening-result-height: 42px;
$sfa-mmc-opening-result-total-width: 2418px;
$sfa-mmc-opening-result-total-height: 1739px;
$sfa-mmc-opening-result-image: '~base/images/spritesMMC.png';
$sfa-mmc-opening-result: (2115px, 747px, -2115px, -747px, 120px, 42px, 2418px, 1739px, '~base/images/spritesMMC.png', 'sfa-mmc-opening-result', );
$sfa-mmc-outer-border-name: 'sfa-mmc-outer-border';
$sfa-mmc-outer-border-x: 0px;
$sfa-mmc-outer-border-y: 0px;
$sfa-mmc-outer-border-offset-x: 0px;
$sfa-mmc-outer-border-offset-y: 0px;
$sfa-mmc-outer-border-width: 1227px;
$sfa-mmc-outer-border-height: 450px;
$sfa-mmc-outer-border-total-width: 2418px;
$sfa-mmc-outer-border-total-height: 1739px;
$sfa-mmc-outer-border-image: '~base/images/spritesMMC.png';
$sfa-mmc-outer-border: (0px, 0px, 0px, 0px, 1227px, 450px, 2418px, 1739px, '~base/images/spritesMMC.png', 'sfa-mmc-outer-border', );
$sfa-mmc-result-close-name: 'sfa-mmc-result-close';
$sfa-mmc-result-close-x: 2291px;
$sfa-mmc-result-close-y: 482px;
$sfa-mmc-result-close-offset-x: -2291px;
$sfa-mmc-result-close-offset-y: -482px;
$sfa-mmc-result-close-width: 35px;
$sfa-mmc-result-close-height: 35px;
$sfa-mmc-result-close-total-width: 2418px;
$sfa-mmc-result-close-total-height: 1739px;
$sfa-mmc-result-close-image: '~base/images/spritesMMC.png';
$sfa-mmc-result-close: (2291px, 482px, -2291px, -482px, 35px, 35px, 2418px, 1739px, '~base/images/spritesMMC.png', 'sfa-mmc-result-close', );
$sfa-mmc-simulation-btn-name: 'sfa-mmc-simulation-btn';
$sfa-mmc-simulation-btn-x: 2291px;
$sfa-mmc-simulation-btn-y: 312px;
$sfa-mmc-simulation-btn-offset-x: -2291px;
$sfa-mmc-simulation-btn-offset-y: -312px;
$sfa-mmc-simulation-btn-width: 76px;
$sfa-mmc-simulation-btn-height: 128px;
$sfa-mmc-simulation-btn-total-width: 2418px;
$sfa-mmc-simulation-btn-total-height: 1739px;
$sfa-mmc-simulation-btn-image: '~base/images/spritesMMC.png';
$sfa-mmc-simulation-btn: (2291px, 312px, -2291px, -312px, 76px, 128px, 2418px, 1739px, '~base/images/spritesMMC.png', 'sfa-mmc-simulation-btn', );
$sfa-mmc-simulation-hover-btn-name: 'sfa-mmc-simulation-hover-btn';
$sfa-mmc-simulation-hover-btn-x: 2307px;
$sfa-mmc-simulation-hover-btn-y: 525px;
$sfa-mmc-simulation-hover-btn-offset-x: -2307px;
$sfa-mmc-simulation-hover-btn-offset-y: -525px;
$sfa-mmc-simulation-hover-btn-width: 76px;
$sfa-mmc-simulation-hover-btn-height: 128px;
$sfa-mmc-simulation-hover-btn-total-width: 2418px;
$sfa-mmc-simulation-hover-btn-total-height: 1739px;
$sfa-mmc-simulation-hover-btn-image: '~base/images/spritesMMC.png';
$sfa-mmc-simulation-hover-btn: (2307px, 525px, -2307px, -525px, 76px, 128px, 2418px, 1739px, '~base/images/spritesMMC.png', 'sfa-mmc-simulation-hover-btn', );
$sfa-mmc-start-btn-name: 'sfa-mmc-start-btn';
$sfa-mmc-start-btn-x: 2245px;
$sfa-mmc-start-btn-y: 705px;
$sfa-mmc-start-btn-offset-x: -2245px;
$sfa-mmc-start-btn-offset-y: -705px;
$sfa-mmc-start-btn-width: 130px;
$sfa-mmc-start-btn-height: 42px;
$sfa-mmc-start-btn-total-width: 2418px;
$sfa-mmc-start-btn-total-height: 1739px;
$sfa-mmc-start-btn-image: '~base/images/spritesMMC.png';
$sfa-mmc-start-btn: (2245px, 705px, -2245px, -705px, 130px, 42px, 2418px, 1739px, '~base/images/spritesMMC.png', 'sfa-mmc-start-btn', );
$sfa-mmc-start-disabled-lg-btn-name: 'sfa-mmc-start-disabled-lg-btn';
$sfa-mmc-start-disabled-lg-btn-x: 1201px;
$sfa-mmc-start-disabled-lg-btn-y: 1179px;
$sfa-mmc-start-disabled-lg-btn-offset-x: -1201px;
$sfa-mmc-start-disabled-lg-btn-offset-y: -1179px;
$sfa-mmc-start-disabled-lg-btn-width: 475px;
$sfa-mmc-start-disabled-lg-btn-height: 125px;
$sfa-mmc-start-disabled-lg-btn-total-width: 2418px;
$sfa-mmc-start-disabled-lg-btn-total-height: 1739px;
$sfa-mmc-start-disabled-lg-btn-image: '~base/images/spritesMMC.png';
$sfa-mmc-start-disabled-lg-btn: (1201px, 1179px, -1201px, -1179px, 475px, 125px, 2418px, 1739px, '~base/images/spritesMMC.png', 'sfa-mmc-start-disabled-lg-btn', );
$sfa-mmc-start-lg-btn-name: 'sfa-mmc-start-lg-btn';
$sfa-mmc-start-lg-btn-x: 1676px;
$sfa-mmc-start-lg-btn-y: 1179px;
$sfa-mmc-start-lg-btn-offset-x: -1676px;
$sfa-mmc-start-lg-btn-offset-y: -1179px;
$sfa-mmc-start-lg-btn-width: 475px;
$sfa-mmc-start-lg-btn-height: 125px;
$sfa-mmc-start-lg-btn-total-width: 2418px;
$sfa-mmc-start-lg-btn-total-height: 1739px;
$sfa-mmc-start-lg-btn-image: '~base/images/spritesMMC.png';
$sfa-mmc-start-lg-btn: (1676px, 1179px, -1676px, -1179px, 475px, 125px, 2418px, 1739px, '~base/images/spritesMMC.png', 'sfa-mmc-start-lg-btn', );
$sfa-mmc-stop-btn-name: 'sfa-mmc-stop-btn';
$sfa-mmc-stop-btn-x: 0px;
$sfa-mmc-stop-btn-y: 1449px;
$sfa-mmc-stop-btn-offset-x: 0px;
$sfa-mmc-stop-btn-offset-y: -1449px;
$sfa-mmc-stop-btn-width: 475px;
$sfa-mmc-stop-btn-height: 125px;
$sfa-mmc-stop-btn-total-width: 2418px;
$sfa-mmc-stop-btn-total-height: 1739px;
$sfa-mmc-stop-btn-image: '~base/images/spritesMMC.png';
$sfa-mmc-stop-btn: (0px, 1449px, 0px, -1449px, 475px, 125px, 2418px, 1739px, '~base/images/spritesMMC.png', 'sfa-mmc-stop-btn', );
$sfa-mmc-stopping-btn-name: 'sfa-mmc-stopping-btn';
$sfa-mmc-stopping-btn-x: 475px;
$sfa-mmc-stopping-btn-y: 1449px;
$sfa-mmc-stopping-btn-offset-x: -475px;
$sfa-mmc-stopping-btn-offset-y: -1449px;
$sfa-mmc-stopping-btn-width: 475px;
$sfa-mmc-stopping-btn-height: 125px;
$sfa-mmc-stopping-btn-total-width: 2418px;
$sfa-mmc-stopping-btn-total-height: 1739px;
$sfa-mmc-stopping-btn-image: '~base/images/spritesMMC.png';
$sfa-mmc-stopping-btn: (475px, 1449px, -475px, -1449px, 475px, 125px, 2418px, 1739px, '~base/images/spritesMMC.png', 'sfa-mmc-stopping-btn', );
$sfa-mmc-two-side-name: 'sfa-mmc-two-side';
$sfa-mmc-two-side-x: 2365px;
$sfa-mmc-two-side-y: 482px;
$sfa-mmc-two-side-offset-x: -2365px;
$sfa-mmc-two-side-offset-y: -482px;
$sfa-mmc-two-side-width: 23px;
$sfa-mmc-two-side-height: 19px;
$sfa-mmc-two-side-total-width: 2418px;
$sfa-mmc-two-side-total-height: 1739px;
$sfa-mmc-two-side-image: '~base/images/spritesMMC.png';
$sfa-mmc-two-side: (2365px, 482px, -2365px, -482px, 23px, 19px, 2418px, 1739px, '~base/images/spritesMMC.png', 'sfa-mmc-two-side', );
$sfa-mmc-win-name: 'sfa-mmc-win';
$sfa-mmc-win-x: 1227px;
$sfa-mmc-win-y: 705px;
$sfa-mmc-win-offset-x: -1227px;
$sfa-mmc-win-offset-y: -705px;
$sfa-mmc-win-width: 426px;
$sfa-mmc-win-height: 238px;
$sfa-mmc-win-total-width: 2418px;
$sfa-mmc-win-total-height: 1739px;
$sfa-mmc-win-image: '~base/images/spritesMMC.png';
$sfa-mmc-win: (1227px, 705px, -1227px, -705px, 426px, 238px, 2418px, 1739px, '~base/images/spritesMMC.png', 'sfa-mmc-win', );
$sfa-mmc-winning-name: 'sfa-mmc-winning';
$sfa-mmc-winning-x: 0px;
$sfa-mmc-winning-y: 1179px;
$sfa-mmc-winning-offset-x: 0px;
$sfa-mmc-winning-offset-y: -1179px;
$sfa-mmc-winning-width: 264px;
$sfa-mmc-winning-height: 270px;
$sfa-mmc-winning-total-width: 2418px;
$sfa-mmc-winning-total-height: 1739px;
$sfa-mmc-winning-image: '~base/images/spritesMMC.png';
$sfa-mmc-winning: (0px, 1179px, 0px, -1179px, 264px, 270px, 2418px, 1739px, '~base/images/spritesMMC.png', 'sfa-mmc-winning', );
$sprites-m-m-c-width: 2418px;
$sprites-m-m-c-height: 1739px;
$sprites-m-m-c-image: '~base/images/spritesMMC.png';
$sprites-m-m-c-sprites: ($sfa-mmc-0-disabled, $sfa-mmc-0, $sfa-mmc-1, $sfa-mmc-2, $sfa-mmc-3, $sfa-mmc-4, $sfa-mmc-5, $sfa-mmc-6, $sfa-mmc-7, $sfa-mmc-8, $sfa-mmc-9, $sfa-mmc-add-btn, $sfa-mmc-again-btn, $sfa-mmc-betting-content, $sfa-mmc-betting-record, $sfa-mmc-content-bottom, $sfa-mmc-content-opening, $sfa-mmc-content-top, $sfa-mmc-delete, $sfa-mmc-double-ball, $sfa-mmc-down-arrow, $sfa-mmc-lever-down, $sfa-mmc-lever, $sfa-mmc-lose, $sfa-mmc-opening-flash-0, $sfa-mmc-opening-flash-1, $sfa-mmc-opening-flash-2, $sfa-mmc-opening-flash-3, $sfa-mmc-opening-flash-4, $sfa-mmc-opening-panel, $sfa-mmc-opening-result, $sfa-mmc-outer-border, $sfa-mmc-result-close, $sfa-mmc-simulation-btn, $sfa-mmc-simulation-hover-btn, $sfa-mmc-start-btn, $sfa-mmc-start-disabled-lg-btn, $sfa-mmc-start-lg-btn, $sfa-mmc-stop-btn, $sfa-mmc-stopping-btn, $sfa-mmc-two-side, $sfa-mmc-win, $sfa-mmc-winning, );
$sprites-m-m-c: (2418px, 1739px, '~base/images/spritesMMC.png', $sprites-m-m-c-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
