// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$sfa-pt-calls-name: 'sfa-pt-calls';
$sfa-pt-calls-x: 0px;
$sfa-pt-calls-y: 38px;
$sfa-pt-calls-offset-x: 0px;
$sfa-pt-calls-offset-y: -38px;
$sfa-pt-calls-width: 52px;
$sfa-pt-calls-height: 52px;
$sfa-pt-calls-total-width: 228px;
$sfa-pt-calls-total-height: 192px;
$sfa-pt-calls-image: '~base/images/spritesPT.png';
$sfa-pt-calls: (0px, 38px, 0px, -38px, 52px, 52px, 228px, 192px, '~base/images/spritesPT.png', 'sfa-pt-calls', );
$sfa-pt-cards-name: 'sfa-pt-cards';
$sfa-pt-cards-x: 52px;
$sfa-pt-cards-y: 90px;
$sfa-pt-cards-offset-x: -52px;
$sfa-pt-cards-offset-y: -90px;
$sfa-pt-cards-width: 52px;
$sfa-pt-cards-height: 52px;
$sfa-pt-cards-total-width: 228px;
$sfa-pt-cards-total-height: 192px;
$sfa-pt-cards-image: '~base/images/spritesPT.png';
$sfa-pt-cards: (52px, 90px, -52px, -90px, 52px, 52px, 228px, 192px, '~base/images/spritesPT.png', 'sfa-pt-cards', );
$sfa-pt-gifts-name: 'sfa-pt-gifts';
$sfa-pt-gifts-x: 52px;
$sfa-pt-gifts-y: 38px;
$sfa-pt-gifts-offset-x: -52px;
$sfa-pt-gifts-offset-y: -38px;
$sfa-pt-gifts-width: 52px;
$sfa-pt-gifts-height: 52px;
$sfa-pt-gifts-total-width: 228px;
$sfa-pt-gifts-total-height: 192px;
$sfa-pt-gifts-image: '~base/images/spritesPT.png';
$sfa-pt-gifts: (52px, 38px, -52px, -38px, 52px, 52px, 228px, 192px, '~base/images/spritesPT.png', 'sfa-pt-gifts', );
$sfa-pt-integral-mall-name: 'sfa-pt-integral-mall';
$sfa-pt-integral-mall-x: 0px;
$sfa-pt-integral-mall-y: 0px;
$sfa-pt-integral-mall-offset-x: 0px;
$sfa-pt-integral-mall-offset-y: 0px;
$sfa-pt-integral-mall-width: 170px;
$sfa-pt-integral-mall-height: 38px;
$sfa-pt-integral-mall-total-width: 228px;
$sfa-pt-integral-mall-total-height: 192px;
$sfa-pt-integral-mall-image: '~base/images/spritesPT.png';
$sfa-pt-integral-mall: (0px, 0px, 0px, 0px, 170px, 38px, 228px, 192px, '~base/images/spritesPT.png', 'sfa-pt-integral-mall', );
$sfa-pt-intro-name: 'sfa-pt-intro';
$sfa-pt-intro-x: 156px;
$sfa-pt-intro-y: 38px;
$sfa-pt-intro-offset-x: -156px;
$sfa-pt-intro-offset-y: -38px;
$sfa-pt-intro-width: 7px;
$sfa-pt-intro-height: 13px;
$sfa-pt-intro-total-width: 228px;
$sfa-pt-intro-total-height: 192px;
$sfa-pt-intro-image: '~base/images/spritesPT.png';
$sfa-pt-intro: (156px, 38px, -156px, -38px, 7px, 13px, 228px, 192px, '~base/images/spritesPT.png', 'sfa-pt-intro', );
$sfa-pt-level-0-name: 'sfa-pt-level-0';
$sfa-pt-level-0-x: 170px;
$sfa-pt-level-0-y: 0px;
$sfa-pt-level-0-offset-x: -170px;
$sfa-pt-level-0-offset-y: 0px;
$sfa-pt-level-0-width: 58px;
$sfa-pt-level-0-height: 20px;
$sfa-pt-level-0-total-width: 228px;
$sfa-pt-level-0-total-height: 192px;
$sfa-pt-level-0-image: '~base/images/spritesPT.png';
$sfa-pt-level-0: (170px, 0px, -170px, 0px, 58px, 20px, 228px, 192px, '~base/images/spritesPT.png', 'sfa-pt-level-0', );
$sfa-pt-level-1-name: 'sfa-pt-level-1';
$sfa-pt-level-1-x: 104px;
$sfa-pt-level-1-y: 110px;
$sfa-pt-level-1-offset-x: -104px;
$sfa-pt-level-1-offset-y: -110px;
$sfa-pt-level-1-width: 58px;
$sfa-pt-level-1-height: 20px;
$sfa-pt-level-1-total-width: 228px;
$sfa-pt-level-1-total-height: 192px;
$sfa-pt-level-1-image: '~base/images/spritesPT.png';
$sfa-pt-level-1: (104px, 110px, -104px, -110px, 58px, 20px, 228px, 192px, '~base/images/spritesPT.png', 'sfa-pt-level-1', );
$sfa-pt-level-10-name: 'sfa-pt-level-10';
$sfa-pt-level-10-x: 170px;
$sfa-pt-level-10-y: 60px;
$sfa-pt-level-10-offset-x: -170px;
$sfa-pt-level-10-offset-y: -60px;
$sfa-pt-level-10-width: 58px;
$sfa-pt-level-10-height: 20px;
$sfa-pt-level-10-total-width: 228px;
$sfa-pt-level-10-total-height: 192px;
$sfa-pt-level-10-image: '~base/images/spritesPT.png';
$sfa-pt-level-10: (170px, 60px, -170px, -60px, 58px, 20px, 228px, 192px, '~base/images/spritesPT.png', 'sfa-pt-level-10', );
$sfa-pt-level-2-name: 'sfa-pt-level-2';
$sfa-pt-level-2-x: 0px;
$sfa-pt-level-2-y: 142px;
$sfa-pt-level-2-offset-x: 0px;
$sfa-pt-level-2-offset-y: -142px;
$sfa-pt-level-2-width: 58px;
$sfa-pt-level-2-height: 20px;
$sfa-pt-level-2-total-width: 228px;
$sfa-pt-level-2-total-height: 192px;
$sfa-pt-level-2-image: '~base/images/spritesPT.png';
$sfa-pt-level-2: (0px, 142px, 0px, -142px, 58px, 20px, 228px, 192px, '~base/images/spritesPT.png', 'sfa-pt-level-2', );
$sfa-pt-level-3-name: 'sfa-pt-level-3';
$sfa-pt-level-3-x: 58px;
$sfa-pt-level-3-y: 142px;
$sfa-pt-level-3-offset-x: -58px;
$sfa-pt-level-3-offset-y: -142px;
$sfa-pt-level-3-width: 58px;
$sfa-pt-level-3-height: 20px;
$sfa-pt-level-3-total-width: 228px;
$sfa-pt-level-3-total-height: 192px;
$sfa-pt-level-3-image: '~base/images/spritesPT.png';
$sfa-pt-level-3: (58px, 142px, -58px, -142px, 58px, 20px, 228px, 192px, '~base/images/spritesPT.png', 'sfa-pt-level-3', );
$sfa-pt-level-4-name: 'sfa-pt-level-4';
$sfa-pt-level-4-x: 170px;
$sfa-pt-level-4-y: 120px;
$sfa-pt-level-4-offset-x: -170px;
$sfa-pt-level-4-offset-y: -120px;
$sfa-pt-level-4-width: 58px;
$sfa-pt-level-4-height: 20px;
$sfa-pt-level-4-total-width: 228px;
$sfa-pt-level-4-total-height: 192px;
$sfa-pt-level-4-image: '~base/images/spritesPT.png';
$sfa-pt-level-4: (170px, 120px, -170px, -120px, 58px, 20px, 228px, 192px, '~base/images/spritesPT.png', 'sfa-pt-level-4', );
$sfa-pt-level-5-name: 'sfa-pt-level-5';
$sfa-pt-level-5-x: 170px;
$sfa-pt-level-5-y: 20px;
$sfa-pt-level-5-offset-x: -170px;
$sfa-pt-level-5-offset-y: -20px;
$sfa-pt-level-5-width: 58px;
$sfa-pt-level-5-height: 20px;
$sfa-pt-level-5-total-width: 228px;
$sfa-pt-level-5-total-height: 192px;
$sfa-pt-level-5-image: '~base/images/spritesPT.png';
$sfa-pt-level-5: (170px, 20px, -170px, -20px, 58px, 20px, 228px, 192px, '~base/images/spritesPT.png', 'sfa-pt-level-5', );
$sfa-pt-level-6-name: 'sfa-pt-level-6';
$sfa-pt-level-6-x: 170px;
$sfa-pt-level-6-y: 40px;
$sfa-pt-level-6-offset-x: -170px;
$sfa-pt-level-6-offset-y: -40px;
$sfa-pt-level-6-width: 58px;
$sfa-pt-level-6-height: 20px;
$sfa-pt-level-6-total-width: 228px;
$sfa-pt-level-6-total-height: 192px;
$sfa-pt-level-6-image: '~base/images/spritesPT.png';
$sfa-pt-level-6: (170px, 40px, -170px, -40px, 58px, 20px, 228px, 192px, '~base/images/spritesPT.png', 'sfa-pt-level-6', );
$sfa-pt-level-7-name: 'sfa-pt-level-7';
$sfa-pt-level-7-x: 104px;
$sfa-pt-level-7-y: 90px;
$sfa-pt-level-7-offset-x: -104px;
$sfa-pt-level-7-offset-y: -90px;
$sfa-pt-level-7-width: 58px;
$sfa-pt-level-7-height: 20px;
$sfa-pt-level-7-total-width: 228px;
$sfa-pt-level-7-total-height: 192px;
$sfa-pt-level-7-image: '~base/images/spritesPT.png';
$sfa-pt-level-7: (104px, 90px, -104px, -90px, 58px, 20px, 228px, 192px, '~base/images/spritesPT.png', 'sfa-pt-level-7', );
$sfa-pt-level-8-name: 'sfa-pt-level-8';
$sfa-pt-level-8-x: 170px;
$sfa-pt-level-8-y: 80px;
$sfa-pt-level-8-offset-x: -170px;
$sfa-pt-level-8-offset-y: -80px;
$sfa-pt-level-8-width: 58px;
$sfa-pt-level-8-height: 20px;
$sfa-pt-level-8-total-width: 228px;
$sfa-pt-level-8-total-height: 192px;
$sfa-pt-level-8-image: '~base/images/spritesPT.png';
$sfa-pt-level-8: (170px, 80px, -170px, -80px, 58px, 20px, 228px, 192px, '~base/images/spritesPT.png', 'sfa-pt-level-8', );
$sfa-pt-level-9-name: 'sfa-pt-level-9';
$sfa-pt-level-9-x: 170px;
$sfa-pt-level-9-y: 100px;
$sfa-pt-level-9-offset-x: -170px;
$sfa-pt-level-9-offset-y: -100px;
$sfa-pt-level-9-width: 58px;
$sfa-pt-level-9-height: 20px;
$sfa-pt-level-9-total-width: 228px;
$sfa-pt-level-9-total-height: 192px;
$sfa-pt-level-9-image: '~base/images/spritesPT.png';
$sfa-pt-level-9: (170px, 100px, -170px, -100px, 58px, 20px, 228px, 192px, '~base/images/spritesPT.png', 'sfa-pt-level-9', );
$sfa-pt-lottery-name: 'sfa-pt-lottery';
$sfa-pt-lottery-x: 0px;
$sfa-pt-lottery-y: 90px;
$sfa-pt-lottery-offset-x: 0px;
$sfa-pt-lottery-offset-y: -90px;
$sfa-pt-lottery-width: 52px;
$sfa-pt-lottery-height: 52px;
$sfa-pt-lottery-total-width: 228px;
$sfa-pt-lottery-total-height: 192px;
$sfa-pt-lottery-image: '~base/images/spritesPT.png';
$sfa-pt-lottery: (0px, 90px, 0px, -90px, 52px, 52px, 228px, 192px, '~base/images/spritesPT.png', 'sfa-pt-lottery', );
$sfa-pt-my-points-name: 'sfa-pt-my-points';
$sfa-pt-my-points-x: 0px;
$sfa-pt-my-points-y: 162px;
$sfa-pt-my-points-offset-x: 0px;
$sfa-pt-my-points-offset-y: -162px;
$sfa-pt-my-points-width: 30px;
$sfa-pt-my-points-height: 30px;
$sfa-pt-my-points-total-width: 228px;
$sfa-pt-my-points-total-height: 192px;
$sfa-pt-my-points-image: '~base/images/spritesPT.png';
$sfa-pt-my-points: (0px, 162px, 0px, -162px, 30px, 30px, 228px, 192px, '~base/images/spritesPT.png', 'sfa-pt-my-points', );
$sfa-pt-sign-in-name: 'sfa-pt-sign-in';
$sfa-pt-sign-in-x: 170px;
$sfa-pt-sign-in-y: 140px;
$sfa-pt-sign-in-offset-x: -170px;
$sfa-pt-sign-in-offset-y: -140px;
$sfa-pt-sign-in-width: 15px;
$sfa-pt-sign-in-height: 12px;
$sfa-pt-sign-in-total-width: 228px;
$sfa-pt-sign-in-total-height: 192px;
$sfa-pt-sign-in-image: '~base/images/spritesPT.png';
$sfa-pt-sign-in: (170px, 140px, -170px, -140px, 15px, 12px, 228px, 192px, '~base/images/spritesPT.png', 'sfa-pt-sign-in', );
$sfa-pt-task-name: 'sfa-pt-task';
$sfa-pt-task-x: 104px;
$sfa-pt-task-y: 38px;
$sfa-pt-task-offset-x: -104px;
$sfa-pt-task-offset-y: -38px;
$sfa-pt-task-width: 52px;
$sfa-pt-task-height: 52px;
$sfa-pt-task-total-width: 228px;
$sfa-pt-task-total-height: 192px;
$sfa-pt-task-image: '~base/images/spritesPT.png';
$sfa-pt-task: (104px, 38px, -104px, -38px, 52px, 52px, 228px, 192px, '~base/images/spritesPT.png', 'sfa-pt-task', );
$sprites-p-t-width: 228px;
$sprites-p-t-height: 192px;
$sprites-p-t-image: '~base/images/spritesPT.png';
$sprites-p-t-sprites: ($sfa-pt-calls, $sfa-pt-cards, $sfa-pt-gifts, $sfa-pt-integral-mall, $sfa-pt-intro, $sfa-pt-level-0, $sfa-pt-level-1, $sfa-pt-level-10, $sfa-pt-level-2, $sfa-pt-level-3, $sfa-pt-level-4, $sfa-pt-level-5, $sfa-pt-level-6, $sfa-pt-level-7, $sfa-pt-level-8, $sfa-pt-level-9, $sfa-pt-lottery, $sfa-pt-my-points, $sfa-pt-sign-in, $sfa-pt-task, );
$sprites-p-t: (228px, 192px, '~base/images/spritesPT.png', $sprites-p-t-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
