// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$sfa-slot-4-gtscb-name: 'sfa-slot-4-gtscb';
$sfa-slot-4-gtscb-x: 394px;
$sfa-slot-4-gtscb-y: 153px;
$sfa-slot-4-gtscb-offset-x: -394px;
$sfa-slot-4-gtscb-offset-y: -153px;
$sfa-slot-4-gtscb-width: 197px;
$sfa-slot-4-gtscb-height: 153px;
$sfa-slot-4-gtscb-total-width: 1182px;
$sfa-slot-4-gtscb-total-height: 1071px;
$sfa-slot-4-gtscb-image: '~base/images/spritesPT.png';
$sfa-slot-4-gtscb: (394px, 153px, -394px, -153px, 197px, 153px, 1182px, 1071px, '~base/images/spritesPT.png', 'sfa-slot-4-gtscb', );
$sfa-slot-4-gtsru-name: 'sfa-slot-4-gtsru';
$sfa-slot-4-gtsru-x: 0px;
$sfa-slot-4-gtsru-y: 306px;
$sfa-slot-4-gtsru-offset-x: 0px;
$sfa-slot-4-gtsru-offset-y: -306px;
$sfa-slot-4-gtsru-width: 197px;
$sfa-slot-4-gtsru-height: 153px;
$sfa-slot-4-gtsru-total-width: 1182px;
$sfa-slot-4-gtsru-total-height: 1071px;
$sfa-slot-4-gtsru-image: '~base/images/spritesPT.png';
$sfa-slot-4-gtsru: (0px, 306px, 0px, -306px, 197px, 153px, 1182px, 1071px, '~base/images/spritesPT.png', 'sfa-slot-4-gtsru', );
$sfa-slot-4-c7-name: 'sfa-slot-4-c7';
$sfa-slot-4-c7-x: 197px;
$sfa-slot-4-c7-y: 0px;
$sfa-slot-4-c7-offset-x: -197px;
$sfa-slot-4-c7-offset-y: 0px;
$sfa-slot-4-c7-width: 197px;
$sfa-slot-4-c7-height: 153px;
$sfa-slot-4-c7-total-width: 1182px;
$sfa-slot-4-c7-total-height: 1071px;
$sfa-slot-4-c7-image: '~base/images/spritesPT.png';
$sfa-slot-4-c7: (197px, 0px, -197px, 0px, 197px, 153px, 1182px, 1071px, '~base/images/spritesPT.png', 'sfa-slot-4-c7', );
$sfa-slot-4-fm-name: 'sfa-slot-4-fm';
$sfa-slot-4-fm-x: 788px;
$sfa-slot-4-fm-y: 0px;
$sfa-slot-4-fm-offset-x: -788px;
$sfa-slot-4-fm-offset-y: 0px;
$sfa-slot-4-fm-width: 197px;
$sfa-slot-4-fm-height: 153px;
$sfa-slot-4-fm-total-width: 1182px;
$sfa-slot-4-fm-total-height: 1071px;
$sfa-slot-4-fm-image: '~base/images/spritesPT.png';
$sfa-slot-4-fm: (788px, 0px, -788px, 0px, 197px, 153px, 1182px, 1071px, '~base/images/spritesPT.png', 'sfa-slot-4-fm', );
$sfa-slot-4-foy-name: 'sfa-slot-4-foy';
$sfa-slot-4-foy-x: 0px;
$sfa-slot-4-foy-y: 153px;
$sfa-slot-4-foy-offset-x: 0px;
$sfa-slot-4-foy-offset-y: -153px;
$sfa-slot-4-foy-width: 197px;
$sfa-slot-4-foy-height: 153px;
$sfa-slot-4-foy-total-width: 1182px;
$sfa-slot-4-foy-total-height: 1071px;
$sfa-slot-4-foy-image: '~base/images/spritesPT.png';
$sfa-slot-4-foy: (0px, 153px, 0px, -153px, 197px, 153px, 1182px, 1071px, '~base/images/spritesPT.png', 'sfa-slot-4-foy', );
$sfa-slot-4-ms-name: 'sfa-slot-4-ms';
$sfa-slot-4-ms-x: 197px;
$sfa-slot-4-ms-y: 153px;
$sfa-slot-4-ms-offset-x: -197px;
$sfa-slot-4-ms-offset-y: -153px;
$sfa-slot-4-ms-width: 197px;
$sfa-slot-4-ms-height: 153px;
$sfa-slot-4-ms-total-width: 1182px;
$sfa-slot-4-ms-total-height: 1071px;
$sfa-slot-4-ms-image: '~base/images/spritesPT.png';
$sfa-slot-4-ms: (197px, 153px, -197px, -153px, 197px, 153px, 1182px, 1071px, '~base/images/spritesPT.png', 'sfa-slot-4-ms', );
$sfa-slot-4-ta-name: 'sfa-slot-4-ta';
$sfa-slot-4-ta-x: 394px;
$sfa-slot-4-ta-y: 0px;
$sfa-slot-4-ta-offset-x: -394px;
$sfa-slot-4-ta-offset-y: 0px;
$sfa-slot-4-ta-width: 197px;
$sfa-slot-4-ta-height: 153px;
$sfa-slot-4-ta-total-width: 1182px;
$sfa-slot-4-ta-total-height: 1071px;
$sfa-slot-4-ta-image: '~base/images/spritesPT.png';
$sfa-slot-4-ta: (394px, 0px, -394px, 0px, 197px, 153px, 1182px, 1071px, '~base/images/spritesPT.png', 'sfa-slot-4-ta', );
$sfa-slot-4-bib-name: 'sfa-slot-4-bib';
$sfa-slot-4-bib-x: 197px;
$sfa-slot-4-bib-y: 306px;
$sfa-slot-4-bib-offset-x: -197px;
$sfa-slot-4-bib-offset-y: -306px;
$sfa-slot-4-bib-width: 197px;
$sfa-slot-4-bib-height: 153px;
$sfa-slot-4-bib-total-width: 1182px;
$sfa-slot-4-bib-total-height: 1071px;
$sfa-slot-4-bib-image: '~base/images/spritesPT.png';
$sfa-slot-4-bib: (197px, 306px, -197px, -306px, 197px, 153px, 1182px, 1071px, '~base/images/spritesPT.png', 'sfa-slot-4-bib', );
$sfa-slot-4-bl-name: 'sfa-slot-4-bl';
$sfa-slot-4-bl-x: 394px;
$sfa-slot-4-bl-y: 306px;
$sfa-slot-4-bl-offset-x: -394px;
$sfa-slot-4-bl-offset-y: -306px;
$sfa-slot-4-bl-width: 197px;
$sfa-slot-4-bl-height: 153px;
$sfa-slot-4-bl-total-width: 1182px;
$sfa-slot-4-bl-total-height: 1071px;
$sfa-slot-4-bl-image: '~base/images/spritesPT.png';
$sfa-slot-4-bl: (394px, 306px, -394px, -306px, 197px, 153px, 1182px, 1071px, '~base/images/spritesPT.png', 'sfa-slot-4-bl', );
$sfa-slot-4-cm-name: 'sfa-slot-4-cm';
$sfa-slot-4-cm-x: 591px;
$sfa-slot-4-cm-y: 0px;
$sfa-slot-4-cm-offset-x: -591px;
$sfa-slot-4-cm-offset-y: 0px;
$sfa-slot-4-cm-width: 197px;
$sfa-slot-4-cm-height: 153px;
$sfa-slot-4-cm-total-width: 1182px;
$sfa-slot-4-cm-total-height: 1071px;
$sfa-slot-4-cm-image: '~base/images/spritesPT.png';
$sfa-slot-4-cm: (591px, 0px, -591px, 0px, 197px, 153px, 1182px, 1071px, '~base/images/spritesPT.png', 'sfa-slot-4-cm', );
$sfa-slot-4-cnpr-name: 'sfa-slot-4-cnpr';
$sfa-slot-4-cnpr-x: 591px;
$sfa-slot-4-cnpr-y: 153px;
$sfa-slot-4-cnpr-offset-x: -591px;
$sfa-slot-4-cnpr-offset-y: -153px;
$sfa-slot-4-cnpr-width: 197px;
$sfa-slot-4-cnpr-height: 153px;
$sfa-slot-4-cnpr-total-width: 1182px;
$sfa-slot-4-cnpr-total-height: 1071px;
$sfa-slot-4-cnpr-image: '~base/images/spritesPT.png';
$sfa-slot-4-cnpr: (591px, 153px, -591px, -153px, 197px, 153px, 1182px, 1071px, '~base/images/spritesPT.png', 'sfa-slot-4-cnpr', );
$sfa-slot-4-ct-name: 'sfa-slot-4-ct';
$sfa-slot-4-ct-x: 591px;
$sfa-slot-4-ct-y: 306px;
$sfa-slot-4-ct-offset-x: -591px;
$sfa-slot-4-ct-offset-y: -306px;
$sfa-slot-4-ct-width: 197px;
$sfa-slot-4-ct-height: 153px;
$sfa-slot-4-ct-total-width: 1182px;
$sfa-slot-4-ct-total-height: 1071px;
$sfa-slot-4-ct-image: '~base/images/spritesPT.png';
$sfa-slot-4-ct: (591px, 306px, -591px, -306px, 197px, 153px, 1182px, 1071px, '~base/images/spritesPT.png', 'sfa-slot-4-ct', );
$sfa-slot-4-eas-name: 'sfa-slot-4-eas';
$sfa-slot-4-eas-x: 0px;
$sfa-slot-4-eas-y: 459px;
$sfa-slot-4-eas-offset-x: 0px;
$sfa-slot-4-eas-offset-y: -459px;
$sfa-slot-4-eas-width: 197px;
$sfa-slot-4-eas-height: 153px;
$sfa-slot-4-eas-total-width: 1182px;
$sfa-slot-4-eas-total-height: 1071px;
$sfa-slot-4-eas-image: '~base/images/spritesPT.png';
$sfa-slot-4-eas: (0px, 459px, 0px, -459px, 197px, 153px, 1182px, 1071px, '~base/images/spritesPT.png', 'sfa-slot-4-eas', );
$sfa-slot-4-er-name: 'sfa-slot-4-er';
$sfa-slot-4-er-x: 197px;
$sfa-slot-4-er-y: 459px;
$sfa-slot-4-er-offset-x: -197px;
$sfa-slot-4-er-offset-y: -459px;
$sfa-slot-4-er-width: 197px;
$sfa-slot-4-er-height: 153px;
$sfa-slot-4-er-total-width: 1182px;
$sfa-slot-4-er-total-height: 1071px;
$sfa-slot-4-er-image: '~base/images/spritesPT.png';
$sfa-slot-4-er: (197px, 459px, -197px, -459px, 197px, 153px, 1182px, 1071px, '~base/images/spritesPT.png', 'sfa-slot-4-er', );
$sfa-slot-4-fcgz-name: 'sfa-slot-4-fcgz';
$sfa-slot-4-fcgz-x: 394px;
$sfa-slot-4-fcgz-y: 459px;
$sfa-slot-4-fcgz-offset-x: -394px;
$sfa-slot-4-fcgz-offset-y: -459px;
$sfa-slot-4-fcgz-width: 197px;
$sfa-slot-4-fcgz-height: 153px;
$sfa-slot-4-fcgz-total-width: 1182px;
$sfa-slot-4-fcgz-total-height: 1071px;
$sfa-slot-4-fcgz-image: '~base/images/spritesPT.png';
$sfa-slot-4-fcgz: (394px, 459px, -394px, -459px, 197px, 153px, 1182px, 1071px, '~base/images/spritesPT.png', 'sfa-slot-4-fcgz', );
$sfa-slot-4-glg-name: 'sfa-slot-4-glg';
$sfa-slot-4-glg-x: 591px;
$sfa-slot-4-glg-y: 459px;
$sfa-slot-4-glg-offset-x: -591px;
$sfa-slot-4-glg-offset-y: -459px;
$sfa-slot-4-glg-width: 197px;
$sfa-slot-4-glg-height: 153px;
$sfa-slot-4-glg-total-width: 1182px;
$sfa-slot-4-glg-total-height: 1071px;
$sfa-slot-4-glg-image: '~base/images/spritesPT.png';
$sfa-slot-4-glg: (591px, 459px, -591px, -459px, 197px, 153px, 1182px, 1071px, '~base/images/spritesPT.png', 'sfa-slot-4-glg', );
$sfa-slot-4-glrj-name: 'sfa-slot-4-glrj';
$sfa-slot-4-glrj-x: 0px;
$sfa-slot-4-glrj-y: 612px;
$sfa-slot-4-glrj-offset-x: 0px;
$sfa-slot-4-glrj-offset-y: -612px;
$sfa-slot-4-glrj-width: 197px;
$sfa-slot-4-glrj-height: 153px;
$sfa-slot-4-glrj-total-width: 1182px;
$sfa-slot-4-glrj-total-height: 1071px;
$sfa-slot-4-glrj-image: '~base/images/spritesPT.png';
$sfa-slot-4-glrj: (0px, 612px, 0px, -612px, 197px, 153px, 1182px, 1071px, '~base/images/spritesPT.png', 'sfa-slot-4-glrj', );
$sfa-slot-4-gts50-name: 'sfa-slot-4-gts50';
$sfa-slot-4-gts50-x: 197px;
$sfa-slot-4-gts50-y: 612px;
$sfa-slot-4-gts50-offset-x: -197px;
$sfa-slot-4-gts50-offset-y: -612px;
$sfa-slot-4-gts50-width: 197px;
$sfa-slot-4-gts50-height: 153px;
$sfa-slot-4-gts50-total-width: 1182px;
$sfa-slot-4-gts50-total-height: 1071px;
$sfa-slot-4-gts50-image: '~base/images/spritesPT.png';
$sfa-slot-4-gts50: (197px, 612px, -197px, -612px, 197px, 153px, 1182px, 1071px, '~base/images/spritesPT.png', 'sfa-slot-4-gts50', );
$sfa-slot-4-gtsatq-name: 'sfa-slot-4-gtsatq';
$sfa-slot-4-gtsatq-x: 394px;
$sfa-slot-4-gtsatq-y: 612px;
$sfa-slot-4-gtsatq-offset-x: -394px;
$sfa-slot-4-gtsatq-offset-y: -612px;
$sfa-slot-4-gtsatq-width: 197px;
$sfa-slot-4-gtsatq-height: 153px;
$sfa-slot-4-gtsatq-total-width: 1182px;
$sfa-slot-4-gtsatq-total-height: 1071px;
$sfa-slot-4-gtsatq-image: '~base/images/spritesPT.png';
$sfa-slot-4-gtsatq: (394px, 612px, -394px, -612px, 197px, 153px, 1182px, 1071px, '~base/images/spritesPT.png', 'sfa-slot-4-gtsatq', );
$sfa-slot-4-gtshwkp-name: 'sfa-slot-4-gtshwkp';
$sfa-slot-4-gtshwkp-x: 591px;
$sfa-slot-4-gtshwkp-y: 612px;
$sfa-slot-4-gtshwkp-offset-x: -591px;
$sfa-slot-4-gtshwkp-offset-y: -612px;
$sfa-slot-4-gtshwkp-width: 197px;
$sfa-slot-4-gtshwkp-height: 153px;
$sfa-slot-4-gtshwkp-total-width: 1182px;
$sfa-slot-4-gtshwkp-total-height: 1071px;
$sfa-slot-4-gtshwkp-image: '~base/images/spritesPT.png';
$sfa-slot-4-gtshwkp: (591px, 612px, -591px, -612px, 197px, 153px, 1182px, 1071px, '~base/images/spritesPT.png', 'sfa-slot-4-gtshwkp', );
$sfa-slot-4-gtssmbr-name: 'sfa-slot-4-gtssmbr';
$sfa-slot-4-gtssmbr-x: 0px;
$sfa-slot-4-gtssmbr-y: 0px;
$sfa-slot-4-gtssmbr-offset-x: 0px;
$sfa-slot-4-gtssmbr-offset-y: 0px;
$sfa-slot-4-gtssmbr-width: 197px;
$sfa-slot-4-gtssmbr-height: 153px;
$sfa-slot-4-gtssmbr-total-width: 1182px;
$sfa-slot-4-gtssmbr-total-height: 1071px;
$sfa-slot-4-gtssmbr-image: '~base/images/spritesPT.png';
$sfa-slot-4-gtssmbr: (0px, 0px, 0px, 0px, 197px, 153px, 1182px, 1071px, '~base/images/spritesPT.png', 'sfa-slot-4-gtssmbr', );
$sfa-slot-4-jpgt-name: 'sfa-slot-4-jpgt';
$sfa-slot-4-jpgt-x: 788px;
$sfa-slot-4-jpgt-y: 153px;
$sfa-slot-4-jpgt-offset-x: -788px;
$sfa-slot-4-jpgt-offset-y: -153px;
$sfa-slot-4-jpgt-width: 197px;
$sfa-slot-4-jpgt-height: 153px;
$sfa-slot-4-jpgt-total-width: 1182px;
$sfa-slot-4-jpgt-total-height: 1071px;
$sfa-slot-4-jpgt-image: '~base/images/spritesPT.png';
$sfa-slot-4-jpgt: (788px, 153px, -788px, -153px, 197px, 153px, 1182px, 1071px, '~base/images/spritesPT.png', 'sfa-slot-4-jpgt', );
$sfa-slot-4-longlong-name: 'sfa-slot-4-longlong';
$sfa-slot-4-longlong-x: 788px;
$sfa-slot-4-longlong-y: 306px;
$sfa-slot-4-longlong-offset-x: -788px;
$sfa-slot-4-longlong-offset-y: -306px;
$sfa-slot-4-longlong-width: 197px;
$sfa-slot-4-longlong-height: 153px;
$sfa-slot-4-longlong-total-width: 1182px;
$sfa-slot-4-longlong-total-height: 1071px;
$sfa-slot-4-longlong-image: '~base/images/spritesPT.png';
$sfa-slot-4-longlong: (788px, 306px, -788px, -306px, 197px, 153px, 1182px, 1071px, '~base/images/spritesPT.png', 'sfa-slot-4-longlong', );
$sfa-slot-4-lvb-name: 'sfa-slot-4-lvb';
$sfa-slot-4-lvb-x: 788px;
$sfa-slot-4-lvb-y: 459px;
$sfa-slot-4-lvb-offset-x: -788px;
$sfa-slot-4-lvb-offset-y: -459px;
$sfa-slot-4-lvb-width: 197px;
$sfa-slot-4-lvb-height: 153px;
$sfa-slot-4-lvb-total-width: 1182px;
$sfa-slot-4-lvb-total-height: 1071px;
$sfa-slot-4-lvb-image: '~base/images/spritesPT.png';
$sfa-slot-4-lvb: (788px, 459px, -788px, -459px, 197px, 153px, 1182px, 1071px, '~base/images/spritesPT.png', 'sfa-slot-4-lvb', );
$sfa-slot-4-mcb-name: 'sfa-slot-4-mcb';
$sfa-slot-4-mcb-x: 788px;
$sfa-slot-4-mcb-y: 612px;
$sfa-slot-4-mcb-offset-x: -788px;
$sfa-slot-4-mcb-offset-y: -612px;
$sfa-slot-4-mcb-width: 197px;
$sfa-slot-4-mcb-height: 153px;
$sfa-slot-4-mcb-total-width: 1182px;
$sfa-slot-4-mcb-total-height: 1071px;
$sfa-slot-4-mcb-image: '~base/images/spritesPT.png';
$sfa-slot-4-mcb: (788px, 612px, -788px, -612px, 197px, 153px, 1182px, 1071px, '~base/images/spritesPT.png', 'sfa-slot-4-mcb', );
$sfa-slot-4-nian-name: 'sfa-slot-4-nian';
$sfa-slot-4-nian-x: 0px;
$sfa-slot-4-nian-y: 765px;
$sfa-slot-4-nian-offset-x: 0px;
$sfa-slot-4-nian-offset-y: -765px;
$sfa-slot-4-nian-width: 197px;
$sfa-slot-4-nian-height: 153px;
$sfa-slot-4-nian-total-width: 1182px;
$sfa-slot-4-nian-total-height: 1071px;
$sfa-slot-4-nian-image: '~base/images/spritesPT.png';
$sfa-slot-4-nian: (0px, 765px, 0px, -765px, 197px, 153px, 1182px, 1071px, '~base/images/spritesPT.png', 'sfa-slot-4-nian', );
$sfa-slot-4-pnp-name: 'sfa-slot-4-pnp';
$sfa-slot-4-pnp-x: 197px;
$sfa-slot-4-pnp-y: 765px;
$sfa-slot-4-pnp-offset-x: -197px;
$sfa-slot-4-pnp-offset-y: -765px;
$sfa-slot-4-pnp-width: 197px;
$sfa-slot-4-pnp-height: 153px;
$sfa-slot-4-pnp-total-width: 1182px;
$sfa-slot-4-pnp-total-height: 1071px;
$sfa-slot-4-pnp-image: '~base/images/spritesPT.png';
$sfa-slot-4-pnp: (197px, 765px, -197px, -765px, 197px, 153px, 1182px, 1071px, '~base/images/spritesPT.png', 'sfa-slot-4-pnp', );
$sfa-slot-4-qnw-name: 'sfa-slot-4-qnw';
$sfa-slot-4-qnw-x: 394px;
$sfa-slot-4-qnw-y: 765px;
$sfa-slot-4-qnw-offset-x: -394px;
$sfa-slot-4-qnw-offset-y: -765px;
$sfa-slot-4-qnw-width: 197px;
$sfa-slot-4-qnw-height: 153px;
$sfa-slot-4-qnw-total-width: 1182px;
$sfa-slot-4-qnw-total-height: 1071px;
$sfa-slot-4-qnw-image: '~base/images/spritesPT.png';
$sfa-slot-4-qnw: (394px, 765px, -394px, -765px, 197px, 153px, 1182px, 1071px, '~base/images/spritesPT.png', 'sfa-slot-4-qnw', );
$sfa-slot-4-qop-name: 'sfa-slot-4-qop';
$sfa-slot-4-qop-x: 591px;
$sfa-slot-4-qop-y: 765px;
$sfa-slot-4-qop-offset-x: -591px;
$sfa-slot-4-qop-offset-y: -765px;
$sfa-slot-4-qop-width: 197px;
$sfa-slot-4-qop-height: 153px;
$sfa-slot-4-qop-total-width: 1182px;
$sfa-slot-4-qop-total-height: 1071px;
$sfa-slot-4-qop-image: '~base/images/spritesPT.png';
$sfa-slot-4-qop: (591px, 765px, -591px, -765px, 197px, 153px, 1182px, 1071px, '~base/images/spritesPT.png', 'sfa-slot-4-qop', );
$sfa-slot-4-sib-name: 'sfa-slot-4-sib';
$sfa-slot-4-sib-x: 788px;
$sfa-slot-4-sib-y: 765px;
$sfa-slot-4-sib-offset-x: -788px;
$sfa-slot-4-sib-offset-y: -765px;
$sfa-slot-4-sib-width: 197px;
$sfa-slot-4-sib-height: 153px;
$sfa-slot-4-sib-total-width: 1182px;
$sfa-slot-4-sib-total-height: 1071px;
$sfa-slot-4-sib-image: '~base/images/spritesPT.png';
$sfa-slot-4-sib: (788px, 765px, -788px, -765px, 197px, 153px, 1182px, 1071px, '~base/images/spritesPT.png', 'sfa-slot-4-sib', );
$sfa-slot-4-sol-name: 'sfa-slot-4-sol';
$sfa-slot-4-sol-x: 985px;
$sfa-slot-4-sol-y: 0px;
$sfa-slot-4-sol-offset-x: -985px;
$sfa-slot-4-sol-offset-y: 0px;
$sfa-slot-4-sol-width: 197px;
$sfa-slot-4-sol-height: 153px;
$sfa-slot-4-sol-total-width: 1182px;
$sfa-slot-4-sol-total-height: 1071px;
$sfa-slot-4-sol-image: '~base/images/spritesPT.png';
$sfa-slot-4-sol: (985px, 0px, -985px, 0px, 197px, 153px, 1182px, 1071px, '~base/images/spritesPT.png', 'sfa-slot-4-sol', );
$sfa-slot-4-ub-name: 'sfa-slot-4-ub';
$sfa-slot-4-ub-x: 985px;
$sfa-slot-4-ub-y: 153px;
$sfa-slot-4-ub-offset-x: -985px;
$sfa-slot-4-ub-offset-y: -153px;
$sfa-slot-4-ub-width: 197px;
$sfa-slot-4-ub-height: 153px;
$sfa-slot-4-ub-total-width: 1182px;
$sfa-slot-4-ub-total-height: 1071px;
$sfa-slot-4-ub-image: '~base/images/spritesPT.png';
$sfa-slot-4-ub: (985px, 153px, -985px, -153px, 197px, 153px, 1182px, 1071px, '~base/images/spritesPT.png', 'sfa-slot-4-ub', );
$sfa-slot-4-wis-name: 'sfa-slot-4-wis';
$sfa-slot-4-wis-x: 985px;
$sfa-slot-4-wis-y: 306px;
$sfa-slot-4-wis-offset-x: -985px;
$sfa-slot-4-wis-offset-y: -306px;
$sfa-slot-4-wis-width: 197px;
$sfa-slot-4-wis-height: 153px;
$sfa-slot-4-wis-total-width: 1182px;
$sfa-slot-4-wis-total-height: 1071px;
$sfa-slot-4-wis-image: '~base/images/spritesPT.png';
$sfa-slot-4-wis: (985px, 306px, -985px, -306px, 197px, 153px, 1182px, 1071px, '~base/images/spritesPT.png', 'sfa-slot-4-wis', );
$sfa-slot-4-zcjb-name: 'sfa-slot-4-zcjb';
$sfa-slot-4-zcjb-x: 985px;
$sfa-slot-4-zcjb-y: 459px;
$sfa-slot-4-zcjb-offset-x: -985px;
$sfa-slot-4-zcjb-offset-y: -459px;
$sfa-slot-4-zcjb-width: 197px;
$sfa-slot-4-zcjb-height: 153px;
$sfa-slot-4-zcjb-total-width: 1182px;
$sfa-slot-4-zcjb-total-height: 1071px;
$sfa-slot-4-zcjb-image: '~base/images/spritesPT.png';
$sfa-slot-4-zcjb: (985px, 459px, -985px, -459px, 197px, 153px, 1182px, 1071px, '~base/images/spritesPT.png', 'sfa-slot-4-zcjb', );
$sfa-slot-4-scs-name: 'sfa-slot-4-scs';
$sfa-slot-4-scs-x: 985px;
$sfa-slot-4-scs-y: 612px;
$sfa-slot-4-scs-offset-x: -985px;
$sfa-slot-4-scs-offset-y: -612px;
$sfa-slot-4-scs-width: 197px;
$sfa-slot-4-scs-height: 153px;
$sfa-slot-4-scs-total-width: 1182px;
$sfa-slot-4-scs-total-height: 1071px;
$sfa-slot-4-scs-image: '~base/images/spritesPT.png';
$sfa-slot-4-scs: (985px, 612px, -985px, -612px, 197px, 153px, 1182px, 1071px, '~base/images/spritesPT.png', 'sfa-slot-4-scs', );
$sfa-slot-4-tclsc-name: 'sfa-slot-4-tclsc';
$sfa-slot-4-tclsc-x: 985px;
$sfa-slot-4-tclsc-y: 765px;
$sfa-slot-4-tclsc-offset-x: -985px;
$sfa-slot-4-tclsc-offset-y: -765px;
$sfa-slot-4-tclsc-width: 197px;
$sfa-slot-4-tclsc-height: 153px;
$sfa-slot-4-tclsc-total-width: 1182px;
$sfa-slot-4-tclsc-total-height: 1071px;
$sfa-slot-4-tclsc-image: '~base/images/spritesPT.png';
$sfa-slot-4-tclsc: (985px, 765px, -985px, -765px, 197px, 153px, 1182px, 1071px, '~base/images/spritesPT.png', 'sfa-slot-4-tclsc', );
$sfa-slot-4-ba-name: 'sfa-slot-4-ba';
$sfa-slot-4-ba-x: 0px;
$sfa-slot-4-ba-y: 918px;
$sfa-slot-4-ba-offset-x: 0px;
$sfa-slot-4-ba-offset-y: -918px;
$sfa-slot-4-ba-width: 197px;
$sfa-slot-4-ba-height: 153px;
$sfa-slot-4-ba-total-width: 1182px;
$sfa-slot-4-ba-total-height: 1071px;
$sfa-slot-4-ba-image: '~base/images/spritesPT.png';
$sfa-slot-4-ba: (0px, 918px, 0px, -918px, 197px, 153px, 1182px, 1071px, '~base/images/spritesPT.png', 'sfa-slot-4-ba', );
$sfa-slot-tab-collect-name: 'sfa-slot-tab-collect';
$sfa-slot-tab-collect-x: 197px;
$sfa-slot-tab-collect-y: 918px;
$sfa-slot-tab-collect-offset-x: -197px;
$sfa-slot-tab-collect-offset-y: -918px;
$sfa-slot-tab-collect-width: 18px;
$sfa-slot-tab-collect-height: 17px;
$sfa-slot-tab-collect-total-width: 1182px;
$sfa-slot-tab-collect-total-height: 1071px;
$sfa-slot-tab-collect-image: '~base/images/spritesPT.png';
$sfa-slot-tab-collect: (197px, 918px, -197px, -918px, 18px, 17px, 1182px, 1071px, '~base/images/spritesPT.png', 'sfa-slot-tab-collect', );
$sfa-slot-tab-collected-name: 'sfa-slot-tab-collected';
$sfa-slot-tab-collected-x: 215px;
$sfa-slot-tab-collected-y: 918px;
$sfa-slot-tab-collected-offset-x: -215px;
$sfa-slot-tab-collected-offset-y: -918px;
$sfa-slot-tab-collected-width: 18px;
$sfa-slot-tab-collected-height: 17px;
$sfa-slot-tab-collected-total-width: 1182px;
$sfa-slot-tab-collected-total-height: 1071px;
$sfa-slot-tab-collected-image: '~base/images/spritesPT.png';
$sfa-slot-tab-collected: (215px, 918px, -215px, -918px, 18px, 17px, 1182px, 1071px, '~base/images/spritesPT.png', 'sfa-slot-tab-collected', );
$sfa-slot-tab-query-name: 'sfa-slot-tab-query';
$sfa-slot-tab-query-x: 233px;
$sfa-slot-tab-query-y: 918px;
$sfa-slot-tab-query-offset-x: -233px;
$sfa-slot-tab-query-offset-y: -918px;
$sfa-slot-tab-query-width: 13px;
$sfa-slot-tab-query-height: 14px;
$sfa-slot-tab-query-total-width: 1182px;
$sfa-slot-tab-query-total-height: 1071px;
$sfa-slot-tab-query-image: '~base/images/spritesPT.png';
$sfa-slot-tab-query: (233px, 918px, -233px, -918px, 13px, 14px, 1182px, 1071px, '~base/images/spritesPT.png', 'sfa-slot-tab-query', );
$sprites-p-t-width: 1182px;
$sprites-p-t-height: 1071px;
$sprites-p-t-image: '~base/images/spritesPT.png';
$sprites-p-t-sprites: ($sfa-slot-4-gtscb, $sfa-slot-4-gtsru, $sfa-slot-4-c7, $sfa-slot-4-fm, $sfa-slot-4-foy, $sfa-slot-4-ms, $sfa-slot-4-ta, $sfa-slot-4-bib, $sfa-slot-4-bl, $sfa-slot-4-cm, $sfa-slot-4-cnpr, $sfa-slot-4-ct, $sfa-slot-4-eas, $sfa-slot-4-er, $sfa-slot-4-fcgz, $sfa-slot-4-glg, $sfa-slot-4-glrj, $sfa-slot-4-gts50, $sfa-slot-4-gtsatq, $sfa-slot-4-gtshwkp, $sfa-slot-4-gtssmbr, $sfa-slot-4-jpgt, $sfa-slot-4-longlong, $sfa-slot-4-lvb, $sfa-slot-4-mcb, $sfa-slot-4-nian, $sfa-slot-4-pnp, $sfa-slot-4-qnw, $sfa-slot-4-qop, $sfa-slot-4-sib, $sfa-slot-4-sol, $sfa-slot-4-ub, $sfa-slot-4-wis, $sfa-slot-4-zcjb, $sfa-slot-4-scs, $sfa-slot-4-tclsc, $sfa-slot-4-ba, $sfa-slot-tab-collect, $sfa-slot-tab-collected, $sfa-slot-tab-query, );
$sprites-p-t: (1182px, 1071px, '~base/images/spritesPT.png', $sprites-p-t-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
