// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$sfa-pt-intro-1-selected-name: 'sfa-pt-intro-1-selected';
$sfa-pt-intro-1-selected-x: 1159px;
$sfa-pt-intro-1-selected-y: 613px;
$sfa-pt-intro-1-selected-offset-x: -1159px;
$sfa-pt-intro-1-selected-offset-y: -613px;
$sfa-pt-intro-1-selected-width: 70px;
$sfa-pt-intro-1-selected-height: 49px;
$sfa-pt-intro-1-selected-total-width: 1244px;
$sfa-pt-intro-1-selected-total-height: 1184px;
$sfa-pt-intro-1-selected-image: '~base/images/spritesPT.png';
$sfa-pt-intro-1-selected: (1159px, 613px, -1159px, -613px, 70px, 49px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-intro-1-selected', );
$sfa-pt-intro-1-name: 'sfa-pt-intro-1';
$sfa-pt-intro-1-x: 1159px;
$sfa-pt-intro-1-y: 667px;
$sfa-pt-intro-1-offset-x: -1159px;
$sfa-pt-intro-1-offset-y: -667px;
$sfa-pt-intro-1-width: 70px;
$sfa-pt-intro-1-height: 49px;
$sfa-pt-intro-1-total-width: 1244px;
$sfa-pt-intro-1-total-height: 1184px;
$sfa-pt-intro-1-image: '~base/images/spritesPT.png';
$sfa-pt-intro-1: (1159px, 667px, -1159px, -667px, 70px, 49px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-intro-1', );
$sfa-pt-intro-2-selected-name: 'sfa-pt-intro-2-selected';
$sfa-pt-intro-2-selected-x: 1159px;
$sfa-pt-intro-2-selected-y: 397px;
$sfa-pt-intro-2-selected-offset-x: -1159px;
$sfa-pt-intro-2-selected-offset-y: -397px;
$sfa-pt-intro-2-selected-width: 78px;
$sfa-pt-intro-2-selected-height: 49px;
$sfa-pt-intro-2-selected-total-width: 1244px;
$sfa-pt-intro-2-selected-total-height: 1184px;
$sfa-pt-intro-2-selected-image: '~base/images/spritesPT.png';
$sfa-pt-intro-2-selected: (1159px, 397px, -1159px, -397px, 78px, 49px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-intro-2-selected', );
$sfa-pt-intro-2-name: 'sfa-pt-intro-2';
$sfa-pt-intro-2-x: 1159px;
$sfa-pt-intro-2-y: 451px;
$sfa-pt-intro-2-offset-x: -1159px;
$sfa-pt-intro-2-offset-y: -451px;
$sfa-pt-intro-2-width: 78px;
$sfa-pt-intro-2-height: 49px;
$sfa-pt-intro-2-total-width: 1244px;
$sfa-pt-intro-2-total-height: 1184px;
$sfa-pt-intro-2-image: '~base/images/spritesPT.png';
$sfa-pt-intro-2: (1159px, 451px, -1159px, -451px, 78px, 49px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-intro-2', );
$sfa-pt-intro-3-selected-name: 'sfa-pt-intro-3-selected';
$sfa-pt-intro-3-selected-x: 1159px;
$sfa-pt-intro-3-selected-y: 559px;
$sfa-pt-intro-3-selected-offset-x: -1159px;
$sfa-pt-intro-3-selected-offset-y: -559px;
$sfa-pt-intro-3-selected-width: 78px;
$sfa-pt-intro-3-selected-height: 49px;
$sfa-pt-intro-3-selected-total-width: 1244px;
$sfa-pt-intro-3-selected-total-height: 1184px;
$sfa-pt-intro-3-selected-image: '~base/images/spritesPT.png';
$sfa-pt-intro-3-selected: (1159px, 559px, -1159px, -559px, 78px, 49px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-intro-3-selected', );
$sfa-pt-intro-3-name: 'sfa-pt-intro-3';
$sfa-pt-intro-3-x: 1159px;
$sfa-pt-intro-3-y: 505px;
$sfa-pt-intro-3-offset-x: -1159px;
$sfa-pt-intro-3-offset-y: -505px;
$sfa-pt-intro-3-width: 78px;
$sfa-pt-intro-3-height: 49px;
$sfa-pt-intro-3-total-width: 1244px;
$sfa-pt-intro-3-total-height: 1184px;
$sfa-pt-intro-3-image: '~base/images/spritesPT.png';
$sfa-pt-intro-3: (1159px, 505px, -1159px, -505px, 78px, 49px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-intro-3', );
$sfa-pt-intro-character-name: 'sfa-pt-intro-character';
$sfa-pt-intro-character-x: 0px;
$sfa-pt-intro-character-y: 0px;
$sfa-pt-intro-character-offset-x: 0px;
$sfa-pt-intro-character-offset-y: 0px;
$sfa-pt-intro-character-width: 1026px;
$sfa-pt-intro-character-height: 400px;
$sfa-pt-intro-character-total-width: 1244px;
$sfa-pt-intro-character-total-height: 1184px;
$sfa-pt-intro-character-image: '~base/images/spritesPT.png';
$sfa-pt-intro-character: (0px, 0px, 0px, 0px, 1026px, 400px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-intro-character', );
$sfa-pt-intro-m-bg-name: 'sfa-pt-intro-m-bg';
$sfa-pt-intro-m-bg-x: 0px;
$sfa-pt-intro-m-bg-y: 400px;
$sfa-pt-intro-m-bg-offset-x: 0px;
$sfa-pt-intro-m-bg-offset-y: -400px;
$sfa-pt-intro-m-bg-width: 377px;
$sfa-pt-intro-m-bg-height: 398px;
$sfa-pt-intro-m-bg-total-width: 1244px;
$sfa-pt-intro-m-bg-total-height: 1184px;
$sfa-pt-intro-m-bg-image: '~base/images/spritesPT.png';
$sfa-pt-intro-m-bg: (0px, 400px, 0px, -400px, 377px, 398px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-intro-m-bg', );
$sfa-pt-intro-m-charge-name: 'sfa-pt-intro-m-charge';
$sfa-pt-intro-m-charge-x: 80px;
$sfa-pt-intro-m-charge-y: 1013px;
$sfa-pt-intro-m-charge-offset-x: -80px;
$sfa-pt-intro-m-charge-offset-y: -1013px;
$sfa-pt-intro-m-charge-width: 80px;
$sfa-pt-intro-m-charge-height: 80px;
$sfa-pt-intro-m-charge-total-width: 1244px;
$sfa-pt-intro-m-charge-total-height: 1184px;
$sfa-pt-intro-m-charge-image: '~base/images/spritesPT.png';
$sfa-pt-intro-m-charge: (80px, 1013px, -80px, -1013px, 80px, 80px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-intro-m-charge', );
$sfa-pt-intro-m-gift-name: 'sfa-pt-intro-m-gift';
$sfa-pt-intro-m-gift-x: 616px;
$sfa-pt-intro-m-gift-y: 1013px;
$sfa-pt-intro-m-gift-offset-x: -616px;
$sfa-pt-intro-m-gift-offset-y: -1013px;
$sfa-pt-intro-m-gift-width: 59px;
$sfa-pt-intro-m-gift-height: 59px;
$sfa-pt-intro-m-gift-total-width: 1244px;
$sfa-pt-intro-m-gift-total-height: 1184px;
$sfa-pt-intro-m-gift-image: '~base/images/spritesPT.png';
$sfa-pt-intro-m-gift: (616px, 1013px, -616px, -1013px, 59px, 59px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-intro-m-gift', );
$sfa-pt-intro-m-lottery-name: 'sfa-pt-intro-m-lottery';
$sfa-pt-intro-m-lottery-x: 557px;
$sfa-pt-intro-m-lottery-y: 1013px;
$sfa-pt-intro-m-lottery-offset-x: -557px;
$sfa-pt-intro-m-lottery-offset-y: -1013px;
$sfa-pt-intro-m-lottery-width: 59px;
$sfa-pt-intro-m-lottery-height: 59px;
$sfa-pt-intro-m-lottery-total-width: 1244px;
$sfa-pt-intro-m-lottery-total-height: 1184px;
$sfa-pt-intro-m-lottery-image: '~base/images/spritesPT.png';
$sfa-pt-intro-m-lottery: (557px, 1013px, -557px, -1013px, 59px, 59px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-intro-m-lottery', );
$sfa-pt-intro-m-task-name: 'sfa-pt-intro-m-task';
$sfa-pt-intro-m-task-x: 380px;
$sfa-pt-intro-m-task-y: 1013px;
$sfa-pt-intro-m-task-offset-x: -380px;
$sfa-pt-intro-m-task-offset-y: -1013px;
$sfa-pt-intro-m-task-width: 59px;
$sfa-pt-intro-m-task-height: 59px;
$sfa-pt-intro-m-task-total-width: 1244px;
$sfa-pt-intro-m-task-total-height: 1184px;
$sfa-pt-intro-m-task-image: '~base/images/spritesPT.png';
$sfa-pt-intro-m-task: (380px, 1013px, -380px, -1013px, 59px, 59px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-intro-m-task', );
$sfa-pt-intro-m-ticket-name: 'sfa-pt-intro-m-ticket';
$sfa-pt-intro-m-ticket-x: 498px;
$sfa-pt-intro-m-ticket-y: 1013px;
$sfa-pt-intro-m-ticket-offset-x: -498px;
$sfa-pt-intro-m-ticket-offset-y: -1013px;
$sfa-pt-intro-m-ticket-width: 59px;
$sfa-pt-intro-m-ticket-height: 59px;
$sfa-pt-intro-m-ticket-total-width: 1244px;
$sfa-pt-intro-m-ticket-total-height: 1184px;
$sfa-pt-intro-m-ticket-image: '~base/images/spritesPT.png';
$sfa-pt-intro-m-ticket: (498px, 1013px, -498px, -1013px, 59px, 59px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-intro-m-ticket', );
$sfa-pt-intro-m-transaction-name: 'sfa-pt-intro-m-transaction';
$sfa-pt-intro-m-transaction-x: 439px;
$sfa-pt-intro-m-transaction-y: 1013px;
$sfa-pt-intro-m-transaction-offset-x: -439px;
$sfa-pt-intro-m-transaction-offset-y: -1013px;
$sfa-pt-intro-m-transaction-width: 59px;
$sfa-pt-intro-m-transaction-height: 59px;
$sfa-pt-intro-m-transaction-total-width: 1244px;
$sfa-pt-intro-m-transaction-total-height: 1184px;
$sfa-pt-intro-m-transaction-image: '~base/images/spritesPT.png';
$sfa-pt-intro-m-transaction: (439px, 1013px, -439px, -1013px, 59px, 59px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-intro-m-transaction', );
$sfa-pt-intro-ma-avatar-name: 'sfa-pt-intro-ma-avatar';
$sfa-pt-intro-ma-avatar-x: 0px;
$sfa-pt-intro-ma-avatar-y: 1013px;
$sfa-pt-intro-ma-avatar-offset-x: 0px;
$sfa-pt-intro-ma-avatar-offset-y: -1013px;
$sfa-pt-intro-ma-avatar-width: 80px;
$sfa-pt-intro-ma-avatar-height: 80px;
$sfa-pt-intro-ma-avatar-total-width: 1244px;
$sfa-pt-intro-ma-avatar-total-height: 1184px;
$sfa-pt-intro-ma-avatar-image: '~base/images/spritesPT.png';
$sfa-pt-intro-ma-avatar: (0px, 1013px, 0px, -1013px, 80px, 80px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-intro-ma-avatar', );
$sfa-pt-intro-ma-car-name: 'sfa-pt-intro-ma-car';
$sfa-pt-intro-ma-car-x: 1106px;
$sfa-pt-intro-ma-car-y: 919px;
$sfa-pt-intro-ma-car-offset-x: -1106px;
$sfa-pt-intro-ma-car-offset-y: -919px;
$sfa-pt-intro-ma-car-width: 80px;
$sfa-pt-intro-ma-car-height: 80px;
$sfa-pt-intro-ma-car-total-width: 1244px;
$sfa-pt-intro-ma-car-total-height: 1184px;
$sfa-pt-intro-ma-car-image: '~base/images/spritesPT.png';
$sfa-pt-intro-ma-car: (1106px, 919px, -1106px, -919px, 80px, 80px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-intro-ma-car', );
$sfa-pt-intro-ma-exchange-name: 'sfa-pt-intro-ma-exchange';
$sfa-pt-intro-ma-exchange-x: 1026px;
$sfa-pt-intro-ma-exchange-y: 839px;
$sfa-pt-intro-ma-exchange-offset-x: -1026px;
$sfa-pt-intro-ma-exchange-offset-y: -839px;
$sfa-pt-intro-ma-exchange-width: 80px;
$sfa-pt-intro-ma-exchange-height: 80px;
$sfa-pt-intro-ma-exchange-total-width: 1244px;
$sfa-pt-intro-ma-exchange-total-height: 1184px;
$sfa-pt-intro-ma-exchange-image: '~base/images/spritesPT.png';
$sfa-pt-intro-ma-exchange: (1026px, 839px, -1026px, -839px, 80px, 80px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-intro-ma-exchange', );
$sfa-pt-intro-ma-gift-name: 'sfa-pt-intro-ma-gift';
$sfa-pt-intro-ma-gift-x: 160px;
$sfa-pt-intro-ma-gift-y: 1013px;
$sfa-pt-intro-ma-gift-offset-x: -160px;
$sfa-pt-intro-ma-gift-offset-y: -1013px;
$sfa-pt-intro-ma-gift-width: 80px;
$sfa-pt-intro-ma-gift-height: 80px;
$sfa-pt-intro-ma-gift-total-width: 1244px;
$sfa-pt-intro-ma-gift-total-height: 1184px;
$sfa-pt-intro-ma-gift-image: '~base/images/spritesPT.png';
$sfa-pt-intro-ma-gift: (160px, 1013px, -160px, -1013px, 80px, 80px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-intro-ma-gift', );
$sfa-pt-intro-ma-list-name: 'sfa-pt-intro-ma-list';
$sfa-pt-intro-ma-list-x: 1106px;
$sfa-pt-intro-ma-list-y: 759px;
$sfa-pt-intro-ma-list-offset-x: -1106px;
$sfa-pt-intro-ma-list-offset-y: -759px;
$sfa-pt-intro-ma-list-width: 80px;
$sfa-pt-intro-ma-list-height: 80px;
$sfa-pt-intro-ma-list-total-width: 1244px;
$sfa-pt-intro-ma-list-total-height: 1184px;
$sfa-pt-intro-ma-list-image: '~base/images/spritesPT.png';
$sfa-pt-intro-ma-list: (1106px, 759px, -1106px, -759px, 80px, 80px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-intro-ma-list', );
$sfa-pt-intro-ma-ticket-name: 'sfa-pt-intro-ma-ticket';
$sfa-pt-intro-ma-ticket-x: 240px;
$sfa-pt-intro-ma-ticket-y: 1013px;
$sfa-pt-intro-ma-ticket-offset-x: -240px;
$sfa-pt-intro-ma-ticket-offset-y: -1013px;
$sfa-pt-intro-ma-ticket-width: 80px;
$sfa-pt-intro-ma-ticket-height: 80px;
$sfa-pt-intro-ma-ticket-total-width: 1244px;
$sfa-pt-intro-ma-ticket-total-height: 1184px;
$sfa-pt-intro-ma-ticket-image: '~base/images/spritesPT.png';
$sfa-pt-intro-ma-ticket: (240px, 1013px, -240px, -1013px, 80px, 80px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-intro-ma-ticket', );
$sfa-pt-intro-next-purple-name: 'sfa-pt-intro-next-purple';
$sfa-pt-intro-next-purple-x: 1235px;
$sfa-pt-intro-next-purple-y: 111px;
$sfa-pt-intro-next-purple-offset-x: -1235px;
$sfa-pt-intro-next-purple-offset-y: -111px;
$sfa-pt-intro-next-purple-width: 7px;
$sfa-pt-intro-next-purple-height: 9px;
$sfa-pt-intro-next-purple-total-width: 1244px;
$sfa-pt-intro-next-purple-total-height: 1184px;
$sfa-pt-intro-next-purple-image: '~base/images/spritesPT.png';
$sfa-pt-intro-next-purple: (1235px, 111px, -1235px, -111px, 7px, 9px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-intro-next-purple', );
$sfa-pt-intro-next-name: 'sfa-pt-intro-next';
$sfa-pt-intro-next-x: 1235px;
$sfa-pt-intro-next-y: 120px;
$sfa-pt-intro-next-offset-x: -1235px;
$sfa-pt-intro-next-offset-y: -120px;
$sfa-pt-intro-next-width: 7px;
$sfa-pt-intro-next-height: 9px;
$sfa-pt-intro-next-total-width: 1244px;
$sfa-pt-intro-next-total-height: 1184px;
$sfa-pt-intro-next-image: '~base/images/spritesPT.png';
$sfa-pt-intro-next: (1235px, 120px, -1235px, -120px, 7px, 9px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-intro-next', );
$sfa-pt-intro-p-gift-name: 'sfa-pt-intro-p-gift';
$sfa-pt-intro-p-gift-x: 1026px;
$sfa-pt-intro-p-gift-y: 759px;
$sfa-pt-intro-p-gift-offset-x: -1026px;
$sfa-pt-intro-p-gift-offset-y: -759px;
$sfa-pt-intro-p-gift-width: 80px;
$sfa-pt-intro-p-gift-height: 80px;
$sfa-pt-intro-p-gift-total-width: 1244px;
$sfa-pt-intro-p-gift-total-height: 1184px;
$sfa-pt-intro-p-gift-image: '~base/images/spritesPT.png';
$sfa-pt-intro-p-gift: (1026px, 759px, -1026px, -759px, 80px, 80px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-intro-p-gift', );
$sfa-pt-intro-p-lottery-name: 'sfa-pt-intro-p-lottery';
$sfa-pt-intro-p-lottery-x: 1106px;
$sfa-pt-intro-p-lottery-y: 839px;
$sfa-pt-intro-p-lottery-offset-x: -1106px;
$sfa-pt-intro-p-lottery-offset-y: -839px;
$sfa-pt-intro-p-lottery-width: 80px;
$sfa-pt-intro-p-lottery-height: 80px;
$sfa-pt-intro-p-lottery-total-width: 1244px;
$sfa-pt-intro-p-lottery-total-height: 1184px;
$sfa-pt-intro-p-lottery-image: '~base/images/spritesPT.png';
$sfa-pt-intro-p-lottery: (1106px, 839px, -1106px, -839px, 80px, 80px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-intro-p-lottery', );
$sfa-pt-intro-p-ticket-name: 'sfa-pt-intro-p-ticket';
$sfa-pt-intro-p-ticket-x: 1026px;
$sfa-pt-intro-p-ticket-y: 919px;
$sfa-pt-intro-p-ticket-offset-x: -1026px;
$sfa-pt-intro-p-ticket-offset-y: -919px;
$sfa-pt-intro-p-ticket-width: 80px;
$sfa-pt-intro-p-ticket-height: 80px;
$sfa-pt-intro-p-ticket-total-width: 1244px;
$sfa-pt-intro-p-ticket-total-height: 1184px;
$sfa-pt-intro-p-ticket-image: '~base/images/spritesPT.png';
$sfa-pt-intro-p-ticket: (1026px, 919px, -1026px, -919px, 80px, 80px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-intro-p-ticket', );
$sfa-pt-intro-pr-name: 'sfa-pt-intro-pr';
$sfa-pt-intro-pr-x: 0px;
$sfa-pt-intro-pr-y: 798px;
$sfa-pt-intro-pr-offset-x: 0px;
$sfa-pt-intro-pr-offset-y: -798px;
$sfa-pt-intro-pr-width: 368px;
$sfa-pt-intro-pr-height: 215px;
$sfa-pt-intro-pr-total-width: 1244px;
$sfa-pt-intro-pr-total-height: 1184px;
$sfa-pt-intro-pr-image: '~base/images/spritesPT.png';
$sfa-pt-intro-pr: (0px, 798px, 0px, -798px, 368px, 215px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-intro-pr', );
$sfa-pt-intro-right-name: 'sfa-pt-intro-right';
$sfa-pt-intro-right-x: 1229px;
$sfa-pt-intro-right-y: 151px;
$sfa-pt-intro-right-offset-x: -1229px;
$sfa-pt-intro-right-offset-y: -151px;
$sfa-pt-intro-right-width: 10px;
$sfa-pt-intro-right-height: 18px;
$sfa-pt-intro-right-total-width: 1244px;
$sfa-pt-intro-right-total-height: 1184px;
$sfa-pt-intro-right-image: '~base/images/spritesPT.png';
$sfa-pt-intro-right: (1229px, 151px, -1229px, -151px, 10px, 18px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-intro-right', );
$sfa-pt-intro-teach-you-name: 'sfa-pt-intro-teach-you';
$sfa-pt-intro-teach-you-x: 377px;
$sfa-pt-intro-teach-you-y: 749px;
$sfa-pt-intro-teach-you-offset-x: -377px;
$sfa-pt-intro-teach-you-offset-y: -749px;
$sfa-pt-intro-teach-you-width: 238px;
$sfa-pt-intro-teach-you-height: 28px;
$sfa-pt-intro-teach-you-total-width: 1244px;
$sfa-pt-intro-teach-you-total-height: 1184px;
$sfa-pt-intro-teach-you-image: '~base/images/spritesPT.png';
$sfa-pt-intro-teach-you: (377px, 749px, -377px, -749px, 238px, 28px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-intro-teach-you', );
$sfa-pt-intro-title-name: 'sfa-pt-intro-title';
$sfa-pt-intro-title-x: 1026px;
$sfa-pt-intro-title-y: 0px;
$sfa-pt-intro-title-offset-x: -1026px;
$sfa-pt-intro-title-offset-y: 0px;
$sfa-pt-intro-title-width: 218px;
$sfa-pt-intro-title-height: 53px;
$sfa-pt-intro-title-total-width: 1244px;
$sfa-pt-intro-title-total-height: 1184px;
$sfa-pt-intro-title-image: '~base/images/spritesPT.png';
$sfa-pt-intro-title: (1026px, 0px, -1026px, 0px, 218px, 53px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-intro-title', );
$sfa-pt-calls-name: 'sfa-pt-calls';
$sfa-pt-calls-x: 727px;
$sfa-pt-calls-y: 1013px;
$sfa-pt-calls-offset-x: -727px;
$sfa-pt-calls-offset-y: -1013px;
$sfa-pt-calls-width: 52px;
$sfa-pt-calls-height: 52px;
$sfa-pt-calls-total-width: 1244px;
$sfa-pt-calls-total-height: 1184px;
$sfa-pt-calls-image: '~base/images/spritesPT.png';
$sfa-pt-calls: (727px, 1013px, -727px, -1013px, 52px, 52px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-calls', );
$sfa-pt-cards-name: 'sfa-pt-cards';
$sfa-pt-cards-x: 1186px;
$sfa-pt-cards-y: 919px;
$sfa-pt-cards-offset-x: -1186px;
$sfa-pt-cards-offset-y: -919px;
$sfa-pt-cards-width: 52px;
$sfa-pt-cards-height: 52px;
$sfa-pt-cards-total-width: 1244px;
$sfa-pt-cards-total-height: 1184px;
$sfa-pt-cards-image: '~base/images/spritesPT.png';
$sfa-pt-cards: (1186px, 919px, -1186px, -919px, 52px, 52px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-cards', );
$sfa-pt-daily-betting-name: 'sfa-pt-daily-betting';
$sfa-pt-daily-betting-x: 1112px;
$sfa-pt-daily-betting-y: 53px;
$sfa-pt-daily-betting-offset-x: -1112px;
$sfa-pt-daily-betting-offset-y: -53px;
$sfa-pt-daily-betting-width: 86px;
$sfa-pt-daily-betting-height: 86px;
$sfa-pt-daily-betting-total-width: 1244px;
$sfa-pt-daily-betting-total-height: 1184px;
$sfa-pt-daily-betting-image: '~base/images/spritesPT.png';
$sfa-pt-daily-betting: (1112px, 53px, -1112px, -53px, 86px, 86px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-daily-betting', );
$sfa-pt-daily-charge-name: 'sfa-pt-daily-charge';
$sfa-pt-daily-charge-x: 1026px;
$sfa-pt-daily-charge-y: 311px;
$sfa-pt-daily-charge-offset-x: -1026px;
$sfa-pt-daily-charge-offset-y: -311px;
$sfa-pt-daily-charge-width: 86px;
$sfa-pt-daily-charge-height: 86px;
$sfa-pt-daily-charge-total-width: 1244px;
$sfa-pt-daily-charge-total-height: 1184px;
$sfa-pt-daily-charge-image: '~base/images/spritesPT.png';
$sfa-pt-daily-charge: (1026px, 311px, -1026px, -311px, 86px, 86px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-daily-charge', );
$sfa-pt-daily-loss-name: 'sfa-pt-daily-loss';
$sfa-pt-daily-loss-x: 1112px;
$sfa-pt-daily-loss-y: 139px;
$sfa-pt-daily-loss-offset-x: -1112px;
$sfa-pt-daily-loss-offset-y: -139px;
$sfa-pt-daily-loss-width: 86px;
$sfa-pt-daily-loss-height: 86px;
$sfa-pt-daily-loss-total-width: 1244px;
$sfa-pt-daily-loss-total-height: 1184px;
$sfa-pt-daily-loss-image: '~base/images/spritesPT.png';
$sfa-pt-daily-loss: (1112px, 139px, -1112px, -139px, 86px, 86px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-daily-loss', );
$sfa-pt-daily-prize-name: 'sfa-pt-daily-prize';
$sfa-pt-daily-prize-x: 1026px;
$sfa-pt-daily-prize-y: 225px;
$sfa-pt-daily-prize-offset-x: -1026px;
$sfa-pt-daily-prize-offset-y: -225px;
$sfa-pt-daily-prize-width: 86px;
$sfa-pt-daily-prize-height: 86px;
$sfa-pt-daily-prize-total-width: 1244px;
$sfa-pt-daily-prize-total-height: 1184px;
$sfa-pt-daily-prize-image: '~base/images/spritesPT.png';
$sfa-pt-daily-prize: (1026px, 225px, -1026px, -225px, 86px, 86px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-daily-prize', );
$sfa-pt-gifts-name: 'sfa-pt-gifts';
$sfa-pt-gifts-x: 1186px;
$sfa-pt-gifts-y: 839px;
$sfa-pt-gifts-offset-x: -1186px;
$sfa-pt-gifts-offset-y: -839px;
$sfa-pt-gifts-width: 52px;
$sfa-pt-gifts-height: 52px;
$sfa-pt-gifts-total-width: 1244px;
$sfa-pt-gifts-total-height: 1184px;
$sfa-pt-gifts-image: '~base/images/spritesPT.png';
$sfa-pt-gifts: (1186px, 839px, -1186px, -839px, 52px, 52px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-gifts', );
$sfa-pt-hanger-name: 'sfa-pt-hanger';
$sfa-pt-hanger-x: 0px;
$sfa-pt-hanger-y: 1093px;
$sfa-pt-hanger-offset-x: 0px;
$sfa-pt-hanger-offset-y: -1093px;
$sfa-pt-hanger-width: 20px;
$sfa-pt-hanger-height: 91px;
$sfa-pt-hanger-total-width: 1244px;
$sfa-pt-hanger-total-height: 1184px;
$sfa-pt-hanger-image: '~base/images/spritesPT.png';
$sfa-pt-hanger: (0px, 1093px, 0px, -1093px, 20px, 91px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-hanger', );
$sfa-pt-integral-mall-name: 'sfa-pt-integral-mall';
$sfa-pt-integral-mall-x: 1026px;
$sfa-pt-integral-mall-y: 721px;
$sfa-pt-integral-mall-offset-x: -1026px;
$sfa-pt-integral-mall-offset-y: -721px;
$sfa-pt-integral-mall-width: 170px;
$sfa-pt-integral-mall-height: 38px;
$sfa-pt-integral-mall-total-width: 1244px;
$sfa-pt-integral-mall-total-height: 1184px;
$sfa-pt-integral-mall-image: '~base/images/spritesPT.png';
$sfa-pt-integral-mall: (1026px, 721px, -1026px, -721px, 170px, 38px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-integral-mall', );
$sfa-pt-intro-name: 'sfa-pt-intro';
$sfa-pt-intro-x: 1235px;
$sfa-pt-intro-y: 98px;
$sfa-pt-intro-offset-x: -1235px;
$sfa-pt-intro-offset-y: -98px;
$sfa-pt-intro-width: 7px;
$sfa-pt-intro-height: 13px;
$sfa-pt-intro-total-width: 1244px;
$sfa-pt-intro-total-height: 1184px;
$sfa-pt-intro-image: '~base/images/spritesPT.png';
$sfa-pt-intro: (1235px, 98px, -1235px, -98px, 7px, 13px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-intro', );
$sfa-pt-level-0-name: 'sfa-pt-level-0';
$sfa-pt-level-0-x: 1186px;
$sfa-pt-level-0-y: 891px;
$sfa-pt-level-0-offset-x: -1186px;
$sfa-pt-level-0-offset-y: -891px;
$sfa-pt-level-0-width: 58px;
$sfa-pt-level-0-height: 20px;
$sfa-pt-level-0-total-width: 1244px;
$sfa-pt-level-0-total-height: 1184px;
$sfa-pt-level-0-image: '~base/images/spritesPT.png';
$sfa-pt-level-0: (1186px, 891px, -1186px, -891px, 58px, 20px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-level-0', );
$sfa-pt-level-1-name: 'sfa-pt-level-1';
$sfa-pt-level-1-x: 615px;
$sfa-pt-level-1-y: 749px;
$sfa-pt-level-1-offset-x: -615px;
$sfa-pt-level-1-offset-y: -749px;
$sfa-pt-level-1-width: 58px;
$sfa-pt-level-1-height: 20px;
$sfa-pt-level-1-total-width: 1244px;
$sfa-pt-level-1-total-height: 1184px;
$sfa-pt-level-1-image: '~base/images/spritesPT.png';
$sfa-pt-level-1: (615px, 749px, -615px, -749px, 58px, 20px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-level-1', );
$sfa-pt-level-10-name: 'sfa-pt-level-10';
$sfa-pt-level-10-x: 377px;
$sfa-pt-level-10-y: 777px;
$sfa-pt-level-10-offset-x: -377px;
$sfa-pt-level-10-offset-y: -777px;
$sfa-pt-level-10-width: 58px;
$sfa-pt-level-10-height: 20px;
$sfa-pt-level-10-total-width: 1244px;
$sfa-pt-level-10-total-height: 1184px;
$sfa-pt-level-10-image: '~base/images/spritesPT.png';
$sfa-pt-level-10: (377px, 777px, -377px, -777px, 58px, 20px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-level-10', );
$sfa-pt-level-2-name: 'sfa-pt-level-2';
$sfa-pt-level-2-x: 963px;
$sfa-pt-level-2-y: 749px;
$sfa-pt-level-2-offset-x: -963px;
$sfa-pt-level-2-offset-y: -749px;
$sfa-pt-level-2-width: 58px;
$sfa-pt-level-2-height: 20px;
$sfa-pt-level-2-total-width: 1244px;
$sfa-pt-level-2-total-height: 1184px;
$sfa-pt-level-2-image: '~base/images/spritesPT.png';
$sfa-pt-level-2: (963px, 749px, -963px, -749px, 58px, 20px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-level-2', );
$sfa-pt-level-3-name: 'sfa-pt-level-3';
$sfa-pt-level-3-x: 1186px;
$sfa-pt-level-3-y: 811px;
$sfa-pt-level-3-offset-x: -1186px;
$sfa-pt-level-3-offset-y: -811px;
$sfa-pt-level-3-width: 58px;
$sfa-pt-level-3-height: 20px;
$sfa-pt-level-3-total-width: 1244px;
$sfa-pt-level-3-total-height: 1184px;
$sfa-pt-level-3-image: '~base/images/spritesPT.png';
$sfa-pt-level-3: (1186px, 811px, -1186px, -811px, 58px, 20px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-level-3', );
$sfa-pt-level-4-name: 'sfa-pt-level-4';
$sfa-pt-level-4-x: 847px;
$sfa-pt-level-4-y: 749px;
$sfa-pt-level-4-offset-x: -847px;
$sfa-pt-level-4-offset-y: -749px;
$sfa-pt-level-4-width: 58px;
$sfa-pt-level-4-height: 20px;
$sfa-pt-level-4-total-width: 1244px;
$sfa-pt-level-4-total-height: 1184px;
$sfa-pt-level-4-image: '~base/images/spritesPT.png';
$sfa-pt-level-4: (847px, 749px, -847px, -749px, 58px, 20px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-level-4', );
$sfa-pt-level-5-name: 'sfa-pt-level-5';
$sfa-pt-level-5-x: 789px;
$sfa-pt-level-5-y: 749px;
$sfa-pt-level-5-offset-x: -789px;
$sfa-pt-level-5-offset-y: -749px;
$sfa-pt-level-5-width: 58px;
$sfa-pt-level-5-height: 20px;
$sfa-pt-level-5-total-width: 1244px;
$sfa-pt-level-5-total-height: 1184px;
$sfa-pt-level-5-image: '~base/images/spritesPT.png';
$sfa-pt-level-5: (789px, 749px, -789px, -749px, 58px, 20px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-level-5', );
$sfa-pt-level-6-name: 'sfa-pt-level-6';
$sfa-pt-level-6-x: 731px;
$sfa-pt-level-6-y: 749px;
$sfa-pt-level-6-offset-x: -731px;
$sfa-pt-level-6-offset-y: -749px;
$sfa-pt-level-6-width: 58px;
$sfa-pt-level-6-height: 20px;
$sfa-pt-level-6-total-width: 1244px;
$sfa-pt-level-6-total-height: 1184px;
$sfa-pt-level-6-image: '~base/images/spritesPT.png';
$sfa-pt-level-6: (731px, 749px, -731px, -749px, 58px, 20px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-level-6', );
$sfa-pt-level-7-name: 'sfa-pt-level-7';
$sfa-pt-level-7-x: 673px;
$sfa-pt-level-7-y: 749px;
$sfa-pt-level-7-offset-x: -673px;
$sfa-pt-level-7-offset-y: -749px;
$sfa-pt-level-7-width: 58px;
$sfa-pt-level-7-height: 20px;
$sfa-pt-level-7-total-width: 1244px;
$sfa-pt-level-7-total-height: 1184px;
$sfa-pt-level-7-image: '~base/images/spritesPT.png';
$sfa-pt-level-7: (673px, 749px, -673px, -749px, 58px, 20px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-level-7', );
$sfa-pt-level-8-name: 'sfa-pt-level-8';
$sfa-pt-level-8-x: 1186px;
$sfa-pt-level-8-y: 971px;
$sfa-pt-level-8-offset-x: -1186px;
$sfa-pt-level-8-offset-y: -971px;
$sfa-pt-level-8-width: 58px;
$sfa-pt-level-8-height: 20px;
$sfa-pt-level-8-total-width: 1244px;
$sfa-pt-level-8-total-height: 1184px;
$sfa-pt-level-8-image: '~base/images/spritesPT.png';
$sfa-pt-level-8: (1186px, 971px, -1186px, -971px, 58px, 20px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-level-8', );
$sfa-pt-level-9-name: 'sfa-pt-level-9';
$sfa-pt-level-9-x: 905px;
$sfa-pt-level-9-y: 749px;
$sfa-pt-level-9-offset-x: -905px;
$sfa-pt-level-9-offset-y: -749px;
$sfa-pt-level-9-width: 58px;
$sfa-pt-level-9-height: 20px;
$sfa-pt-level-9-total-width: 1244px;
$sfa-pt-level-9-total-height: 1184px;
$sfa-pt-level-9-image: '~base/images/spritesPT.png';
$sfa-pt-level-9: (905px, 749px, -905px, -749px, 58px, 20px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-level-9', );
$sfa-pt-lottery-name: 'sfa-pt-lottery';
$sfa-pt-lottery-x: 675px;
$sfa-pt-lottery-y: 1013px;
$sfa-pt-lottery-offset-x: -675px;
$sfa-pt-lottery-offset-y: -1013px;
$sfa-pt-lottery-width: 52px;
$sfa-pt-lottery-height: 52px;
$sfa-pt-lottery-total-width: 1244px;
$sfa-pt-lottery-total-height: 1184px;
$sfa-pt-lottery-image: '~base/images/spritesPT.png';
$sfa-pt-lottery: (675px, 1013px, -675px, -1013px, 52px, 52px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-lottery', );
$sfa-pt-lucky-allowance-name: 'sfa-pt-lucky-allowance';
$sfa-pt-lucky-allowance-x: 572px;
$sfa-pt-lucky-allowance-y: 798px;
$sfa-pt-lucky-allowance-offset-x: -572px;
$sfa-pt-lucky-allowance-offset-y: -798px;
$sfa-pt-lucky-allowance-width: 137px;
$sfa-pt-lucky-allowance-height: 85px;
$sfa-pt-lucky-allowance-total-width: 1244px;
$sfa-pt-lucky-allowance-total-height: 1184px;
$sfa-pt-lucky-allowance-image: '~base/images/spritesPT.png';
$sfa-pt-lucky-allowance: (572px, 798px, -572px, -798px, 137px, 85px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-lucky-allowance', );
$sfa-pt-lucky-charge-name: 'sfa-pt-lucky-charge';
$sfa-pt-lucky-charge-x: 572px;
$sfa-pt-lucky-charge-y: 883px;
$sfa-pt-lucky-charge-offset-x: -572px;
$sfa-pt-lucky-charge-offset-y: -883px;
$sfa-pt-lucky-charge-width: 137px;
$sfa-pt-lucky-charge-height: 85px;
$sfa-pt-lucky-charge-total-width: 1244px;
$sfa-pt-lucky-charge-total-height: 1184px;
$sfa-pt-lucky-charge-image: '~base/images/spritesPT.png';
$sfa-pt-lucky-charge: (572px, 883px, -572px, -883px, 137px, 85px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-lucky-charge', );
$sfa-pt-lucky-currency-name: 'sfa-pt-lucky-currency';
$sfa-pt-lucky-currency-x: 846px;
$sfa-pt-lucky-currency-y: 798px;
$sfa-pt-lucky-currency-offset-x: -846px;
$sfa-pt-lucky-currency-offset-y: -798px;
$sfa-pt-lucky-currency-width: 137px;
$sfa-pt-lucky-currency-height: 85px;
$sfa-pt-lucky-currency-total-width: 1244px;
$sfa-pt-lucky-currency-total-height: 1184px;
$sfa-pt-lucky-currency-image: '~base/images/spritesPT.png';
$sfa-pt-lucky-currency: (846px, 798px, -846px, -798px, 137px, 85px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-lucky-currency', );
$sfa-pt-lucky-equivalent-name: 'sfa-pt-lucky-equivalent';
$sfa-pt-lucky-equivalent-x: 709px;
$sfa-pt-lucky-equivalent-y: 798px;
$sfa-pt-lucky-equivalent-offset-x: -709px;
$sfa-pt-lucky-equivalent-offset-y: -798px;
$sfa-pt-lucky-equivalent-width: 137px;
$sfa-pt-lucky-equivalent-height: 85px;
$sfa-pt-lucky-equivalent-total-width: 1244px;
$sfa-pt-lucky-equivalent-total-height: 1184px;
$sfa-pt-lucky-equivalent-image: '~base/images/spritesPT.png';
$sfa-pt-lucky-equivalent: (709px, 798px, -709px, -798px, 137px, 85px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-lucky-equivalent', );
$sfa-pt-lucky-plus-name: 'sfa-pt-lucky-plus';
$sfa-pt-lucky-plus-x: 846px;
$sfa-pt-lucky-plus-y: 883px;
$sfa-pt-lucky-plus-offset-x: -846px;
$sfa-pt-lucky-plus-offset-y: -883px;
$sfa-pt-lucky-plus-width: 137px;
$sfa-pt-lucky-plus-height: 85px;
$sfa-pt-lucky-plus-total-width: 1244px;
$sfa-pt-lucky-plus-total-height: 1184px;
$sfa-pt-lucky-plus-image: '~base/images/spritesPT.png';
$sfa-pt-lucky-plus: (846px, 883px, -846px, -883px, 137px, 85px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-lucky-plus', );
$sfa-pt-lucky-rebate-name: 'sfa-pt-lucky-rebate';
$sfa-pt-lucky-rebate-x: 709px;
$sfa-pt-lucky-rebate-y: 883px;
$sfa-pt-lucky-rebate-offset-x: -709px;
$sfa-pt-lucky-rebate-offset-y: -883px;
$sfa-pt-lucky-rebate-width: 137px;
$sfa-pt-lucky-rebate-height: 85px;
$sfa-pt-lucky-rebate-total-width: 1244px;
$sfa-pt-lucky-rebate-total-height: 1184px;
$sfa-pt-lucky-rebate-image: '~base/images/spritesPT.png';
$sfa-pt-lucky-rebate: (709px, 883px, -709px, -883px, 137px, 85px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-lucky-rebate', );
$sfa-pt-lucky-star-points-name: 'sfa-pt-lucky-star-points';
$sfa-pt-lucky-star-points-x: 1198px;
$sfa-pt-lucky-star-points-y: 171px;
$sfa-pt-lucky-star-points-offset-x: -1198px;
$sfa-pt-lucky-star-points-offset-y: -171px;
$sfa-pt-lucky-star-points-width: 29px;
$sfa-pt-lucky-star-points-height: 33px;
$sfa-pt-lucky-star-points-total-width: 1244px;
$sfa-pt-lucky-star-points-total-height: 1184px;
$sfa-pt-lucky-star-points-image: '~base/images/spritesPT.png';
$sfa-pt-lucky-star-points: (1198px, 171px, -1198px, -171px, 29px, 33px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-lucky-star-points', );
$sfa-pt-lucky-star-name: 'sfa-pt-lucky-star';
$sfa-pt-lucky-star-x: 1198px;
$sfa-pt-lucky-star-y: 139px;
$sfa-pt-lucky-star-offset-x: -1198px;
$sfa-pt-lucky-star-offset-y: -139px;
$sfa-pt-lucky-star-width: 31px;
$sfa-pt-lucky-star-height: 32px;
$sfa-pt-lucky-star-total-width: 1244px;
$sfa-pt-lucky-star-total-height: 1184px;
$sfa-pt-lucky-star-image: '~base/images/spritesPT.png';
$sfa-pt-lucky-star: (1198px, 139px, -1198px, -139px, 31px, 32px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-lucky-star', );
$sfa-pt-my-points-name: 'sfa-pt-my-points';
$sfa-pt-my-points-x: 1198px;
$sfa-pt-my-points-y: 225px;
$sfa-pt-my-points-offset-x: -1198px;
$sfa-pt-my-points-offset-y: -225px;
$sfa-pt-my-points-width: 30px;
$sfa-pt-my-points-height: 30px;
$sfa-pt-my-points-total-width: 1244px;
$sfa-pt-my-points-total-height: 1184px;
$sfa-pt-my-points-image: '~base/images/spritesPT.png';
$sfa-pt-my-points: (1198px, 225px, -1198px, -225px, 30px, 30px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-my-points', );
$sfa-pt-sign-in-name: 'sfa-pt-sign-in';
$sfa-pt-sign-in-x: 1229px;
$sfa-pt-sign-in-y: 139px;
$sfa-pt-sign-in-offset-x: -1229px;
$sfa-pt-sign-in-offset-y: -139px;
$sfa-pt-sign-in-width: 15px;
$sfa-pt-sign-in-height: 12px;
$sfa-pt-sign-in-total-width: 1244px;
$sfa-pt-sign-in-total-height: 1184px;
$sfa-pt-sign-in-image: '~base/images/spritesPT.png';
$sfa-pt-sign-in: (1229px, 139px, -1229px, -139px, 15px, 12px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-sign-in', );
$sfa-pt-task-allowance-name: 'sfa-pt-task-allowance';
$sfa-pt-task-allowance-x: 1026px;
$sfa-pt-task-allowance-y: 451px;
$sfa-pt-task-allowance-offset-x: -1026px;
$sfa-pt-task-allowance-offset-y: -451px;
$sfa-pt-task-allowance-width: 133px;
$sfa-pt-task-allowance-height: 54px;
$sfa-pt-task-allowance-total-width: 1244px;
$sfa-pt-task-allowance-total-height: 1184px;
$sfa-pt-task-allowance-image: '~base/images/spritesPT.png';
$sfa-pt-task-allowance: (1026px, 451px, -1026px, -451px, 133px, 54px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-task-allowance', );
$sfa-pt-task-charge-name: 'sfa-pt-task-charge';
$sfa-pt-task-charge-x: 1026px;
$sfa-pt-task-charge-y: 505px;
$sfa-pt-task-charge-offset-x: -1026px;
$sfa-pt-task-charge-offset-y: -505px;
$sfa-pt-task-charge-width: 133px;
$sfa-pt-task-charge-height: 54px;
$sfa-pt-task-charge-total-width: 1244px;
$sfa-pt-task-charge-total-height: 1184px;
$sfa-pt-task-charge-image: '~base/images/spritesPT.png';
$sfa-pt-task-charge: (1026px, 505px, -1026px, -505px, 133px, 54px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-task-charge', );
$sfa-pt-task-currency-name: 'sfa-pt-task-currency';
$sfa-pt-task-currency-x: 1026px;
$sfa-pt-task-currency-y: 559px;
$sfa-pt-task-currency-offset-x: -1026px;
$sfa-pt-task-currency-offset-y: -559px;
$sfa-pt-task-currency-width: 133px;
$sfa-pt-task-currency-height: 54px;
$sfa-pt-task-currency-total-width: 1244px;
$sfa-pt-task-currency-total-height: 1184px;
$sfa-pt-task-currency-image: '~base/images/spritesPT.png';
$sfa-pt-task-currency: (1026px, 559px, -1026px, -559px, 133px, 54px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-task-currency', );
$sfa-pt-task-daily-name: 'sfa-pt-task-daily';
$sfa-pt-task-daily-x: 697px;
$sfa-pt-task-daily-y: 400px;
$sfa-pt-task-daily-offset-x: -697px;
$sfa-pt-task-daily-offset-y: -400px;
$sfa-pt-task-daily-width: 320px;
$sfa-pt-task-daily-height: 349px;
$sfa-pt-task-daily-total-width: 1244px;
$sfa-pt-task-daily-total-height: 1184px;
$sfa-pt-task-daily-image: '~base/images/spritesPT.png';
$sfa-pt-task-daily: (697px, 400px, -697px, -400px, 320px, 349px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-task-daily', );
$sfa-pt-task-equivalent-name: 'sfa-pt-task-equivalent';
$sfa-pt-task-equivalent-x: 1026px;
$sfa-pt-task-equivalent-y: 613px;
$sfa-pt-task-equivalent-offset-x: -1026px;
$sfa-pt-task-equivalent-offset-y: -613px;
$sfa-pt-task-equivalent-width: 133px;
$sfa-pt-task-equivalent-height: 54px;
$sfa-pt-task-equivalent-total-width: 1244px;
$sfa-pt-task-equivalent-total-height: 1184px;
$sfa-pt-task-equivalent-image: '~base/images/spritesPT.png';
$sfa-pt-task-equivalent: (1026px, 613px, -1026px, -613px, 133px, 54px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-task-equivalent', );
$sfa-pt-task-nothing-name: 'sfa-pt-task-nothing';
$sfa-pt-task-nothing-x: 1198px;
$sfa-pt-task-nothing-y: 53px;
$sfa-pt-task-nothing-offset-x: -1198px;
$sfa-pt-task-nothing-offset-y: -53px;
$sfa-pt-task-nothing-width: 45px;
$sfa-pt-task-nothing-height: 45px;
$sfa-pt-task-nothing-total-width: 1244px;
$sfa-pt-task-nothing-total-height: 1184px;
$sfa-pt-task-nothing-image: '~base/images/spritesPT.png';
$sfa-pt-task-nothing: (1198px, 53px, -1198px, -53px, 45px, 45px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-task-nothing', );
$sfa-pt-task-plus-name: 'sfa-pt-task-plus';
$sfa-pt-task-plus-x: 1026px;
$sfa-pt-task-plus-y: 667px;
$sfa-pt-task-plus-offset-x: -1026px;
$sfa-pt-task-plus-offset-y: -667px;
$sfa-pt-task-plus-width: 133px;
$sfa-pt-task-plus-height: 54px;
$sfa-pt-task-plus-total-width: 1244px;
$sfa-pt-task-plus-total-height: 1184px;
$sfa-pt-task-plus-image: '~base/images/spritesPT.png';
$sfa-pt-task-plus: (1026px, 667px, -1026px, -667px, 133px, 54px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-task-plus', );
$sfa-pt-task-points-name: 'sfa-pt-task-points';
$sfa-pt-task-points-x: 320px;
$sfa-pt-task-points-y: 1013px;
$sfa-pt-task-points-offset-x: -320px;
$sfa-pt-task-points-offset-y: -1013px;
$sfa-pt-task-points-width: 60px;
$sfa-pt-task-points-height: 60px;
$sfa-pt-task-points-total-width: 1244px;
$sfa-pt-task-points-total-height: 1184px;
$sfa-pt-task-points-image: '~base/images/spritesPT.png';
$sfa-pt-task-points: (320px, 1013px, -320px, -1013px, 60px, 60px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-task-points', );
$sfa-pt-task-rebate-name: 'sfa-pt-task-rebate';
$sfa-pt-task-rebate-x: 1026px;
$sfa-pt-task-rebate-y: 397px;
$sfa-pt-task-rebate-offset-x: -1026px;
$sfa-pt-task-rebate-offset-y: -397px;
$sfa-pt-task-rebate-width: 133px;
$sfa-pt-task-rebate-height: 54px;
$sfa-pt-task-rebate-total-width: 1244px;
$sfa-pt-task-rebate-total-height: 1184px;
$sfa-pt-task-rebate-image: '~base/images/spritesPT.png';
$sfa-pt-task-rebate: (1026px, 397px, -1026px, -397px, 133px, 54px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-task-rebate', );
$sfa-pt-task-tip-name: 'sfa-pt-task-tip';
$sfa-pt-task-tip-x: 1198px;
$sfa-pt-task-tip-y: 255px;
$sfa-pt-task-tip-offset-x: -1198px;
$sfa-pt-task-tip-offset-y: -255px;
$sfa-pt-task-tip-width: 21px;
$sfa-pt-task-tip-height: 24px;
$sfa-pt-task-tip-total-width: 1244px;
$sfa-pt-task-tip-total-height: 1184px;
$sfa-pt-task-tip-image: '~base/images/spritesPT.png';
$sfa-pt-task-tip: (1198px, 255px, -1198px, -255px, 21px, 24px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-task-tip', );
$sfa-pt-task-weekly-name: 'sfa-pt-task-weekly';
$sfa-pt-task-weekly-x: 377px;
$sfa-pt-task-weekly-y: 400px;
$sfa-pt-task-weekly-offset-x: -377px;
$sfa-pt-task-weekly-offset-y: -400px;
$sfa-pt-task-weekly-width: 320px;
$sfa-pt-task-weekly-height: 349px;
$sfa-pt-task-weekly-total-width: 1244px;
$sfa-pt-task-weekly-total-height: 1184px;
$sfa-pt-task-weekly-image: '~base/images/spritesPT.png';
$sfa-pt-task-weekly: (377px, 400px, -377px, -400px, 320px, 349px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-task-weekly', );
$sfa-pt-task-winner-list-name: 'sfa-pt-task-winner-list';
$sfa-pt-task-winner-list-x: 1198px;
$sfa-pt-task-winner-list-y: 98px;
$sfa-pt-task-winner-list-offset-x: -1198px;
$sfa-pt-task-winner-list-offset-y: -98px;
$sfa-pt-task-winner-list-width: 37px;
$sfa-pt-task-winner-list-height: 38px;
$sfa-pt-task-winner-list-total-width: 1244px;
$sfa-pt-task-winner-list-total-height: 1184px;
$sfa-pt-task-winner-list-image: '~base/images/spritesPT.png';
$sfa-pt-task-winner-list: (1198px, 98px, -1198px, -98px, 37px, 38px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-task-winner-list', );
$sfa-pt-task-name: 'sfa-pt-task';
$sfa-pt-task-x: 1186px;
$sfa-pt-task-y: 759px;
$sfa-pt-task-offset-x: -1186px;
$sfa-pt-task-offset-y: -759px;
$sfa-pt-task-width: 52px;
$sfa-pt-task-height: 52px;
$sfa-pt-task-total-width: 1244px;
$sfa-pt-task-total-height: 1184px;
$sfa-pt-task-image: '~base/images/spritesPT.png';
$sfa-pt-task: (1186px, 759px, -1186px, -759px, 52px, 52px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-task', );
$sfa-pt-wait-name: 'sfa-pt-wait';
$sfa-pt-wait-x: 368px;
$sfa-pt-wait-y: 798px;
$sfa-pt-wait-offset-x: -368px;
$sfa-pt-wait-offset-y: -798px;
$sfa-pt-wait-width: 204px;
$sfa-pt-wait-height: 174px;
$sfa-pt-wait-total-width: 1244px;
$sfa-pt-wait-total-height: 1184px;
$sfa-pt-wait-image: '~base/images/spritesPT.png';
$sfa-pt-wait: (368px, 798px, -368px, -798px, 204px, 174px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-wait', );
$sfa-pt-weekly-betting-name: 'sfa-pt-weekly-betting';
$sfa-pt-weekly-betting-x: 1112px;
$sfa-pt-weekly-betting-y: 225px;
$sfa-pt-weekly-betting-offset-x: -1112px;
$sfa-pt-weekly-betting-offset-y: -225px;
$sfa-pt-weekly-betting-width: 86px;
$sfa-pt-weekly-betting-height: 86px;
$sfa-pt-weekly-betting-total-width: 1244px;
$sfa-pt-weekly-betting-total-height: 1184px;
$sfa-pt-weekly-betting-image: '~base/images/spritesPT.png';
$sfa-pt-weekly-betting: (1112px, 225px, -1112px, -225px, 86px, 86px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-weekly-betting', );
$sfa-pt-weekly-charge-name: 'sfa-pt-weekly-charge';
$sfa-pt-weekly-charge-x: 1026px;
$sfa-pt-weekly-charge-y: 53px;
$sfa-pt-weekly-charge-offset-x: -1026px;
$sfa-pt-weekly-charge-offset-y: -53px;
$sfa-pt-weekly-charge-width: 86px;
$sfa-pt-weekly-charge-height: 86px;
$sfa-pt-weekly-charge-total-width: 1244px;
$sfa-pt-weekly-charge-total-height: 1184px;
$sfa-pt-weekly-charge-image: '~base/images/spritesPT.png';
$sfa-pt-weekly-charge: (1026px, 53px, -1026px, -53px, 86px, 86px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-weekly-charge', );
$sfa-pt-weekly-loss-name: 'sfa-pt-weekly-loss';
$sfa-pt-weekly-loss-x: 1026px;
$sfa-pt-weekly-loss-y: 139px;
$sfa-pt-weekly-loss-offset-x: -1026px;
$sfa-pt-weekly-loss-offset-y: -139px;
$sfa-pt-weekly-loss-width: 86px;
$sfa-pt-weekly-loss-height: 86px;
$sfa-pt-weekly-loss-total-width: 1244px;
$sfa-pt-weekly-loss-total-height: 1184px;
$sfa-pt-weekly-loss-image: '~base/images/spritesPT.png';
$sfa-pt-weekly-loss: (1026px, 139px, -1026px, -139px, 86px, 86px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-weekly-loss', );
$sfa-pt-weekly-prize-name: 'sfa-pt-weekly-prize';
$sfa-pt-weekly-prize-x: 1112px;
$sfa-pt-weekly-prize-y: 311px;
$sfa-pt-weekly-prize-offset-x: -1112px;
$sfa-pt-weekly-prize-offset-y: -311px;
$sfa-pt-weekly-prize-width: 86px;
$sfa-pt-weekly-prize-height: 86px;
$sfa-pt-weekly-prize-total-width: 1244px;
$sfa-pt-weekly-prize-total-height: 1184px;
$sfa-pt-weekly-prize-image: '~base/images/spritesPT.png';
$sfa-pt-weekly-prize: (1112px, 311px, -1112px, -311px, 86px, 86px, 1244px, 1184px, '~base/images/spritesPT.png', 'sfa-pt-weekly-prize', );
$sprites-p-t-width: 1244px;
$sprites-p-t-height: 1184px;
$sprites-p-t-image: '~base/images/spritesPT.png';
$sprites-p-t-sprites: ($sfa-pt-intro-1-selected, $sfa-pt-intro-1, $sfa-pt-intro-2-selected, $sfa-pt-intro-2, $sfa-pt-intro-3-selected, $sfa-pt-intro-3, $sfa-pt-intro-character, $sfa-pt-intro-m-bg, $sfa-pt-intro-m-charge, $sfa-pt-intro-m-gift, $sfa-pt-intro-m-lottery, $sfa-pt-intro-m-task, $sfa-pt-intro-m-ticket, $sfa-pt-intro-m-transaction, $sfa-pt-intro-ma-avatar, $sfa-pt-intro-ma-car, $sfa-pt-intro-ma-exchange, $sfa-pt-intro-ma-gift, $sfa-pt-intro-ma-list, $sfa-pt-intro-ma-ticket, $sfa-pt-intro-next-purple, $sfa-pt-intro-next, $sfa-pt-intro-p-gift, $sfa-pt-intro-p-lottery, $sfa-pt-intro-p-ticket, $sfa-pt-intro-pr, $sfa-pt-intro-right, $sfa-pt-intro-teach-you, $sfa-pt-intro-title, $sfa-pt-calls, $sfa-pt-cards, $sfa-pt-daily-betting, $sfa-pt-daily-charge, $sfa-pt-daily-loss, $sfa-pt-daily-prize, $sfa-pt-gifts, $sfa-pt-hanger, $sfa-pt-integral-mall, $sfa-pt-intro, $sfa-pt-level-0, $sfa-pt-level-1, $sfa-pt-level-10, $sfa-pt-level-2, $sfa-pt-level-3, $sfa-pt-level-4, $sfa-pt-level-5, $sfa-pt-level-6, $sfa-pt-level-7, $sfa-pt-level-8, $sfa-pt-level-9, $sfa-pt-lottery, $sfa-pt-lucky-allowance, $sfa-pt-lucky-charge, $sfa-pt-lucky-currency, $sfa-pt-lucky-equivalent, $sfa-pt-lucky-plus, $sfa-pt-lucky-rebate, $sfa-pt-lucky-star-points, $sfa-pt-lucky-star, $sfa-pt-my-points, $sfa-pt-sign-in, $sfa-pt-task-allowance, $sfa-pt-task-charge, $sfa-pt-task-currency, $sfa-pt-task-daily, $sfa-pt-task-equivalent, $sfa-pt-task-nothing, $sfa-pt-task-plus, $sfa-pt-task-points, $sfa-pt-task-rebate, $sfa-pt-task-tip, $sfa-pt-task-weekly, $sfa-pt-task-winner-list, $sfa-pt-task, $sfa-pt-wait, $sfa-pt-weekly-betting, $sfa-pt-weekly-charge, $sfa-pt-weekly-loss, $sfa-pt-weekly-prize, );
$sprites-p-t: (1244px, 1184px, '~base/images/spritesPT.png', $sprites-p-t-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
