// 主色
$new-main-deep-color: #14b1bb !default;
$new-main-deep-hover-color: darken(#14b1bb, 10%) !default;
$new-main-body-color: #f5f5f5;
$def-white-color: #ffffff !default;
// 辅色
$prominent-color: #f09932 !default;
$prominent-hover-color: #d8892d !default;
$prominent-dark-bg-color: #42495c !default;
$prominent-light-bg-color: #129098 !default;
$prominent-secondary-btn-color: #8094a6 !default;
$prominent-linear: linear-gradient(to bottom, #4fbab0, #598bee);
$prominent-red-color:#e84c4c!default;
// 字体
$def-black-color: #333333 !default;
$new-inverse-color: #666666 !default;
$font-auxiliary-color: #999999 !default;
// 分割线
$def-line-color: #d7d7d7 !default;
$sec-line-color: #f0f0f0 !default;
$def-gray-color: #cccccc !default;
