.clearfix {
  *zoom: 1;
  &:before {
    display: table;
    line-height: 0;
    content: "";
  }
  &:after {
    display: table;
    line-height: 0;
    content: "";
    clear: both;
  }
}

.box-sizing {
  box-sizing: border-box !important;
}

.block {
  display: block !important;
}

.inline {
  display: inline !important;
}

.inline-block {
  display: inline-block !important;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.height-100 {
  height: 100% !important;
}

.width-100, .full-width {
  width: 100% !important;
}

.no-resize {
  resize: none;
}

.no-height {
  height: 0;
  overflow: hidden;
}

@include basics($basics);

@include utils_factory('font', 'font-size', $font-sizes);
@include text-colors($font-colors);
@include bg-colors($bg-colors);
@include text-colors($font-colors, bold);
@include bg-colors($bg-colors, bold);

@include utils_factory('width', 'width', $widths);
@include utils_factory('input', 'width', $input-widths);

@include utils_factory('max-width', 'max-width', $widths);
@include utils_factory('min-width', 'min-width', $widths);

@include utils_factory('height', 'height', $heights);
@include utils_factory('max-height', 'max-height', $heights);
@include utils_factory('min-height', 'min-height', $heights);
@include utils_factory('line-height', 'line-height', $heights);

@include squares($squares);

@include no-filler('p', 'padding');

@include no-filler('m', 'margin');

@include filters_factory('p', 'padding', $filters);
@include filters_factory('m', 'margin', $filters);

@include utils_factory('cursor', 'cursor', $cursors);

@include utils_factory('modal', 'width', $modals);

@include spans($spans);

.font-normal {
  font-weight: normal;
}

.font-bold {
  font-weight: bold;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-center-vb {
  text-align: center !important;
  vertical-align: middle !important;
}

.m-center {
  margin-left: auto !important;
  margin-right: auto !important;
}

.text-upper {
  text-transform: uppercase
}

.no-border {
  border: none !important;
  box-shadow: none;
}

@include no-filler('b', 'border');

.border-transparent {
  border: 1px solid transparent
}

@include borders($borders);

.border-dotted {
  border-style: dotted !important;
}

.border-dashed {
  border-style: dashed !important;
}

.no-rounded {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0
}

.hidden {
  display: none !important;
}

.hide {
  display: none !important;
}

.pre {
  white-space: pre;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}

.overflow-initial {
  overflow: initial;
}

.vertical-top {
  vertical-align: top !important;
}

.vertical-sub {
  vertical-align: sub;
}

.vertical-middle {
  vertical-align: middle !important;
}

.vertical-bottom {
  vertical-align: bottom !important;
}

.v-top {
  vertical-align: top;
}

.v-middle {
  vertical-align: middle;
}

.v-bottom {
  vertical-align: bottom;
}

.none-list-style {
  list-style: none;
}

.none-style-list {
  list-style: none;
}

.img-sm {
  max-width: 80px;
  max-height: 80px;
}

.word-break {
  word-break: break-all;
}

.opacity-8 {
  opacity: 0.8;
}

.opacity-5 {
  opacity: 0.5;
}

.opacity-0 {
  opacity: 0;
}

.help-block {
  color: #999 !important;
}

.panel-green {
  border-top: 4px solid #1bbb9e;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: bottom;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.show {
  display: block;
}

.invisible {
  visibility: hidden;
}

.affix {
  position: fixed;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.dot-divider {
  height: 1px;
  position: relative;
  &:after {
    content: '';
    border-bottom: 1px dashed $new-inverse-color;
    position: absolute;
    width: 100%;
  }
  &.dot-divider-sm {
    margin-bottom: 8px;
  }
  &.dot-divider-md {
    margin-bottom: 15px;
  }
  &.dot-divider-lg {
    margin-bottom: 30px;
  }
}

.div-line {
  height: 1px;
  position: relative;
  &:after {
    content: '';
    border-bottom: 1px solid $sec-line-color;
    position: absolute;
    width: 98%;
    left: 1%
  }
}

.block-divider {
  height: 7px;
  background: $main-color;
  &.block-divider-sm {
    height: 5px;
  }
}

.blur {
  filter: blur(2px);
}

.shadow-block {
  position: relative;
  margin-bottom: 8px;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
}

.tip-hot {
  padding-right: 5px;
  background-color: $new-gray-color;
  height: 23px;
  line-height: 23px;
  span {
    padding: 3px 8px 3px 8px;
    background-color: $new-hot-color;
    color: $new-light-color;
    font-weight: bold;
  }
}

.main-display {
  width: 1200px;
  margin: 0 auto;
}

.main-height {
  height: 610px;
}

.sfa {
  display: inline-block;
}

.timer-calendar-input {
  position: relative;
  border: 1px solid #878585;
  display: inline-block;
  height: 23px;
  top: 10px;
  input {
    position: absolute;
    padding: 0;
    padding-left: 5px;
    border: none !important;
    width: 80%;
    height: 100%;
  }
  .timer-calendar {
    position: absolute;
    top: 3px;
    right: 5px;
  }
}
//记录相关组件
.timer-record-input {
  border: 1px solid #cccccc;
  font-size: 12px;
  color: #666666;
  width: 160px !important;
  top: 7px;
  position: relative;
  .sfa-time-input {
    font-size: 12px;
    color: $new-inverse-color;
    background-color: $def-white-color !important;
  }
  .sfa-time-calendar {
    background-image: url("~base/images/v2/icon-time.png") !important;
    background-position: 0;
    height: 14px;
    width: 17px;
    margin-top: 1px;
  }
  &.active, &:hover {
    border: 1px solid #14b1bb;
    //background-color: transparent;

  }
}

.select-record-select {
  height: 25px;
  width: 80px;
  font-size: 12px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url(~base/images/select-caret-black.png) no-repeat scroll 97% center transparent;
  text-align-last: left;
  text-align: left;
  border-radius: 4px;
  color: #666666;
  margin-top: -6px;
  border-color: #cccccc !important;
  &.active, &:hover {
    border-color: #cccccc !important;
  }

}
.button-record-button{
  margin-bottom: 5px;
  background-color: $new-main-deep-color;
}

.text-account-add{
  color: $new-main-deep-color;
  font-weight: bold;
}
.text-account-cut{
  color: $prominent-color;
  font-weight: bold;
}
.btn-fc-bg{
  width: 130px;
  height: 35px;
  color: $def-white-color;
  background: $new-main-deep-color;
}
.mall-level-0 {
  width: 65px;
  height: 30px;
  background: url("~base/images/mall/mall-lv0.png") no-repeat;
}

.mall-level-1 {
  width: 65px;
  height: 30px;
  background: url("~base/images/mall/mall-lv1.png") no-repeat;
}

.mall-level-2 {
  width: 65px;
  height: 30px;
  background: url("~base/images/mall/mall-lv2.png") no-repeat;
}

.mall-level-3 {
  width: 65px;
  height: 30px;
  background: url("~base/images/mall/mall-lv3.png") no-repeat;
}

.mall-level-4 {
  width: 65px;
  height: 30px;
  background: url("~base/images/mall/mall-lv4.png") no-repeat;
}

.mall-level-5 {
  width: 65px;
  height: 30px;
  background: url("~base/images/mall/mall-lv5.png") no-repeat;
}

.mall-level-6 {
  width: 65px;
  height: 30px;
  background: url("~base/images/mall/mall-lv6.png") no-repeat;
}

.mall-level-7 {
  width: 65px;
  height: 30px;
  background: url("~base/images/mall/mall-lv7.png") no-repeat;
}

.mall-level-8 {
  width: 65px;
  height: 30px;
  background: url("~base/images/mall/mall-lv8.png") no-repeat;
}

.mall-level-9 {
  width: 65px;
  height: 30px;
  background: url("~base/images/mall/mall-lv9.png") no-repeat;
}

.mall-level-10 {
  width: 65px;
  height: 30px;
  background: url("~base/images/mall/mall-lv10.png") no-repeat;
}

@include sprites($spritesheet-sprites);
@include spritesMG($spritesheet-MG-sprites);
@include spritesPT($spritesheet-PT-sprites);

