.winloss_mask {
    background: rgba(0, 0, 0, .8);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index:11;


    .main_contain {
        position: absolute;
        width: 820px;
        //height: auto;
        height:413px;
    }

    .pop_contain {
        position: absolute;
        width: 820px;
        min-height: 700px;
        height: auto;
    }

    .bg_lump {
        width: 650px;
        height: auto;
        margin: 0px auto;
    }

    .diamond_lump {
        position: absolute;
        width: 483px;
        height: 260px;
        top: -230px;
        left: 160px;
    }

    .diamond_01 {
        opacity: 0;
        position: absolute;
        background: url("./images/wxyk/diamond_01.png");
        width: 483px;
        height: 260px;
        top: 0px;
        left: 0px;
    }

    .diamond_02 {
        opacity: 0;
        position: absolute;
        background: url("./images/wxyk/diamond_02.png");
        width: 483px;
        height: 260px;
        top: 0px;
        left: 0px;
    }

    .diamond_03 {
        opacity: 0;
        position: absolute;
        background: url("./images/wxyk/diamond_03.png");
        width: 483px;
        height: 260px;
        top: 0px;
        left: 0px;
    }

    .diamond_04 {
        opacity: 0;
        position: absolute;
        background: url("./images/wxyk/diamond_04.png");
        width: 483px;
        height: 260px;
        top: 0px;
        left: 0px;
    }

    .diamond_05 {
        opacity: 0;
        position: absolute;
        background: url("./images/wxyk/diamond_05.png");
        width: 483px;
        height: 260px;
        top: 0px;
        left: 0px;
    }

    .title_pic {
        position: absolute;
        background: url("./images/wxyk/title_pic.png") no-repeat;
        width: 429px;
        height: 167px;
        top: -210px;
        left: 190px;
        opacity: 0;
    }

    .luster {
        background: url("./images/wxyk/luster.png") no-repeat;
        width: 74px;
        height: 85px;
        position: absolute;
        opacity: 0;
    }

    .lus_01 {
        top: -103px;
        left: 170px;
    }

    .lus_02 {
        top: -93px;
        left: 250px;
    }

    .lus_03 {
        top: -63px;
        left: 340px;
    }

    .lus_04 {
        top: 50px;
        left: 395px;
    }

    .lus_05 {
        top: 100px;
        left: 390px;
    }

    .lus_06 {
        top: -85px;
        left: 40px;
    }

    .lus_07 {
        top: -5px;
        left: -60px;
    }

    .lus_08 {
        top: 125px;
        left: -48px;
    }

    .title_pic_info_ready {
        background: url("./images/wxyk/title_pic_info_ready.png") no-repeat;
        width: 331px;
        height: 31px;
        font-size: 22px;
        color: white;
        line-height: 30px;
        text-align: center;
        margin: 0px auto;
    }

    .title_pic_info_begin {
        display: none;
        background: url("./images/wxyk/title_pic_info_begin.png") no-repeat;
        width: 331px;
        height: 31px;
        font-size: 22px;
        color: white;
        line-height: 30px;
        text-align: center;
        margin: 0px auto;
    }

    .notice {
        position: relative;
        top: -30px;
        left: 20px;
        border: 1px solid rgba(255, 255, 255, .5);
        border-radius: 10px;
        background: rgba(0, 0, 0, .7);
        width: 610px;
        height: auto;
        padding: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 26px;
        font-family: "宋体";
        font-size: 12px;
        color: white;
    }

    .submit_btn {
        position: relative;
        margin: 0px auto;
        bottom: -35px;
        width: 131px;
        height: 37px;
    }

    .time_lump {
        position: relative;
        z-index: 100;
        font-size: 48px;
        width: 340px;
        height: 92px;
        margin: 0px auto;
        margin-top: 15px;
        color: #000;
    }

    .hour {
        position: absolute;
        text-align: center;
        width: 66px;
        height: 77px;
        top: 12px;
        left: 88px;
        line-height:65px;
    }

    .minute {
        position: absolute;
        text-align: center;
        width: 66px;
        height: 77px;
        top: 12px;
        left: 178px;
        line-height:65px;
    }

    .second {
        position: absolute;
        text-align: center;
        width: 66px;
        height: 77px;
        top: 12px;
        left: 268px;
        line-height:65px;
    }

    .time_luster {
        position: absolute;
        top: 0px;
        left: 0px;
        background: url("./images/wxyk/time_luster.png") no-repeat;
        width: 340px;
        height: 92px;
    }

    .time_ready {
        background: url("./images/wxyk/time_ready.png") no-repeat;
    }

    .time_begin {
        background: url("./images/wxyk/time_begin.png") no-repeat;
    }

    .close_btn {
        position: absolute;
        top: 87px;
        right: 40px;
        width: 47px;
        height: 47px;
        cursor: pointer;
    }

    .btn_01 {
        display: none;
        background: url("./images/wxyk/btn_01.png") no-repeat;
        position: relative;
        font-size: 23px;
        text-align: center;
        color: #ffff00;
        left: 10px;
        width: 175px;
        height: 45px;
        line-height: 40px;
        margin: 0px auto;
        cursor: pointer;
    }

    .btn_02 {
        background: url("./images/wxyk/btn_01.png") no-repeat;
        position: relative;
        font-size: 23px;
        text-align: center;
        color: #ffff00;
        left: 10px;
        width: 175px;
        height: 45px;
        line-height: 40px;
        margin: 0px auto;
        cursor: pointer;
    }

    .btn_03 {
        position: absolute;
        background: url("./images/wxyk/btn_01.png") no-repeat;
        font-size: 23px;
        text-align: center;
        color: #ffff00;
        left: 10px;
        width: 175px;
        height: 45px;
        line-height: 40px;
        cursor: pointer;
        top:300px;
        left: 25px;
    }

    .icon_01 {
        position: relative;
        background: url("./images/wxyk/icon_01.png");
        width: 168px;
        height: 169px;
        margin: 0px auto;
        z-index: 110;
    }

    .icon_02 {
        position: relative;
        background: url("./images/wxyk/icon_02.png");
        width: 168px;
        height: 169px;
        margin: 0px auto;
        z-index: 110;
    }

    .icon_03 {
        position: relative;
        background: url("./images/wxyk/icon_03.png");
        width: 168px;
        height: 169px;
        margin: 0px auto;
        z-index: 110;
    }

    .pop_text_01 {
        text-align: center;
        color: white;
        position: relative;
        top: -30px;
        left: 20px;
        border: 1px solid rgba(255, 255, 255, .5);
        border-radius: 10px;
        background: rgba(0, 0, 0, .7);
        width: 610px;
        height: auto;
        padding: 20px;
        padding-top: 40px;
        padding-bottom: 40px;
        line-height: 38px;
        font-size: 20px;
    }

    .pop_text_01 span {
        font-size: 24px;
    }

    .pop_text_02 {
        color: white;
        position: relative;
        top: -30px;
        left: 20px;
        border: 1px solid rgba(255, 255, 255, .5);
        border-radius: 10px;
        background: rgba(0, 0, 0, .7);
        width: 610px;
        height: auto;
        padding: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 38px;
        font-size: 20px;
    }

    .pop_text_02 p {
        padding-top: 30px;
        padding-bottom: 30px;
        width: 300px;
        line-height: 38px;
        height: auto;
        margin: 0px auto;
    }

    .pop_text_02 p span {
        font-size: 24px;
    }

    .pop_text_03 {
        color: white;
        position: relative;
        top: 60px;
        left: 20px;
        border: 1px solid rgba(255, 255, 255, .5);
        border-radius: 10px;
        background: rgba(0, 0, 0, .7);
        width: 610px;
        height: 460px;
        padding: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 38px;
        font-size: 20px;
    }

    .pop_text_03 p {
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%;
        text-align: center;
        height: auto;
        margin: 0px auto;
    }

    .notice_ele_01 {
        position: relative;
        background: url("./images/wxyk/notice_ele_icon_01.png") no-repeat;
        width: 227px;
        height: 276px;
        float: left;
        margin-left: 30px;
        margin-bottom: 30px;
    }

    .notice_ele_02 {
        position: relative;
        background: url("./images/wxyk/notice_ele_icon_02.png") no-repeat;
        width: 227px;
        height: 276px;
        float: right;
        margin-right: 30px;
        margin-bottom: 30px;
    }

    .notice_text {
        font-size: 14px;
        line-height: 20px;
        color: black;
        width: 140px;
        height: auto;
        margin: 0px auto;
        margin-top: 120px;
    }

    .notice_des {
        position: absolute;
        text-align: center;
        font-size: 14px;
        line-height: 16px;
        color: black;
        width: 180px;
        height: auto;
        top:227px;
        left: 21px;
    }

    .notice_des span {
        color: red;
    }
    .notice_ele_02{
        .notice_des{
            left:24px;
        }
    }
}
