<div class="js-bettingBreach bettingBreach">
  <div class="bettingBreach-content">
    <header></header>
    <div class="bettingBreach-box">
      <p class="bettingBreach-tip">玩法说明：在擂台区选择适合自己的挑战难度并确定，并在当天完成该投注挑战，根据完成的百分比，获得对应难度的奖励。</p>
      <section class="bettingBreach-challenge zoom">
        <h4>擂台挑战区</h4>
        <div class="js-challenge-money challenge-money"></div>
        <p>点击下方的确认挑战接受今天的挑战，奖励后获得奖励。您也可以选择加码，再确认挑战，以获得更高的奖励。</p>
        <button class="js-isNext js-isNext-state">加码</button>
        <button class="js-bettingBreach-reset-state bettingBreach-reset">重置</button>
      </section>
      <section class="bettingBreach-reward zoom">
        <h4>擂台奖励区</h4>
        <ul>
          <li>
            <span class="js-bonus bonus"></span>
            <span class="arrow"></span>
            <div class="js-column column">
              <p><i class="js-challengeAmount"></i>元<br/>完成<i class="js-challengePercentage"></i>%挑战</p>
            </div>
            <button num='0' class="js-receive">领取</button>
          </li>
          <li>
            <span class="js-bonus bonus"></span>
            <span class="arrow"></span>
            <div class="js-column column">
              <p><i class="js-challengeAmount"></i>元<br/>完成<i class="js-challengePercentage"></i>%挑战</p>
            </div>
            <button num='1' class="js-receive">领取</button>
          </li>
          <li>
            <span class="js-bonus bonus"></span>
            <span class="arrow"></span>
            <div class="js-column column">
              <p><i class="js-challengeAmount"></i>元<br/>完成<i class="js-challengePercentage"></i>%挑战</p>
            </div>
            <button num='2' class="js-receive">领取</button>
          </li>
          <li>
            <span class="js-bonus bonus"></span>
            <span class="arrow"></span>
            <div class="js-column column">
              <p><i class="js-challengeAmount"></i>元<br/>完成<i class="js-challengePercentage"></i>%挑战</p>
            </div>
            <button num='3' class="js-receive">领取</button>
          </li>
          <li>
            <span class="js-bonus bonus"></span>
            <span class="arrow"></span>
            <div class="js-column column">
              <p><i class="js-challengeAmount"></i>元<br/>完成<i class="js-challengePercentage"></i>%挑战</p>
            </div>
            <button num='4' class="js-receive">领取</button>
          </li>
        </ul>
      </section>
      <button class="js-bettingBreach-confirm bettingBreach-confirm">确认挑战</button>
    </div>
    <div class="js-bettingBreach-off bettingBreach-off"></div>
  </div>
</div>