<div class="fc-rc-withdraw-container">
  <div class="jc-fc-rc-maskCon fc-rc-maskCon">
    <div id="view1" class="jc-fc-rc-view fc-wd-view">
      <div class="inline-block fc-rc-recharge-leftBar">

      </div>
      <div class="inline-block fc-rc-recharge-rightBar">
        <div class="fc-rc-rightBar-tips">
          <span class="inline-block fc-rc-rightBar-tips-img m-right-sm"></span>
          <span class="inline-block fc-rc-rightBar-tips-title">温馨提示：</span>
          <span class="js-rc-tips-content fc-rc-rightBar-tips-content"></span>
        </div>
        <div class="jc-rc-rightBar-activity fc-rc-rightBar-activity">
          <span class="inline-block fc-rc-rightBar-ac-img m-right-sm"></span>
          <span class="inline-block fc-rc-rightBar-ac-title">优惠活动：</span>
          <div class="jc-rc-activity"></div>

        </div>
      </div>
    </div>
    <div id="view2" class="jc-fc-rc-view fc-wt-view">
      <div class="jc-rc-confirm-view fc-rc-confirm-view ">
      </div>
    </div>
  </div>
</div>
