@charset "UTF-8";

@import
"~base/styles/imports";

html {
  min-height: 800px;
}
body {
  background: #23273c;
  background: radial-gradient(900px, #593278, #3c2c57, #23273c);

}

.rebate-descriptions-bg{
  background: url(./rebate-bg.png) no-repeat;
  background-size: cover;
  background-position: top;
  .rebate-descriptions-main{
    position: relative;
    top:0;
    width: 1000px;
    height: 1545px;
    margin: 0 auto;

    .rebate-rate{

      position: relative;
      padding-top: 920px;
      padding-bottom: 33px;
      margin: 0 auto;
      text-align: center;
      width: 936px;
      height: 50px;
      font-size: 16px;
      color: #fff;
      .rebate-rate-item{
        position: absolute;
        bottom: 45px;
        display: inline-block;
        &:nth-child(1){
          left: 70px;
        }
        &:nth-child(2){
          left: 398px;
        }
        &:nth-child(3){
          left: 710px;
        }
      }
    }
    .rebate-btn{
      position: relative;
      padding-top: 0px;
      width: 200px;
      margin: 0 auto;
      .rebate-route{
        display: block;
        width: 231px;
        height: 72px;
        margin: 25px 0 0 -27px;
        background: url(./btn.png) no-repeat;
      }
    }

    .rebate-desc{
      margin: 60px 0 0 38px;
      width: 800px;
      height: 400px;
      font-size: 14px;
      color: #a7c3fb;
      text-align: left;
      line-height: 35px;
    }
  }
}
