@charset "UTF-8";

@import
"~base/styles/imports",
'~uiCom/tab-toolbar/index.scss',
'~uiCom/pulse/index.scss';

.bc-main{
  width: 1210px;
}
.bc-main-area {
  min-height: 650px;

  .betting-mode {
    color: $new-black-color;
  }
}

.bc-play-tip {
  margin-top: 5px;
  margin-bottom: 10px;
  color: #7f8081;
}

.bc-plan-main {
  .bc-banner {
    position: absolute;
    top: -6px;
    left: 9px;
    z-index: 1;
  }
  .bc-plan-inner {
    padding: 25px 0 20px;
    .bc-plan-title {
      margin-right: 20px;
      font-weight: bold;
      text-align: right;
      //margin-left: 85px;
      margin-bottom: 25px;
    }
  }
  .pulse {
    top: -5px;
    left: 13px;
    width: 54px;
    height: 67px;
    margin: 0;
    &:before,&:after {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}
.bc-select-item {
  margin-bottom: 10px;
}

.bc-optional-main {
  margin-bottom: 5px;
}

.bc-curt-plan-main {
  .bc-plan-title {
    padding-top: 3px;
  }
}

.bc-plan-id {
  color: $font-passion;
  font-weight: bold;
}

.bc-bet-mode {
  width: 120px;
}

.bc-main-text {
  color: $font-passion;
}

.bc-multi-range {
  height: 26px;
}

.bc-lottery-preview {
  width: 878px;
  margin-right: 10px;
  table {
    td {
     //padding: 9px;
    }
  }
}
.bc-textarea-main {
  width: 680px;
  height: 170px;
  padding: 10px;
}

.bc-play-select-area {
  min-height: 71px;
  .bc-basic-rules {
    .tab-toolbar {
      margin-bottom: 0;
    }
  }

  .bc-advance-rules {
    .tab-toolbar {
      &:last-of-type {
        margin-bottom: 3px;
      }
    }
  }

  .tab-toolbar {
    .tab-group {
      margin-left: 100px;
    }
  }
}

.db-ticket-bread-item {
  &.active {
    a {
      color: #02eefd;
    }
  }
}

.bc-play-area {
  //min-height: 250px;
  position: relative;
  height: 100px;

  &.loaded {
    height: auto;
  }
}

.bc-chase-create {
  margin-top: -14px;
}

.control-inline {
  display: inline-block;
  margin-right: 50px;
}

.bc-confirm-list {

  li {
    text-indent: -10px;
    padding-left: 10px;
  }

  li:before {
    content: '•';
    color: $main-color;
    font-size: 20px;
    padding-right: 5px;
    position: relative;
    top: 2px;
  }
}

.bc-betDetail-text{
  word-wrap: break-word;
  white-space: pre;
  padding-left: 35px !important;
  padding-top: 23px;
  padding-bottom: 15px;
}

.bc-profit-normalAmount {
  margin-right: 39px;
}

.bc-chase-normal-planId {
  width: 195px;
}

.bc-lottery-preview-del {
  margin-top: 2px;
}

.bc-monitor {
  width: 35px;
}

.bc-lg-btn {
  font-size: $font-sm;
  width: 94px;
  padding: 10px 10px;
}
.bc-md-btn {
  font-size: $font-sm;
  width: 100px;
  padding: 7px 10px;
}
.bc-margin-xs {
  margin-bottom: 3px;
}

.bc-page-content {
  display: none;
}
.bc-page-content.active {
  display: block;
}

.bc-togglePage-btn {
  background-color: #fff;
  color: #666666;
  border: 1px solid #878585;
  width: 240px;
  padding: 6px;
}

.bc-togglePage-btn.active {
  color: #f0efee;
  background-color: #e8675d;
}

.bc-page-control {
  padding-left: 100px;
  margin: 10px 0;
}

.text-circle.circle-sm {
   margin-right: 5px;
   width: 24px;
   height: 24px;
   line-height: 24px;
   font-size: 16px;
   margin-bottom: 8px;
   margin-top: 8px;
 }



.js-bc-last-plan-results2 {
  //position: relative;
  //z-index: 99;
  padding-top: 10px;
}

.num{
  //position: absolute;
  position: relative;
  display: inline-block;
  //left: 248px;
  //top: 171px;
  //width: 124px;
  width: 28px;
  //height: 198px;
  height: 25px;
  overflow: hidden;
}
.num-con{
  position: relative;
  //top:-430px;
  top:0px;
}
.num-img{
  background: url("~base/images/openNum.png") no-repeat;
  //width: 124px;
  //height: 1298px;
  width: 25px;
  height: 300px;
  //margin-bottom: 4px;
  background-size: 100%;
}

.no-num-img {
  background: url("~base/images/noNum.png") no-repeat;
  width: 25px;
  height: 30px;
  background-size: 100%;
}
//.num2{
//  left: 399px;
//}
//.num3{
//  left: 551px;
//}

.bc-hgcalculate-example{
  display: none;
  margin: 3px;
  position: absolute;
  left: 50px;
  background-color: #fff;
  color: #000;
  border: 1px solid #666;
  z-index: 1;

}


.bc-hgcaculate-examplerow{
  text-align: left;
  height: 20px;
  margin: 2px 5px 2px 5px;
}

.sfa-bc-muisc {
  background: url("~base/images/music_open.png") no-repeat;
  width: 31px;
  height: 27px;
}

.sfa-bc-muisc1 {
  background: url("~base/images/music_close.png") no-repeat;
  width: 37px;
  height: 27px;
}

.bc-operate-section {
  width: 878px;
  border: 1px solid $table-border-color;
  border-top: 0;
  padding: 5px 0;
  margin-bottom: 4px;
}

.bc-main-area.mark6{
  background-color: #fff;
  .bg-default,
  .tab-toolbar.tab-pill.tab-pill-deep .tab.active,
  .basic-inverse,
  .table tbody td {
    background-color: #fff;
  }
}

.tab-toolbar.tab-circle .tab-group.mark6 {

  margin-left: 0;
  display: inline-block;

  > div > div {
    width: 880px;
    display: inline-block;
  }

  .mark6-bz-bz {
    margin-bottom: 8px;
  }

  .mark6-sx-sx > div:first-child {
    width: 50%;
  }

  .mark6-sx-sx > div:last-child {
    width: 50%;
    display: inline-block;
  }

  .mark6-tm-tm,
  .mark6-tm-sebo,
  .mark6-zm-zm,
  .mark6-bz-bz{
    span {
      display: block;
    }
    > div {
      float: left;
    }
  }

  .mark6-tw-tw{
    >div{
      display: inline-block;
      float: left;
    }
    > div:last-child {
      .mark6-tw-tw-select .number-info {
        height: 61px;
        width: 208px;
        margin-top: 0px;
        >div{
          display: inline-block;
          float: left;
        }
        > div:last-child {
          margin-top:6px;
        }
      }
      .mark6-tw-tw-select>span{
        margin-top: 16px;
      }
    }
  }

  .mark6-bz-bz .mark6-bz-odds {
    position: absolute;
    top:0;
    left: 0;
    margin-top: -65px;
    margin-left: 750px;
    label{
      display: inline-block;
    }
  }

  .mark6-tm-tm-select,
  .mark6-tm-lm-select,
  .mark6-tm-sebo-select,
  .mark6-zm-zm-select,
  .mark6-zm-lm-select,
  .mark6-sx-sx-select,
  .mark6-tw-tw-select,
  .mark6-zh-zh-select,
  .mark6-bz-bz-select {
    width: 174px;
    left: 0;
    margin: 0px;
    border: 1px solid #eee;
    border-radius: 0;
    height: 30px;
    text-align: left;
    margin-right: -1px;
    margin-bottom: -1px;
    padding-top: 5px;
    padding-bottom: 5px;
    &.active {
      color: #000;
      background-color: #ffe1df;
      background-image: url("~base/images/sprites/assets/number-select.png");
      background-position: 136px center;
      background-repeat: no-repeat;
    }
    span {
      display: inline-block;
      height: 28px;
      line-height: 28px;
      font-size: 13px;
      float: left;

    }
    span:last-child {
      margin-left: 6px;
    }
  }

  .mark6-tm-lm-select,
  .mark6-sx-sx-select,
  .mark6-tw-tw-select,
  .mark6-zh-zh-select {
    width: 217px;
    height: auto;
    display: inline-block;
    float: left;
    margin: 0px;
    margin-right: -1px;
    margin-bottom: -1px;
    padding-top: 7px;
    padding-bottom: 8px;
    &.active {
      background-position-x: 180px;
    }
    span {
      line-height: 28px;
      height: 28px;
      float: left;
      text-align: center;
    }
  }

  .mark6-tm-sebo-select{
    width: 290px;
    &.active {
      background-position-x: 240px;
    }
  }

  .mark6-zm-zm-select{
    width:174px;
    &.active {
      background-position-x: 136px;
    }
  }

  .mark6-zm-lm-select{
    float: left;
    &.active {
      background-position-x: 143px;
    }
  }

  .mark6-sx-sx-select {
    width: 436px;
    padding: 8px 0px 8px 0px;
    height: auto;
    span {
      vertical-align: initial;
      display: inline-block;
      float: left;
      height: 28px;
      line-height: 28px;
      &:last-child {
        margin: 0px;
        margin-left: 7px;
      }
    }
    &.active {
      background-position-x: 364px;
    }
  }

  .mark6-tw-tw-select{
    width:436px;
    >span{
      width: auto;
    }
    &.active {
      background-position-x: 380px;
    }
  }

  .mark6-bz-bz-select{
    >span:last-child {
      margin-left: 74px;
    }
  }

  .mark6-tm-tm-select .mark6-tm-tm-select-number,
  .mark6-tm-lm-select .mark6-tm-lm-select-number,
  .mark6-tm-sebo-select .mark6-tm-sebo-select-number,
  .mark6-zm-zm-select .mark6-zm-zm-select-number,
  .mark6-zm-lm-select .mark6-zm-lm-select-number,
  .mark6-sx-sx-select .mark6-sx-sx-select-number,
  .mark6-tw-tw-select .mark6-tw-tw-select-number,
  .mark6-zh-zh-select .mark6-zh-zh-select-number,
  .mark6-bz-bz-select .mark6-bz-bz-select-number {
    width: 28px;
    border-radius: 14px;
    color: #fff;
    margin-right: 9px;
    text-align: center;
    margin-left: 15px;
    box-shadow: 1px 1px 2px 0px #888888;
    &.red {
      background-color: #FF5E44;
    }
    &.blue {
      background-color: #7092FF;
    }
    &.green {
      background-color: #9DCE28;
    }
  }

  .mark6-tm-lm-select .mark6-tm-lm-select-number,
  .mark6-tm-sebo-select .mark6-tm-sebo-select-number,
  .mark6-zm-lm-select .mark6-zm-lm-select-number,
  .mark6-tw-tw-select .mark6-tw-tw-select-number,
  .mark6-zh-zh-select .mark6-zh-zh-select-number {
    background-color: #e4e4e4;
    width: 60px;
    display: inline-block;
    float: left;
    line-height: 28px;
    height: 28px;
    color: #000;
  }

  .mark6-tm-sebo-select .mark6-tm-sebo-select-number {
    color: #fff;
    margin-left: 55px;
  }

  .mark6-zm-lm-select .mark6-zm-lm-select-number {
    &.red, &.blue, &.green {
      color: #fff;
    }
  }

  .mark6-sx-sx-select .mark6-sx-sx-select-number {
    width: 60px;
    height: 28px;
    margin-right: 10px;
    margin-left: 40px;
    background-color: #E4E4E4;
    color: #000;
    font-weight: bold;
  }

  .mark6-tw-tw-select .mark6-tw-tw-select-number {
    margin-right: 15px;
  }

  .mark6-sx-sx-select .number-info,
  .mark6-tw-tw-select .number-info{
    width: auto;
    color: #fff;
    margin-right: 10px;
    .red {
      background-color: #FF5E44;
    }
    .blue {
      background-color: #7092FF;
    }
    .green {
      background-color: #9DCE28;
    }
  }

  .mark6-sx-sx-select .number-info span,
  .mark6-tw-tw-select .number-info span{
    margin-right: 8px;
    width: 28px;
    box-shadow: 1px 1px 2px 0px #888888;
    border-radius: 14px;
    &:last-child {
      margin: 0px;
    }
  }
}

.tab-toolbar.mark6-quick-select {
  margin-top: 7px;
  .tab-group {
    display: inline-block;
    margin: 0;
    label {
      width: 50px;
      display: inline;
      margin: 0;
      padding: 0;
      color: #737172;
    }
    &.sebo span {
      width: 36px;
    }
    .all-clear{
      margin-bottom: -76px;
      border: 0;
      background-color: transparent;
      color: #000;
      &:hover{
        background-color: transparent;
        border: 0;
        color: #000;
      }
    }
  }

  .tab {
    float: none;
    margin-right: 14px;
    background-color: #e2e1e1;
    border-color: #e2e1e1;
    color: #000;
    border-radius: 3px;
    font-size: 13px;
    &:hover {
      border: 1px solid #fe6760;
      background-color: #fe6760;
      color: #fff;
    }
  }
  .active{
    border: 1px solid #fe6760;
    background-color: #fe6760;
    color: #fff;
  }
}

.text-circle.circle-mark6 {
  margin-right: 6px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  margin-top: 8px;
  color: #fff;

  &.red {
    background-color: #FF5E44;
  }
  &.blue {
    background-color: #7092FF;
  }
  &.green {
    background-color: #9DCE28;
  }
  &.separate {
    width: 2px;
    background-color: #fff;
    height: 28px;
    line-height: 28px;
    margin-left: 2px;
    margin-right: 7px;
  }
  &:last-child {
    margin-right: 0px;
  }
}

.bc-records .table.table-deep tbody td span.mark6Num:last-child {
  color: #FE6760;
}

.bc-main-area.mark6 {
  .bc-play-example{
    display: none;
  }
  .mark6-help{
    display: inline-block !important;
    background-color: #fff;
    background-image: url("~base/images/sprites/assets/mark6-help.png");
    background-repeat: no-repeat;
    width: 18px;
    height:18px;
    text-decoration: none;
  }
}

.footer.mark6-footer{
  position: static;
}

.all-clear{
  position: absolute;
  left:0;
  bottom: 0;
  width: auto !important;
  height: 18px;
  border: 0;
  background-color: transparent;
  background-image: url("~base/images/sprites/assets/all-clear.png");
  background-repeat: no-repeat;
  background-position-y: center;
  line-height: 18px;
  padding-left: 23px;
  margin-left: 600px;
  margin-bottom: -66px;
  color: #000;
  cursor: pointer;
  &:hover{
    background-color: transparent;
    border: 0;
    color: #000;
  }
}
