@charset "UTF-8";

@import "~base/styles/imports",
'~uiCom/tab-toolbar/index.scss';

.bc-play-main {
  user-select: none;
  .bc-play-left {
    width: 921px;
    color: $inverse-color;
    border-right: 1px solid $def-line-color;
    .bc-line {
      width: 100%;
      height: 3px;
      background: linear-gradient(to bottom, #dcdcdc, #f0f0f0);
    }
  }
  .bc-side-area {
    position: relative;
    width: 278px;
    min-height: 845px;
    left: -1px;
    border-left: 1px solid $def-line-color;
    box-sizing: border-box;
  }
  .bc-basic-rules {
    .tab-toolbar {
      margin-bottom: 0;
      padding-left: 10px;
      position: relative;
      .tab.active {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
    }
  }
  .bc-play-area {
    position: relative;
    height: 100px;
    &.loaded {
      height: auto;
    }
  }

  .bc-missOptional-main {
    width: 100%;
    margin: 15px 5px;
    .bc-missOption-btn {
      width: 74px;
      height: 26px;
      border: 1px solid $def-gray-color;
      color: $inverse-color;
      border-radius: 5px;
      font-size: $font-xs;
      text-align: center;
      line-height: 24px;
      display: inline-block;
      cursor: pointer;
      margin-right: 5px;
      transition: all .3s ease-out;
      &.active {
        color: $def-white-color;
        background-color: $main-deep-color;
        border-color: $main-deep-color;
      }
    }
  }
  .bc-lottery-preview {
    &.mmc {
      .table{
        background-color: transparent;
        thead th {
          background-color: transparent;
          color: $def-black-color;
        }
      }
    }

    .table th, .table td {
      padding: 6px 3px;
      font-size: 12px;
    }

    .bc-lottery-clear {
      width: 47px;
      height: 22px;
      border: 1px solid #c9c9c9;
      text-align: center;
      line-height: 22px;
      border-radius: 5px;
      background: linear-gradient(to bottom, #fafafa, #e4e4e4);
      transition: background 1s;
      &:hover {
        background: linear-gradient(to bottom, #f1f1f1, #e4e4e4);
      }
    }
  }

  .bc-unit-select-add {
    width: 58px;
    height: 20px;
    padding-left: 8px;
    border-radius: 3px;
    color: $def-black-color;
    margin: 2px 0;
    font-size: 12px;
  }

  .bc-multi-range {
    height: 30px;
  }
  .bc-jb-btn {
    font-size: $font-md;
    width: 180px;
    height: 48px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.4);
    font-weight: 600;
  }
  .bc-bottom-area {
    width: 100%;
    height: 257px;
    overflow: hidden;
  }
  .bc-records-tabs-list {
    width: 100%;
    height: 36px;
    background-color: $sec-line-color;
    .bc-records-tab {
      display: inline-block;
      width: 140px;
      height: 36px;
      font-size: $font-md;
      color: $def-black-color;
      line-height: 36px;
      position: relative;
      text-align: center;
      &.active {
        background-color: $def-white-color;
        &:before {
          content: '';
          width: 100%;
          height: 3px;
          position: absolute;
          background-color: $main-deep-color;
          top: 0;
          left: 0;
        }
      }
    }
  }
  .bc-records-tables {
    width: 100%;
    height: 168px;
    table {
      thead {
        border-bottom: 1px solid $def-line-color;
      }
      th {
        color: $new-inverse-color;
      }
      tr {
        border-bottom: 1px dashed $sec-line-color;
      }
    }
  }
  .his-main {
    th {
      position: relative;
      &:after {
        width: 1px;
        height: 15px;
        content: '';
        background-color: $def-line-color;
        display: block;
        position: absolute;
        right: 0px;
        top: 11px;
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
    }
    td {
      padding: 13px 3px;
    }
    .open-nums {
      max-width: 150px;
      span {
        width: 20px;
        height: 20px;
        border: 1px solid $third-line-color;
        border-radius: 50%;
        text-align: center;
        line-height: 20px;
        float: left;
        margin-left: 4px;
        margin-bottom: 2px;
      }
      .key-num {
        border-color: $new-main-deep-color;
        color: $new-main-deep-color;
      }
    }
  }
}

.bc-monitor {
  width: 35px;
}

.bc-margin-xs {
  margin-bottom: 3px;
}

.bc-input-btn {
  width: 120px;
  height: 38px;
  font-size: 14px;
  line-height: 24px;
}

.bc-hgcaculate-examplerow {
  text-align: left;
  height: 20px;
  margin: 2px 5px 2px 5px;
}

.sfa-bc-muisc {
  background: url("~base/images/music_open.png") no-repeat;
  width: 21px;
  height: 16px;
}

.sfa-bc-muisc1 {
  background: url("~base/images/music_close.png") no-repeat;
  width: 21px;
  height: 16px;
}

.bc-operate-section {
  width: 878px;
  //border: 1px solid $table-border-color;
  border-top: 0;
  padding: 5px 0;
  margin-bottom: 4px;
}
.bc-popover-exp {
  border-bottom: 1px dashed $def-gray-color;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
