<div class="col-md-6">
  <div class="aa-item">
    <div class="aa-<%= index / 2 === 0 ? 'right' : 'left' %>-date"><%= startTime %></div>
    <div class="aa-item-img"><img src="<%= bannerPicUrl %>" alt=""></div>
    <div class="aa-item-content">
      <div class="aa-item-title"><%=activityTitle %></div>
      <div class="aa-item-desc">凡是在2017年10月1日至2017年10月8日单笔存款达到1000元以上，皆有机会获得由系统随机赠送的“双节同享大礼包”，最高可达88888。</div>
      <div class="aa-item-date">活动时间： <%=startTime %> 至 <%=endTime %></div>
      <div class="aa-item-btn js-aa-check-detail" data-id="<%= activityId %>">查看详情</div>
    </div>
  </div>
</div>
