<% var uniqueId = _.uniqueId('js-card-') %>
<li class="js-fc-card-item fc-card-item <% if (!canWithdraw) { %>unActive <% } %>">
  <span class="js-fc-wd-bankRadioSpan custom-radio radio-inverse m-right-sm  <% if (!canWithdraw) { %>invisible <% } %>">
    <input type="radio" id="<%=uniqueId %>" class="js-fc-wd-bankRadio <% if (!canWithdraw) { %>invisible<% } %>"
           name="cardId" value="<%=cardId %>"/>
    <label for="<%=uniqueId %>"></label>
  </span>
  <img class="js-fc-card-pic fc-card-pic m-right-sm" data-bankid="<%=bankId%>" src="<%= (canWithdraw?pic:disPic) %>" />
  <div class="fc-wd-bankName text-bold-dark "> <%=zhName %> </div>
  <span class="text-bold-dark ">卡号：<%=cardNo %> <% if (index==0) { %>&nbsp;&nbsp;(默认) <% } %></span>
<% if (!canWithdraw) { %>

  <div class="js-fc-wd-newCard fc-wd-newCard">
    <img src="../misc/newCard.png"/>
  </div>
  <div class="js-fc-wd-frozenTime fc-wd-frozenTime">
    <div class="fc-wd-effective-title">距离生效</div>
    <div class="js-fc-wd-effective-time fc-wd-effective-time" data-second="<%=leftSeconds%>"></div>
  </div>
<% } %>
</li>
