@charset "UTF-8";

@import
"~base/styles/imports";

.footer {
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  color: $font-default;
  height: 165px;
  line-height: 30px;

  .footer-inner {
    background: #5e5f65;
    &.footer-inner-2 {
      background: $new-dark-color;
    }
  }
  .footer-center {
    position: relative;
    width: 1221px;
    margin: 0 auto;
  }

  .footer-main {
    padding: 5px 0 10px;
    background: #5e5f65;
  }
  .footer-lists {
    float: left;
    .footer-line{
      width: 20px;
      text-align: center;
    }
  }
  .footer-list {
    display: inline-block;
    /*width: 110px;*/
    float: left;
    ul {
      float:left;
      li {
        list-style: none;
        float:left;
        margin-left: 15px;
        color: #b5b5b8;
        line-height: 30px;
        a {
          color: #b5b5b8;
        }
      }
      li:first-child{
        margin-left: 8px;
      }
    }
  }
  .footer-title {
    font-size: 14px;
  }

  .footer-middle {
    float: left;
    font-size: 14px;
    margin-left: 100px;
    margin-top: 18px;
    .sfa {
      vertical-align: middle;
      margin-left: 12px;
    }
  }
  .footer-middle-container {
    margin-bottom: 10px;
  }

  .vr-code {
    float: right;
   /* width: 275px;*/
    img {
      width: 120px;
      height: 116px;
      float: left;
      margin-right: 10px;
      margin-top: 5px;
    }
    .vr-main {
      float: left;
      overflow: hidden;
      text-align: center;
      line-height: 20px;
      width: 130px;
      margin-top: 40px;
      font-size: 14px;
    }
    .btn-group-list{
      float: left;
      width: 123px;
      position: relative;
      .icon-btn1{
        width: 123px;
        height: 29px;
        top:75px;
        right: -20px;
        position: absolute;
        background: url("./btn1.png") no-repeat;
        outline: none;
        border: none;
      }
      .icon-btn2{
        width: 123px;
        height: 29px;
        position: absolute;
        top:25px;
        right: -20px;
        background: url("./btn2.png") no-repeat;
        outline: none;
        border: none;
      }
    }
    .vr-title {
      font-size: 24px;
      font-weight: bold;
      margin-top: 40px;
    }
  }

  .footer-main-2 {
    .footer-logo {
      float: left;
      font-size: 12px;
    }
    .footer-copyright {
      display: inline-block;
    }
    .footer-time {
      background: $new-dark-color;
      float: right;
    }
    .footer-time-text {
      margin-top: 5px;
    }
  }
}

@media (min-height: 930px) {
  .footer {
    display: block;
  }
}
.footer-list-game{
  height: 60px;
  .icon-img{
    margin-top: 13px;
  }
}
