@charset "UTF-8";

@import
"~base/styles/imports";

body{
	background: none;
}
@keyframes fromTop {
	0%{
		top:-657px;
	}
	100%{
		top:0px;
	}
}

@keyframes lightShow {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@keyframes  twoLogo{
	0%{
		right: 500px;
		opacity: 0;
	}
	100%{
		right: 300px;
		opacity: 1;
	}
}
@keyframes  twoText{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@keyframes threeLogo {
	0%{
		right: 100px;
		opacity: 0;
	}
	100%{
		right: 300px;
		opacity: 1;
	}
}
@keyframes fourLogo {
	0%{
		top: 40%;
		opacity: 0;
	}
	100%{
		top: 5%;
		opacity: 1;
	}
}
@keyframes  fourbg{
	0%{
		top: 300px;
		opacity: 0;
	}
	100%{
		top: 0px;
		opacity: 1;
	}
}
@keyframes fivebg {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 0.5;
	}
}
@keyframes fivelogo {
	0%{
		top:-30%;
		opacity:0;
	}
	100%{
		top:0%;
		opacity:1;
	}
}

.loading {
	position: absolute;
	//width: 150px;
	//height: 150px;
	//top: 0px;
	//left: 0px;
	z-index: 1000;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background-color: #fff;
	text-align: center;
	img{
		position: absolute;
		width: 150px;
		height: 150px;
		//margin: 0 auto;
		top:50%;
		margin-top: -75px;
	}
}

#section0{
	background: url(images/bg1.png) no-repeat;
	background-size: 100% 100%;
	position: relative;
	.one-body{
		background: url("images/onebody.png") no-repeat;
		width:1120px;
		height: 657px;
		position: absolute;
		left: 50%;
		margin-left: -560px;
		top:-657px;
		&.active{
			-webkit-animation: fromTop 1s ease forwards;
			-moz-animation: fromTop 1s ease forwards;
			-o-animation: fromTop 1s ease forwards;
			animation: fromTop 1s ease forwards;
		}
		.one-body-light{
			background: url("images/onebodyLight.png") no-repeat;
			background-size: 100% 100%;
			background-position: 0 -25px;
			width:1033px;
			height: 216px;
			opacity: 0;
			margin: 0 auto;
			margin-top: 390px;
			&.active{
				-webkit-animation: lightShow 1s ease 1s forwards;
				-moz-animation: lightShow 1s ease 1s forwards;
				-o-animation: lightShow 1s ease 1s forwards;
				animation: lightShow 1s ease 1s forwards;
			}

		}
	}

}

#section1{
	background: url(images/bg2.png) no-repeat ;
	background-size: 100% 100%;
	position: relative;
	.two-logo{
		background: url("images/twobodylogo.png");
		width: 264px;
		height: 461px;
		position: absolute;
		top: 5%;
		right: 500px;
		opacity: 0;
		&.active{
			-webkit-animation: twoLogo 1s ease forwards;
			-moz-animation: twoLogo 1s ease forwards;
			-o-animation: twoLogo 1s ease forwards;
			animation: twoLogo 1s ease forwards;
		}
	}
	.two-text{
		position: absolute;
		background: url("images/twobodytext.png");
		width: 153px;
		height: 554px;
		top: 35.5%;
		right: 580px;
		opacity: 0;
		&.active{
			-webkit-animation: twoText 2s ease 1s forwards;
			-moz-animation: twoText 2s ease 1s forwards;
			-o-animation: twoText 2s ease 1s forwards;
			animation: twoText 2s ease 1s forwards;
		}
	}
}
#section2{
	background: url(images/bg3.png) no-repeat ;
	background-size: 100% 100%;
	position: relative;
	.three-logo{
		background: url("images/threebodylogo.png");
		width: 264px;
		height: 461px;
		position: absolute;
		top: 5%;
		right: 100px;
		opacity: 0;
		&.active{
			-webkit-animation: threeLogo 1s ease forwards;
			-moz-animation: threeLogo 1s ease forwards;
			-o-animation: threeLogo 1s ease forwards;
			animation: threeLogo 1s ease forwards;
		}
	}
	.three-text{
		position: absolute;
		background: url("images/threebodytext.png");
		width: 159px;
		height: 501px;
		top: 35.5%;
		right: 580px;
		opacity: 0;
		&.active{
			-webkit-animation: twoText 2s ease 1s forwards;
			-moz-animation: twoText 2s ease 1s forwards;
			-o-animation: twoText 2s ease 1s forwards;
			animation: twoText 2s ease 1s forwards;
		}
	}
}
#section3{
	background: url(images/bg4.png) no-repeat ;
	background-size: 100% 100%;
	position: relative;
	.four-bg{
		background: url("images/fourbodybg.png");
		background-size: 100% 100%;
		width: 590px;
		height: 100%;
		position: absolute;
		right: 260px;
		top:-200px;
		opacity: 0;
		&.active{
			-webkit-animation: fourbg 1s ease forwards;
			-moz-animation: fourbg 1s ease forwards;
			-o-animation: fourbg 1s ease forwards;
			animation: fourbg 1s ease forwards;
		}
	}
	.four-logo{
		background: url("images/fourbodylogo.png");
		width: 264px;
		height: 461px;
		position: absolute;
		top: 0%;
		right: 300px;
		opacity: 0;
		&.active{
			-webkit-animation: fourLogo 1s ease forwards;
			-moz-animation: fourLogo 1s ease forwards;
			-o-animation: fourLogo 1s ease forwards;
			animation: fourLogo 1s ease forwards;
		}
	}
	.four-text{
		background: url("images/fourbodytext.png");
		width: 207px;
		height: 518px;
		position: absolute;
		top: 35.5%;
		right: 580px;
		opacity: 0;
		&.active{
			-webkit-animation: twoText 2s ease 1s forwards;
			-moz-animation: twoText 2s ease 1s forwards;
			-o-animation: twoText 2s ease 1s forwards;
			animation: twoText 2s ease 1s forwards;
		}
	}
}
#section4{
	background: url(images/bg5.png) no-repeat ;
	background-size: 100% 100%;
	position: relative;
	.five-bg{
		position: absolute;
		width: 100%;
		height: 100%;
		background: #000000;
		opacity: 0;
		z-index: 1;
		&.active{
			-webkit-animation: fivebg 2s ease forwards;
			-moz-animation: fivebg 2s ease forwards;
			-o-animation: fivebg 2s ease forwards;
			animation: fivebg 2s ease forwards;
		}
	}
	.five-logo{
		background: url("images/fivelogo.png");
		width: 118px;
		height: 282px;
		position: absolute;
		left: 50%;
		top: -30%;
		opacity: 0;
		margin-left:-56px ;
		z-index: 2;
		&.active{
			-webkit-animation: fivelogo 1s ease forwards;
			-moz-animation: fivelogo 1s ease forwards;
			-o-animation: fivelogo 1s ease forwards;
			animation: fivelogo 1s ease forwards;
		}
	}
	.five-text{
		background: url("images/fivetext.png");
		width: 448px;
		height: 171px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -224px;
		margin-top: -85px;
		opacity: 0;
		z-index: 2;
		&.active{
			-webkit-animation: twoText 2s ease 1s forwards;
			-moz-animation: twoText 2s ease 1s forwards;
			-o-animation: twoText 2s ease 1s forwards;
			animation: twoText 2s ease 1s forwards;
		}
	}
}
#section3 h1{
	color: #000;
}
.section{
	background-size: 100% 100%;
}