*{
	padding:0px;
	margin:0px;
	font-family:"微软雅黑","宋体";
}
img{
	border:none;
	overflow:hidden;
}
a{
	font-family:"宋体";
	font-size:12px;
	text-decoration:none;
}
li{
	list-style:none;
	display:block;	
}
tabel,tr,td{
	border:none;
}
.clear_div{
	clear:both;
}
.container{
	width:auto;
	height:auto;
	position:relative;
}
.main_pic{
	background:url(../../images/20160123/main_pic.jpg) no-repeat;
	width:1100px;
	height:1719px;
	margin:0px auto;
	margin-bottom:100px;
	position:relative;
}
.bg_main{
	background:url(../../images/20160123/bg_main.jpg) center;
	width:100%;
	height:1952px;
}
.color_flag{
	background:url(../../images/20160123/color_flag.png) no-repeat;
	width:1072px;
	height:93px;
	margin:0px auto;
}
.title_pic{
	background:url(../../images/20160123/title_pic.png) no-repeat;
	width:1100px;
	height:309px;
	margin:0px auto;
	margin-top:-90px;
	position:relative;
}
.title_pic_round{
	text-align:center;
	width:300px;
	height:40px;
	line-height:40px;
	font-size:24px;
	background:white;
	border-radius:6px;
	border-bottom:3px solid #ccc;
	margin:0px auto;
	position:relative;
	top:280px;
}
.table_lump{
	width:930px;
	height:auto;
	margin:0px auto;
	margin-top:60px;
}
.table_left{
	background:#ffeab1;
	border-radius:8px;
	width:430px;
	height:330px;
	box-shadow:12px 12px 0px #3c7ab8;
	float:left;
}
.table_right{
	background:#ffeab1;
	border-radius:8px;
	width:430px;
	height:330px;
	box-shadow:12px 12px 0px #3c7ab8;
	float:right;
}
.table_big{
	background:#ffeab1;
	border-radius:8px;
	width:930px;
	height:auto;
	margin-bottom:40px;
	box-shadow:12px 12px 0px #3c7ab8;
	float:left;
}
.title_01{
	background:url(../../images/20160123/title_01.png) no-repeat;
	width:312px;
	height:65px;
	margin:0px auto;
	margin-top:-35px;	
}
.title_02{
	background:url(../../images/20160123/title_02.png) no-repeat;
	width:312px;
	height:65px;
	margin:0px auto;
	margin-top:-35px;	
}
.title_03{
	background:url(../../images/20160123/title_03.png) no-repeat;
	width:435px;
	height:78px;
	margin:0px auto;
	margin-top:-35px;
	position:relative;
}
.title_03_infor{
	font-size:22px;
	width:100%;
	height:auto;
	position:relative;
	top:43px;
	text-align:center;
}
.time_lump{
	width:auto;
	height:auto;
	font-size:28px;
	position:absolute;
	bottom:1328px;
	left:180px;
	z-index:100;
}
.num_01{
	background:url(../../images/20160123/num_01.png) no-repeat;
	width:197px;
	height:93px;
	margin:0px auto;
	margin-top:10px;
}
.num_02{
	background:url(../../images/20160123/num_02.png) no-repeat;
	width:142px;
	height:93px;
	margin:0px auto;
	margin-top:10px;
}
.table_ele table{
	border-collapse:collapse;
	margin:20px auto;
}
.table_ele table img{
	cursor:pointer;
}
.table_ele td{
	background:white;
	text-align:center;
	width:96px;
	height:auto;
	border:1px solid black;
	padding-top:7px;
	padding-bottom:3px;
}
.table_ele td.td_title_orange{
	color:white;
	background:#ff7900;	
}
.infor_lump_01{
	text-align:center;
	font-family:"微软雅黑","宋体";
	font-size:14px;
	margin:0px auto;
	width:380px;
	height:auto;
	line-height:22px;
}
.infor_lump_02{
	text-align:center;
	font-family:"微软雅黑","宋体";
	font-size:14px;
	margin:0px auto;
	margin-top:20px;
	width:380px;
	height:auto;
	line-height:22px;
}
.infor_lump_03{
	text-align:center;
	font-family:"微软雅黑","宋体";
	font-size:14px;
	margin:0px auto;
	margin-top:10px;
	margin-right:50px;
	width:380px;
	height:auto;
	line-height:22px;
	float:right;
}
.bonus_pic{
	width:340px;
	height:322px;
	float:left;
	margin-left:80px;
}
.notice_lump{
	background:white;
	border-radius:6px;
	width:335px;
	height:auto;
	float:right;
	margin-right:80px;
	margin-top:20px;
}
.notice_title{
	background:#f2f2f2;
	font-size:16px;
	color:#ff3000;
	text-align:center;
	width:320px;
	height:auto;
	line-height:36px;
	border-radius:6px;
	margin:0px auto;
	margin-top:6px;
}
.prompt_lump{
	width: 360px;
	height: auto;
	padding-bottom:15px;
}
.prompt_content{
	width:360px;
	height:180px;
	overflow:hidden;
	text-align:center;
	position:relative;
	margin-top:10px;
}
.prompt_content_infor{
	text-align:center;
	width:280px;
	height:auto;
	margin:0px auto;
	margin-top:40px;
	padding-right:25px;
}
.prompt_content_infor span{
	font-size:24px;
	line-height:40px;
}
.prompt_content ul{
	position:absolute;
	top:0px;
	left:75px;
}
.prompt_content li{
	font-size:14px;
	line-height:26px;
	color:#333;
}
.prompt_content li span{
	color:red;
}
.description{
	width:800px;
	height:auto;
	line-height:30px;
	position:absolute;
	left:250px;
	bottom:80px;
	font-size:16px;
}
.des_title{
	font-size:24px;
	width:auto;
	height:auto;
	line-height:24px;
	margin-bottom:20px;
}
.qrcode_lump{
	text-align:center;
	background:#e4312a;
	width:100%;
	height:180px;
}
.qrcode_pic{
	top:-70px;
	position:relative;
	width:150px;
	height:150px;
	margin:0px auto;
	margin-bottom:-100px;
}
.qrcode_text{
	font-size:18px;
	text-align:center;
	width:300px;
	height:auto;
	margin:0px auto;
	margin-top:60px;	
}
.full_screen{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	width:100%;
	min-height:100%;
	height:calc(100% + 180px);
	background:black;
	opacity:0.7;
	display:none;
}
.pop_lump{
	width:597px;
	height:441px;
	position:fixed;
	top:0px;
	left:0px;
}
.pop_01{
	background:url(../../images/20160123/pop_bg_01.png) no-repeat;	
	width:597px;
	height:441px;
	position:relative;
	display:none;
}
.pop_02{
	background:url(../../images/20160123/pop_bg_01.png) no-repeat;	
	width:597px;
	height:441px;
	position:relative;
	display:none;
}
.pop_03{
	background:url(../../images/20160123/pop_bg_02.png) no-repeat;	
	width:597px;
	height:441px;
	position:relative;
	display:none;
}
.pop_04{
	background:url(../../images/20160123/pop_bg_02.png) no-repeat;	
	width:597px;
	height:441px;
	position:relative;
	display:none;
}
.pop_05{
	background:url(../../images/20160123/pop_bg_02.png) no-repeat;	
	width:597px;
	height:441px;
	position:relative;
	display:none;
}
.pop_06{
	background:url(../../images/20160123/pop_bg_02.png) no-repeat;	
	width:597px;
	height:441px;
	position:relative;
	display:none;
}
.pop_07{
	background:url(../../images/20160123/pop_bg_02.png) no-repeat;	
	width:597px;
	height:441px;
	position:relative;
	display:none;
}
.pop_08{
	background:url(../../images/20160123/pop_bg_03.png) no-repeat;	
	width:597px;
	height:441px;
	position:relative;
	display:none;
}
.pop_09{
	background:url(../../images/20160123/pop_bg_04.png) no-repeat;	
	width:597px;
	height:441px;
	position:relative;
	display:none;
}
.pop_10{
	background:url(../../images/20160123/pop_bg_05.png) no-repeat;	
	width:597px;
	height:441px;
	position:relative;
	display:none;
}
.pop_01_text{
	font-weight:normal;
	text-align:center;
	color:white;
	font-size:18px;
	line-height:28px;
	width:400px;
	height:auto;
	position:absolute;
	top:200px;
	left:100px;
}
.pop_02_text{
	font-weight:normal;
	text-align:center;
	color:white;
	font-size:18px;
	line-height:28px;
	width:400px;
	height:auto;
	position:absolute;
	top:230px;
	left:100px;
}
.pop_03_text{
	font-weight:normal;
	text-align:center;
	color:white;
	font-size:24px;
	line-height:28px;
	width:400px;
	height:auto;
	position:absolute;
	top:220px;
	left:100px;
}
.pop_04_text{
	font-weight:normal;
	text-align:center;
	color:white;
	font-size:18px;
	line-height:28px;
	width:400px;
	height:auto;
	position:absolute;
	top:270px;
	left:100px;
}
.btn_01{
	width:127px;
	height:50px;
	position:absolute;
	cursor:pointer;
	bottom:40px;
	left:170px;
}
.btn_02{
	width:127px;
	height:50px;
	position:absolute;
	cursor:pointer;
	bottom:40px;
	left:310px;
}
.btn_03{
	width:217px;
	height:50px;
	position:absolute;
	cursor:pointer;
	bottom:40px;
	left:190px;
}
.btn_04{
	width:217px;
	height:50px;
	position:absolute;
	cursor:pointer;
	bottom:40px;
	left:190px;
}
.tree_lump{
	width:290px;
	height:304px;
	position:absolute;
	top:0px;
	left:0px;
}
.tree_01{
	position:relative;
}
.tree_02{
	display:none;	
}
.tree_pic_01{
	background:url(../../images/20160123/tree_01.png) no-repeat top center;
	width:290px;
	height:304px;
}
.tree_pic_02{
	background:url(../../images/20160123/tree_02.png) no-repeat top center;
	width:290px;
	height:304px;
	display:none;
}
.tree_pic_03{
	background:url(../../images/20160123/tree_03.png) no-repeat top center;
	width:290px;
	height:304px;
	display:none;
}
.tree_text_lump{
	width:284px;
	height:80px;
	background:white;
	border:3px solid #efefef;
	border-radius:3px;
	position:absolute;
	bottom:0px;
	left:0px;
}
.tree_text{
	width:100%;
	height:auto;
	text-align:center;
	font-family:"微软雅黑","黑体";
	font-size:16px;
	margin-top:10px;
}
.tree_text2{
	width:100%;
	height:auto;
	text-align:center;
	font-family:"微软雅黑","黑体";
	font-size:13px;
	margin-top:10px;
}
.tree_btn_01{
	width:155px;
	height:34px;
	cursor:pointer;
	position:absolute;
	top:40px;
	left:20px;
}
.tree_btn_02{
	color:red;
	font-weight:bold;
	width:auto;
	height:auto;
	cursor:pointer;
	position:absolute;
	top:45px;
	left:190px;
}
.tree_btn_03{
	width:70px;
	height:34px;
	cursor:pointer;
	position:absolute;
	top:40px;
	left:110px;
}
.gift_01{
	background:url(../../images/20160123/gift_01.png) no-repeat;
	width:53px;
	height:36px;
	position:absolute;
	top:100px;
	left:160px;
	opacity:0;
}
.gift_02{
	background:url(../../images/20160123/gift_02.png) no-repeat;
	width:53px;
	height:36px;
	position:absolute;
	top:100px;
	left:70px;
	opacity:0;
}
.gift_03{
	background:url(../../images/20160123/gift_03.png) no-repeat;
	width:53px;
	height:36px;
	position:absolute;
	top:100px;
	left:70px;
	opacity:0;
}
.gift_04{
	background:url(../../images/20160123/gift_03.png) no-repeat;
	width:53px;
	height:36px;
	position:absolute;
	top:100px;
	left:160px;
	opacity:0;
}



.close_icon{
	width: 45px;
	height: 45px;
	position: absolute;
	top: 15px;
	right: 57px;
	cursor: pointer;
}
.des_infor{
	text-align:center;
	width:360px;
	height:110px;
	margin:0px auto;
	margin-top:130px;
	font-size:18px;
	line-height:26px;
}
.prompt_lump2{
	background:url(../../images/20160123/prompt_lump2.png) no-repeat;
	width:692px;
	height:48px;
	position:absolute;
	left:200px;
	bottom:230px;
	font-weight:bold;
}
.prompt_title2{
	font-size:12px;
	line-height:48px;
	padding-left:15px;
	height:26px;
	float:left;
}
.prompt_content2{
	width:600px;
	height:48px;
	overflow:hidden;
	text-align:center;
	position:relative;
	float:left;
}
.prompt_content2 ul{
	display:block;
	width:1000px;
	height:48px;
	position:absolute;
	top:0px;
	left:0px;
}
.prompt_content2 li{
	width:200px;
	font-size:12px;
	line-height:48px;
	color:#333;
	float:left;
}
.prompt_content2 li span{
	color:red;
}
