@charset "UTF-8";

@import
"~base/styles/imports";


//moneyTransfer
.fc-transfer-tab-view{
  padding: 13px 15px 0 15px;
}

.fc-transfer-view{
  padding: 16px 24px 0 21px;


  .fc-tf-head{
    padding-left: 16px;
    .fc-tf-transfer-category{
      width:96px;
      height: 28px;
      background: #9b9b9b;
      color: #fff;
      text-align: center;
      line-height: 28px;
      padding: 0;
      maring-right: 14px;
      border-radius: 13px;
      outline: none;
      &.active{
        background: #16a4aa;
      }
    }
  }
  .fc-tfp-change{
    position: absolute;
    top: 138px;
    left: 474px;
    width: 30px;
    height: 65px;
    border: 2px solid #afafaf;
    border-left: 0;
    cursor: pointer;
    >span{
      position: absolute;
      top: 23px;
      left: 22px;
      display: inline-block;
      width: 19px;
      height: 19px;
      background: #999999;
      text-align: center;
      color: #fff;
      font-size: 13px;
      cursor: pointer;
    }
  }
  .control-label {
    //width: 270px;
    height: 40px;
    line-height: 40px;

  }

  .controls {
    //margin-left: 270px;
    .add-on{
      top: 9px;
    }
  }
  .fc-tfp-notice{
    font-size: 13px;
    color: #666;
  }
  input {
    width: 308px;
    height: 40px;
    padding: 5px 10px;
    box-sizing: border-box;
  }
  select{
    padding: 5px 10px;
    width: 308px;
    height: 40px;
  }
  .btn {
    width: 166px;
    height: 40px;
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background: #fe6760;
    margin: 0px 0;
    outline: none;
  }

}

.fc-moneyTransfer-view{
  margin: 5px 20px;
  select{
    width: 176px;
    height: 27px;
  }
  .form-horizontal .control-group {
    margin-bottom: 14px;
  }
  button{
    width: 176px !important;
  }
}