@charset "UTF-8";

@import "~base/styles/imports";

$inputHeight: 30px;

.join {
  padding-top: 42px;
  .join-pic {
    width: 100%;
  }
}

.join-form {
  color: $new-black-color;
  margin-top: -24px;
  width: 50%;
  float: left;

  form {
    padding-top: 2rem;
  }
  .control-group {
    margin-bottom: 6px;
  }
  .control-label {
    height: $inputHeight;
    line-height: $inputHeight;
    font-size: 16px;
    width: 260px;
  }
  .controls {
    margin-left: 260px;

    input, textarea {
      width: 303px;
      font-size: 16px;
      padding: 10px;
      color: $new-black-color;
      box-sizing: border-box;
      border: 1px solid $new-inverse-color;
    }
    input {
      height: $inputHeight;
      border-radius: 0;
    }

    textarea {
      height: 108px;
      resize: none;
    }

    .valid-code {
      width: 92px;
    }
    .valid-code-img {
      height: $inputHeight;
      cursor: pointer;
    }
  }
  .limit-tip {
    vertical-align: bottom;
    color: #91d7db;
    font-size: 12px;
  }
  .confirm-btn {
    font-size: 20px;
    width: 170px;
    height: 46px;
    background: #ed9329;
    border: 0;
    border-radius: 0;
    font-weight: bold;
  }
}

.join-compare {
  width: 50%;
  display: inline-block;
  float: left;
  color: $new-black-color;
  font-size: 16px;
  font-weight: bold;
  position: relative;

  .compare-main {
    margin: 0 auto 10px auto;

    img {
      width: 70%;
      margin-left: 17%;
    }
  }
  ul {
    list-style-type: none;
  }

  .compare-data {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 10%;
  }

  .compare-group {
    margin-bottom: 40px;
  }

  .title {
    float: left;
    width: 18%;
    line-height: 70px;
    text-align: right;
  }

  .value {
    line-height: 35px;
  }

  .progress-group {
    margin-left: 19.3%;
  }

  .progress-bar {
    line-height: 35px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-right: 5px;
    overflow: hidden;

    .sr-only {
      color: $new-black-color;
      font-weight: bold;
      font-size: 14px;
      width: 30px;
      float: right;
      margin-right: 10px;
    }
    &.red {
      background-color: #fb908b;
    }
    &.orange {
      background-color: #fbd1a0;
    }
    &.blue {
      background-color: #59c6d1;
    }
  }
  .progress-group-inner {
    width: 79%;
  }

  .compare-slider {
    width: 90%;
    .compare-slider-title {
      line-height: 72px;
      width: 80px;
      float: left;
    }
    .compare-slider-content {
      margin-left: 80px;
    }

    .compare-slider-main {
      background-color: #8bbfc4;
      height: 20px;
      padding: 6px;
      text-indent: 10px;
      border-radius: 100px;
    }
    .current-number {
      color: #28becd;
      display: inline-block;
      font-weight: bold;
      position: relative;
    }
    .star-number {
      float: left;
    }
    .end-number {
      float: right;
    }
  }
  .ui-slider {
    height: 100%;
  }
  .ui-slider-range {
    height: 100%;
    border-radius: 100px;
    background: #92e3eb;
  }
  .ui-slider-handle {
    background: url('slider-handle.png');
    height: 33px;
    width: 33px;
    background-size: cover;
    border: 0;
    top: -6px;
    &:hover,&:active,&:focus {
      outline: 0;
    }
  }
}
