* {
    margin: 0px;
    padding: 0px;
    font-family: "微软雅黑", "黑体";
}

ul, li {
    list-style: none;
}

img {
    border: none;
    overflow: hidden;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.clear_div {
    clear: both;
}

.loading {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 0px;
    left: 0px;
    z-index: 1000;
}

.main_contain {
    position: relative;
    width: 100%;
    height: 1px;
    overflow: hidden;
    opacity: 0;
}

.music{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 999;
    width: 100px;
    height: 40px;
    overflow: hidden;
}

.con_bg_01 {
    background: url("./images/year_celebrate/bg_01.jpg") top center;
    background-size: contain;
}

.con_bg_02 {
    background: url("./images/year_celebrate/bg_02.jpg") top center;
}

.con_bg_03 {
    background: url("./images/year_celebrate/bg_03.jpg") top center;
}

.con_bg_04 {
    background: url("./images/year_celebrate/bg_04.jpg") top center;
}

//.con_bg_03 {
//    width: 1920px;
//    height: 1024px;
//    position: absolute;
//    top: 0px;
//    left: 0px;
//
//}

//.con_bg_04 {
//    background: black;
//}

.city_pic {
    background: url("./images/year_celebrate/city_bg.jpg") no-repeat;
    width: 2600px;
    height: 629px;
    position: absolute;
    bottom: 0px;
    left: -300px;

}

.con_bg_05 {
    background: url("./images/year_celebrate/bg_05.jpg") top center;
}

.con_bg_06 {
    background: url("./images/year_celebrate/bg_06.jpg") top center;
}

.con_lump {
    position: relative;
    width: 1920px;
    height: 1024px;
    overflow: hidden;
}

.ele_lump {
    position: relative;
    width: 1366px;
    height: 1024px;
    margin: 0px auto;
}

.ele_02 {
    position: relative;
    width: 1920px;
    height: 1024px;
    margin: 0px auto;
}

.page_03_title {
    opacity: 0;
    position: relative;
    background: url("./images/year_celebrate/title_03.png") no-repeat;
    width: 748px;
    height: 388px;
    margin: 0px auto;
    top: -40px;
    z-index: 3;
}

.page_03_des {
    opacity: 0;
    position: relative;
    background: url("./images/year_celebrate/page_03_des.png") no-repeat;
    width: 1692px;
    height: 103px;
    margin: 0px auto;
    top: -130px;
    z-index: 3;
}

.page_03_pic {
    opacity: 0;
    position: absolute;
    background: url("./images/year_celebrate/page_03_pic.png") no-repeat;
    width: 478px;
    height: 531px;
    right: -200px;
    bottom: 0px;
    z-index: 3;
}

.page_03_ele {
    width: 1145px;
    height: auto;
    margin: 0px auto;
    top: -100px;
    position: relative;
    z-index: 3;
}

.page_03_ele li {
    opacity: 0;
    position: absolute;
    width: 360px;
    height: 172px;
}

.p_03_e_01 {
    top: 0px;
    left: -380px;
}

.p_03_e_02 {
    top: -190px;
    left: 380px;
}

.p_03_e_03 {
    top: 0px;
    left: 1140px;
}

.p_03_e_04 {
    top: 190px;
    left: -380px;
}

.p_03_e_05 {
    top: 380px;
    left: 380px;
}

.p_03_e_06 {
    top: 190px;
    left: 1140px;
}

.page_04_title {
    opacity: 0;
    position: relative;
    background: url("./images/year_celebrate/title_04.png") no-repeat;
    width: 748px;
    height: 388px;
    margin: 0px auto;
    top: -40px;
    z-index: 3;
}

.page_04_des {
    opacity: 0;
    position: relative;
    background: url("./images/year_celebrate/page_04_des.png") no-repeat;
    width: 1197px;
    height: 49px;
    margin: 0px auto;
    top: -100px;
    z-index: 3;
}

.page_04_pic {
    opacity: 0;
    position: relative;
    background: url("./images/year_celebrate/page_04_pic.png") no-repeat;
    width: 761px;
    height: 46px;
    margin: 0px auto;
    top: -130px;
    z-index: 3;
}

.page_04_media {
    opacity: 0;
    position: relative;
    width: 750px;
    height: 450px;
    margin: 0px auto;
    top: -40px;
    z-index: 3;
}

.page_04_media iframe {
    width: 750px;
    height: 450px;
}

.page_05_title {
    opacity: 0;
    position: relative;
    background: url("./images/year_celebrate/title_05.png") no-repeat;
    width: 748px;
    height: 388px;
    margin: 0px auto;
    top: -40px;
    z-index: 3;
}

.page_05_des {
    opacity: 0;
    position: absolute;
    background: url("./images/year_celebrate/page_05_des.png") no-repeat;
    width: 606px;
    height: 123px;
    margin: 0px auto;
    top: 400px;
    right: 300px;
    z-index: 3;
}

.page_05_pic {
    opacity: 0;
    position: absolute;
    background: url("./images/year_celebrate/page_05_pic.png") no-repeat;
    width: 998px;
    height: 587px;
    margin: 0px auto;
    bottom: 0px;
    left: 130px;
    z-index: 3;
}

.page_05_phone {
    opacity: 0;
    position: absolute;
    background: url("./images/year_celebrate/page_05_phone.png") no-repeat;
    width: 998px;
    height: 587px;
    top: 0px;
    left: 0px;
    z-index: 3;
}

.page_05_btn {
    opacity: 0;
    position: absolute;
    width: auto;
    height: auto;
    top: 600px;
    right: 500px;
    z-index: 3;
}

.page_05_btn_01 {
    position: relative;
    background: url("./images/year_celebrate/page_05_btn_01.png") no-repeat;
    width: 259px;
    height: 58px;
    margin-bottom: 10px;
    cursor: pointer;
}

.page_05_btn_01_inner {
    display: none;
    background: url("./images/year_celebrate/page_05_btn_01_inner.png") no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 259px;
    height: 58px;
    margin-bottom: 10px;
    cursor: pointer;
    z-index: 4;
}

.page_05_btn_02 {
    position: relative;
    background: url("./images/year_celebrate/page_05_btn_02.png") no-repeat;
    width: 259px;
    height: 58px;
    margin-bottom: 10px;
    cursor: pointer;
}

.page_05_btn_02_inner {
    display: none;
    background: url("./images/year_celebrate/page_05_btn_02_inner.png") no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 259px;
    height: 58px;
    margin-bottom: 10px;
    cursor: pointer;
    z-index: 4;
}

.page_05_btn_03 {
    position: relative;
    background: url("./images/year_celebrate/page_05_btn_03.png") no-repeat;
    width: 259px;
    height: 58px;
    margin-bottom: 10px;
    cursor: pointer;
}

.page_05_btn_03_inner {
    display: none;
    background: url("./images/year_celebrate/page_05_btn_03_inner.png") no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 259px;
    height: 58px;
    margin-bottom: 10px;
    cursor: pointer;
    z-index: 4;
}

.page_05_btn_04 {
    position: relative;
    background: url("./images/year_celebrate/page_05_btn_04.png") no-repeat;
    width: 259px;
    height: 58px;
    margin-bottom: 10px;
    cursor: pointer;
}

.page_05_btn_04_inner {
    display: none;
    background: url("./images/year_celebrate/page_05_btn_04_inner.png") no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 259px;
    height: 58px;
    margin-bottom: 10px;
    cursor: pointer;
    z-index: 4;
}

.page_06_title {
    opacity: 0;
    position: relative;
    background: url("./images/year_celebrate/title_06.png") no-repeat;
    width: 748px;
    height: 388px;
    margin: 0px auto;
    top: -40px;
    z-index: 3;
}

.page_bottom_link {
    font-size: 32px;
    opacity: 1;
    position: relative;
    width: 200px;
    height: 100px;
    text-align: center;
    margin: 0px auto;
    top: -120px;
    z-index: 3;
}

.page_bottom_link a {
    color: white;
}

.page_bottom_link a:hover {
    color: red;
}

.page_06_link {
    display: none;
    top: 0px;
    left: 0px;
    position: absolute;
    width: 1596px;
    height: 545px;
    z-index: 999;
}

.page_06_con {
    opacity: 0;
    position: relative;
    width: 1596px;
    height: 545px;
    margin: 0px auto;
    top: -130px;
}

.page_06_left {
    position: relative;
    width: 798px;
    height: 545px;
    overflow: hidden;
    float: left;
}

.page_06_left_pic {
    background: url("./images/year_celebrate/page_06_left.png") no-repeat;
    position: absolute;
    width: 798px;
    height: 545px;
    top: 0px;
    left: 758px;
}

.page_06_right {
    position: relative;
    width: 798px;
    height: 545px;
    overflow: hidden;
    float: right;
}

.page_06_right_pic {
    background: url("./images/year_celebrate/page_06_right.png") no-repeat;
    position: absolute;
    width: 798px;
    height: 545px;
    top: 0px;
    left: -758px;
}

.page_01_icon {
    width: 715px;
    height: auto;
    margin: 10px auto;
    margin-top: 30px;
}

.page_01_icon li {
    opacity: 0;
    width: 213px;
    height: 107px;
    margin-right: 25px;
    float: left;
}

.page_02_pic_lump {
    top: -10%;
    position: relative;
    width: 100%;
    height: auto;
    margin: 10px auto;
    margin-top: 120px;
}

.page_04_pic_lump {
    opacity: 0;
    top: -10%;
    position: relative;
    width: 100%;
    height: auto;
    margin: 10px auto;
    margin-top: 30px;
}

.page_05_pic_lump {
    opacity: 0;
    top: -10%;
    position: relative;
    width: 100%;
    height: auto;
    margin: 10px auto;
    margin-top: 30px;
}

.page_06_pic_lump {
    opacity: 0;
    top: -10%;
    position: relative;
    width: 100%;
    height: auto;
    margin: 10px auto;
    margin-top: 30px;
}

.control_btn {
    background: url("./images/year_celebrate/control_btn.png") no-repeat;
    width: 21px;
    height: 215px;
    position: absolute;
    opacity: 0.7;
    top: 33%;
    right: 3%;
}

.btn_ele {
    display: block;
    width: 17px;
    height: 17px;
    border-radius: 17px;
    cursor: pointer;
    position: absolute;
    top: 11px;
    left: 2px;
}

.btn_current {
    background: url("./images/year_celebrate/btn_current.png") no-repeat;
    width: 17px;
    height: 17px;
}

.elements {
    position: absolute;
    top: 0px;
    left: 0px;
}





