<div class="js-chest-mask chest-mask hidden">

    <div class="js-descriptions-modal descriptions hidden">
        <div class="js-rate rate rate1" data-id="1"></div>
        <div class="js-rate rate rate2" data-id="2"></div>
        <div class="js-rate rate rate3" data-id="3"></div>
        <div>
            <button class="js-description-get description-get">领取五大奖励</button>
            <button class="js-description-return description-return">返回</button>
        </div>
    </div>

    <div class="js-got-modal got-modal hidden">
        <div class="got-treasure">
            <div class="js-got-treasure treasure-day  " data-id="1">
                <div class=" treasure-interrogation"></div>
            </div>
            <div class="days">第一天</div>
        </div>
        <div class="got-treasure">
            <div class="js-got-treasure treasure-day  " data-id="2">
                <div class="  treasure-interrogation"></div>
            </div>
            <div class="days">第二天</div>
        </div>
        <div class="got-treasure">
            <div class="js-got-treasure treasure-day  " data-id="3">
                <div class="  treasure-interrogation"></div>
            </div>
            <div class="days">第三天</div>
        </div>
        <div class="got-treasure">
            <div class="js-got-treasure treasure-day  " data-id="4">
                <div class="  treasure-interrogation"></div>
            </div>
            <div class="days">第四天</div>
        </div>
        <div class="got-treasure">
            <div class="js-got-treasure treasure-day  " data-id="5">
                <div class=" treasure-interrogation"></div>
            </div>
            <div class="days">第五天</div>
        </div>
        <div class="got-final-treasure">
            <div class="js-super-treasure treasure-big  " data-id="6">
                <div class=" treasure-grade-6-closed "></div>
            </div>
            <div class="days">五日大宝藏</div>
        </div>
        <div>
            <button class="js-got-get got-get got-disabled">领取</button>
            <button class="js-got-return got-return">返回</button>
        </div>
    </div>

    <div class="js-getting-modal getting-modal getting-modal-vip hidden">
        <div class="js-amount content-amount" ></div>
        <div class="js-integral content-integral" ></div>
        <div>
            <button class="js-getting-confirm content-confirm"></button>
        </div>
    </div>

    <div class="treasure-modal ">
        <div class="js-treasure-progress progress float"></div>
        <div class="js-description-entry description-entry float">活动说明</div>
        <div class="js-treasure treasure treasure-1-closed float " data-id="1"><div class="js-sc-tcc-integral sc-tcc-integral"></div></div>
        <div class="js-treasure treasure treasure-2-closed float " data-id="2"><div class="js-sc-tcc-integral sc-tcc-integral"></div></div>
        <div class="js-treasure treasure treasure-3-closed float " data-id="3"><div class="js-sc-tcc-integral sc-tcc-integral"></div></div>
        <div class="js-treasure treasure treasure-4-closed float " data-id="4"><div class="js-sc-tcc-integral sc-tcc-integral"></div></div>
        <div class="js-treasure treasure treasure-5-closed float " data-id="5"><div class="js-sc-tcc-integral sc-tcc-integral"></div></div>
        <div class="js-super-entry super-entry float">查看超级宝箱</div>
        <div class="js-treasure-close close float"></div>
    </div>

</div>