<div class="volcanic volcanic-mask js-volcanic-mask hidden">
  <div class="mountain_lump" style="display: none">
    <div class="mountain_bg_lump">
      <div class="gas"></div>
      <div class="mountain_pic"></div>
      <div class="mountain_shake"><img src="./images/mountain.png" width="944" height="368"></div>
      <div class="red_bag">
        <div class="js-red-bag red_bag_01"></div>
        <div class="js-red-bag red_bag_02"></div>
        <div class="js-red-bag red_bag_03"></div>
        <div class="js-red-bag red_bag_04"></div>
        <div class="js-red-bag red_bag_05"></div>
      </div>
    </div>
    <div class="js-close close_btn"><img src="<%=closeBtn %>" width="47" height="47"></div>
  </div>
  <div class="text_info_lump">
    <div class="bg_lump">
      <div class="title_pic"></div>
      <div class="time_lump time_begin">
        <div class="hour">00</div>
        <div class="minute">00</div>
        <div class="second">00</div>
        <div class="time_luster"></div>
      </div>
      <div class="notice">
        <div class="board_lump">
          <div class="board_01"><span class="js-amountTotal">0元</span></div>
          <div class="board_02"><span class="js-useDate"></span></div>
          <div class="clear_div"></div>
        </div>
        活动规则：<br>
        1、每天参与抢红包的条件：<span class="js-condition"></span><br>
        2、平台每天09：00-02：00会定时刷新火山红包，并喷出红包，玩家可点击喷出的红包进行抢夺。<br>
        3、每个红包会包含随机的奖金，每天抢到的红包都将累积在活动中。<br>
        4、红包总额兑换将在<span class="js-useDate-brief"></span>开放，届时您可以将活动中累积的红包一次性兑换。<br>
        5、同一IP仅限一个账号参与，任何刷奖行为将直接冻结账号，无限娱乐拥有活动的最终解释权。
      </div>
      <div class="js-getPrize btn_01">领取奖金</div>
      <div class="js-close close_btn"><img src="<%=closeBtn %>" width="47" height="47"></div>
    </div>
  </div>
  <div class="pop_contain" style="display: none">
    <div class="bg_lump">
      <div class="icon_01"></div>
      <div class="pop_text_01"><span>领取成功！</span><br>
        已领取红包<b class="js-get-prize-success"></b>元。
      </div>
      <div class="btn_02 js-btn-return get_bouns_pop_btn">确定</div>
      <div class="close_pop js-btn-return get_bouns_pop_btn"><img src="<%=closeBtn %>" width="47" height="47"></div>
    </div>
  </div>
  <div class="pop_contain" style="display: none">
    <div class="bg_lump">
      <div class="icon_02"></div>
      <div class="pop_text_01"><span>领取失败！</span><br>
        <span class="js-get-prize-err"></span>
      </div>
      <div class="btn_02 js-btn-return get_bouns_pop_btn">确定</div>
      <div class="close_pop js-btn-return get_bouns_pop_btn"><img src="<%=closeBtn %>" width="47" height="47"></div>
    </div>
  </div>
  <div class="pop_contain_02" style="display: none">
    <div class="bg_lump">
      <div class="icon_01"></div>
      <div class="pop_text_01">
        恭喜您！抢到<b class="js-get-bag-success"></b>元红包！<br>
        这个红包刚从火山口喷出，还滚烫滚烫的呢。
      </div>
      <div class="btn_02 js-btn-red-bag-return mountain_pop_btn">确定</div>
      <div class="close_pop js-btn-red-bag-return mountain_pop_btn"><img src="<%=closeBtn %>" width="47" height="47"></div>
    </div>
  </div>
  <div class="pop_contain_02" style="display: none">
    <div class="bg_lump">
      <div class="icon_02"></div>
      <div class="pop_text_01">
        真遗憾，红包被风吹跑了<br>
        一块火山灰砸下来，还好没砸到脚，呼~~
      </div>
      <div class="btn_02 js-btn-red-bag-return mountain_pop_btn">确定</div>
      <div class="close_pop js-btn-red-bag-return mountain_pop_btn"><img src="<%=closeBtn %>" width="47" height="47"></div>
    </div>
  </div>
  <div class="pop_contain_02" style="display: none">
    <div class="bg_lump">
      <div class="icon_03"></div>
      <div class="pop_text_02">
        <p><span>唉呀，到手的红包被别人抢走了！</span><br>
          事出必有因，你是不是：<br>
          － <span class="js-get-red-bag-err"></span><br>
      </div>
      <div class="btn_02 js-btn-red-bag-return mountain_pop_btn">确定</div>
      <div class="close_pop js-btn-red-bag-return mountain_pop_btn"><img src="<%=closeBtn %>" width="47" height="47"
                                                   style="top: -22px; left: -18px;"></div>
    </div>
  </div>
</div>
