@charset "UTF-8";

@import "~base/styles/imports";

@mixin promat-title{
  float: left;
  font-size: $font-md;
  color: $def-black-color;
  margin: 40px 20px 0px 40px;
  position: relative;
  &:after{
    content: '';
    width: 1px;
    height: 16px;
    background-color: $def-gray-color;
    position: absolute;
    top: 3px;
    right: -10px;
  }
}
@mixin promat-info{
  float: left;
  color: $font-auxiliary-color;
  margin-top: 26px;
}
@mixin btnDef{
  width: 190px;
  height: 40px;
  border-radius: 20px;
  font-size: $font-sm;
}
@mixin selectDef{
  width: 300px;
  height: 40px;
}
@mixin boxShadowDef{
  box-shadow: 0px 0px 8px rgba(0,0,0,.3);
}
//begin 1投追记录页查询栏样式
.search-condition-table {
  margin-top: 5px;
  .row1 {
    margin-bottom: 13px;
  }
  .row2 {
    margin-bottom: 3px;
  }
  .control-label {
    width: 70px;
    text-align: right;
  }
  .label1 {
    width: 44px;
  }
  .label2 {
    width: 35px;
  }
  .input-date {
    vertical-align: bottom;
    display: inline-block;
    margin-left: -4px;
    margin-right: 3px;
    input {
      width: 117px !important;
      padding-left: 5px;
      padding-right: 5px;
      font-size: 12px;
      margin-left: 4px;
      margin-right: 4px;
    }
  }
  .margin-add {
    margin-right: 4px;
  }
  .select1 {
    width: 129px;
  }
  .select2 {
    width: 120px;
    margin-right: 3px;
  }
  .select3 {
    width: 80px;
  }
  .input2 {
    width: 104px;
  }
  .input3 {
    width: 115px;
  }

  button {
    width: 55px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 5px;
  }

  //下级管理页面
  .ac-llm-unActive-day-label {
    width: 100px;
  }

  .ac-rm-btn {
    width: 59px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 15px;
    border-radius: $globalInputRadius;
  }
}

//end 1投追记录页查询栏样式

//begin 2 明细页
//公共小弹窗提示
.js-pf-popover {
  min-height: 20px;
  max-height: 100px;
  overflow-y: auto;
  word-break: break-all;
}
.ac-optionalBettingDetail-num {
  border: 1px solid $table-border-color;
  height: 168px;
  overflow-y: auto;
  word-break: break-all;
}

.uc-bet-detail {
  table {
    th {
      font-size: 14px;
    }
    td {
      font-size: 14px;
    }
  }
}

.uc-trackDetail-view {
  .uc-trackDetail-playDetail-bottom {
    margin-bottom: 18px;
  }

}

.uc-bet-detail-table {
  padding: 8px 8px 8px 8px;
  table {

    font-size: 1.167rem;
  }

  .text-circle.text-circle-pleasant{
    &.red{
      background-color: #e8675d;
    }
    &.blue{
      background-color: #7092FF;
    }
    &.green{
      background-color: #9DCE28;
    }
  }
}

//end 2明细

//begin 3 个人资料
.uc-personalManage-form {

  //padding: 20px 14px 14px 0;
  padding-bottom: 0;
  margin-bottom: 0;

  .uc-personalManage-promat{
    width: 100%;
    height: 99px;
    border-bottom: 1px solid $third-line-color;
    .promat-title{
      @include promat-title
    }
    .promat-info{
      @include promat-info
    }
  }
  .uc-personalManage-info{
    width: 100%;
    border-top: 1px solid $third-line-color;
    color: $inverse-color;
    &:last-child{
      border-top: none;
    }
    .uc-personal-title{
      font-size: $font-md;
      color: $main-deep-color;
      margin: 23px 40px;
      position: relative;
      &:before{
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $main-deep-color;
        position: absolute;
        top: 6px;
        left: -16px;
        display: block;
      }
    }
    .uc-personal-container{
      margin-top: 20px;
      .control-label{
        text-align: left;
        color: $def-black-color;
        font-size: $font-sm;
      }
    }
  }
  .uc-personalManage-line{
    width: 96%;
    height: 1px;
    margin: 0 auto;
    background-color: $third-line-color;
  }
  .uc-head-icon-list{
    width: 610px;
    .icon-info{
      display: inline-block;
      width: 45px;
      height: 45px;
      margin-right: 10px;
      margin-bottom: 20px;
      border: 3px solid $def-gray-color;
      border-radius: 50%;
      position: relative;
      cursor: pointer;
      &.active{
        border-color: $main-deep-color;
        &:after{
          content: '';
          width: 17px;
          height: 17px;
          background: url("~base/images/checked-icon.png") no-repeat;
          position: absolute;
          bottom: -4px;
          right: -3px;
        }
      }
    }
    .head-img{
      width: 45px;
      height: 45px;
      border-radius: 50%;
      animation: flipInY 1s;
    }
  }
  //特定长度输入框
  .input1{
    width: 80px;
    height: 28px;
  }
  .input4 {
    width: 148px;
    padding: 8px 15px;
    background-color: #f9f9f9 !important;
  }
  .input-address{
    width: 240px;
    background-color: #f9f9f9 !important;
  }
  .address-choose{
    position: relative;
    display: inline-block;
    .select-address{
      width: 80px;
      height: 30px;
      line-height: 30px;
      border: 1px solid $def-gray-color;
      border-radius: $globalInputRadius;
      margin-right: 10px;
      cursor: pointer;
      background-color: #f9f9f9;
      &.faild{
        border-color: #e84c4c;
      }
      .select-icon{
        display: inline-block;
        width: 8px;
        height: 12px;
        background: url("~base/images/select-arrow-black.png") no-repeat;
        position: absolute;
        right: 20px;
        top: 10px;
      }
      .address-name{
        width: 60px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: block;
      }
    }
    &.open{
      .select-address{
        border-color: $main-deep-color;
      }
    }
    .dropdown-menu{
      margin: 0;
      border-radius: 0;
      opacity: 1;
      box-shadow: none;
      .list-info{
        display: inline-block;
        width: 90px;
        height: 28px;
        line-height: 28px;
        color: $font-auxiliary-color;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding-left: 10px;
        cursor: pointer;
        &:hover{
          background-color: #f9f9f9;
          color: $def-black-color;
        }
      }
    }
    .choose-list{
      width: 406px;
      //height: 248px;
      padding: 5px;
      border: 1px solid $main-deep-color;
      position: absolute;
      background-color: $def-white-color;
      top:30px;
      z-index: 2;
      border-bottom-right-radius: $globalInputRadius;
      border-bottom-left-radius: $globalInputRadius;
      border-top-right-radius: $globalInputRadius;
      &:before{
        content: '';
        width: 82px;
        height: 1px;
        background-color: $def-gray-color;
        display: block;
        top:-1px;
        left:0px;
        position: absolute;
      }
      .text-red{
        color: #ea5858;
      }
    }
  }
  .address-detail{
    width: 240px;
    height: 82px;
    padding: 8px 15px;
    border-radius: $globalInputRadius;
    border-color: $def-gray-color;
    resize: none;
    background-color: #f9f9f9;
  }
  .btn {
    @include btnDef;
    margin-left: 45px;
    margin-top: 10px;
  }
}

//end 个人资料

//卡管理
.uc-cardManage-view {
  min-height: 740px;
  .uc-cm-notice-div{
    width: 100%;
    height: 100px;
    border-bottom: 1px solid $third-line-color;
    .promat-title{
      @include promat-title
    }
    .promat-info{
      @include promat-info
    }
  }
  .uc-cmBtnContainer-list{
    padding: 23px 0px 0px 94px;
    ul{
      list-style: none;
    }
    .uc-cmContainer-add-card{
      position: absolute;
      width: 100%;
      height: 600px;
      background-color: $def-white-color;
      z-index: 2;
      top: 0;
      left: 0;
      color: $new-inverse-color;
      .add-card-close{
        display: block;
        font-size: 16px;
        color: $new-inverse-color;
        margin: 31px 40px;
        cursor: pointer;
      }
      .content{
        height: 600px;
      }
    }
    .uc-cmContainer-card-list{
      .uc-cm-lg-btn {
        @include btnDef;
        margin-top: 90px;
        margin-left: -75px;
      }
    }
  }
  .uc-cmCard-add{
    width: 249px;
    height: 101px;
    background: #f8f8f8;
    border: 1px dashed $def-gray-color;
    border-radius: $globalBtnRadius;
    font-size: $font-sm;
    color: $font-auxiliary-color;
    text-align: center;
    cursor: pointer;
    padding-top: 33px;
    box-shadow: none;
    margin: 36px 30px 0px 0px;
    float: left;
    .add-icon{
      display: block;
      width: 40px;
      height: 40px;
      background: url('./images/btn-card-add.png') no-repeat;
      margin: 0 auto;
      margin-bottom: 15px;
    }
    .reward{
      color: $def-black-color;
    }
    &:hover{
      border-color: transparent;
      color: $new-main-deep-color;
      box-shadow: 0px 0px 5px $def-gray-color;
      .add-icon{
        background: url('./images/btn-card-add-hover.png') no-repeat;
        animation: flipInY 1s;
      }
      .reward{
        color: $new-main-deep-color;
      }
    }
  }
  .bingding-card-info{
    width: 250px;
    height: 135px;
    position: relative;
    float: left;
    margin: 36px 30px 0px 0px;
    .card-del{
      width: 14px;
      height: 14px;
      background: url("./images/delete.png") no-repeat;
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }
    .card-lock{
      width: 19px;
      height: 23px ;
      background: url("./images/lock.png") no-repeat;
      position: absolute;
      top: 7px;
      right: 8px;
    }
    .card-logo-name{
      padding-top: 17px;
      padding-left: 45px;
    }
    .card-num{
      margin: 15px 0px 10px 15px;
      font-size: 20px;
    }
    &.zhaoshang{
      background: url("./bankImages/zhaoshang_bg.png") no-repeat;
    }
    &.gongshang{
      background: url("./bankImages/gongshang_bg.png") no-repeat;
    }
    &.jianshe{
      background: url("./bankImages/jianshe_bg.png") no-repeat;
    }
    &.nongye{
      background: url("./bankImages/nongye_bg.png") no-repeat;
    }
    &.zhongguo{
      background: url("./bankImages/zhongguo_bg.png") no-repeat;
    }
    &.jiaotong{
      background: url("./bankImages/jiaotong_bg.png") no-repeat;
    }
    &.guangfa{
      background: url("./bankImages/guangfa_bg.png") no-repeat;
    }
    &.guangda{
      background: url("./bankImages/guangda_bg.png") no-repeat;
    }
    &.pufa{
      background: url("./bankImages/pufa_bg.png") no-repeat;
    }
    &.minsheng{
      background: url("./bankImages/minsheng_bg.png") no-repeat;
    }
    &.pingan{
      background: url("./bankImages/pingan_bg.png") no-repeat;
    }
    &.xingye{
      background: url("./bankImages/xingye_bg.png") no-repeat;
    }
    &.zhongxin{
      background: url("./bankImages/zhongxin_bg.png") no-repeat;
    }
    &.youzheng{
      background: url("./bankImages/youzheng_bg.png") no-repeat;
    }
    &.huaxia{
      background: url("./bankImages/huaxia_bg.png") no-repeat;
    }
  }

  //密码输入begin
  .uc-cm-fund-pwd-form {
    padding: 17px 14px 14px 25px;
    text-align: center;
    .uc-cm-fund-pwd-div {
      margin-top: 300px;
      margin-bottom: 5px !important;
      font-size: 16px;
      input {
        width: 150px;
        height: 19px;
      }
      .uc-cm-fund-label {
        font-size: 16px;
        padding-bottom: 5px;
      }
    }
    .btn-wd {
      width: 165px;
      height: 32px;
    }
    .uc-cm-fund-pwd-notice-div {
      height: 20px;
      margin-top: 10px;
      margin-bottom: 25px;
    }
  }
  //密码输入end

  //管理页
  //.btn {
  //  width: 70px;
  //}
  .btn-right {
    margin-left: 33px;
  }
}

//绑定页
.p-left-100{
  padding-left: 100px;
}
.cb-width-510{
 width: 510px;
}
.m-left--180{
  margin-left: -180px;
}
.m-left--200{
  margin-left: -180px;
}
.uc-cbCardBinding-container{
  width: 720px;
  margin: 0 auto;
  //padding-left: 100px;
  &.uc-cbCardBinding-dialog{
    width: 480px;
  }
  .uc-cb-fundPwd{
    width: 286px;
    height: 28px !important;
  }
  .btn{
    @include btnDef;
  }
  .uc-cbCardBindingForm {
    padding: 20px 0 0 11px;
    .uc-cm-lg-btn {
      @include btnDef;
    }
  }
  .control-group {
    .control-label{
      padding-top: 8px;
    }
  }
  .select1 {
    @include selectDef;
  }
  .select2 {
    width: auto;
    min-width: 137px;
    height: 25px;
    &.faild{
      border-color: #e84c4c;
    }
  }
  .input1 {
    width: 284px;
    height: 30px;
  }
  .input2 {
    width: 244px;
    height: 30px;
  }
  .select2 {
    width: 140px;
    height: 40px;
    margin-right: 16px;
  }
  .uc-cbCardBinding-header{
    width: 480px;
    height: 49px;
    background-color: $sec-line-color;
    position: relative;
    text-align: center;
    line-height: 49px;
    color: $def-black-color;
    font-size: $font-md;
    .close{
      font-size: 30px;
      display: block;
      position: absolute;

    }
  }
  .btn-validate{
    width: 108px;
    height: 36px;
    font-size: $font-md;
    border-radius: $globalBtnRadius;
    margin-bottom: 30px;
  }
}

.uc-lg-input {
  width: 340px;
}

.price-ul {
  position: relative;
  min-height: 965px;
  table{
    border: 1px solid $third-line-color;
    tr{
      border: 1px solid $third-line-color;
      th{
        border-right: 1px solid $third-line-color;
        &:last-child{
          border: none;
        }
      }
      td{
        border-right: 1px solid $third-line-color;
        &:last-child{
          border: none;
        }
      }
    }
  }
  ul {
    border: none;
    padding-left: 20px;
    li{
      //width: 90px;
      min-width: 90px;
      border-radius: 20px;
      height: 30px;
      line-height: 30px;
      margin: 20px 20px 30px 0px;
      text-align: center;
      a{
        padding: 0 5px;
        line-height: 30px;
        border-radius: 20px;
        background-color: $new-main-body-color;
        width: 100%;
        &:hover{
          color: $def-white-color;
          background-color: $new-main-deep-color;
        }
      }
      &.active{
        a{
          color: $def-white-color;
          background-color: $new-main-deep-color;
        }
      }
    }
  }
  .fc-lesson {
    position: absolute;
    top: 5px;
    right: 20px;
  }
}
.uc-prize {
  height: 410px;
}

.bc-btn-cancel {
  position: absolute;
  top: 5px;
  right: 74px;
  padding: 4px 15px;
  height: 32px;
}
.bc-btn-print{
  position: absolute;
  top: 5px;
  right: 163px;
  padding: 4px 15px;
  height:32px;
}
.level-info{
  position: relative;
  top:-5px;
}

//账户安全

.uc-account-safe{
  .promat-title{
    @include promat-title;
    margin-top: 25px;
  }
  .promat-info{
    @include promat-info;
  }
  .uc-account-safe-info{
    width:920px;
    height: 130px;
    border-radius: $globalBtnRadius;
    background-color: #f8f8f8;
    margin: 0 auto;
    .safe-info-icon{
      width: 63px;
      height: 75px;
      background: url('./images/safe-icon.png') no-repeat;
      margin: 30px 15px;
    }
    .safe-info-level{
      margin-top: 45px;
      .safe-progress-bar{
        margin-top: 15px;
        width: 235px;
        height: 10px;
        border-radius: 10px;
        background-color: $third-line-color;
        position: relative;
      }
      .safe-progress-info{
        height: 10px;
        width: 30%;
        border-radius: 10px;
        background-color: $prominent-color;
      }
    }
    .login-info-list{
      padding: 0px 55px 0px 15px;
      position: relative;
      &:after{
        content: '';
        width: 1px;
        height: 36px;
        background-color: $third-line-color;
        display: block;
        position: absolute;
        top: 5px;
        left: 0px;
      }
    }
  }
  .uc-account-setting{
    width: 920px;
    margin: 0 auto;
    .setting-info{
      width: 918px;
      min-height: 98px;
      border: 1px solid $third-line-color;
      border-radius: $globalBtnRadius;
      margin-top: 20px;
      &:hover{
        border-color: $new-main-deep-color;
        box-shadow: 0px 0px 3px rgba(0,0,0,.3);
        .setting-icon{
          animation: flipInY 1s;
        }
      }
      &.active{
        border-color: $new-main-deep-color;
        box-shadow: 0px 0px 3px rgba(0,0,0,.3);
        .setting-btn{
          background: $new-main-deep-color;
          color: $def-white-color;
          border-color: $def-white-color;
        }
      }
      .setting-info-top{
        height: 98px;
        width: 100%;
      }
      .setting-info-bottom{
        width: 100%;
      }
    }
    .setting-icon-bg{
      width: 62px;
      height: 62px;
      border-radius: $globalBtnRadius;
      background-color: $def-line-color;
      margin: 18px 14px 18px 19px;
      &.active{
        background-color: $new-main-deep-color;
      }
      .setting-icon{
        width: 100%;
        height: 100%;
        &.pwd-icon{
          background: url("./images/pwd-icon.png") no-repeat center;
        }
        &.lock-icon{
          background: url("./images/lock-icon.png") no-repeat center;
        }
        &.wechat-icon{
          background: url("./images/wechat-icon.png") no-repeat center;
        }
        &.phone-icon{
          background: url("./images/phone-icon.png") no-repeat center;
        }
        &.mail-icon{
          background: url("./images/mail-icon.png") no-repeat center;
        }
      }
    }
    .setting-text{
      margin-top: 25px;
    }
    .setting-info-text{
      height: 98px;
      line-height: 98px;
    }
    .setting-btn{
      width: 130px;
      height: 36px;
      border: 1px solid $def-gray-color;
      border-radius: 20px;
      color: $def-black-color;
      text-align: center;
      line-height: 35px;
      cursor: pointer;
      background: $def-white-color;
      font-size: $font-sm;
      margin-top: 30px;
      transition: background,color 0.5s;
      &:hover{
        background: $new-main-deep-color;
        color: $def-white-color;
        border-color: $def-white-color;
      }
    }
    .info-bottom-title{
      width: 96%;
      margin: 0 auto;
      border-top: 1px solid $third-line-color;
      padding: 20px 15px;
      .title{
        font-size: $font-sm;
        color: $new-inverse-color;
        padding-left: 10px;
        position: relative;
        &:before{
          content: '';
          width: 4px;
          height: 20px;
          background-color: $new-main-deep-color;
          display: block;
          position: absolute;
          left: 0;
        }
      }
      .close{
        font-size:30px;
      }
      .change-fund-btn{
        padding: 0px 23px;
        font-size: $font-sm;
        color: $new-inverse-color;
        position: relative;
        cursor: pointer;
        &.active{
          color: $new-main-deep-color;
          &:before{
            content: '';
            width: 70px;
            height: 2px;
            background-color: $new-main-deep-color;
            bottom: -6px;
            left: 16px;
            position: absolute;
          }
        }
        &:after{
          content: '';
          width: 1px;
          height: 13px;
          background-color: $im-line-color;
          position: absolute;
          top: 3px;
          right: 0px;
        }
        &:last-child{
          &:after{
            display: none;
          }
        }
      }
    }
  }
  .uc-change-pwd-view{
    width: 700px;
    margin: 0 auto;
    padding-top: 20px;
    padding-left: 200px;
    .as-security-add-notice{
      width: 530px;
      text-align: center;
      font-size: $font-xs;
      color: $new-inverse-color;
    }
    .find-fund-pwd-error{
      padding-left: 120px;
    }
  }
  //.uc-changeLoginPassword-form{
  //  padding-left: 80px;
  //}
  //.security-main{
  //  min-height: 650px;
  //}
  .uc-step-container{
    .content{
      height: 450px;
    }
  }
  .uc-bind-main{
    .uc-conde-reSend{
      width: 91px;
      height: 38px;
      margin-left: 6px;
      text-align: center;
      color: $new-inverse-color;
      background-color: #f9f9f9;
      border: 1px solid $def-gray-color;
      border-radius: 3px;
      display: inline-block;
      vertical-align: top;
      line-height: 38px;
      font-size: 14px;
      cursor: pointer;
    }
  }
  .input1{
    width: 286px;
    height: 30px;
  }
  .input2{
    width: 185px;
    height: 30px;
  }
  .select1{
    @include selectDef;
  }
  .control-label{
    font-size:$font-sm;
    color: $def-black-color;
    padding-top: 10px;
  }
  .btn{
    @include btnDef;
    margin-left: -170px;
  }
  .input-disable{
    background-color: $third-line-color;
    color: $def-black-color;
  }
  .ac-noCard-info{
    width: 100%;
    padding-top: 60px;
    //text-align: center;
    .sfa{
      margin-bottom: 32px;
      //margin-left: 200px;
    }
    .info-text{
      font-size: $font-sm;
      color: $new-inverse-color;
      margin-bottom: 113px;
      .no-card-service{
        margin: 0 3px;
        color: $prominent-color;
        text-decoration: underline;
      }
    }
  }
}

//账户安全  end

//我的消息
.uc-my-message{
  min-height: 800px;
}
.system-message-main{
  width: 920px;
  margin: 0 auto;
  .system-message-list{
    width: 918px;
    min-height: 77px;
    border-bottom: 1px solid $im-line-color;
    .message-btn{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      font-size:20px;
      background: $new-main-deep-color url("./images/message-add-btn.png") center no-repeat;
      color: $def-white-color;
      transition: box-shadow .5s;
      box-shadow: none;
      display: inline-block;
      cursor: pointer;
      text-align: center;
      &.active{
        background: $def-white-color url("./images/message-div-btn.png") center no-repeat;
        @include boxShadowDef;
      }
      &:hover{
        @include boxShadowDef;
      }
    }
    .message-info{
      background-color: #f8f8f8;
      color: $new-inverse-color;
      padding: 0px 20px;
      //height: 0;
      overflow: hidden;
      width: 878px;
    }
    &.active{
      @include boxShadowDef;
      border: none;
      //.message-info{
      //  padding: 20px 20px;
      //}
    }
    .message-title{
      position: relative;
      color: $font-auxiliary-color;
      &.new{
        &:before{
          content: '';
          width: 8px;
          height: 8px;
          background-color: $prominent-color;
          position: absolute;
          left: -15px;
          top: 6px;
          border-radius: 50%;
        }
      }
      &.unRead{
        color: $def-black-color;
      }
    }
  }
}

.feed-back-main{
  width: 920px;
  margin: 0 auto;
  padding-top: 10px;
  .feed-form-type{
    width: 298px;
    height: 38px;
    vertical-align: top;
    background-color: $def-white-color;
  }
  .feed-form-title{
    width: 594px;
    height: 28px;
    background-color: $def-white-color;
    vertical-align: top;
  }
  .feed-form-container{
    width: 906px;
    resize: vertical;
    height: 166px;
    background-color: $def-white-color;
    max-height: 300px;
    border-color: $third-line-color;
    border-radius: $globalInputRadius;
    padding: 6px;
  }
  .btn-from{
    width: 200px;
    height: 40px;
  }
  .feed-list{
    width: 100%;
    margin-top: 50px;
    .list-title{
      font-size: 16px;
      color: $font-auxiliary-color;
      padding-left: 50px;
      padding-bottom: 18px;
      border-bottom: 1px solid $sec-line-color;
      position: relative;
      line-height: 30px;
      &:before{
        content: '';
        width: 32px;
        height: 29px;
        background: url("./images/send-plant.png") no-repeat;
        display: block;
        position: absolute;
        top:0;
        left: 10px;
      }
    }
    .list-info{
       padding-top: 18px;
       padding-bottom: 18px;
      .title{
        position: relative;
        &:before{
          content: '';
          width: 5px;
          height: 5px;
          background-color: #dbdbdb;
          border-radius: 50%;
          display: block;
          position: absolute;
          left: 5px;
          top: 7px;
        }
      }
      .info-reply{
        background-color: #fafafa;
        margin-top: 15px;
        padding: 15px;
        &.new{
          background-color: #fefaf2;
          .title-info{
            &:before{
              background: url("./images/message-color.png") no-repeat;
            }
          }
        }
      }
      .reply-title{
        .title-info{
          position: relative;
          &:before{
            content: '';
            width: 22px;
            height: 22px;
            background: url("./images/message-bg.png") no-repeat;
            display: block;
            position: absolute;
            top: 0px;
            left: 10px;
          }
        }
        .reply-contant{
          width: 100%;
          height: 40px;
        }
      }
    }
    .no-feed-list{
      width: 100px;
      margin: 0 auto;
      padding-top: 100px;
    }
  }
}
//我的消息 end

@keyframes flipInY{

  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }
  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}
@keyframes msgHieght {
  0%{
    opacity: 0;
    height: 0;
  }
  90%{
    opacity: 0;
  }
  100%{
    opacity: 1;
    height: auto;
    padding: 20px;
  }
}

.message-sub-title{
  max-width: 650px;
  height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
