@charset "UTF-8";
@import "~base/styles/imports";

$boder-def-color: #e6e6e6;
.sidebar {
  min-height: 800px;
  //border-right: 1px solid $boder-def-color;
  background-color: #f8f8f8;
  color: $inverse-color;
  //border-left: 1px solid gray;
  position: relative;
  .team-entry {
    position: absolute;
    width: 18px;
    //height: 130px;
    background-color: $new-main-deep-color;
    color: $def-white-color;
    font-size: $font-sm;
    //line-height: 30px;
    top: 18px;
    left: -33px;
    //text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
    padding: 15px 7.5px;
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
  }
  .sidebar-user-info {
    width: 100%;
    height: 245px;
    border-bottom: 1px solid $boder-def-color;
    .user-info-photo {
      display: block;
      width: 81px;
      height: 82px;
      border-radius: 50%;
      line-height: 79px;
      margin: 0 auto;
      background-color: $def-white-color;
      padding: 5px;
      box-shadow: 0 0 5px #cbcbcb;
      margin-top: 27px;
    }
    .user-info-safe{
      margin-top: 10px;
    }
    .user-info-safe-up {
      cursor: pointer;
    }
    .safe-progress-bg {
      width: 42px;
      height: 6px;
      background-color: $def-white-color;
      position: relative;
      vertical-align: middle;
      .safe-progress-bar {
        position: absolute;
        height: 6px;
        width: 30%;
        background-color: $prominent-color;
      }
    }
  }
  .sidebar-title {
    text-align: center;
    font-size: 16px;
    //height: 130px;
    padding: 15px 0px;
    border-bottom: 1px solid $third-line-color;
  }
  .sidebar-title-inner {
    padding-top: 22px;
  }
  .sfa-sidebar-dot {
    position: absolute;
    right: 3px;
    bottom: 3px;
  }
  .sidebar-sub-title {
    width: 100%;
    height: 45px;
    line-height: 45px;
    font-size: $font-sm;
    color: $main-deep-color;
    text-align: center;
    font-weight: bold;
    transform: translateX(-10px);
    .sfa {
      transform: translateY(-2px);
    }
  }
  .sidebar-list {
    > li {
      //padding: 0 20px;
      margin-bottom: -1px;
      list-style: none;
      position: relative;
      > a {
        color: $inverse-color;
        font-size: $font-sm;
        line-height: 40px;
        display: block;
        text-align: center;
        //border-bottom: 1px dashed #62c1c5;
        //text-indent: 30px;
        .vip {
          display: block;
        }
      }
      .sfa-sidebar-chevron-right {
        float: right;
        margin: 17px 0;
      }

      &.active {
        width: 100.5%;
        background-color: $def-white-color;
        border-top: 1px solid $boder-def-color;
        border-bottom: 1px solid $boder-def-color;
        &:before {
          content: '';
          width: 3px;
          height: 40px;
          background-color: $main-deep-color;
          position: absolute;
          top: 0;
          left: 0;
        }
        > a {
          font-weight: bold;
          border-bottom-color: transparent;
        }

        ~ li {
          margin-bottom: -1px;
        }
      }
    }
  }
}
.ac-dm-tip{
  display: block;
  position: absolute;
  top: 11px;
  right: 22px;
  width: 40px;
  height: 18px;
  background: $prominent-color;
  font-size: 12px;
  line-height: 18px;
  border-radius: 3px;
  color: $def-white-color;
}
