<div class="sidebar">
  <% if(showTeamEntry){ %>
  <a href="#<%=(!isTeam ? 'ac/to' : 'fc/fm')%>" class="team-entry"><%=(!isTeam ? '团队中心' : '个人中心')%> &raquo;</a>
  <%}%>
  <% if(showUserInfo){ %>
  <div class="sidebar-user-info clearfix">
    <div class="user-info-photo">
      <img src=""  />
    </div>
    <div class="user-info-name text-inverse text-center m-top-smd font-sm">您好，<span class="js-user-name"><%=userName%></span></div>
    <div class="m-top-sm text-center">
      <span class="sfa sfa-icon-lock m-right-xs"></span>
      <span class="sfa sfa-icon-light-bulb m-right-xs"></span>
      <span class="sfa sfa-icon-mobile m-right-xs"></span>
      <span class="sfa sfa-icon-mail-over"></span>
    </div>
    <div class="user-info-safe text-center">
      <span>账户安全：</span>
      <div class="safe-progress-bg inline-block">
        <div class="safe-progress-bar"></div>
      </div>
      <span class="js-user-info-safe-level">低</span>
      <a href="#uc/pl" class="js-user-info-safe-up text-inverse m-left-sm">提升&gt;</a>
    </div>
  </div>
  <% }else{ %>
  <div class="sidebar-title">
    <div class="sidebar-title-inner">
      <span class="sfa sfa-sidebar-<%=menus.icon %> block m-center m-bottom-sm"></span>
      <%=menus.name %>
    </div>
  </div>
  <% } %>
  <% _(menus.sub).each((item) => { %>
  <div class="sidebar-sub-title">
    <% if (!item.needAuth || item.auth) { %>
    <span class="sfa sfa-sidebar-<%=item.icon%> vertical-middle"></span>
    <%=item.name%>
    <% } %>
  </div>
  <ul class="sidebar-list">
    <% _(item.list).each(function(menu) { %>
    <% if (!menu.needAuth || menu.auth) { %>
    <li role="presentation" class="<% if (menu.isActive) { %>active<% } %>">
      <a class="router" href="#<%=menu.router %>">
        <%=menu.name %><% if(menu.id === 407 && (dividendStatus === 1 || dividendStatus === 3)) { %> <span class="js-ac-dm-tip ac-dm-tip">待签约</span> <%}%>
      </a>
    </li>
    <% } %>
    <% }); %>
  </ul>
  <% }) %>

</div>
