<div class="search-condition-table">
<div class="control-group row2">
 
    <label class="control-label label2">日期:</label>
    <input type="text" name="month" class="js-ac-timeSel input-date-sm">
   
    <button type="submit" class="js-ac-queryBtn btn ac-rm-btn ">搜索</button>
  
    
   <!--   <button type="button" class="js-ac-application btn ac-open-account-manual-button" data-loading-text="提交中">申请发放</button> -->
     	
     	<input type="hidden"  class="js-ac-dividId">
     
</div>

</div>
 
 