<div class="ac-lowLevel-title">
  给下级升点
  <a class="close btn-close" data-dismiss="modal">&times;</a>
</div>
<div class="ac-lowLevel-contant">
  <div class="m-top-lg m-bottom-md text-center font-md">用户<span class="text-cool m-left-xs m-right-xs">kimkim</span>的返点</div>
  <div class="text-center">
    <input type="text" class="js-ac-subRebate" value="" data-parsley-oneDecimal data-parsley-range="">
  </div>
  <div class="js-lowLevel-error"></div>
  <div class="m-top-lg m-bottom-md text-center">
    <button class="btn ">确定</button>
  </div>
</div>
