<!--<div class="js-ac-lowLevel-quota-container alert hidden ac-lowLevel-quota-container">-->
    <!--&lt;!&ndash;<i class="fa fa-exclamation-circle font-md"></i>&ndash;&gt;-->
    <!--<div class="text-bold-dark">温馨提示：</div>-->
    <!--您目前拥有<span class="js-ac-open-limit"></span>，有配额限制请使用手动开户。-->
<!--</div>-->
<!--<div class="ac-llm-rebate-div"><img src="../misc/rebate.png"></div>-->
<!--<div>-->
<!--<div class="js-ac-rebate-edit-container m-bottom-md ac-lowLevel-rebate-table"></div>-->
<!--<div class="text-center">-->
    <!--<button type="button" class="js-ac-submitRebateInfo btn ac-lowLevel-rebate-btn" data-loading-text="保存中">点击修改</button>-->
<!--</div>-->
<!--</div>-->
<div class="ac-lowLevel-title">
  给下级升点
  <a class="close btn-close" data-dismiss="modal">&times;</a>
</div>
<div class="ac-lowLevel-contant">
  <div class="m-top-lg m-bottom-md text-center font-md">用户<span class="text-cool m-left-xs m-right-xs"><%=userName%></span>的返点</div>
  <div class="text-center">
    <input type="text" class="js-ac-subRebate lowLevel-input" value="" data-parsley-oneDecimal data-parsley-range="">
    <i class="fa fa-percent lowLevel-percent-sign" aria-hidden="true"></i>
  </div>
  <div class="js-lowLevel-error lowLevel-error"></div>
  <div class="m-top-lg m-bottom-md text-center">
    <button type="button" class="btn ac-lowLevel-rebate-btn js-ac-submitRebateInfo" data-loading-text="保存中">确定</button>
  </div>
</div>
