<div class="ac-openAccount-rebate-notice">
  <div class="js-ac-quota-container alert hidden as-fund-pwd-head">
    <div class="text-bold-dark">温馨提示：</div>
    您目前拥有<span class="js-ac-open-limit"></span>，有配额限制请使用手动开户。
  </div>
  <form class="js-ac-openAccountAuto-form ac-openAccountAuto-form form-horizontal">
    <div class=" control-group">
      <label class="control-label text-bold-dark">开户类型：</label>

      <div class="controls">
        <div class="btn-group js-ac-userType" data-toggle="buttons-radio">
          <button type="button" class="btn btn-cool active" data-type="0">代理</button>
          <button type="button" class="btn btn-cool" data-type="1">玩家</button>
        </div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label text-bold-dark">设置返点：</label>

      <div class="controls">
          <input type="text" class="js-ac-auto-rebate" value="" data-parsley-oneDecimal data-parsley-range="" />
          <span class="text-inverse">% (范围：<span class="js-ac-bonus-range-Prompt"></span>)</span>
          <a class="js-look-bonus text-pleasant look-bonus" data-ticket="constant">查看对应奖金</a>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label text-bold-dark">备注：</label>

      <div class="controls">
        <input type="text" class="js-ac-auto-remarkInput" value="" data-parsley-maxlength="20">
        <span class="help-inline text-inverse">备注不超过20个字</span>
      </div>
    </div>

    <div class="ac-submit-btn-div">
      <div class="controls">
        <button type="button" class="js-ac-add-link btn" data-loading-text="创建中">新增链接</button>
      </div>
    </div>
  </form>
  <!--<div class="ac-openAccount-link-main-div">-->
    <!--<div class="m-bottom-sm">-->
      <!--<button class="js-ac-add-link btn btn-link no-p-left text-cool" data-loading-text="创建中">-->
        <!--<img src="../misc/newUser.png"> 新增链接-->
      <!--</button>-->
    <!--</div>-->
    <!--<div class="js-ac-auto-container ac-auto-container form-inline"></div>-->
  <!--</div>-->

  <!--<table>-->
    <!--<t-->


  <!--</table>-->
  <div>


  </div>
  <div class="js-ac-auto-container ac-auto-container"></div>
</div>