<div class="red-pack-container clearfix">
  <a class="red-close btn-close" data-dismiss="modal"></a>
  <div class="red-pack-title">
    您针对该链接发放了<span class="num-text">8</span>元/个的固定红包
  </div>
  <div class="red-detail-main clearfix">
    <div class="pull-left">
      <div class="m-left-md">红包总额：<span class="num-text">16000</span></div>
      <div class="m-left-md m-top-sm">红包个数：<span class="num-text">20</span></div>
    </div>
    <div class="pull-right">
      <div class="m-right-md">剩余金额：<span class="num-text">16000</span></div>
      <div class="m-right-md m-top-sm">剩余个数：<span class="num-text">10</span></div>
    </div>
  </div>
  <a class="red-btn" data-dismiss="modal">确定</a>
</div>
