<div class="ac-openAccount-rebate-notice">
  <form class="js-ac-openAccountAuto-form ac-openAccountAuto-form form-horizontal">
    <div class=" control-group">
      <label class="control-label text-black">开户类型：</label>
      <div class="controls">
        <div class="btn-group js-ac-userType m-bottom-sm" data-toggle="buttons-radio">
          <button type="button" class="btn active" data-type="0">代理</button>
          <button type="button" class="btn" data-type="1">玩家</button>
        </div>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label text-black">设置返点：</label>
      <div class="controls">
        <input type="text" class="js-ac-auto-rebate input1" value="" data-parsley-oneDecimal data-num="0"/>
        <i class="fa fa-percent manual-rebate-sign" aria-hidden="true"></i>
        <a class="js-look-bonus text-prominent look-bonus" data-ticket="constant">查看对应奖金</a>
        <div class="js-ac-manual-rebate-info text-inverse m-top-sm">
          <span class="sfa sfa-error-gray-icon vertical-sub m-right-xs"></span>
          返点可配置范围：<span class="js-ac-bonus-range-Prompt"></span>
        </div>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label text-black">备注：</label>
      <div class="controls">
        <input type="text" class="js-ac-auto-remarkInput input1" value="" data-parsley-maxlength="20">
        <div class="text-inverse m-top-sm js-ac-remark-tip">
          <span class="sfa sfa-error-gray-icon vertical-sub m-right-xs"></span>
          备注不可超过20个字符
        </div>
      </div>
    </div>
    <div class="ac-red-pack-text">提高注册率，邀请好友更便捷，发个红包给TA尝尝甜头，试试红包开户吧~~</div>
    <div class="control-group">
      <label class="control-label"></label>
      <div class="controls clearfix">
        <div class="pull-left">
          <div class="custom-checkbox">
            <input type="checkbox" id="ac-auto-checkbox" class="inbox-check js-ac-auto-checkbox" value="">
            <label class="checkbox-label" for="ac-auto-checkbox"></label>
          </div>
          <label class="text-black font-xs" for="ac-auto-checkbox">使用红包开户</label>
        </div>
        <div class="pull-left ac-red-type js-ac-red-type hidden">
          <div class="btn-group js-ac-redType" data-toggle="buttons-radio">
            <button type="button" class="btn active" data-type="2">固定</button>
            <button type="button" class="btn" data-type="1">随机</button>
          </div>
        </div>
      </div>
    </div>
    <div class="js-ac-auto-red-info hidden">
      <div class="control-group js-ac-red-fixed">
        <label class="control-label text-black">单个红包金额：</label>
        <div class="controls">
          <input type="text" class="js-ac-auto-red-money input1" data-type="1" value="" data-num="0">
          <div class="text-inverse m-top-sm js-ac-red-pack-tip">
            <span class="sfa sfa-error-gray-icon vertical-sub m-right-xs"></span>
            红包金额不得低于1元
          </div>
        </div>
      </div>
      <div class="control-group js-ac-red-random hidden">
        <label class="control-label text-black">红包总额：</label>
        <div class="controls">
          <input type="text" class="js-ac-auto-red-money-all input1" data-type="2" value="" data-num="0">
          <div class="text-inverse m-top-sm js-ac-red-pack-all-tip">
            <span class="sfa sfa-error-gray-icon vertical-sub m-right-xs"></span>
            红包总额不得低于1元
          </div>
        </div>
      </div>
      <div class="control-group js-ac-red-number">
        <label class="control-label text-black">红包个数：</label>
        <div class="controls">
          <input type="text" class="js-ac-auto-red-num input1" value="" data-num="1">
          <div class="text-inverse m-top-sm js-ac-red-pack-num-tip">
          </div>
        </div>
      </div>
    </div>
    <div class="ac-submit-btn-div">
      <div class="controls">
        <button type="button" class="js-ac-add-link btn font-sm" data-loading-text="创建中">生成链接</button>
      </div>
    </div>
  </form>
</div>
