<div class="ac-openAccount-rebate-notice">
  <form class="js-ac-openAccountManual-form ac-openAccountManual-form form-horizontal">
    <div class="control-group">
      <label class="control-label text-black">开户类型：</label>
      <div class="controls m-bottom-sm">
        <div class="btn-group js-ac-userType" data-toggle="buttons-radio">
          <button type="button" class="btn active" data-type="0">代理</button>
          <button type="button" class="btn" data-type="1">玩家</button>
        </div>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label text-black">用户名：</label>
      <div class="controls">
        <input type="text" class="js-ac-userName input1" autocomplete="off" name="userName">
        <div class="text-inverse m-top-sm js-ac-userName-tip">
          <span class="sfa sfa-error-gray-icon vertical-sub m-right-xs"></span>
          4-16个字符，支持英文和数字，不能以数字开头
        </div>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label text-black">密码：</label>
      <div class="controls">
        <input type="password" id='jsACPassword' class="js-ac-password input1" autocomplete="new-password">
        <div class="text-inverse m-top-sm js-ac-password-tip">
          <span class="sfa sfa-error-gray-icon vertical-sub m-right-xs"></span>
          6-20位字符组成，区分大小写
        </div>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label text-black">设置返点：</label>
      <div class="controls">
        <div class="js-ac-rebate-set-container">
          <input type="text" class="js-ac-manual-rebate input1" autocomplete="off" value=""/>
          <i class="fa fa-percent manual-rebate-sign" aria-hidden="true"></i>
          <a class="js-look-bonus text-prominent look-bonus" data-ticket="constant">查看对应奖金</a>
          <div class="js-ac-manual-rebate-info text-inverse m-top-sm">
              <span class="sfa sfa-error-gray-icon vertical-sub m-right-xs"></span>
              返点可配置范围：<span class="js-ac-bonus-range-Prompt"></span>
          </div>
        </div>
      </div>
    </div>
    <% if(!merchant){ %>
    <div class="control-group">
      <label class="control-label"></label>
      <div class="controls">
        <div class="custom-checkbox">
          <input type="checkbox" id="ac-manual-checkbox" class="inbox-check js-ac-manual-checkbox" value="">
          <label class="checkbox-label" for="ac-manual-checkbox"></label>
        </div>
        <span class="text-black">给TA发个体验红包？</span>
      </div>
    </div>
    <div class="control-group js-ac-red-pack-money hidden">
      <label class="control-label text-black">红包金额：</label>
      <div class="controls">
        <input type="text" class="js-ac-red-pack input1" autocomplete="off">
        <div class="text-inverse m-top-sm js-ac-red-pack-tip">
          <span class="sfa sfa-error-gray-icon vertical-sub m-right-xs"></span>
          红包金额不得低于1元
        </div>
      </div>
    </div>
    <%}%>
    <div class="ac-submit-btn-div">
      <div class="controls">
        <button type="button" class="js-ac-submitOpenAccountInfo btn ac-open-account-manual-button" data-loading-text="保存中">立即开户</button>
      </div>
    </div>
  </form>
</div>

