<div class="open-confirm-main">
  <div class="confim-title">
    <span><%=title%></span>
    <a class="close btn-close" data-dismiss="modal">&times;</a>
  </div>
  <% if(type === 3){ %>
    <%=container%>
  <% } else { %>
  <div class="confirm-contant m-top-md p-top-sm">
    <% if(type === 1){ %>
    <div class="m-top-md text-center font-sm text-inverse">红包金额<span class="text-prominent"><%=data.redpackAmount%></span>元，确认后该金额将从账户扣除</div>
    <% } else {%>
    <div class="contant-info font-sm text-inverse text-center">
      <%if(data.redpackType === 2){%>单个红包金额<% } else {%>红包总额<%}%>：<span class="text-prominent"><%=data.redpackAmount%></span> /
      红包个数：<span class="text-prominent"><%=data.redpackNum%></span>
    </div>
    <div class="text-center font-sm text-inverse m-top-smd">总计<span class="text-prominent">
      <%if(data.redpackType === 2){%> <%=_(data.redpackAmount).mul(data.redpackNum)%> <%} else {%> <%=data.redpackAmount%> <% }%></span>元，确认后该金额将从账户扣除</div>
    <% }%>
    <div class="confirm-password">
      <label>资金密码：</label>
      <input type="password" class="pwd-input js-pwd-input" placeholder="请输入资金密码" autocomplete="new-password">
    </div>
    <div class="error-info js-error-info hidden">
      <span class="sfa sfa-error-icon v-middle"></span>
      <span class="js-error-text text-hot v-middle">啦啦啦</span>
    </div>
    <div class="text-center m-top-md p-top-sm">
      <button type="button" class="btn btn-cool open-confirm-btn js-confrim-btn">确定</button>
      <button type="button" class="btn btn-link" data-dismiss="modal">取消</button>
    </div>
  </div>
  <% }%>

</div>
