<div class="js-ac-search-bar">
  <form class="js-ac-search-form form-inline  row" action="javascript:void(0)">
    <div class="alert fade in inline-block no-padding ">
      <span class="text-bold-dark p-left-sm ">温馨提示：</span>只保留最近30天的团队数据。
    </div>
    <span class="text-bold-dark p-left-md">  查询日期：</span><span class="js-ac-btnGroup ac-btnGroup inline-block m-right-sm"></span>
    <span class="js-ac-timeset inline-block"></span>
  </form>
</div>
<div class="js-pf-divider block-divider"></div>

<div class="js-ac-search-bar">
  <ul id="" class="js-view-tabs view-tabs nav nav-tabs">
    <li class="js-ac-statistic-type active" data-type="newLowLevel">
      <a href="javascript:void(0)">
        <span>新增下级人数</span>
        <span class="js-ac-new-user-count bg-cool ac-td-tab-lab">-</span>
      </a>
    </li>
    <li class="js-ac-statistic-type" data-type="notActiveLowLevel">
      <a href="javascript:void(0)">
        <i class="js-ac-unActive-tip sfa sfa-help-tip "></i>
        <span>不活跃下级占比</span>
        <span class="js-ac-unActive-user-rate bg-cool ac-td-tab-lab">-</span>
      </a>
    </li>
    <li class="js-ac-statistic-type" data-type="lowLevelPlay">
      <a href="javascript:void(0)">
        <span>下级玩彩情况</span>
      </a>
    </li>
  </ul>

  <div class="js-ac-chart ac-chart"></div>

  <div class="js-ac-td-grid m-bottom-sm ac-grid-title-div">
    <div class="dot-divider dot-divider-sm "></div>
    <div class="js-ac-grid-title-logo ac-td-oa-title pull-left"></div><strong class="js-ac-grid-title font-md"></strong>
    <div class="js-ac-chart-grid"></div>
  </div>

</div>

