<div class="search-condition-table">
  <div class="control-group row1">
    <label class="control-label">投注时间:</label>
    <span class="js-pf-timeset input-date"></span>
    <label >用户:</label>
    <input type="text" name="userName" class="input2" data-parsley-username>
    <div class="custom-checkbox">
      <input type="checkbox" id="subUser" name="subUser" value="1" class="js-subUser inbox-check" checked>
      <label class="checkbox-label" for="subUser"></label>
    </div>含下级
    <label class="control-label">订单状态:</label>
    <select name="betStatus" class=" select1"></select>
    <!-- <button type="reset" class="btn btn-link btn-link-inverse">清空条件</button> -->
  </div>
  <div class="control-group row2">
    <span class="js-uc-ticket-select-group">
      <label class="control-label">彩种名称:</label>
      <select class="js-pf-select-ticket-list select2" name="ticketId"></select>
      <select class="js-pf-select-ticket-level select2" name="ticketLevelId"></select>
      <!-- <select class="js-pf-select-ticket-group select2" name="ticketGroupId"></select> -->
      <select class="js-pf-select-ticket-play select2" name="ticketPlayId"></select>
    </span>
    <label class="control-label">期号:</label>
    <input type="text" name="ticketPlanId" class="input3 margin-add" data-parsley-maxlength="30">
    <button type="submit" class="btn ">搜索</button>
    <button type="reset" class="btn btn-link btn-link-inverse">清空条件</button>
  </div>
</div>
