<div class="col-md-3">
  <div class="sc-game-item">
    <div class="sc-game-mask">
      <div class="sc-like-btn js-sc-slot-collect <%= item.collect ? 'liked' : '' %>" data-id="<%= item.gameId %>"></div>
      <div
        class="sc-game-btn ripple-btn primary js-sc-game-btn"
        data-game-id="<%= item.gameId %>"
        data-type="0"
        data-device="0"
      >开始游戏</div>
      <div
        class="sc-game-btn ripple-btn secondary js-sc-game-btn"
        data-game-id="<%= item.gameId %>"
        data-type="1"
        data-device="0"
      >免费试玩</div>
    </div>
    <div class="sc-game-img">
      <img src=<%=img%> >
    </div>
    <div class="sc-game-title"><%= item.name %></div>
  </div>
</div>
