@charset "UTF-8";

@import
"~base/styles/imports",
"mixin";
@import '../../misc/_mixin.scss';
@import '../../misc/_variable.scss';

body, [class*="col-"], .carousel-table-content {
  background: rgba(248, 248, 248, 1) !important;
}

@mixin center-container {
  position: relative;
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
}

@mixin row {
  margin-left: -($marginHorizontal);
  margin-right: -($marginHorizontal);
  background: rgba(248, 248, 248, 1);
}

@mixin with-margin {
  margin-left: $marginHorizontal;
  margin-right: $marginHorizontal;
}

@mixin inline-block {
  display: inline-block;
  vertical-align: top;
}

@mixin dynamic-title {
  font-size: 20px;
  color: $font-dark;
  border-bottom: 1px solid $font-light;
  padding: 10px 0 15px;
}

.dashboard-banner {
  width: 100%;
  overflow: hidden;
  position: relative;

  .banner-container {
    @include center-container();
    position: absolute;
    height: 100%;
    right: 0;
    left: 0;
    z-index: 1;
  }
}

.dashboard-entry-container {
  width: 240px;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  padding: 20px;
  .entry-class {
    font-size: 20px;
    color: white;
    margin: 10px 0;
  }

  .entry-item {
    @include inline-block();
    color: $font-light;
    font-size: 14px;
    margin: 10px 10px 10px 0;
  }
}

.dashboard-carousel {
  width: 100%;
}

.carousel-inner {
  height: 450px;
  img {
    height: 450px;
  }
}

.dashboard-container {
  @include center-container();
  margin-bottom: 130px;
  * {
    box-sizing: border-box;
  }
}

.dashboard-row {
  margin-bottom: 30px;
}

.dashboard-row-inner {
  @include row();
  margin-left: 0;
  margin-right: 0;

  &:nth-child(0){
    border-bottom: 9px solid #fff;
  }

  .content-item-2x{
    width: 600px;
  }
  .content-item-1x{
    width: 296px;
    &:nth-child(0){
      border-right: 9px solid #fff;
    }
  }
}

.dashboard-bulletin {
  @include center-container;
  height: 50px;
  line-height: 50px;
  color: #707070;
  font-size: 14px;
  background: #fff;
  margin-bottom: 30px;
  > div {
    @include inline-block;
  }

  .bulletin-logo {
    width: 140px;
    height: 50px;
    line-height: 50px;
    text-align: right;
  }

  .bulletin-content {
    width: 920px;
    padding: 0 20px;
    overflow: hidden;
    height: 50px;
    line-height: 50px;
  }

  .bulletin-content li {
    display: inline-block;
    margin-right: 42px;
  }

  .bulletin-pager {
    width: 90px;
    text-align: center;
  }
}

.dashboard-carousel-table {
  height: 460px;
  border: 9px solid #fff;
  .carousel-table-ad {
    height: 442px;
  }

  .carousel-table-content {
    height: 442px;
    border-left: 9px solid #fff;
  }

  .content-item {
    height: 220px;
  }
}

.dashboard-mall {
  width: 288px;
  height: 458px;
  margin-left: 12px;
  border-top: 2px solid transparent ;
  background: #fff;

  .db-mall-border{
    height:2px;
    width: 100%;
    background: linear-gradient(to right,#4fbab0,#598bee);
  }
  .dashboard-mall-header {
    text-align: center;
    width: 268px;
    height: 49px;
    margin: 0 10px;
    .db-mall-title {
      //background: url();
      width: 268px;
      height: 49px;
      border-bottom: 1px solid $def-line-color;
    }
  }

  .dashboard-mall-content {
    margin: 0px 2 * $marginHorizontal;
    padding: 28px 10px;
    border-bottom: 1px solid $font-light;

    &:nth-child(2) {
      border-bottom: none;
    }

    .title {
      font-size: 14px;
      color: $font-dark;
      line-height: 16px;
    }

    .desc {
      font-size: 12px;
      color: $font-gray;
      line-height: 30px;
    }

    .badge {
      background: $background-gray;
    }

    .btn-mall-exchange {
      width: 90px;
      margin-top: 5px;
      color: $new-main-deep-color;
      background: transparent;
      border: 1px solid $new-main-deep-color;
      border-radius: 20px / 20px;
    }
  }
}

.db-ticket{
  height: 330px;
  .db-ticket-border{
    height:2px;
    width: 100%;
    background: linear-gradient(to right,#4fbab0,#598bee);
  }
  .db-ticket-ad{
    width: 214px;
    height: 326px;
    float: left;
    //background: url('');

  }
  .db-ticket-game{
    float: left;
    margin: 9px 0;
    padding: 0 9px;
    position: relative;
    border-left: 1px solid $sec-line-color;

  }
  .db-ticket-game-type{
    width:666px;
    height: 3px;
    padding:  0 12px;

  }
  .db-ticket-game-type-item{
    height: 34px;
    display: inline-block;
    border-bottom: 1px solid transparent;
    margin: 0 22px;
    font-size: 16px;
    line-height: 34px;
    color: #000;
    &.active{
      color: $new-main-deep-color;
      border-bottom: 1px solid $new-main-deep-color;
    }
  }
  .db-ticket-more{
    position: absolute;
    right: 100px;
    top: 20px;
    color: $font-gray;
    font-size: 14px;
  }
  .db-ticket-game-type-container{

  }
}

.dashboard-activity {
  height: 345px;
}
