//* {
//  margin: 0px;
//  padding: 0px;
//  font-family: "微软雅黑", "黑体";
//}
//
//ul, li {
//  list-style: none;
//}
//
//img {
//  border: none;
//  overflow: hidden;
//}
//
//a {
//  text-decoration: none;
//}
//
//a:hover {
//  text-decoration: none;
//}
//
//.clear_div {
//  clear: both;
//}

.mask {
  background: rgba(0, 0, 0, .7);
  color: #000000;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 100;

  .pop {
    width: 550px;
    height: 650px;
    top: auto;
    left: auto;
    position: absolute;

    .close_btn {
      background: url("./images/iphone7/close_btn.png") no-repeat;
      width: 47px;
      height: 47px;
      position: absolute;
      right: 0px;
      top: 30px;
      cursor: pointer;
      z-index: 200;
    }

    .btn_lump {
      position: relative;
      width: 300px;
      height: auto;
      margin: 0px auto;
      bottom: 70px;

      .btn_01 {
        background: url("./images/iphone7/btn_01.png") no-repeat;
        width: 125px;
        height: 55px;
        cursor: pointer;
        float: left;
      }

      .btn_02 {
        background: url("./images/iphone7/btn_02.png") no-repeat;
        width: 125px;
        height: 55px;
        cursor: pointer;
        float: right;
      }
    }

    .info_01 {
      background: url("./images/iphone7/info_01.png") no-repeat;
      width: 239px;
      height: 240px;
      position: absolute;
      top: 130px;
      right: -160px;
      z-index: 999;

      p {
        width: 220px;
        font-size: 14px;
        line-height: 22px;
        color: white;
        position: absolute;
        top: 120px;
        left: 10px;
      }
    }

    .info_02 {
      background: url("./images/iphone7/info_02.png") no-repeat;
      width: 239px;
      height: 183px;
      position: absolute;
      top: 400px;
      right: -160px;

      div {
        font-style: normal;
        font-size: 15px;
        text-align: center;
        display: block;
        width: 220px;
        color: white;
        position: absolute;
        top: 13px;
        right: 10px;

        span {

        }
      }
    }





  }

  /*弹出框*/
  .notice_circle1 {
    display: none;
    background: url(./images/iphone7/notice_lump.png) no-repeat;
    width: 536px;
    height: 318px;
    position: absolute;
    top: auto;
    left: auto;

    .pop_close_btn {
      background: url("./images/iphone7/pop_close_btn.png") no-repeat;
      width: 47px;
      height: 47px;
      position: absolute;
      right: -20px;
      top: 150px;
      cursor: pointer;
      z-index: 999;
    }

    .notice_infor_text1 {
      font-family: "微软雅黑", "黑体";
      font-size: 22px;
      font-weight: bold;
      color: white;
      position: absolute;
      width: 500px;
      height: auto;
      text-align: center;
      line-height: 40px;
      left: 10px;
      top: 210px;
    }

    .btn_03 {
      position: absolute;
      background: url("./images/iphone7/btn_03.png") no-repeat;
      width: 104px;
      height: 39px;
      cursor: pointer;
      bottom: -80px;
      left: 220px;
    }

  }
  .notice_circle2 {
    display: none;
    background: url(./images/iphone7/notice_lump.png) no-repeat;
    width: 536px;
    height: 318px;
    position: absolute;
    top: auto;
    left: auto;

    .pop_close_btn {
      background: url("./images/iphone7/pop_close_btn.png") no-repeat;
      width: 47px;
      height: 47px;
      position: absolute;
      right: -20px;
      top: 150px;
      cursor: pointer;
      z-index: 999;
    }

    .notice_infor_text2 {
      font-family: "微软雅黑", "黑体";
      font-size: 22px;
      font-weight: bold;
      color: white;
      position: absolute;
      width: 500px;
      height: auto;
      text-align: center;
      line-height: 40px;
      left: 10px;
      top: 210px;
    }

    .btn_03 {
      position: absolute;
      background: url("./images/iphone7/btn_03.png") no-repeat;
      width: 104px;
      height: 39px;
      cursor: pointer;
      bottom: -80px;
      left: 220px;
    }

  }
  .notice_circle3 {
    display: none;
    background: url(./images/iphone7/notice_lump.png) no-repeat;
    width: 536px;
    height: 318px;
    position: absolute;
    top: auto;
    left: auto;

    .pop_close_btn {
      background: url("./images/iphone7/pop_close_btn.png") no-repeat;
      width: 47px;
      height: 47px;
      position: absolute;
      right: -20px;
      top: 150px;
      cursor: pointer;
      z-index: 999;
    }

    .notice_infor_text3 {
      font-family: "微软雅黑", "黑体";
      font-size: 22px;
      font-weight: bold;
      color: white;
      position: absolute;
      width: 500px;
      height: auto;
      text-align: center;
      line-height: 40px;
      left: 10px;
      top: 210px;
    }

    .btn_03 {
      position: absolute;
      background: url("./images/iphone7/btn_03.png") no-repeat;
      width: 104px;
      height: 39px;
      cursor: pointer;
      bottom: -80px;
      left: 220px;
    }
  }
  .notice_circle4 {
    display: none;
    background: url(./images/iphone7/notice_lump.png) no-repeat;
    width: 536px;
    height: 318px;
    position: absolute;
    top: auto;
    left: auto;

    .pop_close_btn {
      background: url("./images/iphone7/pop_close_btn.png") no-repeat;
      width: 47px;
      height: 47px;
      position: absolute;
      right: -20px;
      top: 150px;
      cursor: pointer;
      z-index: 999;
    }

    .notice_infor_text4 {
      font-family: "微软雅黑", "黑体";
      font-size: 22px;
      font-weight: bold;
      color: white;
      position: absolute;
      width: 500px;
      height: auto;
      text-align: center;
      line-height: 40px;
      left: 10px;
      top: 210px;
    }

    .btn_03 {
      position: absolute;
      background: url("./images/iphone7/btn_03.png") no-repeat;
      width: 104px;
      height: 39px;
      cursor: pointer;
      bottom: -80px;
      left: 220px;
    }

  }
  .notice_circle5 {
    display: none;
    background: url(./images/iphone7/notice_lump.png) no-repeat;
    width: 536px;
    height: 318px;
    position: absolute;
    top: auto;
    left: auto;

    .pop_close_btn {
      background: url("./images/iphone7/pop_close_btn.png") no-repeat;
      width: 47px;
      height: 47px;
      position: absolute;
      right: -20px;
      top: 150px;
      cursor: pointer;
      z-index: 999;
    }

    .notice_infor_text5 {
      font-family: "微软雅黑", "黑体";
      font-size: 22px;
      font-weight: bold;
      color: white;
      position: absolute;
      width: 500px;
      height: auto;
      text-align: center;
      line-height: 40px;
      left: 10px;
      top: 210px;
    }

    .btn_03 {
      position: absolute;
      background: url("./images/iphone7/btn_03.png") no-repeat;
      width: 104px;
      height: 39px;
      cursor: pointer;
      bottom: -80px;
      left: 220px;
    }
  }
  .notice_circle6 {
    display: none;
    background: url(./images/iphone7/notice_lump.png) no-repeat;
    width: 536px;
    height: 318px;
    position: absolute;
    top: auto;
    left: auto;

    .pop_close_btn {
      background: url("./images/iphone7/pop_close_btn.png") no-repeat;
      width: 47px;
      height: 47px;
      position: absolute;
      right: -20px;
      top: 150px;
      cursor: pointer;
      z-index: 999;
    }

    .notice_infor_text6 {
      font-family: "微软雅黑", "黑体";
      font-size: 22px;
      font-weight: bold;
      color: white;
      position: absolute;
      width: 500px;
      height: auto;
      text-align: center;
      line-height: 40px;
      left: 10px;
      top: 210px;
    }

    .btn_03 {
      position: absolute;
      background: url("./images/iphone7/btn_03.png") no-repeat;
      width: 104px;
      height: 39px;
      cursor: pointer;
      bottom: -80px;
      left: 220px;
    }
  }
  .notice_circle7 {
    display: none;
    background: url(./images/iphone7/notice_lump.png) no-repeat;
    width: 536px;
    height: 318px;
    position: absolute;
    top: auto;
    left: auto;

    .pop_close_btn {
      background: url("./images/iphone7/pop_close_btn.png") no-repeat;
      width: 47px;
      height: 47px;
      position: absolute;
      right: -20px;
      top: 150px;
      cursor: pointer;
      z-index: 999;
    }

    .notice_infor_text7 {
      font-family: "微软雅黑", "黑体";
      font-size: 22px;
      font-weight: bold;
      color: white;
      position: absolute;
      width: 500px;
      height: auto;
      text-align: center;
      line-height: 40px;
      left: 10px;
      top: 210px;
    }

    .btn_03 {
      position: absolute;
      background: url("./images/iphone7/btn_03.png") no-repeat;
      width: 104px;
      height: 39px;
      cursor: pointer;
      bottom: -80px;
      left: 220px;
    }
  }
  /*弹出框_over*/

  .notice {
    display: none;
    background: url(./images/iphone7/notice.png) no-repeat;
    width: 672px;
    height: 528px;
    position: absolute;
    top: auto;
    left: auto;

    p {
      font-size: 15px;
      line-height: 22px;
      width: 600px;
      height: auto;
      margin: 0px auto;
      position: relative;
      top: 120px;
    }

    .btn_game {
      background: url("./images/iphone7/btn_game.png") no-repeat;
      position: absolute;
      width: 80px;
      height: 38px;
      cursor: pointer;
      top: 75px;
      right: -79px;
    }
  }

}

.btn_lump {
  position: relative;
  width: 300px;
  height: auto;
  margin: 0px auto;
  bottom: 70px;
}


.btn_04 {
  position: absolute;
  background: url("./images/iphone7/btn_03.png") no-repeat;
  width: 104px;
  height: 39px;
  cursor: pointer;
  bottom: -80px;
  left: 150px;
}
.btn_05 {
  position: absolute;
  background: url("./images/iphone7/btn_04.png") no-repeat;
  width: 104px;
  height: 39px;
  cursor: pointer;
  bottom: -80px;
  left: 290px;
}
.btn_06 {
  position: absolute;
  text-align: center;
  font-size:20px;
  text-decoration: underline;
  color:red;
  width: 400px;
  height: auto;
  cursor: pointer;
  bottom: -130px;
  left: 80px;
}

.btn_notice {
  background: url("./images/iphone7/btn_notice.png") no-repeat;
  position: absolute;
  width: 80px;
  height: 38px;
  cursor: pointer;
  top: 75px;
  right: -80px;
}
.prompt_lump {
  position: relative;
  top: 20px;
  font-size: 13px;
  width: 230px;
  height: 228px;
  border-radius: 10px;
  margin: 20px auto;
}

.prompt_content_ps {
  width: 220px;
  height: 120px;
  overflow: hidden;
  position: relative;
  top: 35px;
  left: 13px;
}

.prompt_content_ps ul {
  display: block;
  width: 220px;
  height: 30px;
  margin-top: 30px;
  position: relative;
  top: 0px;
}

.prompt_content_ps li {
  font-size: 13px;
  width: 220px;
  line-height: 30px;
  color: #333;
  text-align: left;
}

.prompt_content_ps li span {
  color: red;
  margin-left: 3px;
  margin-right: 3px;
}

/*抽奖轮盘样式*/

#lottery_wheel {
  display: none;
  background: url("./images/iphone7/disc-bg.png") no-repeat scroll 0 0 transparent;
  width: 370px;
  height: 368px;
  left: 50px;
  position: absolute;

  .arrow {
    background: url("./images/iphone7/arrow.png") no-repeat scroll 0 0 transparent;
    width: 16px;
    height: 22px;
    position: absolute;
    top: 130px;
    left: 179px;
  }

  .lot-btn {
    width: 79px;
    height: 79px;
    overflow: hidden;
    position: absolute;
    top: 143px;
    left: 148px;
  }

  .lot-btn span {
    background: url("./images/iphone7/buttons_01.png") no-repeat scroll 0 0 transparent;
    width: 79px;
    height: 79px;
    cursor: pointer;
    display: block;
    position: relative;
  }
}

//
//#lottery .first span {
//  background: url("./images/iphone7/buttons_01.png") no-repeat scroll 0 0 transparent;
//}

/*抽奖轮盘样式_over*/

















