
.qe-spring-recharge-bet {
  * {
    margin: 0px;
    padding: 0px;
  }

  .clear_div {
    clear: both;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }

  ul, ol {
    list-style: none;
  }

  .mask {
    background: rgba(0, 0, 0, .7);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    //margin: 100px auto;
    //width: 100%;
    color: #000;
  }

  .pop_mask{
    background: rgba(0, 0, 0, .7);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    //margin: 100px auto;
    //width: 100%;
    color: #000;
  }
  .con {
    background: url("../../images/cjct/main_lump.png") no-repeat;
    position: absolute;
    width: 928px;
    height: 403px;
    left: 0px;
    right: 0px;
  }
  .qe-spring-rb-middle-con{
    //margin: 0 auto;
    //width: 100%;
  }
  .qe-spring-rb-middle-pop{
    //margin: 0 auto;
    //width: 100%;
  }

  .title_pic {
    background: url("../../images/cjct/title_pic.png") no-repeat;
    width: 981px;
    height: 212px;
    position: absolute;
    top: -70px;
    left: 35px;
  }

  .bonus {
    background: url("../../images/cjct/bonus.png") no-repeat;
    width: 306px;
    height: 400px;
    position: absolute;
    top: -20px;
    left: -60px;
  }

  .get_btn {
    width: 140px;
    height: 31px;
    cursor: pointer;
    position: absolute;
    top: 249px;
    left: 120px;
  }

  .des_01 {
    color: black;
    font-family: "宋体";
    font-size: 12px;
    background: white;
    line-height: 26px;
    height: 26px;
    width: 590px;
    text-align: center;
    margin: 0px auto;
    margin-top: 33px;
    border-radius: 26px;

    margin-top: 25px;
    margin-left: 270px;
    border-radius: 26px;
  }

  .des_02 {
    color: black;
    font-family: "宋体";
    font-size: 12px;
    background: white;
    line-height: 26px;
    height: 26px;
    width: 355px;
    text-align: center;
    margin: 0px auto;
    border-radius: 26px;
    position: relative;
    top: 310px;
  }

  .money_bg {
    background: url("../../images/cjct/money_bg.png") no-repeat;
    width: 1153px;
    height: 515px;
    position: absolute;
    left: -122px;
    top: -60px;
  }

  .btn_lump {
    margin: 0px auto;
    width: 400px;
  }

  .btn, .btn_get {
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    font-family: "微软雅黑", "黑体";
    font-size: 24px;
    color: #d74125;
    background: url("../../images/cjct/btn.png") no-repeat;
    width: 182px;
    height: 53px;
    line-height: 49px;
    margin: 0px auto;
    position: relative;
    top: 240px;
  }

  .game_lump {
    position: absolute;
    left: 250px;
    top: 65px;
    color: #000;
  }

  .game_lump ul {
    text-align: center;
    font-size: 0px;
  }

  .game_lump ul li {
    position: relative;
    display: inline-block;
    font-family: "宋体";
    font-size: 12px;
    cursor: pointer;
  }

  .game_lump ul li img {
    opacity: 0;
    position: absolute;
    display: block;
    top: 0px;
    left: 6px;
  }
  .specialImg{
    width: 150px;
    height: 162px;
    max-width: 150px;
  }

  .game_lump ul li div {
    position: relative;
    padding-top: 27px;
  }

  .game_lump ul li span {
    display: block;
    font-weight: bold;
    font-family: "宋体";
    font-size: 12px;
    margin-top: 5px;
  }

  .game_01 {
    background: url("../../images/cjct/game_01.png") no-repeat;
    width: 103px;
    height: 129px;
  }

  .game_02 {
    background: url("../../images/cjct/game_02.png") no-repeat;
    width: 103px;
    height: 129px;
  }

  .game_03 {
    background: url("../../images/cjct/game_03.png") no-repeat;
    width: 103px;
    height: 129px;
  }

  .game_04 {
    background: url("../../images/cjct/game_04.png") no-repeat;
    width: 103px;
    height: 129px;
  }

  .game_05 {
    background: url("../../images/cjct/game_05.png") no-repeat;
    width: 103px;
    height: 129px;
  }

  .game_06 {
    background: url("../../images/cjct/game_06.png") no-repeat;
    width: 103px;
    height: 129px;
  }

  .game_07 {
    background: url("../../images/cjct/game_07.png") no-repeat;
    width: 103px;
    height: 129px;
  }

  .game_08 {
    background: url("../../images/cjct/game_08.png") no-repeat;
    width: 103px;
    height: 129px;
  }

  .game_09 {
    background: url("../../images/cjct/game_09.png") no-repeat;
    width: 103px;
    height: 129px;
  }

  .game_10 {
    background: url("../../images/cjct/game_10.png") no-repeat;
    width: 103px;
    height: 129px;
  }

  .game_11 {
    background: url("../../images/cjct/game_11.png") no-repeat;
    width: 103px;
    height: 129px;
  }

  .game_12 {
    background: url("../../images/cjct/game_12.png") no-repeat;
    width: 103px;
    height: 129px;
  }

  .close_btn {
    background: url("../../images/cjct/close_btn.png") no-repeat;
    width: 47px;
    height: 47px;
    position: absolute;
    top: -50px;
    right: -40px;
    cursor: pointer;
    z-index: 99;
  }

  .pop_close_btn {
    background: url("../../images/cjct/close_btn.png") no-repeat;
    width: 47px;
    height: 47px;
    position: absolute;
    top: -20px;
    right: -20px;
    cursor: pointer;
    z-index: 99;
  }

  .pop_status_01, .pop_status_02 {
    position: absolute;
    top: 0px;
    left: 0px;
    background: url("../../images/cjct/pop_lump.png") no-repeat;
    width: 627px;
    height: 310px;
    text-align: center;
  }
  //
  //.pop_icon {
  //  background: url("../../images/cjct/pop_icon.png") no-repeat;
  //  width: 197px;
  //  height: 225px;
  //  position: absolute;
  //  left: 200px;
  //  top: -140px;
  //  padding: 140px 0;
  //  color: gold;
  //  font-size: 37px;
  //}
  .pop_icon {
    background: url("../../images/cjct/pop_icon.png") no-repeat;
    width: 183px;
    height: 208px;
    position: absolute;
    left: 220px;
    top: 40px;
    padding-top: 81px;
    font-size: 23px;
  }
  .pop_icon span{
    font-family: "微软雅黑", "黑体";
    font-size: 26px;
    text-align: center;
    position: absolute;
    left: 60px;
    top: 70px;
  }

  .pop_status_01 p {
    position: absolute;
    width: 527px;
    height: auto;
    left: 0px;
    right: 0px;
    top: 120px;
    margin: auto;
    text-align: center;
    font-family: "微软雅黑", "黑体";
    font-size: 24px;
    line-height: 30px;
  }

  .pop_status_02 p {
    position: absolute;
    width: 527px;
    height: auto;
    left: 0px;
    right: 0px;
    top: 120px;
    margin: auto;
    text-align: center;
    font-family: "微软雅黑", "黑体";
    font-size: 24px;
    line-height: 30px;
  }

  .qe-close-return-btn{
    background: url("../../images/cjct/close_btn.png") no-repeat;
    width: 47px;
    height: 47px;
    position: absolute;
    top: -20px;
    right: -20px;
    cursor: pointer;
    z-index: 99;
  }
  .qe-return-btn{
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    font-family: "微软雅黑", "黑体";
    font-size: 24px;
    color: #d74125;
    background: url("../../images/cjct/btn.png") no-repeat;
    width: 182px;
    height: 53px;
    line-height: 49px;
    margin: 0px auto;
    position: relative;
    top: 240px;
  }

  .qe-spring-rb-goon{
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    font-family: "微软雅黑", "黑体";
    font-size: 24px;
    color: #d74125;
    background: url("../../images/cjct/btn.png") no-repeat;
    width: 182px;
    height: 53px;
    line-height: 49px;
    margin: 0px auto;
    position: relative;
    top: 240px;
  }

}








