@charset "UTF-8";

@import "~base/styles/imports";

.view-container {
  margin-left: 10px;
  margin-right: 10px;
  .portlet-inverse {
    height: 80px;
    .portlet-body {
      padding-top: 15px;
      padding-bottom: 25px;
      height: 30px;
      .input-md {
        border: 1px solid #cccccc;
        font-size: 12px;
        color: #666666;
        width: 160px !important;
        top: 7px;
        position: relative;
        .sfa-time-input {
          font-size: 12px;
          color: #666666;
          width: 116px!important;
        }
        &.active, &:hover {
          border: 1px solid #14b1bb;
          background-color: transparent;
        }

      }
      .select-sm {
        width: 110px !important;
        border-color: #cccccc;
        margin-bottom: 5px;
        &.active, &:hover {
          border: 1px solid #14b1bb;
          background-color: transparent;
        }
      }
      .fc-fm-btn {
        margin-bottom: 5px;
        background-color: #14b1bb;
      }
    }
  }
  .portlet-filter {
    margin: 0;
    .slimScrollDiv {
      //height: 495px !important;
      margin-bottom: 30px;
      .js-wt-body-main {
        //height: 495px !important;
        table {
          border: 0;
          tr {
            border-bottom: 1px solid #cccccc;
            th {
              background-color: #f5f5f5;
              td {
                border-right: 0;
              }
            }
          }
        }
        .table-bordered th, .table-bordered td {
          border: 0
        }
        .table th, .table td {
          padding: 10px 3px;
        }
        .text-add {
          color: #14b1bb;
          font-weight: bold;
        }
        .text-cut {
          color: #f09932;
          font-weight: bold;
        }
      }

    }
    .table-bordered th, .table-bordered td {
      border: 0
    }
    .table-bordered {
      border: 0
    }
  }
}
