@font-face {
    font-family: "AdobeHeitiStd-Regular";
    src: url("~base/fonts/AdobeHeitiStd-Regular.eot"); /* IE9 */
    src: local("AdobeHeitiStd-Regular"), url("~base/fonts/AdobeHeitiStd-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("~base/fonts/AdobeHeitiStd-Regular.woff") format("woff"), /* chrome, firefox */
    url("~base/fonts/AdobeHeitiStd-Regular.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("~base/fonts/AdobeHeitiStd-Regular.svg#AdobeHeitiStd-Regular") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


