@font-face {
    font-family: "ltthj";
    src: url("~base/fonts/ltthj.eot"); /* IE9 */
    src: local("ltthj"), url("~base/fonts/ltthj.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("~base/fonts/ltthj.woff") format("woff"), /* chrome, firefox */
    url("~base/fonts/ltthj.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("~base/fonts/ltthj.svg#ltthj") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


