@font-face {
    font-family: "txtsks";
    src: url("~base/fonts/txtsks.eot"); /* IE9 */
    src: local("txtsks"), url("~base/fonts/txtsks.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("~base/fonts/txtsks.woff") format("woff"), /* chrome, firefox */
    url("~base/fonts/txtsks.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("~base/fonts/txtsks.svg#txtsks") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


