@import "~base/styles/ui_variable";
$marginHorizontal: 10px; // 水平间距
$marginVertical: 20px; // 垂直间距

$background-light: white;
$background-gray: #999;
$font-black: black;
$font-dark: #333;
$font-gray: #666;
$font-light: #999;

$nav-height: 70px;
$nav-item-horizontal-padding: 20px;
$nav-item-vertical-padding: 5px;
$navbar-container-color: white;
