@charset "UTF-8";

@import
"~base/styles/imports",
"mixin";

$tab-toolbar-height: 25px !default;
$tab-toolbar-title-width: 76px !default;
$tab-toolbar-circle-colors: (
  default: (
    default: (
      color: $inverse-color,
      background: $def-white-color
    ),
    active: (
      color: $def-white-color,
      background: $main-deep-color,
      border-radius:15px
    )
  )
);

.tab-toolbar {
  margin-bottom: 7px;
  display: flex;
  .tab-title {
    height: $tab-toolbar-height;
    line-height: $tab-toolbar-height;
    white-space: nowrap;
  }

  .tab-group {
    font-size: 0;
    padding-left: 20px;

    .tab {
      font-size: 14px;
      cursor: pointer;
      display: inline-block;
      text-align: center;
      margin: 0 $filter-xs;
      height: $tab-toolbar-height;
      line-height: $tab-toolbar-height;

      //&:last-child {
      //  margin-right: 0;
      //}
    }
  }

  &.tab-pill {
    &.tab-pill-deep {
      .tab {
        font-size: $font-sm;
        line-height: 36px;
        height: 36px;
        min-width: 45px;
        padding: 0 10px;
        margin: 4px 0 0 0;
        &.active {
          color: #16a4aa;
          background-color: $def-white-color;
        }
      }
    }

    &.tab-pill-main {
      .tab-title {
        font-size: 12px;

        height: $tab-toolbar-height;
        line-height: $tab-toolbar-height;
      }

      .tab-group {
        font-size: 0;
        .tab {
          padding: 0 7px;
          cursor: pointer;
          display: inline-block;
          text-align: center;
          margin-right: $filter-sm;
          min-width: 54px;
          height: $tab-toolbar-height;
          line-height: $tab-toolbar-height;
          border-radius: 50px;
          transition: all .3s ease-out;
          @include tab-toolbar-color(default, $tab-toolbar-circle-colors);

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  &.tab-circle {
    margin-bottom: 0;
    .tab-group{
      //margin-left: 75px;
    }
    .tab-title {
      font-size: 14px;
      color: $def-black-color;
      line-height: 40px;
      width: auto;
      height: 40px;

      > div {
        margin-right: 10px;
        min-width: 56px;
      }
    }
    .tab {
      //margin: 0 5px;
      padding: 0;
      font-size: 20px;
      line-height: 38px;
      height: 38px;
      width: 38px;
      border-radius: 50%;
      border: 1px solid $def-gray-color;
      color: $def-black-color;
      background-color: $sec-line-color;

      &:hover {
        color: $main-deep-color;
        background-color: $sec-line-color;
        border: 1px solid $color-pleasant;
      }

      &.active {
        color: $def-white-color;
        background-color: $main-deep-color;
        border: 1px solid $main-deep-color;
        box-shadow: 0px 2px 3px #108f97 inset;
      }
    }
  }

  &.tab-square {
    .tab-title {
      font-size: 14px;
      color: $def-black-color;
      line-height: 50px;
      width: auto;
      height: 40px;
      margin-left: 5px;

      > div {
        margin-right: 10px;
        min-width: 60px;
        text-align: right;
      }
    }
    .tab {
      margin-right: 17px;
      margin-bottom: 38px;
      padding: 0;
      font-size: 26px;
      line-height: 48px;
      height: 48px;
      min-width: 32px;
      padding: 0 8px;
      border-radius: 8px;
      border: 1px solid $def-gray-color;
      color: $new-inverse-color;
      background-color: $sec-line-color;

      &:hover {
        color: $main-deep-color;
        background-color: $sec-line-color;
        border: 1px solid $color-pleasant;
      }

      &.active {
        color: $def-white-color;
        background-color: $main-deep-color;
        border: 1px solid $main-deep-color;
        box-shadow: 0px 2px 3px #108f97 inset;
      }
      &:last-child {
        margin-right: 17px;
      }
    }
    &.square-big {
      .tab {
        min-width: 58px;
        padding: 0 10px;
      }
    }
  }

  &.tab-border {

    .tab {
      width: 22px;
      height: 40px;
      line-height: 36px;
      float: left;
      color: $def-black-color;

      &:hover {
        color: $main-deep-color;
      }

      &.active {
        color: $main-deep-color;
      }
    }
  }
}
