@charset "UTF-8";

@import
"~base/styles/imports";

$main-light-color: #1ba1b5 !default;
$main-border-color: #007e90 !default;
$input-placeholder: #0297ad !default;

.panel {
  margin: auto;
  width: 852px;
  .step-inner-find {
    height: 100px;
  }
}

.rp-resetPassword-main {
  width: 788px;
  margin: 0 auto;
  padding-top: 23px;
  .content {
    height: 380px;
  }
}

.btn {
  border-radius: 4px;
  box-sizing: border-box;
  padding: 8px 10px;
}

.rp-step-1-form {
  width: 450px;
  margin: 70px auto 0 auto;
}

.user {
  width: 223px;
  background-repeat: no-repeat;
  background-position: 8px center;
}

.input-varCode {
  width: 149px;
  margin-right: 2px;
}

.var-code {
  width: 69px;

}

.re-val-result-div {
  display: inline-block;
}

.re-step1-btn-group {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 45px;
  width: 450px;
}

.re-btn {
  margin-left: 55px;
  width: 100px;
}

.rp-step-2-form1 {
  margin-left: 25px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
}

.re-step2-sq-btn-group {
  margin-left: 90px;
  margin-right: 10px;
  margin-top: 45px;
  width: 450px;
  text-align: center;
}

.re-step2-fp-btn-group {
  margin-left: 10px;
  margin-top: 45px;
  width: 450px;
}

.rp-inputSQANoticeBar {
  text-align: center;
  margin-right: 40px;
  width: 350px;
}

.re-fundPassword-input-div {
  margin-top: 20px;
}

.rp-fundPassword-label {
  margin-left: 40px;
  display: inline-block;
  width: 70px;
}

.rp-fundPassword-input {
  width: 250px;
}

.re-step3-btn-group {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 45px;
  width: 450px;
}

.re-step2-return-btn {
  margin-left: 300px;
  margin-top: 25px;
}

.rp-step-2-form2 {
  margin-left: 25px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
}

.rp-step-2-form3 {
  width: 410px;
  margin: 70px auto;
}

.rp-step-3-form {
  width: 600px;
  margin: 70px auto 0 172px;
}

.rp-step-4-form {
  margin-top: 30px;
}

.rp-linkLoginPage{
  margin-top: 50px;
}