@charset "UTF-8";

@import "~base/styles/imports";

.fc-fm-portlet {
  height: 120px;
  .fc-fm-amount-desc {
    font-size: 0px;
    vertical-align: middle;
    border-bottom: 1px solid #cccccc;
    li {
      width: 460px;
      height: 97px;
      display: inline-block;
      background: #fff;
      padding: 3px;
      border-radius: 6px;
      overflow: hidden;
      margin-top: 10px;

      .fc-fm-sum-left {
        padding: 20px;
        margin-left: 30px;
        width: 190px;
        vertical-align: middle;
        .fc-fm-sum-name {
          vertical-align: middle;
          height: 23px;
          line-height: 23px;
          font-size: 14px;
          color: #666666;
          margin-bottom: 10px;
          .sfa {
            vertical-align: -14%;
          }
        }
        .fc-fm-amount-sum {
          font-size: 20px;
          width: 150px;
          border-radius: 4px;
          color: #f09932;
          border: 0;
          .fc-fm-amount-sum-num {
            margin-right: 5px;
          }
          .fc-fm-amount-sum-img {
            color: #cccccc;
            font-size: 17px;
            cursor: pointer;
          }
        }

      }
      &:nth-child(2) {
        .sfa {
          vertical-align: -21%;
        }
      }

      .fc-fm-re-sum-operation {
        border-right: 1px solid #cccccc;
        width: 195px;
        .fc-fm-re-btn {
          width: 95px;
          height: 30px;
          margin-top: 25px;
          border-radius: 4px;
          background: #f09932;
          border: 0;
          font-size: 14px;
        }
        .fc-fm-wd-btn {
          width: 95px;
          height: 30px;
          margin-top: 25px;
          border-radius: 4px;
          background: #0ea8b5;
          border: 0;
          font-size: 14px;
          backgroud-color: #14b1bb;
        }
      }
      &:last-child {
        margin-right: 0;
      }
      .fc-fm-wd-sum-operation {
        width: 95px;
        .fc-fm-re-btn {
          width: 95px;
          height: 30px;
          margin-top: 20px;
          border-radius: 4px;
          background: #f09932;
          border: 0;
          font-size: 14px;
        }
        .fc-fm-wd-btn {
          width: 95px;
          height: 30px;
          margin-top: 25px;
          border-radius: 4px;
          background: #0ea8b5;
          border: 0;
          font-size: 14px;
        }
      }
      &:last-child {
        margin-right: 0;
      }

    }
    .fc-fm-wd-bankCard {
      width: 65px;
      height: 91px;
      .fc-fm-wd-bankCard-img {
        width: 40px;
        height: 40px;
        display: block;
        margin-top: 30px;
        cursor: pointer;
        margin-left: -40px;
        background: url("../../../../base/images/sprites/fund/icon-bankCard-gray.png") no-repeat;
        &.active, &:hover {
          background: url("../../../../base/images/sprites/fund/icon-backCard-deepGray.png") no-repeat
        }
      }

    }
  }
  .fc-fm-mb-qu {
    border-bottom: 1px solid #e3e3e3;
    font-size: 0px;
    height: 340px;
    vertical-align: middle;
    .fc-fm-mb-qu-left {
      width: 590px;
      margin-top: 30px;
      margin-left: 30px;
      float: left;
      li.fc-fm-mb-item {
        position: relative;
        width: 220px;
        height: 65px;
        line-height: 65px;
        display: inline-block;
        background: #fff;
        padding: 3px;
        vertical-align: middle;
        overflow: hidden;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 14px;
        color: #666666;
        .fc-fm-channel-name {
          height: 65px;
          width: 80px;
          line-height: 65px;
          vertical-align: middle;
          display: inline-block;
          margin-left: 16px;
        }
        &:nth-child(1) {
          .sfa {
            vertical-align: -5%;
          }
        }
        &:nth-child(2) {
          .sfa {
            vertical-align: -1%;
          }
        }
        &:nth-child(3) {
          .sfa {
            vertical-align: -4%;
          }
        }
        &:nth-child(4) {
          .sfa {
            vertical-align: -6%;
          }
        }
        &:nth-child(5) {
          .sfa {
            vertical-align: -4%;
          }
        }
        &:nth-child(6) {
          .sfa {
            vertical-align: -6%;
          }
        }
        &:nth-child(7) {
          .sfa {
            vertical-align: -4%;
          }
        }
        .fc-fm-channel-amount {
          height: 65px;
          width: 75px;
          line-height: 65px;
          vertical-align: middle;
          display: inline-block;
          color: #333333;
          text-align: right;
        }

        &:nth-of-type(2n) {
          border-right: 0px solid #e3e3e3;
        }
        &:nth-child(1) {
          border-radius: 6px 0 0 0;
        }
        &:nth-child(2) {
          border-radius: 0 6px 0 0;
        }
        &:nth-last-child(1) {
          border-radius: 0 0 6px 0;
          border-bottom: 0px solid #e3e3e3;
        }
        &:nth-last-child(2) {
          border-radius: 0 0 0 6px;
          border-bottom: 0px solid #e3e3e3;
        }
        .fa-circle-ce {
          color: #9eedfc;
        }
        .fa-circle-gg {
          color: #9eedfc;
        }
        .fa-circle-ag {
          color: #f0ddb6;
        }
        .fa-circle-PT {
          color: #f0ddb6;
        }
        .fa-circle-ebet {
          color: #b7ceed;
        }
        .fa-circle-mg {
          color: #b7ceed;
        }
        .fa-circle-bbin {
          color: #edbeae;
        }
        .fa-circle-188 {
          color: #edbeae;
        }
      }
    }
    .fc-fm-mb-qu-right {
      width: 246px;
      padding-top: 35px;
      padding-left: 20px;
      font-size: 14px;
      margin-left: 30px;
      color: #666666;
      position: absolute;
      .fc-tf-div-amount {
        position: absolute;
        top: 181px;
        .fc-tf-div-name {
          display: block;
          margin-bottom: 5px;
        }
        .fc-fm-input {
          text-align: center;
          height: 28px;
          width: 208px;
          border-radius: 4px;
          border: 1px solid;
          padding: 0 20px;
          border-color: #cccccc !important;
          &.active, &:hover, &:focus, &:active {
            border: 1px solid;
            border-color: #14b1bb !important;
            outline-width: 0;
          }
        }

      }
      .fc-tf-div-submit {
        position: absolute;
        top: 248px;
        .fc-fm-tf-btn {
          width: 175px;
          height: 35px;
          border-radius: 20px;
          margin-left: 40px;
          margin-top: 15px;
          background-color: #14b1bb;
        }
      }
      .fc-fm-error-container {
        position: absolute;
        top: 308px;
        margin-left: 40px;
        .sfa-error-icon {
          margin-top: 2px;
        }
        .parsley-error-text {
          margin-left: 3px;
        }
      }
      .fc-fm-tr-error-container {
        position: absolute;
        top: 240px;
        .sfa-error-icon {
          margin-top: 2px;
        }
        .parsley-error-text {
          margin-left: 3px;
        }
      }
      .fc-fm-out-select {
        z-index: 4;
        position: absolute;
        top: 30px;
        .fc-fm-div-name {
          display: block;
          margin-bottom: 5px;
        }
        .fc-fm-out-select-panel {
          z-index: 5;
          overflow: hidden;
          width: 208px;
          height: 33px;
          background: #ffffff;
          border: 1px solid #cccccc;
          line-height: 33px;
          border-radius: 5px;
          display: inline-block;
          position: relative;
          text-align: left;
          cursor: pointer;
          transition: height 0.5s;
          padding: 0 20px;
          .fc-fm-out-selected {
            height: 33px !important;
          }
          .fc-fm-out-item {
            border-top: 1px solid #e6e6e6;
          }
          .rc-name {
            display: inline-block;
            margin-left: 75px;
            color: #333333;
            font-size: 14px;
          }
          .select-down {
            width: 18px;
            height: 10px;
            display: block;
            position: absolute;
            top: 13px;
            left: 205px;
            background: url("~base/images/v2/icon-select-down.png") no-repeat;
            &.up {
              transform: rotate(180deg);
            }
          }
          &.side-down {
            border: 1px solid $new-main-deep-color;
            height: 203px;
            overflow: auto;
          }
        }

      }
      .fc-fm-in-select {
        position: absolute;
        top: 109px;
        z-index: 2;
        .fc-fm-div-name {
          display: block;
          margin-bottom: 5px;
        }
        .fc-fm-in-select-panel {
          z-index: 3;
          overflow: hidden;
          width: 208px;
          height: 33px;
          background: #ffffff;
          border: 1px solid #cccccc;
          line-height: 33px;
          border-radius: 5px;
          display: inline-block;
          position: relative;
          text-align: left;
          cursor: pointer;
          transition: height 0.5s;
          padding: 0 20px;
          .fc-fm-in-selected {
            height: 33px !important;
          }
          .fc-fm-in-item {
            border-top: 1px solid #e6e6e6;
          }
          .rc-name {
            display: inline-block;
            margin-left: 75px;
            color: #333333;
            font-size: 14px;
          }
          .select-down {
            width: 18px;
            height: 10px;
            display: block;
            position: absolute;
            top: 13px;
            left: 205px;
            background: url("~base/images/v2/icon-select-down.png") no-repeat;
            &.up {
              transform: rotate(180deg);
            }
          }
          &.side-down {
            border: 1px solid $new-main-deep-color;
            height: 203px;
            overflow: auto;
          }
        }

      }
      .parsley-errors-list.filled {
        margin-top: 10px;
        margin-left: 5px;
      }
    }
    .fc-tf-change {
      height: 80px;
      width: 20px;
      float: right;
      margin-top: 72px;
      border-top: 1px solid #cccccc;
      border-right: 1px solid #cccccc;
      border-bottom: 1px solid #cccccc;
      margin-right: 63px;
      .fc-tf-change-img {
        margin-top: 30px;
        margin-left: 11px;
      }
    }
  }
  .fc-tf-personal-info-select {
    height: 50px;
    font-size: 14px;
    color: #666666;
    padding: 20px 20px 10px 20px;
    margin: 5px 45px 0px 30px;
    .fc-tf-info-select-name {
      margin-right: 15px;
    }
    .fm-to-search-bar {
      .fm-to-btnGroup {
        border-right: none;
        font-size: 0;
        vertical-align: top;
        margin-top: 7px;
        .btn {
          min-width: 75px;
          margin-right: 8px;
          background-color: transparent;
          font-size: 14px;
          border: 1px solid #cccccc;
          .btn-silent {
            color: #666666;
            background-color: transparent;
            border: 1px solid #cccccc;
          }
          &.active, &:hover {
            border: 1px solid #14b1bb;
            color: #14b1bb;
            background-color: transparent;
          }
        }

      }
      .fc-fm-info-btn {
        width: 60px;
        height: 25px;
        background-color: #14b1bb;
        font-size: 14px;
        position: relative;
        top: -3px;
        margin-left: 10px;
        margin-top: 6px;
      }
    }
  }
  .fc-tf-personal-info-panel {
    margin-left: 40px;
    li.fc-fm-info-item {
      background-color: #f9f9f9;
      display: inline-block;
      width: 210px;
      height: 100px;
      border: 1px solid #cccccc;
      margin: 10px;
      .fc-fm-info-item-img {
        margin: 30px 0px 30px 30px;
        width: 40px;
        height: 40px;
        float: left;
        .fc-fm-info-item-img-area {
          width: 40px;
          height: 40px;
          display: block;
        }
      }
      .fc-fm-info-item-info {
        margin: 24px 0px 24px 0px;
        width: 140px;
        height: 52px;
        backgroud-color: transparent;
        text-align: center;
        .fc-fm-info-item-name {
          padding: 3px;
          font-size: 14px;
          color: #999999;
        }
        .fc-fm-info-item-num {
          padding: 3px;
          font-size: 14px;
          color: #333333;
          .fc-fm-info-item-num-value {
            font-size: 16px;
            color: #333333;
          }
        }
      }
      &.active {
        .fc-fm-info-item-num {
          .fc-fm-info-item-num-value {
            color: #f09932;
          }
          color: #f09932;
        }
      }
    }
  }

}

