<div class="qe-spring-recharge-bet js-qe-spring-recharge-bet">
  <div class="mask">
    <div class="con qe-spring-rb-middle-con">
      <div class="money_bg"></div>
      <div class="close_btn"></div>
      <div class="title_pic"></div>
      <div class="game_lump">
        <ul>
          <li class='js-qe-spring-rb-li' >
            <img src="images/cjct/animal_01.png" alt="">
            <div class="game_01">无限秒秒彩<span class="js-qe-spring-rb-ticket" data-id="19">--</span></div>
          </li>
          <li class='js-qe-spring-rb-li' >
            <img src="images/cjct/animal_02.png" alt="">
            <div class="game_02">无限三分彩<span class="js-qe-spring-rb-ticket" data-id="13">--</span></div>
          </li>
          <li class='js-qe-spring-rb-li' >
            <img src="images/cjct/animal_03.png" alt="">
            <div class="game_03">加州 1.5分彩<span class="js-qe-spring-rb-ticket" data-id="28">--</span></div>
          </li>
          <li class='js-qe-spring-rb-li' >
            <img src="images/cjct/animal_04.png" alt="" style="left: -35px;top: -25px;"  class="specialImg">
            <div class="game_04">加州分分彩<span class="js-qe-spring-rb-ticket" data-id="10">--</span></div>
          </li>
          <li class='js-qe-spring-rb-li' >
            <img src="images/cjct/animal_05.png" alt="">
            <div class="game_05">加州五分彩<span class="js-qe-spring-rb-ticket" data-id="12">--</span></div>
          </li>
          <li class='js-qe-spring-rb-li' >
            <img src="images/cjct/animal_06.png" alt="">
            <div class="game_06">QQ30秒<span class="js-qe-spring-rb-ticket" data-id="32">--</span></div>
          </li>
          <li class='js-qe-spring-rb-li' >
            <img src="images/cjct/animal_07.png" alt="">
            <div class="game_07">韩国乐透1.5<span class="js-qe-spring-rb-ticket" data-id="21">--</span></div>
          </li>
          <li class='js-qe-spring-rb-li' >
            <img src="images/cjct/animal_08.png" alt="">
            <div class="game_08">东京1.5分彩<span class="js-qe-spring-rb-ticket" data-id="27">--</span></div>
          </li>
          <li class='js-qe-spring-rb-li' >
            <img src="images/cjct/animal_09.png" alt="">
            <div class="game_09">新加坡2分彩<span class="js-qe-spring-rb-ticket" data-id="25">--</span></div>
          </li>
          <li class='js-qe-spring-rb-li' >
            <img src="images/cjct/animal_10.png" alt="">
            <div class="game_10">QQ1.5分彩<span class="js-qe-spring-rb-ticket" data-id="33">--</span></div>
          </li>
          <li class='js-qe-spring-rb-li' >
            <img src="images/cjct/animal_11.png" alt="">
            <div class="game_11">腾讯分分彩<span class="js-qe-spring-rb-ticket" data-id="31">--</span></div>
          </li>
          <li class='js-qe-spring-rb-li' >
            <img src="images/cjct/animal_12.png" alt="">
            <div class="game_12">加拿大3.5分彩<span class="js-qe-spring-rb-ticket" data-id="30">--</span></div>
          </li>
        </ul>
      </div>
      <div class="bonus">
        <div class="js-qe-spring-recharge-bet-get get_btn"></div>
      </div>
      <div class="des_01">活动说明：每充值<span class="js-qe-springRechargeBet-amount"></span>元，可拆红包一次，领取新春福利！在以下12生肖彩种中投注，还可获得投注奖励。
      </div>
      <div class="des_02">注：直接点击图标领取，每天限领一次，当日有效，逾期作废！</div>
    </div>
    <div class="js-qe-spring-recharge-bet-pop-mask pop_mask hidden">
      <div class="js-qe-spring-recharge-bet-ticketRebate-dialog1 pop_status_01 hidden">
        <div class="pop_close_btn"></div>
        <p class="js-qe-spring-recharge-bet-ticketRebate-dialog1-msg"></p>
        <div class="btn">返 回</div>
      </div>
      <div class="js-qe-spring-recharge-bet-ticketRebate-dialog2 pop_status_01 hidden">
        <div class="pop_close_btn"></div>
        <p class="js-qe-spring-recharge-bet-ticketRebate-dialog2-msg"></p>
        <div class="btn_lump">
          <div class="js-qe-spring-recharge-bet-rebate-get btn_get" style="float: left">确认领取</div>
          <div class="js-qe-spring-rb-goon qe-spring-rb-goon" style="float: right" >继续投注</div>
        </div>
      </div>

      <div class="js-qe-spring-recharge-bet-ticketRebate-dialog3 pop_status_02 hidden">

        <div class="js-qe-spring-recharge-bet-bonus pop_icon" ><span>8元！</span></div>
        <div class="js-qe-return-btn qe-close-return-btn"></div>
        <p class="js-qe-spring-recharge-bet-msg" style="position: relative;top:17px;">红包一拆开，好运自然来</p>
        <div class="js-qe-return-btn qe-return-btn" style="top: 222px;">返 回</div>

        <!--<div class="js-qe-spring-recharge-bet-bonus pop_icon"></div>-->
        <!--<div class="js-qe-return-btn qe-close-return-btn"></div>-->
        <!--<p class="js-qe-spring-recharge-bet-msg"></p>-->
        <!--<div class="js-qe-return-btn qe-return-btn">返 回</div>-->
      </div>

      <div class="js-qe-spring-recharge-bet-ticketRebate-dialog4 pop_status_01 hidden">
        <div class="js-qe-return-btn qe-close-return-btn"></div>
        <p class="js-qe-spring-recharge-bet-ticketRebate-dialog4-msg"></p>
        <div class="js-qe-return-btn qe-return-btn">返 回</div>
      </div>
    </div>

  </div>
</div>