* {
    margin: 0px;
    padding: 0px;
    font-family: "微软雅黑", "黑体";
}

ul, li {
    list-style: none;
}

img {
    border: none;
    overflow: hidden;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.clear_div {
    clear: both;
}

body {
    background: #011f68;
}

.top_pic {
    position: relative;
    background: url("images/mmc/top_pic.jpg") no-repeat;
    width: 2020px;
    height: 505px;
    margin: 0px auto;
    margin-bottom: -100px;
}

.info_lump {
    width: 700px;
    height: auto;
    margin: 0px auto;
    position: relative;
}

.info_title {
    font-weight: bold;
    font-size: 12px;
    font-family: "宋体";
    color: #fff100;
    width: 700px;
    height: auto;
    margin: 0px auto;
}

.info_body {
    font-size: 12px;
    font-family: "宋体";
    color: white;
    width: 700px;
    height: auto;
    line-height: 24px;
    border: 2px dashed white;
    padding: 10px;
    margin: 10px auto;
}

.info_body span {
    font-family: "宋体";
    font-weight: bold;
    color: red;
}

.ele_lump {
    position: relative;
    background: url("images/mmc/ele_lump_01.png");
    width: 907px;
    height: 391px;
    margin: 60px auto;
}

.ele_lump2 {
    background: #0074a8;
    width: 902px;
    height: auto;
    margin: 100px auto;
    margin-top: 30px;
    margin-bottom: 0px;
    padding-top: 15px;
}

.ele_lump_middle {
    width: 907px;
    height: auto;
    margin: 0px auto;
}

.ele_lump_middle_bg {
    background: url("images/mmc/ele_lump_01_bg.png") no-repeat;
    width: 1448px;
    height: 712px;
    position: absolute;
    top: -322px;
    left: -234px;
}

.menu_bar {
    background: url("images/mmc/menu_bar.png") no-repeat;
    margin: 20px auto;
    width: 922px;
    height: 98px;
}

.ele_lump_middle2 {
    width: 902px;
    height: auto;
    margin: 0px auto;
}

.ele_01_left {
    width: 380px;
    height: 430px;
    margin-left: 23px;
    margin-top: 40px;
    float: left;
}

.bottom_lump {
    position: relative;
    left: -8px;
    background: url("images/mmc/bottom_pic.png") no-repeat;
    margin: 0px auto;
    margin-bottom: 120px;
    width: 918px;
    height: 254px;
}

.bottom_title {
    position: relative;
    top: 85px;
    color: #ffff00;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    width: 300px;
    margin: 0px auto;
}

.bottom_info {
    position: relative;
    top: 95px;
    color: #ffff00;
    font-size: 14px;
    text-align: center;
    width: 800px;
    line-height: 24px;
    margin: 0px auto;
}

.edge_left {
    background: url("images/mmc/edge_left.png") no-repeat top;
    width: 204px;
    height: 1438px;
    position: absolute;
    left: 0px;
    top: 490px;
    z-index: 200;
}

.edge_right {
    background: url("images/mmc/edge_right.png") no-repeat;
    width: 204px;
    height: 1438px;
    position: absolute;
    right: 0px;
    top: 490px;
    z-index: 200;
}

.ele_02_left {
    background: #206584;
    width: 430px;
    height: auto;
    float: left;
    margin-left: 13px;
    margin-bottom: 13px;
}

.ele_02_right {
    background: #206584;
    width: 430px;
    height: auto;
    float: right;
    margin-right: 13px;
    margin-bottom: 13px;
}

.ele_03_left {
    width: 451px;
    height: auto;
    float: left;
    margin-left: 50px;
}

.ele_03_right {
    width: 451px;
    height: auto;
    float: right;
    margin-right: 50px;
}

.ele_01_right {
    width: 380px;
    height: 430px;
    float: right;
    margin-right: 43px;
    margin-top: 40px;
}

.ele_01_title {
    background: url("images/mmc/menu_bar_01.png") no-repeat;
    color: #fff100;
    font-size: 16px;
    text-indent: 27px;
    width: 127px;
    height: 27px;
    line-height: 27px;
    margin-top: 20px;
}

.ele_02_title {
    color: white;
    font-size: 24px;
    text-align: center;
    width: 176px;
    height: 40px;
    line-height: 40px;
    margin: 20px auto;
}

.ele_02_pic {
    width: 391px;
    height: 258px;
    margin: 20px auto;
}

.ele_03_pic {
    text-align: center;
    width: 401px;
    height: 283px;
    margin: 20px auto;
}

.ele_01_text p {
    font-size: 15px;
    color: #fff100;
    line-height: 23px;
    width: 350px;
    height: auto;
    margin: 20px auto;
}

.ele_01_text p span {
    color: #f16f87;
}

.sign_lump {
    position: fixed;
    right: 0px;
    bottom: 0px;
    font-size: 30px;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100px;
    line-height: 100px;
    box-shadow: 1px 2px 5px black;
    z-index: 999;
}

.sign_lump span {
    top: -80px;
    position: relative;
    color: white;
    display: block;
    width: 900px;
    height: 60px;
    margin: 0px auto;
    font-size: 40px;
    text-align: right;
    line-height: 60px;
}

.sign_lump i {
    font-style: normal;
    position: relative;
    display: block;
    margin: 0px auto;
    margin-top: 25px;
    width: 260px;
    height: 50px;
    border-radius: 50px;
    line-height: 50px;
    background: #0074a8;
}

.sign_lump span b {
    cursor: pointer;
}






