<div class="fc-rc-aliAndBankTransfer-View">
  <div class="fc-rc-recharge-leftBar inline-block">
    <div class="fc-rc-aliAndBankTransfer-Title">
      <div class="inline-block title-left">*</div>
      <div class="inline-block title-right">
        充值申请已提交成功，请严格按以下收款账号及信息在<span class="text-account-cut">30分钟</span>内完成支付。
      </div>
    </div>
    <div class="rc-aliAndBankTransfer-info">
      <li>
        <div class="inline-block info-name">收款银行</div>
        <div class="inline-block jc-rc-info-bank info-value"></div>
      </li>
      <li>
        <div class="inline-block info-name">开户行地址</div>
        <div class="inline-block jc-rc-info-bankAddress info-value"></div>
      </li>
      <li>
        <div class="inline-block info-name">收款户名</div>
        <div class="inline-block jc-rc-info-name info-value"></div>
        <a class="inline-block jc-rc-info-copy info-copy btn">复制</a>
      </li>
      <li>
        <div class="inline-block info-name">收款账号</div>
        <div class="inline-block jc-rc-info-cardNo info-value"></div>
        <a class="inline-block jc-rc-info-copy info-copy btn">复制</a>
      </li>
      <li>
        <div class="inline-block info-name">充值金额</div>
        <div class="inline-block jc-rc-info-amount info-value"></div>
        <a type="text" class="inline-block jc-rc-info-copy info-copy btn">复制</a>
      </li>
      <li>
        <div class="inline-block info-name">附言</div>
        <div class="inline-block jc-rc-info-keyword info-value">Ad1345</div>
        <a type="text" class="inline-block jc-rc-info-copy info-copy btn">复制</a>
      </li>
    </div>
    <div class="rc-aliAndBankTransfer-tips ">
      <div class="inline-block title-left"><div class="title-left-control">*</div></div>
      <div class="inline-block title-right text-account-cut">
        转账时请务必提携附言且汇款金额需与平台填写金额保持一致，否则影响到账
      </div>
    </div>
    <div class="rc-aliAndBankTransfer-submit">
      <button type="button" class="js-fc-re-gotoAliPay btn btn-fc-recharge-submit">去支付宝转账</button>
    </div>
    <div class="fc-rc-aliAndBankView-title">
      <!--<span class="title-left"></span>-->
      <span class="js-fc-rc-pre title-right"><< 重新选择支付方式</span>
    </div>
  </div>
  <div class="inline-block fc-rc-recharge-rightBar">
    <div class="fc-rc-rightBar-tips">
      <span class="inline-block fc-rc-rightBar-tips-img sfa sfa-icon-tips m-right-sm"></span>
      <span class="inline-block fc-rc-rightBar-tips-title">温馨提示：</span>
      <span class="js-rc-confirm-tips-content fc-rc-rightBar-tips-content"></span>
    </div>
    <div class="jc-rc-rightBar-activity fc-rc-rightBar-activity">
      <span class="inline-block fc-rc-rightBar-ac-img m-right-sm sfa sfa-icon-activity"></span>
      <span class="inline-block fc-rc-rightBar-ac-title">优惠活动：</span>
      <div class="jc-rc-confirm-activity"></div>

    </div>
  </div>
</div>
