<div class="fc-rc-container">
  <div class="jc-fc-rc-maskCon fc-rc-maskCon">
    <div id="view1" class="jc-fc-rc-view fc-rc-view">
      <form class="inline-block jc-rc-recharge-form" action="/fund/recharge/dopaymentrecharge" method="post"
            target="_blank">
        <div class="inline-block fc-rc-recharge-leftBar">
          <div class="js-select-type-down fc-rc-leftBar-payType-select">
            <div class="js-fc-rc-payType-select  fc-rc-payment-select">
              <div class="js-fc-rc-payType-selected fc-rc-payType-selected">
              </div>
              <div class="js-fc-rc-payType-items fc-rc-payType-items">
              </div>
            </div>
          </div>
          <div class="jc-rc-leftBar-subType-area fc-rc-leftBar-subType-area">
            <div class="js-fc-re-bankList-select  fc-rc-bank-select hidden">
              <div class="js-fc-rc-bank-selected fc-rc-bank-selected">
              </div>
              <div class="js-fc-rc-bank-items fc-rc-bank-items">
              </div>
            </div>
            <div class="jc-rc-leftBar-aliPay-select fc-rc-leftBar-aliPay-select hidden">
              <span class="js-rc-aliPay-Title rc-icon">存款人姓名</span>
              <input class="js-rc-aliPay-name fc-rc-input fc-rc-aliPay-input" autocomplete="off" name="name">
              <div class="js-rc-aliPay-name-text text-account-cut">·请与实际付款账户姓名保持一致，否则会影响到账</div>
            </div>
          </div>
          <div class="jc-rc-leftBar-bottom-area fc-rc-leftBar-bottom-area">
            <div class="fc-rc-leftBar-payMoney-Input">
              <span class="js-rc-money-Title rc-icon">充值金额</span>
              <input class="js-rc-money-input fc-rc-input fc-rc-amount-input " required data-parsley-type="integer"
                     data-parsley-max-message="您申请的金额超出可提现金额" autocomplete="off" name="amount">
              <span class="fc-rc-money-yuan rc-icon">元</span>
            </div>
            <div class="js-rc-leftBar-quickPay-select fc-rc-leftBar-quickPay-select">
            </div>
            <div class="js-rc-leftBar-payMoney-fee fc-rc-leftBar-payMoney-fee">
              <li>
                <span class="inline-block payMoney-fee-name">手续费：</span>
                <span class="inline-block js-payMoney-feeLimit-value payMoney-fee-value text-account-cut"></span>
              </li>
              <li>
                <span class="inline-block payMoney-fee-name">到账金额：</span>
                <span class="inline-block js-payMoney-feeAccount-value text-account-cut"></span>
              </li>
            </div>
            <div class="fc-rc-leftBar-submit">
              <button type="button" class="js-rc-next-step btn btn-fc-submit">确定</button>
            </div>
          </div>
        </div>
        <input type="hidden" name="token" value="<%=Global.memoryCache.get('acctInfo').token %>">
        <input type="hidden" name="paymentType">
        <input type="hidden" name="paymentId">
        <input type="hidden" name="bankId">
        <input type="hidden" name="bankCode">
        <input type="hidden" name="device" value="0">
      </form>

      <div class="inline-block fc-rc-recharge-rightBar">
        <div class="fc-rc-rightBar-tips">
          <span class="inline-block fc-rc-rightBar-tips-img sfa sfa-icon-tips m-right-sm"></span>
          <span class="inline-block fc-rc-rightBar-tips-title">温馨提示：</span>
          <span class="js-rc-tips-content fc-rc-rightBar-tips-content"></span>
        </div>
        <div class="jc-rc-rightBar-activity fc-rc-rightBar-activity">
          <span class="inline-block fc-rc-rightBar-ac-img m-right-sm sfa sfa-icon-activity"></span>
          <span class="inline-block fc-rc-rightBar-ac-title">优惠活动：</span>
          <div class="jc-rc-activity"></div>

        </div>
      </div>
    </div>
    <div id="view2" class="jc-fc-rc-view fc-rc-view">
      <div class="jc-rc-confirm-view fc-rc-confirm-view ">
      </div>
    </div>
  </div>
</div>
