<div class="fc-rc-recharge-confirmView">
  <div class="fc-rc-confirmView-title">
    <span class="title-left"><<</span>
    <span class="js-fc-rc-pre title-right">重新选择支付方式</span>
  </div>
  <div class="fc-rc-confirmView-confirm-img"></div>
  <div class="fc-rc-confirmView-confirm-Tips">充值申请已提交成功，请在<span class="text-account-cut">30分钟</span>内完成支付！</div>
  <div class="fc-rc-confirmView-confirm-info">
    <div class="rc-confirm-info-type">
      <span class="confirm-info-name">充值方式：</span><span class="js-rc-info-name confirm-info-value"></span></div>
    <div class="js-rc-confirm-info-bankName rc-confirm-info-bankName">
      </div>
    <div class="rc-confirm-info-amount">
      <span class="confirm-info-name">充值金额：</span><span class="js-rc-info-amount confirm-info-value"></span>
    </div>
  </div>
  <div class="fc-rc-confirmView-confirm">
    <button type="text" class="js-fc-rc-recharge-submit  fc-rc-recharge-submit btn btn-fc-submit">去支付</button>
  </div>
  <div class="fc-rc-confirmView-confirm-transferPage">
    点击“去支付”后在重新打开的页面完成支付，当您完成支付请耐心等待几分钟，进入<a class="js-rc-recharge-to-record rc-recharge-to-record text-account-cut">“个人中心>充提记录”</a>可查看充值到账情况
  </div>
</div>
