<div class="js-userLoss-dialog userLoss-dialog">

  <div class="js-userLoss-content userLoss-content">
    <div class="userLoss-redBaoClose">
      <div class="js-userLoss-money-div userLoss-money-div">
        <span class="js-userLoss-money"></span><span>元</span>
      </div>
      <div class="userLoss-openRedBao-text">
        <span>我们已经等您很久了<br/>恭喜您获得<br/>老玩家回归红包</span>
        <img class="js-userLoss-openRedBao-btn userLoss-openRedBao-btn" src="images/openRedBaoBtn.gif">
        <img class="js-userLoss-gotoPlay-btn userLoss-gotoPlay-btn" src="images/gotoPlay.gif">
      </div>
    </div>
  </div>

</div>