<div class="bc-records-tabs-list">
  <!--<a href="javascript:void(0)" class="js-bc-records-tab btn btn-opacity active" data-type="draw">最近开奖记录</a>-->
  <a href="javascript:void(0);" class="js-bc-records-tab font-md font-bold bc-records-tab active" data-type="betting">我的投注</a>
  <a href="javascript:void(0)" class="js-bc-records-tab font-md font-bold bc-records-tab" data-type="chase">我的追号</a>
</div>
<div class="bc-records-tables">
  <div class="js-bc-betting-records"></div>
  <div class="js-bc-draw-records hidden"></div>
</div>
<div class="text-center font-sm m-top-sm">
  <a href="#gc/tr" class="router js-bc-look-more bc-look-more btn btn-link text-auxiliary">更多记录>></a>
</div>
