@charset "UTF-8";

@import
"~base/styles/imports";

.activity {
  padding-top: 42px;

  .activity-item {
    width: 880px;
    height: 221px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);

    &.active {
      .activity-time {
        color: $color-pleasant;
      }
    }
    &.ended {
      .activity-status {
        background-color: #9d9c9b;
      }
    }
  }

  .activity-item-inner {
    padding: 10px;
  }

  .activity-pic {
    float: left;
    margin-right: 14px;
    img {
      height: 200px;
      width: 400px;
    }
  }
  .activity-main {
    overflow: hidden;
    .activity-title {
      font-size: 24px;
      font-weight: bold;
      color: #19b4c3;
      height: 24px;
      line-height: 24px;
      margin-bottom: 18px;
      margin-top: 3px;
      padding-bottom: 10px;
      border-bottom: 1px dashed #666666;
    }

    .activity-brief {
      color: $new-black-color;
      font-size: 12px;
      line-height: 20px;
      height: 40px;
      margin-bottom: 12px;
    }
    .activity-time {
      font-size: 1rem;
      color: $new-black-color;
      margin-bottom: 2rem;
      height: 20px;
    }
    .activity-status {
      display: inline-block;
      font-weight: bold;
      width: 177px;
      height: 48px;
      line-height: 48px;
      text-align: center;
      font-size: 18px;
      background-color: #fcaa4a;
    }
  }
}

.activity-bg {
  background: url(./activity-bg.png);
  background-size: contain;
}

