@charset "UTF-8";

@import
"~base/styles/imports";
.ac-dm{
  min-height: 740px;
  padding-bottom: 40px;
}
.low-level-head{
  width: 100%;
  height: 40px;
  border-bottom: 1px solid $def-gray-color;
  padding-left: 20px;
}
.low-search-btn{
  width: 59px;
  height: 25px;
  background-color: $new-main-deep-color;
  border-radius: 3px;
}
.ac-dm-lg-grid{
  .portlet .portlet-body{
    padding: 0;
  }
}
