<div class="suggest-title">
  推荐使用浏览器
  <div class="line-left"></div>
  <div class="line-right"></div>
</div>
<div class="suggest-explore">
  <div class="explore">
    <div class='icon'>
      <a href="http://w.x.baidu.com/alading/anquan_soft_down_ub/14744" target='_blank'>
        <img src="./images/chrome.png" alt="chrome下载">
      </a>
    </div>
    <div class='text'>
      <p>谷歌浏览器</p>
      <p>版本: 60.0.3</p>
    </div>
  </div>
  <div class="explore">
    <div class='icon'>
      <a href="http://down.360safe.com/cse/360cse_9.0.1.140.exe" target='_blank'>
        <img src="./images/three-hundred-sixty.png" alt="360下载">
      </a>
    </div>
    <div class='text'>
      <p>360 极速浏览器</p>
      <p>版本: 9.0.1</p>
    </div>
  </div>
  <div class="explore">
    <div class='icon'>
      <a href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie" target='_blank'>
        <img src="./images/ie.png" alt="IE下载">
      </a>
    </div>
    <div class='text'>
      <p>IE浏览器</p>
      <p>版本: 11.0</p>
    </div>
  </div>
</div>
<div class="login-footer">
  <div class="footer-content"></div>
</div>
