@charset "UTF-8";

@import "~base/styles/imports";

@mixin cd-betDetail-close {
  top: 25px;
  right: 30px;
  font-size: 40px;
  width: 25px;
  height: 25px;
}

.fc-gr-detail {
  .popover .popover-content {
    background-color: $def-white-color;
  }
  .fc-td-record-status {
    position: absolute;
    z-index: 99;
    width: 15px;
    height: 15px;
    line-height: 15px;
    top: 11px;
    left: 10px;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 3px;
    background: $prominent-red-color;
    color: $def-white-color;
    font-size: 10px !important;
    padding: 0px;
  }
  .table th, .table td {
    padding: 8px 3px;
    position: relative;
  }
}

.fc-gr-bet-detail {
  width: 472px;
  height: 590px;
  //background-image: url("../../../../base/images/fund/dailog-betting-detail.png");
  background: url(~base/images/dailog-betting-detail.png) no-repeat;
  padding: 14px 27px;
  .fc-gr-bet-detail-title {
    text-align: center;
    height: 141px;
    padding: 0px 10px;
    .fc-gr-close {
      margin-right: 10px;
      margin-top: 10px;
    }
    .fc-gr-bet-type {
      margin: 25px auto;
      font-size: 14px;
      color: $def-black-color;
      .fc-gr-bet-type-no {
        color: $prominent-color;
        margin: 0 3px;
      }
    }
    .fc-gr-bet-num {
      height: 50px;
      display: flex;
      justify-content: center;
      li {
        list-style: none;
        display: inline-block;
        width: 40px;
        height: 40px;
        line-height: 40px;

        border-radius: 50px;
        font-size: 22px;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        color: $def-white-color;
        margin: 5px;
        position: relative;
        .gr-bet-num-shadow {
          display: block;
          margin-left: 7px;
          box-shadow: 1px 0px 25px #cccccc;
          width: 27px;
          height: 12px;
          -moz-border-radius: 100px / 19px;
          -webkit-border-radius: 100px / 19px;
          border-radius: 100px / 19px;
        }
        &.sm-ball {
          width: 33px;
          height: 33px;
          font-size: 18px;
          line-height: 33px;
          &:after {
            top: 40px;
            left: 8px;
          }
        }
        &:after {
          content: '';
          width: 18px;
          height: 4px;
          border-radius: 50%;
          background: rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 20px rgba(0, 0, 0, 1);
          position: absolute;
          top: 45px;
          left: 11px;
          transform: rotateX(65deg);
        }
        &.style {
          background: $new-main-deep-color;
        }
        &.mark6 {
          margin-top: -10px;
          .gr-bet-sx {
            color: #333333;
            font-size: 14px;
            margin-top: 10px;
          }
        }
        &.green {
          background: #8dc782;
        }
        &.blue {
          background: #4785b0;
        }
        &.red {
          background: #e06d69;
        }
      }
      .add {
        display: inline-block;
        font-size: 24px;
        position: relative;
        vertical-align: top;
        color: #666;
        width: 40px;
        margin-top: -5px;
      }
    }
    .cd-betDetail-close {
      @include cd-betDetail-close;
    }
  }
  .fc-gr-bet-detail-container {
    height: 444px;
    margin-top: 4px;
    .gr-bet-detail-item {
      height: 36px;
      line-height: 10px;
      border-bottom: 1px dotted #cccccc;

      .gr-bet-detail-name {
        width: 80px;
        color: $def-black-color;
        text-align: right;
      }
      .gr-bet-detail-value {
        color: $new-inverse-color;
        padding: 13px 15px;
        overflow-y:  auto;
        overflow-x: hidden;
      }

    }
    .item-content {
      height: 75px !important;
      .gr-bet-detail-name {
        float: left;
        margin-top: 13px;
      }
      .gr-bet-content-container {
        width: 382px;
        word-wrap: break-word;
        height: 73px;
        overflow: auto;
        .gr-bet-detail-value {
          width: 345px;
          //height: 80px;
          padding-top: 7px;
          line-height: 22px;
          overflow-y:  auto;
          overflow-x: hidden;
        }
      }
    }
  }
  .gr-submit-container {
    margin-top: 20px;
    text-align: center;
    .btn-bet-detail {
      width: 130px;
      height: 35px;
      color: $def-white-color;
      background: $new-main-deep-color;
    }
  }
}
.fc-gr-chase-detail{
  background: url(~base/images/dailog-chase-detail.png) no-repeat;
}
.fc-cd-chase-detail-form {
  width: 760px;
  height: 540px;
  //background-image: url(~base/images/dailog-betting-detail.png);
  padding: 14px 45px;
  .fc-cd-chase-detail-title {
    height: 151px;
    padding: 15px 0px 5px 15px;
    color: $def-black-color;
    .betDetail-close{
      margin-top: 10px;
      margin-right: 10px;
    }
    .jc-cd-chase-status {
      background-color: $new-main-deep-color;
      color: $def-white-color;
      width: 42px;
      height: 20px;
      border-radius: 6px;
      text-align: center;
    }
    .fc-cd-total-container {
      margin: 15px 0px;
      .table-bordered {
        border: 1px solid $def-gray-color;
        tr {
          width: 190px;
          height: 75px;
          td {
            border: 1px solid #cccccc;
            text-align: left;
          }
        }
      }
      .total-name {
        padding-left: 25px;
        color: $new-inverse-color;
      }
      .total-value {
        padding-left: 25px;
      }
    }
    .fc-cd-bet-num {
      margin-top: -7px;
      li {
        list-style: none;
        margin-right: 40px;
        display: inline-block;
      }
    }
    .cd-betDetail-close {
      @include cd-betDetail-close;
    }
  }
  .fc-cd-chase-detail-container {
    height: 270px;
    .fc-cd-chase-chose-container {
      margin: 18px 0;
      .cd-bet-select {
        width: 80px;
        height: 22px;
        color: $new-inverse-color;
        background-color: transparent;
        border: 0;
        border-radius: 15px;
        &.active, &:hover {
          color: $def-white-color;
          background-color: $new-main-deep-color;
          border-radius: 15px;
        }
        .content-word {
          margin-top: 3px;
        }
      }
    }
    .fc-cd-chase-content-container {
      padding: 20px;
      li {
        list-style: none;
        color: $new-inverse-color;
        margin: 10px;
      }
      .content-name {
        width: 80px;
      }
      .content-value-container {
        width: 598px;
        word-wrap: break-word;
        height: 70px;
        overflow: auto;
        float: right;
        .content-value {
          width: 590px;
          //height: 100px;
          padding-top: 7px;
          line-height: 21px;
          margin-top: -7px;
        }
      }
    }
    .js-cd-no-container {
      padding-top: -2px;
      .table thead th {
        backgroud-color: $def-white-color;
      }
      .table-bordered colgroup + thead tr:first-child th {
        border-bottom: 1px solid $def-gray-color;
        background: transparent;
      }
      .table {
        background-color: transparent !important;
      }
      .slimScrollDiv {
        height: 180px !important;
        .table tbody td {
          background: transparent !important;
        }

        .table th, .table td {
          padding: 6px 3px;
        }
        tbody td:first-child {
          border-bottom: 0;
        }
        tbody td:last-child {
          border-bottom: 0;
        }

      }
      .js-wt-body-main {
        height: 181px !important;
      }
    }
  }
  .gr-submit-container {
    margin-top: 20px;
    text-align: center;
  }
  .btn-link-red {
    color: $prominent-red-color;
    background: $def-white-color;
    border: 0
  }
}
.btn-link-betRecord{
  font-size: 12px;
  color: #666666;
}
