<div class="alert as-fund-pwd-head">
  <!--<i class="fa fa-exclamation-circle font-md"></i>-->
  <span class="text-bold-dark">温馨提示：</span>请在下面重新设置您的登录密码并妥善保管！
</div>
<form action="javascript:void(0);" class="js-ac-changeLoginPassword-form ac-changeLoginPassword-form form-horizontal">
  <div class="control-group input-div">
    <label class="control-label" for="oldLoginPassword">当前密码：</label>

    <div class="controls">
      <input type="password" class="input1" id="oldLoginPassword" placeholder="" data-parsley-length="[6, 20]" >
    </div>
  </div>
  <div class="control-group input-div">
    <label class="control-label">新密码：</label>

    <div class="controls">
      <input type="password" class="input1" id="newLoginPassword" data-parsley-length="[6, 20]" data-parsley-notEqualTo="oldLoginPassword" data-parsley-notEqualTo-message="新旧密码不能一致" >
      <span class="help-inline text-inverse">&nbsp;&nbsp;6-20位字符组成（不含空格），区分大小写，不能是9位以下的纯数字</span>
    </div>
  </div>
  <div class="control-group input-div">
    <label class="control-label">确认新密码：</label>

    <div class="controls">
      <input type="password" class="input1"  id="newLoginPassword1" data-parsley-length="[6, 20]" data-parsley-equalto="#newLoginPassword" >
      <span class="help-inline text-inverse">&nbsp;&nbsp;再次输入密码</span>
    </div>
  </div>
  <div class="control-group">
    <div class="controls control-confirm">
      <button type="submit" class="btn js-changeLoginPassword-submit" data-loading-text="保存中">确定</button>
    </div>
  </div>
</form>
