<div class="alert as-fund-pwd-head">
  <!--<i class="fa fa-exclamation-circle font-md"></i>-->
  <span class="text-bold-dark">温馨提示：</span>请在下面重新设置您的资金密码并妥善保管！
</div>
<form action="javascript:void(0);" class="js-ac-setFundPassword-form ac-setFundPassword-form form-horizontal">
  <!--<div class="js-ac-noFundPasswordNoticeBar alert">-->
    <!--<strong>提示：</strong>您还未设置资金密码，请在下面设置 。-->
  <!--</div>-->
  <div class="js-ac-oldFundPwdContainer control-group input-div">
    <label class="control-label">当前密码：</label>

    <div class="controls">
      <input type="password" class="input1"  id="oldFundPassword" data-parsley-length="[6, 20]">
    </div>
  </div>
  <div class="control-group input-div">
    <label class="control-label">新密码：</label>

    <div class="controls">
      <input type="password" class="input1"  id="newUpdateFundPassword" data-parsley-length="[6, 20]"
             data-parsley-notEqualTo="oldFundPassword" data-parsley-notEqualTo-message="新旧密码不能一致">
      <span class="help-inline text-inverse">&nbsp;&nbsp;6-20位字符组成（不含空格），区分大小写，不能是9位以下的纯数字</span>
    </div>
  </div>
  <div class="control-group input-div">
    <label class="control-label">确认新密码：</label>

    <div class="controls">
      <input type="password" class="input1"  id="newUpdateFundPassword1" data-parsley-length="[6, 20]"
             data-parsley-equalto="#newUpdateFundPassword">
      <span class="help-inline text-inverse">&nbsp;&nbsp;再次输入密码</span>
    </div>
  </div>
  <div class="control-group">
    <div class="controls control-confirm">
      <button type="submit" class="btn js-ac-setFundPassword-submit" data-loading-text="保存中">确定</button>
    </div>
  </div>
</form>
