@charset "UTF-8";

@import '../misc/variable';
@import '../misc/mixin';

[class*="col-"] {
  background: transparent !important;
}

.sp-banner {
  @include border-box();
  background: black;
  width: 100%;
  height: 848px;

  .sp-bg {
    @include banner-background('./images/sp-bg.png');
    width: 100%;
    height: 848px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  .iframe-container {
    @include center-container(1020px);
    background: white;
    height: 826px;
    transform: translateY(10px);
    z-index: 1;
  }
}
