*{margin: 0;padding: 0}
body{
  background-color: transparent;
  color: #000000;
}

.package-main{
  height: 100%;
  >div{
    height: 100%;
  }
}

.main{
  height: 100%;
  min-width: 1366px;
  overflow-x: hidden;
  overflow-y: hidden;

  .next, .prev {
    width: 31px;
    height: 53px;
    position: absolute;
    z-index: 2;
    cursor: pointer;
  }
  .next {
    background: url('./image/next.png');
    right: 15%;
    top: 50%;
  }

  .prev {
    background: url('./image/prev.png');
    left: 15%;
    top: 50%;
  }

  .dialog-mask {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 40;
    background: rgba(0, 0, 0, .3);

    .dialog-container {
      width: 445px;
      height: 300px;
      position: absolute;
      border-radius: 10px;
      overflow: hidden;
      background: white;
      top: 50%;
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: 0;
      transform: translateY(-50%);
    }

    .dialog-header {
      background: #01cdd4;
      position: relative;
      height: 40px;
      width: 100%;

      .dialog-title {
        color: white;
        font-size: 16px;
        font-weight: bold;
        width: 100%;
        text-align: center;
        line-height: 40px;
      }

      .dialog-close {
        width: 22px;
        height: 22px;
        position: absolute;
        top: 9px;
        right: 10px;
        background: url('./image/dialog-close.png');
        cursor: pointer;
      }
    }

    .dialog-content {
      padding: 20px;

      .dialog-form {
        margin-top: 20px;
      }
      label, input {
        display: inline-block;
      }

      .warning {
        color: #f87120;
        font-size: 12px;
        position: absolute;
        left: 126px;
        margin-top: 2px;
      }

      .form-group {
        margin-bottom: 15px;
        text-align: center;
        margin-left: -30px;
      }

      label {
        font-size: 14px;
        color: #333;
        margin-right: 3px;
      }

      input {
        background: #f5f5f5;
        border: 1px solid #dfdfdf;
        border-radius: 5px;
        padding: 5px 15px;
        box-sizing: border-box;
        width: 200px;
        height: 40px;
        line-height: 40px;
        color: #333;
        font-size: 16px;
      }

      button {
        width: 160px;
        height: 45px;

        border-radius: 5px;
        line-height: 43px;
        text-align: center;
        color: white;
        margin-top: 15px;
        font-size: 16px;
        display: block;
        outline: none;
        margin: 35px auto 0;
      }

      .password-start {
        border: 1px solid #00b4b8;
        background: linear-gradient(to bottom, #24d5db, #0fbec3);
        &:active {
          background: linear-gradient(to bottom, #0fbec3, #24d5db);
        }
      }

      .password-submit {
        border: 1px solid #12a175;
        background: linear-gradient(to bottom, #26ce9a, #06b37d);
        &:active {
          background: linear-gradient(to bottom, #06b37d, #26ce9a);
        }
      }

    }
  }

  .bg-content{
    min-height: 760px;
    width: 100%;
    background: url('./image/bg-content.png');
    background-size: cover;
    height: 100%;
    position: relative;
    bottom: 140px;
    .h5-action {
      width: 355px;
      height: 175px;
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      margin: 0 auto;
      transform: translate(226px, -70px);

      .h5-qr-code {
        width: 115px;
        height: 115px;
        background-size: contain;
        &.h5-qr-code-1 {
          background-image: url('./image/h5-qr-code-1.png');
        }

        &.h5-qr-code-2 {
          background-image: url('./image/h5-qr-code-2.png');
        }

        &.h5-qr-code-3 {
          background-image: url('./image/h5-qr-code-3.png');
        }

        &.h5-qr-code-4 {
          background-image: url('./image/h5-qr-code-4.png');
        }

        &.h5-qr-code-5 {
          background-image: url('./image/h5-qr-code-5.png');
        }

        &.h5-qr-code-6 {
          background-image: url('./image/h5-qr-code-6.png');
        }
      }

      .h5-link {
        color: #f96711;
        font-size: 16px;
        display: inline-block;
        line-height: 31px;
        height: 33px;
        width: 265px;
        margin: 15px 5px 0 0;
        background: white;
        border: 1px solid #d2d2d2;
      }

      .h5-link-btn {
        width: 70px;
        height: 33px;
        border: 1px solid #00c689;
        border-radius: 2px;
        background: #01ac77;
        color: white;
        font-size: 16px;
        display: inline-block;
        line-height: 31px;
        cursor: pointer;
      }
    }

    .ag-dialog-btn, .ebet-dialog-btn, .gg-dialog-btn {
      color: #f98c4b;
      font-size: 15px;
      text-decoration: underline;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      margin: 0 auto;
      transform: translate(130px, 25px);
      cursor: pointer;
    }

    .ebet-dialog-btn {
      transform: translate(138px, 5px);
    }
    .download-btn{
      width: 210px;
      height:50px;
      background: url('./image/download-btn.png');
      color: #fff;
      line-height: 50px;
      text-align: center;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      margin: 0 auto;
      transform: translate(175px, -70px);

      &:active, &:hover {
        background: url('./image/download-btn-active.png');
      }
    }
    .content-item {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      margin-top: 70px;
    }

    .content-1 {
      background: url('./image/content-1.png');
      width: 1920px;
      height: 622px;
      margin-top: 43px;
    }

    .content-2 {
      background: url('./image/content-2.png');
      width: 1920px;
      height: 671px;
    }

    .content-3 {
      background: url('./image/content-3.png');
      width: 1920px;
      height: 575px;
      margin-top: 23px;
    }

    .content-4 {
      background: url('./image/content-4.png');
      width: 1920px;
      height: 593px;
      margin-top:32px;
    }

    .content-5 {
      background: url('./image/content-5.png');
      width: 1920px;
      height: 580px;
      margin-top: 26px;
    }

    .content-6 {
      background: url('./image/content-6.png');
      width: 1920px;
      height: 603px;
      margin-top: 36px;
    }

    .content-7 {
      background: url('./image/content-7.png');
      width: 1920px;
      height: 578px;
      margin-top: 25px;
    }

    .content-8 {
      background: url('./image/content-8.png');
      width: 1920px;
      height: 582px;
      margin-top: 25px;
    }

    .content-9 {
      background: url('./image/content-9.png');
      width: 1920px;
      height: 591px;
      margin-top: 30px;
    }

    .bg-ctrl{
      height: 100%;
      width: 900%;
    }

    .bg{
      width: 11.111111%;
      height: 100%;
      float: left;
      position: relative;
      text-align: center;
    }
  }

  .bg-btn-content{
    position: absolute;
    bottom: 110px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 1210px;

    .bg-btn{
      width: 130px;
      height: 5px;
      background-color: transparent;
      float: left;
      cursor: pointer;

      .title {
        color: #888;
        text-align: center;
        margin-top: 5px;
        font-size: 14px;
      }
      .icon {
        width: 68px;
        height: 68px;
        margin: 0 auto;
      }

      &:nth-child(1) .icon {
        background: url('./image/ticket.png');
        &:nth-child(2) {
          background: url('./image/ticket-active.png');
          display: none;
        }
      }
      &:nth-child(2) .icon {
        background: url('./image/h5.png');
        &:nth-child(2) {
          background: url('./image/h5-active.png');
          display: none;
        }
      }
      &:nth-child(3) .icon {
        background: url('./image/pc.png');
        &:nth-child(2) {
          background: url('./image/pc-active.png');
          display: none;
        }
      }
      &:nth-child(4) .icon {
        background: url('./image/logger.png');
        &:nth-child(2) {
          background: url('./image/logger-active.png');
          display: none;
        }
      }
      &:nth-child(5) .icon {
        background: url('./image/ag-real.png');
        &:nth-child(2) {
          background: url('./image/ag-real-active.png');
          display: none;
        }
      }
      &:nth-child(6) .icon {
        background: url('./image/ebet-real.png');
        &:nth-child(2) {
          background: url('./image/ebet-real-active.png');
          display: none;
        }
      }
      &:nth-child(7) .icon {
        background: url('./image/ag-fish.png');
        &:nth-child(2) {
          background: url('./image/ag-fish-active.png');
          display: none;
        }
      }
      &:nth-child(8) .icon {
        background: url('./image/gg-fish.png');
        &:nth-child(2) {
          background: url('./image/gg-fish-active.png');
          display: none;
        }
      }
      &:nth-child(9) .icon {
        width: 140px;
        height: 140px;
        background: url('./image/ios.png');
        transform: translateY(-25px);
      }

      &.active {
        .title {
          color: #2b2b2b;
        }
        &:nth-child(1) .icon {
          &:nth-child(2) {
            background: url('./image/ticket-active.png');
            display: block
          }
          &:nth-child(1) {
            background: url('./image/ticket.png');
            display: none;
          }
        }
        &:nth-child(2) .icon {
          &:nth-child(2) {
            background: url('./image/h5-active.png');
            display: block
          }
          &:nth-child(1) {
            background: url('./image/h5.png');
            display: none;
          }
        }
        &:nth-child(3) .icon {
          &:nth-child(2) {
            background: url('./image/pc-active.png');
            display: block
          }
          &:nth-child(1) {
            background: url('./image/pc.png');
            display: none;
          }
        }
        &:nth-child(4) .icon {
          &:nth-child(2) {
            background: url('./image/logger-active.png');
            display: block
          }
          &:nth-child(1) {
            background: url('./image/logger.png');
            display: none;
          }
        }
        &:nth-child(5) .icon {
          &:nth-child(2) {
            background: url('./image/ag-real-active.png');
            display: block
          }
          &:nth-child(1) {
            background: url('./image/ag-real.png');
            display: none;
          }
        }
        &:nth-child(6) .icon {
          &:nth-child(2) {
            background: url('./image/ebet-real-active.png');
            display: block
          }
          &:nth-child(1) {
            background: url('./image/ebet-real.png');
            display: none;
          }
        }
        &:nth-child(7) .icon {
          &:nth-child(2) {
            background: url('./image/ag-fish-active.png');
            display: block
          }
          &:nth-child(1) {
            background: url('./image/ag-fish.png');
            display: none;
          }
        }
        &:nth-child(8) .icon {
          &:nth-child(2) {
            background: url('./image/gg-fish-active.png');
            display: block
          }
          &:nth-child(1) {
            background: url('./image/gg-fish.png');
            display: none;
          }
        }
      }
    }
    .bg-btn:last-child{
      margin-right: 0px;
    }
    .bg-btn.active{
      background-color: transparent;
      height: 5px;
      width: 130px;
    }
  }
}

.footer{
  position: absolute;
  bottom: 0;
  height: 140px !important;
  background-color: #fff;
  width: 100%;
  display: block !important;
  text-align: center;
  z-index: 30;
  min-width: 100vw;
}

