* {
    margin: 0px;
    padding: 0px;
}

body {
    background: url("../pics/bg.jpg") no-repeat top center;
}

.title {
    position: relative;
    width: 837px;
    height: 206px;
    margin: 0px auto;
    margin-top: 20px;
}

/*.title img {*/
/*display: block;*/
/*width: 700px;*/
/*height: 172px;*/
/*margin: 0px auto;*/
/*}*/

.time {
    width: 294px;
    height: 27px;
    margin: 0px auto;
    margin-top: 10px;
}

.bobble{
    background: url("../pics/bobble.gif") no-repeat;
    position: relative;
    left: 630px;
    top: -20px;
    width: 56px;
    height: 53px;
}

.touch {
    width: 166px;
    height: 38px;
    margin: 0px auto;
    margin-top: 400px;
}

.footer_pic {
    display: none;
    background: url("../pics/footer_pic.png");
    margin: 0px auto;
    margin-top: 320px;
    width: 110px;
    height: 141px;
}

.touch_info {
    display: none;
    background: url("../pics/submit_info.png");
    margin: 0px auto;
    margin-top: 10px;
    width: 318px;
    height: 71px;
}

.leaf_left_bg_1{
    background-image:url(../pages/1.jpg)
}

.leaf_left_bg_2{
    background-image:url(../pages/2.jpg)
}
.leaf_left_bg_3{
    background-image:url(../pages/3.jpg)
}
.leaf_left_bg_4{
    background-image:url(../pages/4.jpg)
}
.leaf_left_bg_5{
    background-image:url(../pages/5.jpg)
}
.leaf_left_bg_6{
    background-image:url(../pages/6.jpg)
}
.leaf_left_bg_7{
    background-image:url(../pages/7.jpg)
}
.leaf_left_bg_8{
    background-image:url(../pages/8.jpg)
}