<div class="mask_mid activity_mid ">
    <div class="main_contain" style="display: none">
        <div class="bg_lump_01">
            <div class="title_bg"></div>
            <div class="con_li">
                <div class="container">
                    <div id="lottery">
                        <img src="images/gqtz/rotary_table_1888.png" name="imgs"  width="204" height="204" class="image" style="position: absolute; left: 28px; top: 28px; width: 204px; height: 204px;" viewbox="0 0 352 30" />
                        <img src="images/gqtz/rotary_table_6888.png" name="imgs" width="204" height="204" class="image" style="position: absolute; left: 28px; top: 28px; width: 204px; height: 204px;;" viewbox="0 0 352 30" hide/>
                        <img src="images/gqtz/rotary_table_18888.png" name="imgs" width="204" height="204" class="image" style="position: absolute; left: 28px; top: 28px; width: 204px; height: 204px;" viewbox="0 0 352 30" hide/>
                        <img src="images/gqtz/rotary_table_58888.png" name="imgs" width="204" height="204" class="image" style="position: absolute;left: 28px; top: 28px; width: 204px; height: 204px;" viewbox="0 0 352 30" hide/>
                        <img src="images/gqtz/rotary_table_128888.png" name="imgs" width="204" height="204" class="image" style="position: absolute; left: 28px; top: 28px; width: 204px; height: 204px;" viewbox="0 0 352 30" hide/>
                        <div class="title_text_2"></div>
                        <div class="lot-btn first"><span></span></div>
                        <div class="arrow"></div>
                    </div>
                    <div class="status_fullscreen"></div>
                    <div class="status_get">
                        <div class="bg_lump_02">
                            <div class="icon_01"></div>
                            <div class="icon_smile_text pop_text_01">恭喜您，您抽到<span></span></div>
                            <div class="close_return" style="top: -20px; right: -25px;"><img
                                    src="images/gqtz/close_btn.png" width="47"
                                    height="47"></div>
                        </div>
                        <div class="btn_01">确定</div>
                        <div class="clear_div"></div>
                    </div>
                </div>
            </div>
            <div class="close_rotarytable"><img src="images/gqtz/close_btn.png" width="47" height="47"></div>
        </div>
    </div>
    <div class="main_contain">
        <div class="bg_lump_01">
            <div class="title_pic"></div>
            <div class="con_li">
                <div class="con_left">
                    <table>
                        <tr>
                            <td class="td_menu">投注额</td>
                            <td class="td_menu">领取</td>
                        </tr>
                        <tr>
                            <td class="js-amount-1 td_gray"></td>
                            <td class="td_gray">
                                <div class="js-btn-style-1 td_btn" style="display: none" data-index="1">去领取</div>
                                <div class="js-btn-gray-1 td_btn_gray1 " data-index="1">去领取</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="js-amount-2 td_white"></td>
                            <td class="td_white">
                                <div class="js-btn-style-2 td_btn " style="display: none" data-index="2">去领取</div>
                                <div class="js-btn-gray-2 td_btn_gray1 " data-index="2">去领取</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="js-amount-3 td_gray"></td>
                            <td class="td_gray">
                                <div class="js-btn-style-3 td_btn " style="display: none" data-index="3">去领取</div>
                                <div class="js-btn-gray-3 td_btn_gray1 " data-index="3">去领取</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="js-amount-4 td_white"></td>
                            <td class="td_white">
                                <div class="js-btn-style-4 td_btn " style="display: none" data-index="4">去领取</div>
                                <div class="js-btn-gray-4 td_btn_gray1 " data-index="4">去领取</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="js-amount-5 td_gray"></td>
                            <td class="td_gray">
                                <div class="js-btn-style-5 td_btn " style="display: none" data-index="5">去领取</div>
                                <div class="js-btn-gray-5 td_btn_gray1 " data-index="5">去领取</div>
                            </td>
                        </tr>
                       <!-- <tr>
                            <td class="td_gray">188888元</td>
                            <td class="td_gray">
                                <div class="td_btn">去领取</div>
                            </td>
                        </tr>-->
                    </table>
                </div>
                <div class="right_title"></div>
                <div class="con_right">
                    <div class="con_text">
                        <span>活动时间：</span>
                        <p><span class="js-activity-date"></span></p><br>
                        <span>活动规则：</span>
                        <p>1、每日投注达到指定额度，即可有一次抽奖机会。<br>
                            2、投注金额叠加有效，每个档次抽奖金额不同。<br>
                            3、需要在当晚24点前抽奖，否则视为自动放弃当日奖励。<br>
                            4、每天各档次限抽奖一次。<br>
                            5、无限娱乐享有活动的最终解释权。</p>
                        <div class="clear_div"></div>
                    </div>
                </div>
                <div class="clear_div"></div>
            </div>
            <div class="close_btn"><img src="images/gqtz/close_btn.png" width="47" height="47"></div>
        </div>
    </div>
    <div class="js-info1 main_contain" style="display: none">
        <div class="bg_lump_02">
            <div class="icon_02"></div>
            <div class="pop_text_01" style="margin-top: 50px;">很抱歉，当前奖金您已领取<br><br>
                每天各档次限抽奖一次。
            </div>
            <div class="close_return" style="top: -20px; right: -25px;"><img src="images/gqtz/close_btn.png" width="47"
                                                                             height="47"></div>
        </div>
        <div class="btn_01">确定</div>
    </div>
    <div class="main_contain" style="display: none">
        <div class="bg_lump_02">
            <div class="icon_03"></div>
            <div class="pop_text_01" style="margin-top: 50px;">很抱歉，您暂未达到当前投注要求<br><br>
                无法领取抽奖。
            </div>
            <div class="close_return" style="top: -20px; right: -25px;"><img src="images/gqtz/close_btn.png" width="47"
                                                                             height="47"></div>
        </div>
        <div class="btn_01">确定</div>
    </div>
    <div class="main_contain" style="display: none">
        <div class="bg_lump_02">
            <div class="icon_04"></div>
            <div class="pop_text_01">不在活动时间内。</div>
            <div class="close_return" style="top: -20px; right: -25px;"><img src="images/gqtz/close_btn.png" width="47"
                                                                             height="47"></div>
        </div>
        <div class="btn_01">确定</div>
    </div>
</div>
