@charset "UTF-8";

@import "~base/styles/imports";

.fund-operate {
  padding: 0 !important;
  .fc-rw {
    height: 680px;
    background: $prominent-dialog-body;
    .nav-tabs {
      height: 54px;
      padding: 0 200px;
      background: $new-main-deep-color;
      li {
        margin: 0 5px;
        a {
          margin-top: 17px;
          padding: 0px 18px;
          border-radius: 5px;
          color: $def-white-color;
          line-height: 37px !important;
          height: 42px;
          span {
            font-size: 18px;
          }
        }
        &.active > a {
          color: $new-main-deep-color;
          border-bottom: 0;
          background: $prominent-dialog-body;
        }
      }
    }
  }
  .fc-rc-container {
    width: 100%;
    height: 625px;
    position: relative;
    overflow: hidden;
    .fc-rc-maskCon {
      width: 5000px;
      .fc-rc-view {
        margin-top: 30px;
        width: 740px;
        height: 595px;
        float: left;
        .fc-rc-recharge-leftBar {
          .fc-rc-leftBar-payType-select {
            position: absolute;
            top: 48px;
            z-index: 10;
            .fc-rc-payment-select {
              overflow: hidden;
              width: 320px;
              height: 50px;
              background: #ffffff;
              border: 1px solid #cccccc;
              line-height: 50px;
              border-radius: 5px;
              display: inline-block;
              position: relative;
              text-align: left;
              cursor: pointer;
              transition: height 0.5s;
              padding: 0 20px;
              .fc-rc-payType-selected {
                height: 50px;
              }
              .rc-icon {
                display: inline-block;
                vertical-align: middle;
                background-size: 100% 100%;
                margin-bottom: 3px;
              }
              .rc-name {
                display: inline-block;
                margin-left: 20px;
                color: #333333;
                font-size: 14px;
              }
              .rc-desc {
                display: inline-block;
                color: #999999;
                position: absolute;
                left: 230px;
              }
              .rc-desc-more {
                display: inline-block;
                color: #999999;
                position: absolute;
                left: 230px;
              }
              .select-down {
                width: 18px;
                height: 10px;
                display: block;
                position: absolute;
                top: 20px;
                left: 315px;
                background: url("~base/images/v2/icon-select-down.png") no-repeat;
                &.up {
                  transform: rotate(180deg);
                }
              }
              &.side-down {
                border: 1px solid $new-main-deep-color;
                height: 320px;
                overflow: auto;
                .rc-desc-more {
                  display: none;
                }
              }
            }
            .fc-rc-payType-item {
              border-top: 1px solid #e6e6e6;
            }
            .fc-rc-payList {
              width: 360px;
              height: 55px;
              box-sizing: border-box;
              float: left;
              margin-left: 15px;
              margin-top: 11px;
              line-height: 28px;
              cursor: pointer;
              &.active, &:hover {
                border: 2px solid #17c0c8;
              }
            }

          }
          .fc-rc-leftBar-subType-area {
            position: absolute;
            top: 125px;
            height: 95px;
            z-index: 8;
            .fc-rc-bank-select {
              margin-top: 3px;
              width: 360px;
              height: 50px;
              background: #ffffff;
              border: 1px solid #cccccc;
              line-height: 50px;
              border-radius: 5px;
              //display: inline-block;
              position: relative;
              text-align: left;
              cursor: pointer;
              transition: height 0.5s;
              overflow: hidden;
              .rc-icon {
                display: inline-block;
                vertical-align: middle;
                background-size: 100% 100%;
                margin-left: 10px;
                margin-bottom: 3px;
              }
              .rc-name {
                display: inline-block;
                margin-left: 10px;
                color: #333333;
                font-size: 14px;
              }
              .rc-desc {
                display: inline-block;
                color: #999999;
                position: absolute;
                left: 230px;
              }
              .rc-desc-more {
                display: inline-block;
                color: #999999;
                position: absolute;
                left: 230px;
              }
              .select-down {
                width: 18px;
                height: 10px;
                display: block;
                position: absolute;
                top: 20px;
                left: 315px;
                background: url("~base/images/v2/icon-select-down.png") no-repeat;
                &.up {
                  transform: rotate(180deg);
                }
              }
              &.side-down {
                border: 1px solid $new-main-deep-color;
                height: 320px;
                overflow: auto;
                .rc-desc-more {
                  display: none;
                }
              }
              .fc-rc-bank-item {
                border-top: 1px solid #e6e6e6;
              }
              .fc-rc-bankList {
                width: 360px;
                height: 55px;
                box-sizing: border-box;
                float: left;
                margin-left: 15px;
                margin-top: 11px;
                line-height: 28px;
                cursor: pointer;
                &.active, &:hover {
                  border: 2px solid #17c0c8;
                }
              }
            }
            .fc-rc-leftBar-aliPay-select {
              margin-top: -5px;
              .js-rc-aliPay-Title {
                font-size: 14px;
                color: #333333;
                z-index: 9;
                position: absolute;
                top: 11px;
                left: 20px;
              }
              .js-rc-aliPay-name {
                padding-left: 160px;
                width: 200px;
                font-size: 16px;
                color: #333333;
              }
            }
          }
          .fc-rc-leftBar-bottom-area {
            position: absolute;
            top: 205px;
            .no-subType {
              top: 125px !important;
            }
            .fc-rc-leftBar-payMoney-Input {
              .js-rc-money-Title {
                font-size: 14px;
                color: #333333;
                z-index: 7;
                position: absolute;
                top: 18px;
                left: 20px;
              }
              .fc-rc-amount-input {
                padding-left: 160px;
                width: 150px;
                padding-right: 50px;
                font-size: 16px;
                color: #333333;
              }
              .fc-rc-money-yuan {
                top: 18px;
                position: absolute;
                right: 20px;
                z-index: 7;
                font-size: 14px;
                color: #999999;
              }
            }
            .fc-rc-leftBar-quickPay-select {
              width: 360px;
              //height: 170px;
              li {
                cursor: pointer;
                line-height: 85px;
                list-style: none;
                font-size: 16px;
                border-bottom: 2px solid $def-gray-color;
                color: #666666;
                width: 85px;
                margin: 0 16px;
                display: inline-block;
                text-align: center;
                height: 65px;
                &.active, &:hover {
                  border-bottom: 2px solid $new-main-deep-color;
                  color: $new-main-deep-color;
                }
              }
            }
            .fc-rc-leftBar-payMoney-fee {
              margin: 42px 0 -26px;
              li {
                list-style: none;
                display: inline-block;
                margin-right: 50px;
                margin-left: 15px;
              }
            }

            .fc-rc-leftBar-submit {
              margin-top: 60px;
              .btn-fc-submit {
                width: 360px;
                height: 55px;
                background-color: $new-main-deep-color;
                color: $new-main-body-color;
                font-size: 18px;
              }
            }
          }
        }
      }
    }
    .filled {
      margin-top: 20px;
      margin-left: 18px;
    }
  }
}

.fc-rc-input {
  height: 50px;
  width: 360px;
  border-radius: 4px;
  border: 1px solid;
  border-color: $def-gray-color !important;
  &.active, &:hover, &:focus, &:active {
    border: 1px solid;
    border-color: $new-main-deep-color !important;
    outline-width: 0;
  }
}

// 快捷支付logo配置
.fc-re-quickpay {
  width: 22px;
  height: 27px;
  background-image: url('~base/images/v2/bank-quickPay.png');
}

.fc-re-union {
  width: 27px;
  height: 18px;
  background-image: url('~base/images/v2/bank-UnionPay.png');
}

.fc-re-wechat {
  width: 22px;
  height: 22px;
  background-image: url('~base/images/v2/bank-wxPay.png');
}

.fc-re-alipay {
  width: 22px;
  height: 22px;
  background-image: url('~base/images/v2/bank-aliPay-pay.png');
}

.fc-re-aliTransfer {
  width: 22px;
  height: 23px;
  background-image: url('~base/images/v2/bank-aliPay-transfer.png');
}

.fc-re-card {
  width: 22px;
  height: 23px;
  background-image: url('~base/images/v2/bank-creditCard.png');
}

.fc-re-banktransfer {
  width: 25px;
  height: 16px;
  background-image: url('~base/images/v2/bank-transferPay.png');
}

.fc-re-scancode {
  width: 22px;
  height: 23px;
  background-image: url('~base/images/v2/bank-scanCodePay.png');
}

.fc-re-qqscancode {
  width: 22px;
  height: 22px;
  background-image: url('~base/images/v2/bank-qqPay.png');
}

.fc-re-jdPay {
  width: 22px;
  height: 23px;
  background-image: url('~base/images/v2/bank-JD.png');
}

.fc-re-wxTransfer {
  width: 22px;
  height: 23px;
  background-image: url('~base/images/v2/bank-wx-transfer.png');
}

// 银行logo配置
.fc-re-zhaoshang {
  width: 46px;
  height: 27px;
  background-image: url('~base/images/v2/bank-zhaoshang.png');
}

.fc-re-gongshang {
  width: 46px;
  height: 27px;
  background-image: url('~base/images/v2/bank-gongshang.png');
}

.fc-re-jianshe {
  width: 46px;
  height: 27px;
  background-image: url('~base/images/v2/bank-jianshe.png');
}

.fc-re-nongye {
  width: 46px;
  height: 27px;
  background-image: url('~base/images/v2/bank-nongye.png');
}

.fc-re-zhongguo {
  width: 46px;
  height: 27px;
  background-image: url('~base/images/v2/bank-zhongguo.png');
}

.fc-re-jiaotongo {
  width: 46px;
  height: 27px;
  background-image: url('~base/images/v2/bank-jiaotong.png');
}

.fc-re-guangfa {
  width: 46px;
  height: 27px;
  background-image: url('~base/images/v2/bank-guangfa.png');
}

.fc-re-guangda {
  width: 46px;
  height: 27px;
  background-image: url('~base/images/v2/bank-guangda.png');
}

.fc-re-pufa {
  width: 46px;
  height: 27px;
  background-image: url('~base/images/v2/bank-pufa.png');
}

.fc-re-minsheng {
  width: 46px;
  height: 27px;
  background-image: url('~base/images/v2/bank-mingsheng.png');
}

.fc-re-pingan {
  width: 46px;
  height: 27px;
  background-image: url('~base/images/v2/bank-pingan.png');
}

.fc-re-xingye {
  width: 46px;
  height: 27px;
  background-image: url('~base/images/v2/bank-xingye.png');
}

.fc-re-zhongxin {
  width: 46px;
  height: 27px;
  background-image: url('~base/images/v2/bank-zhongxin.png');
}

.fc-re-youzheng {
  width: 46px;
  height: 27px;
  background-image: url('~base/images/v2/bank-youzheng.png');
}

.fc-re-huaxia {
  width: 46px;
  height: 27px;
  background-image: url('~base/images/v2/bank-huaxia.png');
}

.fc-rc-recharge-confirmView {
  margin: 15px 45px;
  text-align: center;
  .fc-rc-confirmView-title {
    cursor: pointer;
    text-align: left;
    .title-left {
      font-size: 14px;
      color: $def-gray-color;
      &.active, &:hover {
        color: $new-main-deep-color;
      }
    }
    .title-right {
      font-size: 14px;
      color: $font-auxiliary-color;
      &.active, &:hover {
        color: $new-main-deep-color;
      }
    }
  }
  .fc-rc-confirmView-confirm-Tips {
    font-size: 18px;
    color: #666666;
    margin-top: 20px;
  }
  .fc-rc-confirmView-confirm-info {
    height: 140px;
    font-size: 16px;
    margin-top: 40px;
    color: #666666;
    text-align: left;
    .confirm-info-name {
      margin-top: 20px;
      margin-right: 20px;
      width: 80px;
      margin-left: 242px;
    }
    .rc-confirm-info-bankName {
      margin-top: 20px;
    }
    .rc-confirm-info-amount {
      margin-top: 20px;
    }
  }
  .fc-rc-recharge-submit {
    width: 360px;
    height: 50px;
    background-color: $new-main-deep-color;
    color: $def-white-color;
    border-radius: 4px;
    font-size: 16px;
  }
  .fc-rc-confirmView-confirm-transferPage {
    font-size: 14px;
    margin-top: 20px;
    padding: 0 110px;
    line-height: 25px;
    .rc-recharge-to-record {
      cursor: pointer;
      &.active, &:hover {
        color: $prominent-color;
      }
    }
  }
}

.fc-rc-aliAndBankTransfer-View {
  .fc-rc-recharge-leftBar {

    .fc-rc-aliAndBankTransfer-Title {
      margin-top: 17px;
      width: 360px;
      margin-bottom: 22px;
      .title-left {
        font-size: 16px;
        color: $def-black-color;
        position: absolute;
        top: 51px;
      }
      .title-right {
        margin-left: 10px;
        width: 343px;
        text-align: left;
        font-size: 16px;
        color: $def-black-color;
      }
    }
    .rc-aliAndBankTransfer-info {
      border-top: 1px solid #e6e6e6;
      li {
        list-style: none;
        padding: 16px 10px;
        border-bottom: 1px solid #e6e6e6;
      }
      .info-name {
        color: $def-black-color;
        font-size: 14px;
        width: 105px;
        text-align: left;
      }
      .info-value {
        color: $new-inverse-color;
        font-size: 14px;
      }
      .info-copy {
        border: $def-gray-color;
        width: 40px;
        height: 17px;
        background-color: $def-gray-color;
        color: $def-white-color;
        float: right;
        position: relative;
        &.active, &:hover {
          background-color: $new-main-deep-color;
          color: $def-white-color;
        }
        .copy-status {
          display: none;
          position: absolute;
          padding: 3px 5px;
          background: $def-white-color;
          border-radius: 3px;
          font-size: $font-xs;
          color: $new-inverse-color;
          width: 50px;
          right: 0;
          top: 28px;
          &:before {
            content: '';
            width: 0px;
            height: 0px;
            border: 5px solid transparent;
            border-bottom-color: $def-white-color;
            display: block;
            position: absolute;
            top: -10px;
            left: 50%;
            margin-left: -5px;
          }
          &.copySuccess {
            display: block;
          }
        }
      }
      .btn-fc-submit {

        margin-top: 25px;
        .btn-fc-submit {
          width: 360px;
          height: 55px;
          background-color: $new-main-deep-color;
          color: $new-main-body-color;
          font-size: 18px;
        }
      }
    }
    .rc-aliAndBankTransfer-tips {
      margin-top: 15px;
      .title-left {
        font-size: 12px;

        color: $prominent-color;
        .title-left-control {
          float: left;
          height: 32px;
        }
      }
      .title-right {
        width: 339px;
        text-align: left;
        font-size: 12px;
        color: $prominent-color;
      }
    }
    .btn-fc-recharge-submit {
      margin-top: 15px;
      width: 360px;
      height: 50px;
      background-color: $new-main-deep-color;
      color: $def-white-color;
      border-radius: 4px;
      font-size: 16px;
    }
    .fc-rc-aliAndBankView-title {
      margin-top: 30px;
      cursor: pointer;
      .title-left {
        font-size: 14px;
        color: $def-gray-color;
        &.active, &:hover {
          color: $new-main-deep-color;
        }
      }
      .title-right {
        font-size: 14px;
        color: $font-auxiliary-color;
        &.active, &:hover {
          color: $new-main-deep-color;
        }
      }
    }
  }

}

.fc-rc-recharge-leftBar {
  padding: 0px 35px;
  width: 350px;
  float: left;
}

.fc-rc-recharge-rightBar {
  border-left: 1px solid #e6e6e6;
  height: 570px;
  padding: 0 39px;
  width: 230px;
  float: right;
  .fc-rc-rightBar-tips {
    margin-top: 18px;
    //height: 150px;
    border-bottom: 1px solid #e6e6e6;
    .fc-rc-rightBar-tips-img {
      float: left;
    }
    .fc-rc-rightBar-tips-title {
      color: $def-black-color;

    }
    .fc-rc-rightBar-tips-content {
      color: $font-auxiliary-color;
      display: block;
      padding: 5px 0 10px;
    }
  }
  .fc-rc-rightBar-activity {
    height: 335px;
    margin-top: 15px;
    cursor: pointer;
    .fc-rc-rightBar-ac-img {
      float: left;
    }
    .fc-rc-rightBar-ac {
      width: 230px;
      //height: 130px;
      margin: 18px 0 10px 0;
      a {
        img {
          border-radius: 4px;
        }
      }
    }
    .fc-rc-rightBar-ac-link {
      color: $font-auxiliary-color;
    }
  }
}

.fc-tr-container {
  width: 100%;
  height: 625px;
  position: relative;
  overflow: hidden;
  .fc-rc-maskCon {
    width: 5000px;
    .fc-tr-view {
      margin-top: 30px;
      width: 740px;
      height: 595px;
      float: left;
      .fc-rc-recharge-leftBar {
        .fc-tr-change {
          height: 75px;
          width: 23px;
          float: right;
          margin-top: 44px;
          border-top: 1px solid #cccccc;
          border-right: 1px solid #cccccc;
          border-bottom: 1px solid #cccccc;
          margin-right: -32px;
          float: right;
          .fc-tr-change-img {
            margin-top: 28px;
            margin-left: 14px;
          }
        }
        .fc-tr-out-select {
          position: absolute;
          z-index: 9;
          top: 48px;
          .tr-out-package-title {
            font-size: 14px;
            color: #333333;
            float: left;
          }

          .fc-tr-out-select-panel {
            overflow: hidden;
            width: 320px;
            height: 50px;
            background: #ffffff;
            border: 1px solid #cccccc;
            line-height: 50px;
            border-radius: 5px;
            display: inline-block;
            position: relative;
            text-align: left;
            cursor: pointer;
            transition: height 0.5s;
            padding: 0 20px;
            .fc-tr-out-selected {
              height: 50px !important;
            }
            .fc-tr-out-item {
              border-top: 1px solid #e6e6e6;
            }
            .rc-icon {
              display: inline-block;
              vertical-align: middle;
              background-size: 100% 100%;
              margin-bottom: 3px;
            }
            .rc-name {
              display: inline-block;
              margin-left: 125px;
              color: #333333;
              font-size: 14px;
            }
            .rc-desc {
              display: inline-block;
              color: #999999;
              position: absolute;
              left: 255px;
            }
            .rc-desc-more {
              display: inline-block;
              color: #999999;
              position: absolute;
              left: 255px;
            }
            .select-down {
              width: 18px;
              height: 10px;
              display: block;
              position: absolute;
              top: 20px;
              left: 315px;
              background: url("~base/images/v2/icon-select-down.png") no-repeat;
              &.up {
                transform: rotate(180deg);
              }
            }
            &.side-down {
              border: 1px solid $new-main-deep-color;
              height: 320px;
              overflow: auto;
              .rc-desc-more {
                display: none;
              }
            }
          }

        }

        .fc-tr-in-select {
          position: absolute;
          z-index: 7;
          top: 123px;
          .tr-in-package-title {
            font-size: 14px;
            color: #333333;
          }
          .fc-tr-select {
            overflow: hidden;
            width: 320px;
            height: 50px;
            background: #ffffff;
            border: 1px solid #cccccc;
            line-height: 50px;
            border-radius: 5px;
            display: inline-block;
            position: relative;
            text-align: left;
            cursor: pointer;
            transition: height 0.5s;
            padding: 0 20px;
            .fc-tr-in-selected {
              height: 50px !important;
            }
            .rc-icon {
              display: inline-block;
              vertical-align: middle;
              background-size: 100% 100%;
              margin-bottom: 3px;
            }
            .rc-name {
              display: inline-block;
              margin-left: 125px;
              color: #333333;
              font-size: 14px;
            }
            .rc-desc {
              display: inline-block;
              color: #999999;
              position: absolute;
              left: 255px;
            }
            .rc-desc-more {
              display: inline-block;
              color: #999999;
              position: absolute;
              left: 255px;
            }
            .select-down {
              width: 18px;
              height: 10px;
              display: block;
              position: absolute;
              top: 20px;
              left: 315px;
              background: url("~base/images/v2/icon-select-down.png") no-repeat;
              &.up {
                transform: rotate(180deg);
              }
            }
            &.side-down {
              border: 1px solid $new-main-deep-color;
              height: 320px;
              overflow: auto;
              .rc-desc-more {
                display: none;
              }
            }
          }

          .fc-tr-in-item {
            border-top: 1px solid #e6e6e6;
          }
        }
        .fc-rc-leftBar-bottom-area {
          position: absolute;
          top: 205px;
          .no-subType {
            top: 125px !important;
          }
          .fc-tr-transfer-amount-Input {
            .js-tr-amount-title {
              font-size: 14px;
              color: #333333;
              z-index: 6;
              position: absolute;
              top: 18px;
              left: 20px;
            }
            .js-tr-amount-input {
              padding-left: 160px;
              width: 150px;
              padding-right: 50px;
              font-size: 16px;
              color: #333333;
            }
            .js-tr-amount-yuan {
              top: 18px;
              position: absolute;
              right: 20px;
              z-index: 6;
              font-size: 14px;
              color: #999999;
            }
          }
          .fc-tr-quickPay-select {
            width: 360px;
            //height: 170px;
            li {
              cursor: pointer;
              line-height: 85px;
              list-style: none;
              font-size: 16px;
              border-bottom: 2px solid $def-gray-color;
              color: #666666;
              width: 85px;
              margin: 0 15px;
              display: inline-block;
              text-align: center;
              height: 65px;
              &.active, &:hover {
                border-bottom: 2px solid $new-main-deep-color;
                color: $new-main-deep-color;
              }
            }
          }
          .fc-rc-leftBar-submit {
            margin-top: 60px;
          }
        }
        .fc-tr-amount-tips {
          position: absolute;
          top: 195px;
          margin-left: 20px;
          font-size: 14px;
        }
      }
    }
  }
  .fc-tr-confirmView {
    margin: 15px 45px;
    text-align: center;
    .fc-tr-confirmView-title {
      margin-top: 60px;
      padding: 0 160px;
      font-size: 14px;
      .text-back-title1 {
        color: $font-auxiliary-color;
      }
      .js-tr-leftNum {
        color: $new-inverse-color;
        margin-left: 3px;
        margin-right: 3px;
      }
      .text-back-title2 {
        color: $font-auxiliary-color;
        margin-right: 3px;
      }
      .title-back {
        color: $new-main-deep-color;
        text-decoration: underline;
        cursor: pointer;
      }
    }
    .fc-tr-confirmView-img {
      margin-top: 104px;
      //margin-left: 287px;
    }
    .fc-tr-confirmView-Tips {
      font-size: 18px;
      color: #666666;
      margin-top: 20px;
    }
    .fc-tr-confirmView-goTo {
      font-size: 14px;
      margin-top: 20px;
      padding: 0 110px;
      line-height: 25px;
      .fc-tr-confirmView-goTo-text {
        cursor: pointer;
        text-decoration: underline;
        &.active, &:hover {
          color: $prominent-hover-color;
        }
      }
    }
  }
}

.fc-rc-recharge-confirmView {
  margin: 15px 45px;
  text-align: center;
  .fc-rc-confirmView-title {
    cursor: pointer;
    text-align: left;
    .title-left {
      font-size: 14px;
      color: $def-gray-color;
      &.active, &:hover {
        color: $new-main-deep-color;
      }
    }
    .title-right {
      font-size: 14px;
      color: $new-main-deep-color;
    }
  }
  .fc-rc-confirmView-confirm-Tips {
    font-size: 18px;
    color: #666666;
    margin-top: 20px;
  }
  .fc-rc-confirmView-confirm-transferPage {
    font-size: 14px;
    margin-top: 20px;
    padding: 0 110px;
    line-height: 25px;
    .rc-recharge-to-record {
      cursor: pointer;
      &.active, &:hover {
        color: $prominent-color;
      }
    }
  }
}

.btn-fc-submit {
  width: 360px;
  height: 55px;
  background-color: $new-main-deep-color;
  color: $new-main-body-color;
  font-size: 18px;
}

.fc-wd-container {
  width: 100%;
  height: 625px;
  position: relative;
  overflow: hidden;
  .fc-wd-maskCon {
    width: 5000px;
    .fc-wd-view {
      margin-top: 30px;
      width: 740px;
      height: 595px;
      float: left;
      .fc-wd-set-img {
        margin: 103px 330px 35px 330px;
      }
      .fc-wd-set-tips {
        font-size: 16px;
        color: $def-black-color;
        margin: 0 185px;
        line-height: 25px;
        text-align: center;
      }
      .wd-set-tips-text {
        color: $prominent-color;
      }
      .fc-wd-set-goTo {
        margin-top: 55px;
        text-align: center;
        .btn-wd-submit {
          height: 45px;
          width: 240px;
          color: $def-white-color;
          background-color: $new-main-deep-color;
          border-radius: 4px;
        }
      }
    }
    .fc-wd-operate-view {
      .fc-rc-recharge-leftBar {
        .fc-wd-bank-select-container {
          position: absolute;
          z-index: 9;
          top: 48px;
          .fc-bank-select-select {
            overflow: hidden;
            width: 320px;
            max-height: 251px;
            transition: all .2s ease-out;
            //height: 50px;
            background: #ffffff;
            border: 1px solid #cccccc;
            line-height: 48px;
            border-radius: 5px;
            display: inline-block;
            position: relative;
            text-align: left;
            cursor: pointer;
            //transition: height 0.5s;
            padding: 0 20px;
            .js-wd-bank-selected {
              height: 50px !important;
            }
            .wd-bank-selectedItem {
              height: 50px;
            }
            .js-wd-bank-items {
              border-top: 1px solid #e6e6e6;
            }
            .rc-icon {
              display: inline-block;
              vertical-align: middle;
              background-size: 100% 100%;
              margin-bottom: 3px;
            }
            .rc-name {
              display: inline-block;
              margin-left: 20px;
              color: #333333;
              font-size: 14px;
            }
            .rc-desc {
              display: inline-block;
              color: #999999;
              position: absolute;
              left: 255px;
            }
            .rc-desc-more {
              display: none;
              color: #999999;
              position: absolute;
              left: 255px;
            }
            .select-down {
              width: 18px;
              height: 10px;
              display: block;
              position: absolute;
              top: 20px;
              left: 315px;
              background: url("~base/images/v2/icon-select-down.png") no-repeat;
              &.up {
                transform: rotate(180deg);
              }
            }
            &.side-down {
              border: 1px solid $new-main-deep-color;
              //height: 320px;
              overflow: auto;
            }
            &.shrink {
              max-height: 50px;
              transition-timing-function: ease-out;
              .rc-desc-more {

                display: inline-block;
                color: #999999;
                position: absolute;
                left: 255px;
              }
            }
          }

        }
        .fc-wd-bank-tips {
          position: absolute;
          top: 123px;
          width: 330px;
          padding: 0 15px;
          font-size: 14px;
          .fc-wd-bank-tips-balance {
            cursor: pointer;
          }
          .fc-wd-bank-tips-addCard {
            color: $new-main-deep-color;
            float: right;
            cursor: pointer;
            .fc-wd-bank-tips-addCard-img {
              margin-right: 3px;
            }
          }
        }
        .fc-rc-leftBar-bottom-area {
          position: absolute;
          top: 163px;
          .no-subType {
            top: 123px !important;
          }
          .fc-wd-amount-Input {
            .fc-wd-amount-input {
              padding-left: 160px;
              width: 150px;
              padding-right: 50px;
              font-size: 16px;
              color: #333333;
            }
          }
          .fc-wd-fundPwd-Input {
            margin-top: 20px;
            .rc-fundPwd-title {
              font-size: 14px;
              color: #333333;
              z-index: 6;
              position: absolute;
              margin-top: 16px;
              left: 20px;
            }
            .fc-wd-fundPwd-input {
              padding-left: 160px;
              width: 150px;
              padding-right: 50px;
              font-size: 16px;
              color: #333333;
              height: 44px;
              background: #ffffff;
              &.active, &:hover, &:focus, &:active {
                border: 1px solid;
                border-color: $new-main-deep-color !important;
                outline-width: 0;
              }
            }

          }
          .js-wd-fee {
            margin-top: 45px;
            padding: 0 15px;
            li {
              list-style: none;
              width: 128px;
              font-size: 14px;
              display: inline-block;
            }
          }
          .rc-title {
            font-size: 14px;
            color: #333333;
            z-index: 6;
            position: absolute;
            top: 18px;
            left: 20px;
          }
          .fc-wd-input {
            padding-left: 160px;
            width: 150px;
            padding-right: 50px;
            font-size: 16px;
            color: #333333;
          }
          .rc-icon {
            top: 18px;
            position: absolute;
            right: 20px;
            z-index: 6;
            font-size: 14px;
            color: #999999;
          }
          .fc-wd-submit {
            margin-top: 60px;
          }

        }
      }
    }
  }
}

.fc-wd-confirmView {
  margin: 15px 45px;
  text-align: center;
  .fc-wd-confirmView-title {
    margin-top: 60px;
    padding: 0 180px;
    font-size: 14px;
    .text-back-title1 {
      color: $font-auxiliary-color;
    }
    .js-tr-leftNum {
      color: $new-inverse-color;
      margin-left: 3px;
      margin-right: 3px;
    }
    .text-back-title2 {
      color: $font-auxiliary-color;
      margin-right: 3px;
    }
    .title-back {
      color: $new-main-deep-color;
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .fc-wd-confirmView-confirm-img {
    margin-top: 110px;
    //margin-left: 287px;
  }
  .fc-wd-confirmView-confirm-Tips {
    font-size: 18px;
    color: #666666;
    margin-top: 20px;
  }
  .fc-wd-confirmView-confirm-transferPage {
    font-size: 14px;
    margin-top: 20px;
    padding: 0 84px;
    line-height: 25px;
    .rc-recharge-to-record {
      cursor: pointer;
      &.active, &:hover {
        color: $prominent-color;
      }
    }
  }
}

.fc-wd-error-container {
  margin-top: 25px;
  .parsley-error-line {
    margin-left: 62px;
    .parsley-error-text {
      margin-left: 3px;
      color: #e84c4c;
      font-size: 14px;
      position: absolute;
      margin-top: -3px;
    }
  }
}

.fc-wd-error-container {
  margin-top: 10px;
  .parsley-error-line {
    .parsley-error-text {
      margin-left: 3px;
      color: #e84c4c;
      font-size: 14px;
      position: absolute;
      margin-top: -3px;
    }
  }
}

.fc-tr-error-container {
  margin-top: 10px;
  .sfa-error-icon {
    margin-top: 3px;
    margin-right: 6px;
  }
}

.fund-vip-panel {
  position: absolute;
  top: 24px;
  z-index: 1050;
  left: 50%;
  margin-left: -387px;
  .fund-vip {
    position: absolute;
    width: 136px;
    height: 148px;
    background: url('./vip/misc/fund-vip.gif');
    cursor: pointer;
  }
}

.fund-vip-tips {
  padding: 11px 18px;
  width: 738px;
  text-align: left;
  .tips-header {
    height: 50px;
    background: #14b1bb;
    font-size: 18px;
    color: #ffffff;
    line-height: 50px;
    text-align: center;
  }
  .tips-body {
    padding: 68px 39px 46px;
    background: #f9f9f9;
    .tips-text1 {
      color: #333333;
      font-size: 16px;
    }
    .tips-text3 {
      font-size: 12px;
      color: #666666;
      padding: 10px 0;
    }
    .tips-text2 {
      font-size: 12px;
      color: #666666;
      padding: 5px 0;
    }
    .tips-text4 {
      color: #f09932;
    }
    .tips-service-item {
      display: inline-block;
      background: #ffffff;
      width: 265px;
      height: 99px;
      border-radius: 6px;
      border-left: 1px solid #129098;
      margin: 17px 0;
      font-size: 0;
      padding: 16px 24px;
      &.left {
        margin: 17px 28px 17px 0;
      }
      .item-num {
        width: 95px;
        height: 65px;
        position: absolute;
        margin-left: -8px;
        &.one {
          width: 82px;
          background: url('./vip/misc/vip-num1.png');
        }
        &.two {
          background: url('./vip/misc/vip-num2.png');
        }
        &.three {
          background: url('./vip/misc/vip-num3.png');
        }
        &.four {
          background: url('./vip/misc/vip-num4.png');
        }
      }
      .item-text {
        margin-top: 26px;
        display: inline-block;
      }
      .item-img {
        display: inline-block;
        width: 68px;
        height: 68px;
        float: right;
        margin-top: 16px;
        &.one {
          background: url('./vip/misc/vip-logo-one.png');
        }
        &.two {
          background: url('./vip/misc/vip-logo-two.png');
        }
        &.three {
          background: url('./vip/misc/vip-logo-three.png');
        }
        &.four {
          background: url('./vip/misc/vip-logo-four.png');
        }
      }
    }
    .tips-end {
      margin: 68px auto 0;
      background: #14b1bb;
      width: 320px;
      height: 50px;
      color: #ffffff;
      font-size: 18px;
      line-height: 50px;
      border-radius: 5px;
      text-align: center;
      cursor: pointer;
    }
  }
}

.btn-vip-tips-close {
  top: 22px !important;
  right: 26px !important;
}

.fund-operate-pay-tips {
  background: #ffffff;
  padding: 37px 20px;
  width: 341px !important;
  height: 156px !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, .4);
  margin: 120px auto !important;
  .tips-content {
    margin-top: 6px;
    margin-left: 24px;
    width: 237px;
    float: right;
    .tips-content-title {
      color: #333333;
      font-size: 16px;
      margin-bottom: 10px;
    }
    .tips-content-text {
      color: #666666;
      font-size: 14px;
      line-height: 21px;
      &.amount {
        color: #f2a74d;
      }
    }
    .tips-footer {
      margin-top: 15px;
      height: 38px;
      line-height: 38px;
      .tips-footer-submit {
        display: inline-block;
        width: 108px;
        height: 38px;
        background: #14b1bb;
        color: #ffffff;
        font-size: 14px;
        line-height: 38px;
        text-align: center;
        border-radius: 4px;
        margin-left: -8px;
        cursor: pointer;
      }
      .tips-footer-cancel {
        color: #333333;
        display: inline-block;
        font-size: 14px;
        margin-left: 16px;
        cursor: pointer
      }
    }
  }
}

.fund-operate-close {
  font-size: 25px;
  font-weight: normal;
  line-height: 17px;
  color: $def-line-color;
  outline: 0;
  width: 18px;
  height: 18px;
  text-align: center;
  cursor: pointer;
  &:hover, &:focus {
    color: $def-line-color;
    text-decoration: none;
    outline: 0;
  }
  position: absolute;
  top: 13px;
  right: 13px;
  z-index: 2;

  &.close-white {
    color: #ffffff;
  }
}
