<div class="js-mall-toolbar mall-toolbar">
  <input class="hidden js-mall-page" type="hidden" value="<%= page %>" />
  <!-- 类型区块  -->
  <div class="js-toolbar-container toolbar-container toolbar-type js-toolbar-type">
    <span class="toolbar-title"><%= type.title %></span>
    <% _.each(type.options, function(option, index) { %>
      <% if (index === 0) { %>
        <span class="js-toolbar-option toolbar-option active" data-type="<%= option.type %>">全部</span>
      <% } else if (index >= type.limit) { %>

      <% } else { %>
        <span class="js-toolbar-option toolbar-option" data-type="<%= option.type %>"><%= option.name %></span>
      <% } %>
    <% }) %>
    <% if (type.options.length > type.limit + 1) { %>
      <span class="js-toolbar-dropdown-btn toolbar-dropdown-btn toolbar-option">
        更多
        <span class="sfa sfa-mall-chevron-down-black"></span>
      </span>
      <div class="dropdown-container">
        <div class="js-toolbar-dropdown toolbar-dropdown hidden">
          <% _.each(type.options, function(option, index) { %>
            <% if (index >= type.limit) { %>
              <div class="js-toolbar-option dropdown-option" data-type="<%= option.type %>"><%= option.name %></div>
            <% } %>
          <% }) %>
        </div>
      </div>
    <% } %>
  </div>

  <!-- 状态区块 (我的优惠券有各状态现有数量, 其他没有) -->
  <div class="js-toolbar-container toolbar-container toolbar-status js-toolbar-status">
    <span class="toolbar-title"><%= status.title %></span>
    <% _.each(status.options, function(option, index) { %>
      <% if (index === status.options.length - 1) { %>
        <span class="js-toolbar-option toolbar-option active" data-status="<%= option.status %>">
          全部
        </span>
      <% } else { %>
        <span class="js-toolbar-option toolbar-option" data-status="<%= option.status %>">
          <%= option.name %>
          <span class=" js-toolbar-option-<%= option.color %> <%= status.showAmount ? '' : 'hidden' %>"></span>
        </span>
      <% } %>
    <% }) %>
  </div>

  <!-- 排序区块 1:热门 2:所需时间 3:上架时间-->
  <!-- 缺少 排序的icon -->
  <div class="js-toolbar-container toolbar-container toolbar-sortable <%= sortable ? '' : 'hidden' %> js-toolbar-sortable">
    <span class="toolbar-title">排序</span>
    <span class="js-toolbar-option toolbar-option" data-flag="1">
      热门
      <div class="sfa sfa-mall-arrow-down-black hidden inline-block"></div>
      <div class="sfa sfa-mall-arrow-down-white inline-block"></div>
    </span>
    <span class="js-toolbar-option toolbar-option" data-flag="2" data-sort-type="1">
      所需积分
      <span class="sfa sfa-mall-chevron-def js-mall-chevron-def"></span>
      <span class="sfa sfa-mall-chevron-down js-mall-chevron-down hidden"></span>
      <span class="sfa sfa-mall-chevron-up js-mall-chevron-up hidden"></span>
    </span>
    <span class="js-toolbar-option toolbar-option active" data-flag="3" style="display: inline-block;
    line-height: 18px;">
      上架时间
      <div class="sfa sfa-mall-arrow-down-black hidden inline-block"></div>
      <div class="sfa sfa-mall-arrow-down-white inline-block"></div>
    </span>
  </div>

  <!-- 编号区块 (可输入编号搜寻)-->
  <div class="js-toolbar-searchbar-container toolbar-container toolbar-searchbar <%= search ? '' : 'hidden' %>">
    <input type="text" class="js-toolbar-searchbar toolbar-searchbar" placeholder="请输入券编号" />
    <span class="sfa sfa-mall-search-icon js-toolbar-option"></span>
  </div>
</div>
