@charset "UTF-8";

@import '../../../misc/mixin';

$nav-height: 70px;
$nav-item-horizontal-padding: 20px;
$nav-item-vertical-padding: 5px;
$navbar-container-color: white;

.nav-main {
  height: $nav-height;
  transition: height 0.5s ease-in-out;

  * {
    box-sizing: border-box;
  }


}
.main-top{
  position: relative;
  z-index: 1000;
}
.navbar-container {
  background-color: $navbar-container-color;
  box-shadow: 0 0 5px rgba(0, 0, 0, .4);
}
.nav {
  position: relative;
  .navbar-logo-li {
    margin-right: 15px;
  }

  .navbar-logo {
    height: 47px;
    width: 181px;
    background: url('./images/navbar-logo.png');
    margin-top: 5px;
    float: left;
    position: relative;
    z-index: 12;
    margin-left: 0px;
  }

  > li {
    float: left;
    height: $nav-height;
    line-height: $nav-height;
    min-width: 99px;

    .navbar-down-icon {
      background: url('./images/navbar-down-icon.png');
      width: 11px;
      height: 7px;
      display: inline-block;
      transform: translate(4px, -1px);
      transition: opacity .3s;
    }

    > a {
      display: inline-block;
      position: relative;
      font-size: 14px;
      color: $font-dark;
      padding: 0px 20px;
      line-height: $nav-height;
      z-index: 12;
      background-color: transparent;
      text-align: center;
      transition: background 0.3s ease;
      cursor: pointer;
      &:after {
        content: "";
        transition: background 0.3s ease;
      }
    }

    &:hover, &.active {
      > a {
        color: $new-main-deep-color;
      }

      .nav-channel-container {
        animation-name: fadeInDown;
        animation-timing-function: ease;
        animation-duration: .5s;
        animation-fill-mode: forwards;
      }
    }

    &.nav-right {
      float: right;
      width: 180px;
      border-left: 1px solid #e5e5e5;
      border-right: 1px solid #e5e5e5;
      text-align: center;
      position: absolute;
      right: 0;
      z-index: 12;

      .navbar-mall-icon {
        background: url('./images/navbar-mall-icon.png');
        width: 22px;
        height: 23px;
        display: block;
        transform: translate(35px, 24px);
        position: absolute;
      }
    }
  }

  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translate3d(-50%, -25%, 0);
    }

    to {
      opacity: 1;
      transform: translate3d(-50%, 0.5px, 0);
    }
  }

  .navbar-mask {
    position: absolute;
    background: $navbar-container-color;
    height: $nav-height;
    left: 0;
    right: 0;
    z-index: 11;
  }

  .navbar-slide-underline {
    background: $new-main-deep-hover-color;
    width: 96px;
    height: 3px;
    position: absolute;
    top: 67px;
    left: 196px;
    z-index: 11;
  }
}

.header-container {
  @include inline-block-list();
  margin-right: 20px;
  margin-top: 7px;
  float: left;
}
.gl-hd-money.header-container {
  margin-top: 10px;

  .gl-hd-refresh,
  .gl-hd-money-locked-ctrl{
    vertical-align: top;
    margin-top: 2px;
    cursor: pointer;
  }
  .gl-hd-money-locked-ctrl{
    margin-left: 5px;
    &.sfa-h-unlocked{
      margin-left: 3px;
    }
  }
}

.nav-sub {
  display: none;
  width: 710px;
  position: absolute;
  margin-left: 89px;
  top:67px;
  background: #007e88;
  z-index: 1001;
  border-radius: 2px;
  box-shadow: 1px 1px 10px #888888;
  >i{
    position: absolute;
    left:385px;
    top:-7px;
  }
  >ul li{
    background: #007e88;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #37969e;

    .nav-icon-wrap{
      display: table-cell;
      vertical-align: middle;
      position: relative;
      z-index: 9999;
      width: 100px;
      >i{
        display: block;
      }
    }
    .nav-sub-menu{
      width: 730px;
      vertical-align: middle;
      display: table-cell;
      >ul{
        >li{
          width: 120px;
          height:25px;
          display: inline-block;
          border: #b4d8db 1px solid;
          color: #ffffff;
          border-radius: 2px;
          line-height: 25px;
          padding: 0 10px 0 0;
          margin-top: 10px;
          margin-left: 10px;
          position: relative;
          cursor: pointer;
          border-radius: 5px;

          a{
            position: absolute;
            top: 0;
            left: 0;
            color: #ffffff;
            width: 115px;
            height: 25px;
            margin-left: 10px;
          }
          a:hover{
            color: #ffffff;
          }

          i{
            position: absolute;
            top: 6px;
            right: 3px;
          }
          i[class*="sfa-badge-fire"]{
            position: absolute;
            top: 0;
            right: -18px;
          }
        }
        >li:hover{
          background: #2fc8cf;
          border: #2fc8cf 1px solid;
        }
      }
    }
  }
  >ul li:last-child{
    border-bottom: none;
  }
  >ul{
    >li{
      &:nth-child(1){
        .nav-sub-menu{
          >ul{
            >li{
              &:nth-child(2),&:nth-child(3){
                background: #025b62;
                border: #025b62 1px solid;
              }
            }
          }
        }
      }
    }
  }
}

.nav-channel-container{
  position: absolute;
  //background: url('./images/nav-channel-container.png');
  background: $def-white-color;
  height: 200px;
  // transform: scaleY(0);
  z-index: 12;
  left: 50%;
  transform: scaleY(0) translateX(-50%);
  width: 100vw;
  margin: 0 auto;

  ul {
    width: 1200px;
    margin: 0 auto;
  }
  .nav-channel-banner {
    @include inline-block-list();
    width: 240px;
    height: 200px;
    background-size: cover;

    &.slotPic {
      background: url('./images/banner-slot.png');
    }

    &.fishPic {
      background: url('./images/banner-fish.png');
    }

    &.realPic {
      background: url('./images/banner-real.png');
    }

    &.ticketPic {
      background: url('./images/banner-ticket.png');
    }
  }
  .nav-channel-main {
    position: relative;
    display: inline-block;
  }

  .nav-channel-list-container {
    @include inline-block-list();
    width: 610px;
    height: 196px;
    padding: 30px;
  }

  .list-item {
    display: inline-block;
    vertical-align: top;
    color: $font-dark;
    font-size: 14px;
    margin-right: 55px;
    margin-bottom: 20px;

    .sfa-mall-sport-icon {
      width: 25px;
      height: 25px;
      background: darken($font-auxiliary-color, 50%);;
      border-radius: 20px;
      margin-right: 20px;
    }
    .list-item-title {
      background: transparent;
      color: $font-dark;
      line-height: 25px;
      vertical-align: top;
    }
  }

  .nav-channel-entry-container, .nav-channel-container {
    @include inline-block-list();
    height: 200px;
  }

  .nav-channel-container {
    border: 1px solid #f0f0f0;
    padding: 31px 0 0 60px;
    position: relative;
    width: 310px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    &.classic-container {
      width: 650px;
    }
  }

  .entry-item {
    @include inline-block-list();
    position: relative;
    width: 320px;
    height: 200px;
    border-right: 1px solid #f0f0f0;
    padding: 40px 0 0 45px;

    &.half-width {
      width: 480px;
      padding: 14px 0 0 45px;
    }

    > div {
      @include inline-block-list();
    }
  }

  .entry-item-img {
    width: 104px;
    height: 100px;
    margin-right: 15px;
    margin-top: 10px;

    &.icon-real-ag {
      background: url('./images/icon-real-ag.png');
    }
    &.icon-real-ebet {
      background: url('./images/icon-real-ebet.png');
    }
    &.icon-real-bbin {
      background: url('./images/icon-real-bbin.png');
    }

    &.icon-slot-pt {
      background: url('./images/icon-slot-pt.png');
      width: 233px;
      height: 149px;
    }

    &.icon-slot-mg {
      background: url('./images/icon-slot-mg.png');
      width: 233px;
      height: 149px;
    }

    &.icon-fish-ag {
      background: url('./images/icon-fish-ag.png');
      width: 156px;
      height: 137px;
      margin-right: 30px;
    }

    &.icon-fish-gg {
      background: url('./images/icon-fish-gg.png');
      width: 155px;
      height: 137px;
      margin-right: 30px;
    }
  }

  .entry-item-content {
    @include horizontal-center();
    text-align: center;
  }

  .entry-item-title {
    font-size: 16px;
    color: $new-inverse-color;
    margin-bottom: 10px
  }

  .entry-item-desc {
    font-size: 14px;
    color: $font-light;
    margin-bottom: 17px
  }

  .entry-item-btn {
    width: 90px;
    height: 28px;
    border-radius: 14px / 14px;
    border: none;
    color: white !important;
    font-size: 14px !important;
    line-height: 28px;
    background: $new-main-deep-color;
    padding: 0;
    display: block;
    margin: 0 auto 10px;

    &:hover, &:active {
      background: $new-main-deep-hover-color;
      color: white !important;
    }
  }

  .nav-channel-link {
    background: transparent;
    color: $new-main-deep-color;
    font-size: 14px !important;
    text-decoration: underline;
    text-align: center;
    padding: 0px 7px;
    cursor: pointer;

    &.prominent-link {
      color: $prominent-color;
    }
  }

  .classic-title-classic {
    position: absolute;
    top: 10px;
    left: 10px;
    background: url('./images/classic-title-classic.png');
    width: 43px;
    height: 103px;
    z-index: 14;
  }

  .classic-title-handicap {
    position: absolute;
    top: 10px;
    left: 10px;
    background: url('./images/classic-title-handicap.png');
    width: 43px;
    height: 104px;
    z-index: 14;
  }

  .classic-section {
    @include inline-block-list();
    width: 120px;
    line-height: 30px;

    &:nth-child(2) {
      width: 240px;
    }
  }

  > li {
    display: inline-block;
    vertical-align: top;
    list-style-type: none;
    width: 118px;
    position: relative;
    line-height: 28px;

    .navbar-ticket-chavon {
      background: url('./images/navbar-ticket-chavon.png');
      width: 4px;
      height: 7px;
      display: inline-block;
      margin-right: 10px;
      transition: background .3s;
    }

    > a{
      font-size: 12px;
      color: $new-inverse-color;
      background: transparent;
      transition: color .3s;
    }
  }
  li:hover, li:active {

    .navbar-ticket-chavon {
      background: url('./images/navbar-ticket-chavon-active.png');
    }

    a{
      font-size: 12px;
      color: $new-main-deep-color;
    }
  }

  .navbar-ticket-icon-hot {
    position: absolute;
    width: 9px;
    height: 9px;
    background: url('./images/navbar-ticket-icon-hot.png');
    margin-left: 3px;
  }

  .navbar-ticket-icon-new {
    position: absolute;
    width: 9px;
    height: 9px;
    background: url('./images/navbar-ticket-icon-new.png');
    margin-left: 3px;
  }
}

.nav-mall-sub{
  position: absolute;
  width: 351px;
  height: 320px;
  top:67px;
  background: #007e88;
  z-index: 1001;
  right: -55px;
  color: #ffffff;
  >i{
    position: absolute;
    left:70%;
    top:-7px;
  }
  .mall-sub-title{
    width: 100%;
    height: 45px;
    line-height: 45px;
    padding-left: 15px;
    font-size: 16px;
    font-weight: 200;
    >span{
      vertical-align: text-top;
    }
  }
  ul{
    width: 330px;
    margin: 0 auto;
    height: 240px;
    overflow: hidden;
    li{
      width: 100%;
      height: 80px;
      position: relative;
      .mall-icon{
        display: block;
        float: left;
        margin-top: 12px;
        width: 46px;
        height: 46px;
      }
      .mall-entry-cou{
        background: url("~base/images/mall-entry-cou.png");
      }
      .mall-entry-gift{
        background: url("~base/images/mall-entry-gift.png");
      }
      .mall-info{
        float: right;
        width: 270px;
        padding-left: 10px;
        margin-top: 5px;
      }
      .info-text{
        width: 100%;
        height:25px;
        line-height: 25px;
      }
      .info-exclusive{
        height: 15px;
        padding: 0px 10px;
        font-size: 10px;
        color: #ffffff;
        margin-left: 10px;
        background-color: #e8675d;
        border-radius: 5px;
      }
      .info-integral{
        color: #02ebff;
      }
      .info-text-desc{
        width: 63%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .info-btn{
        width: 80px;
        height: 25px;
        border: 1px solid #ffffff;
        border-radius: 5px;
        color: #ffffff;
        text-align: center;
        line-height: 25px;
        cursor: pointer;
        display: inline-block;
        &:hover{
          border: 1px solid #17c0c8;
          background-color: #17c0c8;
        }
      }
      &:after{
        content: ' ';
        width: 96%;
        height: 1px;
        border-bottom: 1px dashed #37969e;
        display: block;
        position: absolute;
        bottom: 0px;
        left: 2%;
      }
      &:last-child{
        &:after{
          display: none;
        }
      }
    }
  }
  .mall-more{
    width: 100%;
    height: 35px;
    background-color: #066067;
    text-align: center;
    line-height: 35px;
    a{
      color: #ffffff;
      text-align: center;
    }
  }
}
