
<div class="mask">
    <div class="con">
        <audio src="sound/cjbdy/sound.mp3" class="js-sfnc-sound" autoplay="autoplay"></audio>
        <div class="close_btn"></div>
        <div class="title_pic"></div>
        <div class="cloud_01"></div>
        <div class="animal_lump">
            <ul>
                <li class="game">
                    <div class="animal" style="bottom: -10px;left: 10px;"><img src="images/cjbdy/animal_01.png" alt="">
                    </div>
                    <img class='logo' src="images/cjbdy/game_01.png" alt="">
                </li>
                <li class="game">
                    <div class="animal" style="bottom: -10px;left: 12px;"><img src="images/cjbdy/animal_02.png" alt="">
                    </div>
                    <img class='logo' src="images/cjbdy/game_02.png" alt="">
                </li>
                <li class="game">
                    <div class="animal" style="bottom: -10px;left: 13px;"><img src="images/cjbdy/animal_03.png" alt="">
                    </div>
                    <img class='logo' src="images/cjbdy/game_03.png" alt="">
                </li>
                <li class="game">
                    <div class="animal " style="bottom: 80px;left: -25px;"><img class="chicken" src="images/cjbdy/animal_04.png" alt="">
                    </div>
                    <img class='logo' src="images/cjbdy/game_04.png" alt="">
                </li>
                <li class="game">
                    <div class="animal" style="bottom: -10px;left: 13px;"><img src="images/cjbdy/animal_05.png" alt="">
                    </div>
                    <img class='logo' src="images/cjbdy/game_05.png" alt="">
                </li>
                <li class="game">
                    <div class="animal" style="bottom: -10px;left: 10px;"><img src="images/cjbdy/animal_06.png" alt="">
                    </div>
                    <img class='logo' src="images/cjbdy/game_06.png" alt="">
                </li>
                <li class="game">
                    <div class="animal" style="bottom: -10px;left: 15px;"><img src="images/cjbdy/animal_07.png" alt="">
                    </div>
                    <img class='logo' src="images/cjbdy/game_07.png" alt="">
                </li>
                <li class="game">
                    <div class="animal" style="bottom: -10px;left: 13px;"><img src="images/cjbdy/animal_08.png" alt="">
                    </div>
                    <img class='logo' src="images/cjbdy/game_08.png" alt="">
                </li>
                <li class="game">
                    <div class="animal" style="bottom: -10px;left: 15px;"><img src="images/cjbdy/animal_09.png" alt="">
                    </div>
                    <img class='logo' src="images/cjbdy/game_09.png" alt="">
                </li>
                <li class="game">
                    <div class="animal" style="bottom: -10px;left: 10px;"><img src="images/cjbdy/animal_10.png" alt="">
                    </div>
                    <img class='logo' src="images/cjbdy/game_10.png" alt="">
                </li>
                <li class="game">
                    <div class="animal" style="bottom: -10px;left: 10px;"><img src="images/cjbdy/animal_11.png" alt="">
                    </div>
                    <img class='logo' src="images/cjbdy/game_11.png" alt="">
                </li>
                <li class="game">
                    <div class="animal" style="bottom: -10px;left: 13px;"><img src="images/cjbdy/animal_12.png" alt="">
                    </div>
                    <img class='logo' src="images/cjbdy/game_12.png" alt="">
                </li>
            </ul>
        </div>
        <div class="cloud_02"></div>
        <div class="des"></div>
    </div>
</div>
