<div class="today-rank-main js-today-rank-main hidden">
    <div class="today-rank-putAway js-today-rank-putAway hidden"></div>
    <div class="unfolded-btn js-unfolded-btn hidden"></div>
    <div class="today-rank-unfolded js-today-rank-unfolded clearfix">
        <ul class="rank-list js-rank-list">

        </ul>
        <div class="rank-my-info clearfix">
            <div class="my-info js-my-ranking pull-left">86</div>
            <div class="my-info js-my-status pull-left">未上榜</div>
        </div>
        <div class="look-week-ranking js-look-week-ranking"></div>
    </div>
    <div class="put-away-btn js-put-away-btn "></div>
</div>