<div class="js-fund-vip-tips-container">
  <a class="close btn-close btn-vip-tips-close" data-dismiss="modal">×</a>
  <div class="tips-header">温馨提示</div>
  <div class="tips-body">
    <div class="tips-text1">尊敬的VIP客户：</div>
    <div class="tips-text3">您正在尊享无限娱乐VIP专用充提通道，作为无限娱乐最尊贵的客户，我们为您提供的充提服务包括：</div>
    <div class="tips-service-item left">
      <div class="item-num one"></div>
      <div class="item-text">
        <div class="tips-text2">臻选最优充值通道</div>
        <div class="tips-text2">资金成功到账率达<span class="tips-text4">99.9%</span></div>
      </div>
      <div class="item-img one"></div>
    </div>
    <div class="tips-service-item">
      <div class="item-num two"></div>
      <div class="item-text">
        <div class="tips-text2">专人跟进充提进度</div>
        <div class="tips-text2">到账快速，充提即到</div>
      </div>
      <div class="item-img two"></div>
    </div>
    <div class="tips-service-item left">
      <div class="item-num three"></div>
      <div class="item-text">
        <div class="tips-text2">独立银行卡对接，</div>
        <div class="tips-text2">出入款一对一，保障资金安全</div>
      </div>
      <div class="item-img three"></div>
    </div>
    <div class="tips-service-item">
      <div class="item-num four"></div>
      <div class="item-text">
        <div class="tips-text2">客服专人接待，</div>
        <div class="tips-text2"><span class="tips-text4">24*365</span>全天候免等待直达服务</div>
      </div>
      <div class="item-img four"></div>
    </div>
    <div class="js-fund-vip tips-end">知道了</div>
  </div>
</div>
