


* {
    margin: 0px;
    padding: 0px;
    font-family: "微软雅黑", "黑体";
}

ul, li {
    list-style: none;
}

img {
    border: none;
    overflow: hidden;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.clear_div {
    clear: both;
}

.mask {
    background: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.activity_water{
    z-index: 10;
    .main_contain {
        position: relative;
        width: 820px;
        height: auto;
        margin: 400px auto 0 auto;
    }

    .pop_contain {
        position: relative;
        width: 820px;
        height: auto;
        margin: 100px auto 0px;
    }

    .bg_lump {
        width: 650px;
        height: auto;
        margin: 0px auto;
    }

    .title_pic {
        position: absolute;
        background: url("images/wxmmc/title_pic.png") no-repeat;
        width: 645px;
        height: 308px;
        top: -310px;
        left: 100px;
    }

    .game_name {
        color: #000000;
        font-size: 16px;
        width: auto;
        height: auto;
        position: absolute;
        top: 5px;
        left: 234px;
    }

    .title_game_name {
        background: url("images/wxmmc/title_game_name.png") no-repeat;
        width: 395px;
        height: 32px;
        font-size: 18px;
        font-style: italic;
        font-weight: bold;
        color: white;
        line-height: 28px;
        text-align: center;
        position: absolute;
        bottom: 10px;
        left:120px;
    }

    .title_game_name span{
        color:#fff600;
    }

    .luster {
        background: url(images/wxmmc/luster.png) no-repeat;
        width: 50px;
        height: 50px;
        position: absolute;
        opacity: 0;
    }

    .lus_01 {
        top: 75px;
        left: 170px;
    }

    .lus_02 {
        top: 65px;
        left: 220px;
    }

    .lus_03 {
        top: 60px;
        left: 272px;
    }

    .title_pic_info_ready {
        background: url("images/wxmmc/title_pic_info_ready.png") no-repeat;
        width: 331px;
        height: 31px;
        font-size: 22px;
        color: white;
        line-height: 26px;
        text-align: center;
        margin: 0px auto;
        margin-top: 50px;
    }

    .title_pic_info_begin {
        display: none;
        background: url("images/wxmmc/title_pic_info_begin.png") no-repeat;
        width: 331px;
        height: 31px;
        font-size: 22px;
        color: white;
        line-height: 26px;
        text-align: center;
        margin: 0px auto;
        margin-top: 50px;
    }

    .noticeGiveWater {
        position: relative;
        top: -30px;
        left: 20px;
        border: 1px solid rgba(255, 255, 255, .5);
        border-radius: 10px;
        background: rgba(0, 0, 0, .7);
        width: 610px;
        height: auto;
        padding: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 26px;
        font-family: "宋体";
        font-size: 12px;
        color: white;
    }

    .submit_btn {
        position: relative;
        margin: 0px auto;
        bottom: -35px;
        width: 131px;
        height: 37px;
    }

    .time_lump {
        position: relative;
        z-index: 100;
        font-size: 48px;
        width: 340px;
        height: 92px;
        margin: 0px auto;
        margin-top: 15px;

        div{
            line-height: 66px;
            color: #000;
        }
    }

    .hour {
        position: absolute;
        text-align: center;
        width: 66px;
        height: 77px;
        top: 12px;
        left: 88px;
    }

    .minute {
        position: absolute;
        text-align: center;
        width: 66px;
        height: 77px;
        top: 12px;
        left: 178px;
    }

    .second {
        position: absolute;
        text-align: center;
        width: 66px;
        height: 77px;
        top: 12px;
        left: 268px;
    }

    .time_luster {
        position: absolute;
        top: 0px;
        left: 0px;
        background: url("images/wxmmc/time_luster.png") no-repeat;
        width: 340px;
        height: 92px;
    }

    .time_ready {
        background: url("images/wxmmc/time_ready.png") no-repeat;
    }

    .time_begin {
        background: url("images/wxmmc/time_begin.png") no-repeat;
    }

    .close_btn {
        position: absolute;
        top: 87px;
        right: 40px;
        width: 47px;
        height: 47px;
        cursor: pointer;
    }

    .btn_01 {
        display: none;
        background: url("images/wxmmc/btn_01.png") no-repeat;
        position: relative;
        font-size: 23px;
        text-align: center;
        color: #a63f01;
        left: 10px;
        width: 175px;
        height: 45px;
        line-height: 40px;
        margin: 0px auto;
        cursor: pointer;
    }

    .btn_02 {
        background: url("images/wxmmc/btn_01.png") no-repeat;
        position: relative;
        font-size: 23px;
        text-align: center;
        color: #a63f01;
        left: 10px;
        width: 175px;
        height: 45px;
        line-height: 40px;
        margin: 0px auto;
        cursor: pointer;
    }

    .icon_01 {
        position: relative;
        background: url("images/wxmmc/icon_01.png") no-repeat;
        width: 168px;
        height: 169px;
        margin: 0px auto;
        z-index: 110;
    }

    .icon_02 {
        position: relative;
        background: url("images/wxmmc/icon_02.png") no-repeat;
        width: 168px;
        height: 169px;
        margin: 0px auto;
        z-index: 110;
    }

    .pop_text_01 {
        text-align: center;
        color: white;
        position: relative;
        top: -30px;
        left: 20px;
        border: 1px solid rgba(255, 255, 255, .5);
        border-radius: 10px;
        background: rgba(0, 0, 0, .7);
        width: 610px;
        height: auto;
        padding: 20px;
        padding-top: 40px;
        padding-bottom: 40px;
        line-height: 40px;
        font-size: 20px;
    }
    .pop_text_01 span {
        font-size: 26px;
    }
    .pop_text_02 span {
        font-size: 26px;
    }

    .pop_text_02 {
        color: white;
        position: relative;
        top: -30px;
        left: 20px;
        border: 1px solid rgba(255, 255, 255, .5);
        border-radius: 10px;
        background: rgba(0, 0, 0, .7);
        width: 610px;
        height: auto;
        padding: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 26px;
        font-size: 20px;
    }

    .pop_text_02 p {
        padding-top: 30px;
        padding-bottom: 30px;
        width: 300px;
        line-height: 40px;
        height: auto;
        margin: 0px auto;
    }

    .pop_text_02 p span {
        font-size: 26px;
    }
}