<div class="mask activity_water js-activity_water">
    <div class="js-main main_contain">
        <div class="bg_lump">
            <div class="title_pic">
                <div class="game_name">返水彩种：<span class="js-ticket-name">彩种名称</span></div>
                <div class="title_game_name">所有 <span class="js-ticket-name">彩种名称</span> 下的投注享受<span class="js-rebate">0.5</span>%返水</div>
            	<div class="luster lus_01"></div>
            	<div class="luster lus_02"></div>
            	<div class="luster lus_03"></div>
            </div>
            <div class="title_pic_info_ready">本次返水结束，还有</div>
            <div class="title_pic_info_begin">下次返水开启，还有</div>
            <div class="time_lump time_ready">
                <div class="hour">00</div>
                <div class="minute">00</div>
                <div class="second">00</div>
                <div class="time_luster"></div>
            </div>
            <div class="js-content noticeGiveWater">
            </div>
            <div id="subID"><div class="js-submit btn_01">领取奖励</div></div>
            <div class="js-close close_btn"><img src="images/wxmmc/close_btn.png" width="47" height="47"></div>
        </div>
    </div>
    <div class="js-info1 pop_contain" style="display: none">
        <div class="bg_lump">
            <div class="icon_01"></div>
            <div class="js-info1-div pop_text_01"><span>领取成功！</span><br>
                当前中奖金额XXX元，已领取加奖奖金XX元。
            </div>
            <div class="js-close btn_02">确定</div>
            <div class="js-close close_btn" style="top: 117px;"><img src="images/wxmmc/close_btn.png" width="47" height="47"
                                                            style="top: -22px; left: -18px;"></div>
        </div>
    </div>
    <div class="js-info2 pop_contain" style="display: none">
        <div class="bg_lump">
            <div class="icon_02"></div>
            <div class="pop_text_01"><span>领取失败！</span><br>
                <p class="js-fail-info">暂无可领取的奖金，请在活动时间内投注且开奖后再来领取。</p>
            </div>
            <div class="js-close btn_02">确定</div>
            <div class="js-close close_btn" style="top: 117px;"><img src="images/wxmmc/close_btn.png" width="47" height="47"
                                                            style="top: -22px; left: -18px;"></div>
        </div>
    </div>
    <div class="js-info3 pop_contain" style="display: none">
        <div class="bg_lump">
            <div class="icon_02"></div>
            <div class="pop_text_02">
                <p><span>领取失败！</span><br>
                    请查看是否有以下问题：<br>
                    1、同一IP下仅限一个账号参与<br>
                    2、不在活动时间内<br>
                    3、奖金已经领取<br>
                    · 其他疑问请咨询在线客服</p>
            </div>
            <div class="js-close btn_02">确定</div>
            <div class="js-close close_btn" style="top: 117px;"><img src="images/wxmmc/close_btn.png" width="47" height="47"
                                                            style="top: -22px; left: -18px;"></div>
        </div>
    </div>
</div>