@charset "UTF-8";

@import
"~base/styles/imports",
"~dashboard/misc/mixin";

.home-join {
  margin-top: 18px;
}
.home-join-btn {
  color: #28becd;
  background: transparent;
  border: 2px solid #28becd;
  font-size: 16px;
  padding: 12px 36px;
  font-weight: bold;
  margin-bottom: 6px;
}

.home-join-text {
  color: #28becd;
  font-size: 13px;
}

.home-about-pic {
  position: relative;
  z-index: 1;
  min-height: 228px;
}
.home-about {
  width: 937px;
  color: #000;
  margin: 0 auto;
  margin-top: -228px;
  position: relative;
}
.page-about {
  width: 915px;
  box-sizing: border-box;
  border: 1px solid #28becd;
  position: relative;
  padding: 30px 18px 15px;
  line-height: 28px;
  font-size: 16px;
}

.home-tickets-bg {
  background: url(./tickets-bg.png);
  background-size: contain;
}
.home-tickets {
  width: 930px;
  margin: 60px auto 0;
  .home-tickets-item {
    width: 260px;
    display: inline-block;
    float: left;
    margin-right: 75px;
    &:last-of-type {
      margin-right: 0;
    }
  }
  .home-tickets-title {
    margin-bottom: 32px;
  }
  .tickets-inner-item {
    width: 110px;
    text-align: center;
    height: 100px;
    position: relative;
    float: left;
    &:hover {
      .ticket-inner {
        opacity: 0;
      }
      .ticket-inner-active {
        opacity: 1;
      }
    }
  }
  .ticket-inner {
    opacity: 1;
    //transition: opacity 0.5s ease;
  }
  .ticket-inner-active {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
    //transition: opacity 0.5s ease;
  }

  .home-tickets-main {
    &.single {
      .tickets-inner-item {
        margin: 0 auto;
        float: none;
      }
    }
  }
}
