@charset "UTF-8";

@import
"~base/styles/imports";

.navigate {
  height: 100%;
  .navigate-item {
    width: 33.33333333333333%;
    background: #02929b;
    height: 100%;
    display: inline-block;
    float: left;
    position: relative;

    background: linear-gradient(to bottom, #018d93, #046d7d);
    &:nth-of-type(2n) {
      background: linear-gradient(to bottom, #01999f, #047687);
    }

    &:hover {
      .item-content {
        opacity: 1;
      }
    }
  }

  .item-content {
    z-index: 1001;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0590a3;
    opacity: 0;

    transition: all 1s ease;
    background: linear-gradient(to bottom, #01b7bf, #0590a3);

    .item-content-title {
      width: 100%;
      background: #018085;
      height: 5.5rem;
      line-height: 5.5rem;
      font-size: 1.3rem;
    }

    .item-content-title-center {
      background-color: #003739;
      text-align: center;
      position: relative;

      &:after {
        content: '';
        width: 24px;
        height: 5px;
        background-color: #19c0d9;
        display: block;
        left: 47%;
        bottom: 18px;
        position: absolute;
      }
    }

    .item-content-title-left {
      display: inline-block;
      font-size: 1.6rem;
      margin-right: 1rem;
      padding-right: 1rem;
      vertical-align: top;
      position: relative;
      padding-left: 1rem;
      float: left;
      &:after {
        content: '';
        width: 5px;
        height: 24px;
        background-color: #19c0d9;
        display: block;
        right: 0;
        top: 2rem;
        position: absolute;
      }
    }
    .item-content-title-right {
      float: left;
      display: inline-block;
    }
  }
}

.page-full {
  width: 100%;
  height: 100%;
}

@media (min-width: 1500px) {
  html{
    font-size: 100%;
  }
}
